@model Reports.Presenters.UI.ViewModel.DeductionUserInfoModel
<div id="UserInfo" >
<table style="width:100%">
   <tr>
        <td style="width:250px">
            @Html.LabelFor(m => m.Department):
        </td>
        <td>
            @Html.DisplayFor(m => m.Department)
            @Html.HiddenFor(m => m.DateRelease)
            <input type="hidden" id="UserInfoError" name="UserInfoError" value="@Model.UserInfoError" />
        </td>
    </tr>
     <tr>
        <td>
            @Html.LabelFor(m => m.Position):
        </td>
        <td>
            @Html.DisplayFor(m => m.Position)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Cnilc):
        </td>
        <td>
            @Html.DisplayFor(m => m.Cnilc)
            
        </td>
    </tr>
   @* 
    <tr>
        <td>
            @Html.LabelFor(m => m.UserName)
        </td>
        <td>
            @Html.DisplayFor(m => m.UserName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.UserNumber)
        </td>
        <td>
            @Html.DisplayFor(m => m.UserNumber)
        </td>
    </tr>
   
   
    <tr>
        <td>
            @Html.LabelFor(m => m.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(m => m.ManagerName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.PersonnelName)
        </td>
        <td>
            @Html.DisplayFor(m => m.PersonnelName)
        </td>
    </tr>*@
</table>
</div>

