@model Reports.Presenters.UI.ViewModel.StaffMovementsPrintModel
@{
    Layout = null;
}
<HTML><HEAD><TITLE></TITLE>
<META content="text/html; CHARSET=utf-8" http-equiv=Content-Type>
<STYLE type=text/css>BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px
}
TR.R0 {
	HEIGHT: 101px
}
TR.R0 TD.R0C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 {
	HEIGHT: 17px
}
TR.R1 TD.R10C0 {
	OVERFLOW: visible; FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R1 TD.R1C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R1 TD.R25C0 {
	OVERFLOW: visible
}
TR.R1 TD.R3C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 TD.R3C1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; FONT-STYLE: normal
}
TR.R1 TD.R6C5 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal
}
TR.R11 {
	HEIGHT: 33px
}
TR.R11 TD.R11C0 {
	OVERFLOW: visible; FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R11 TD.R11C1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal
}
TR.R15 {
	HEIGHT: 65px
}
TR.R15 TD.R15C0 {
	OVERFLOW: visible; FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R15 TD.R15C1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal
}
TR.R19 {
	HEIGHT: 82px
}
TR.R19 TD.R19C0 {
	OVERFLOW: visible; FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R19 TD.R19C1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal
}
TR.R29 {
	HEIGHT: 29px
}
TR.R29 TD.R29C1 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; BORDER-RIGHT: #000000 1px solid; FONT-WEIGHT: bold; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R29 TD.R29C7 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; BORDER-RIGHT: #000000 1px solid; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R29 TD.R31C1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R29 TD.R31C7 {
	BORDER-RIGHT: #000000 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid
}
TR.R5 {
	HEIGHT: 49px
}
TR.R5 TD.R5C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R8 {
	HEIGHT: 15px
}
TR.R8 TD.R28C1 {
	FONT-SIZE: 8pt; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Arial; FONT-WEIGHT: bold; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R8 TD.R28C3 {
	BORDER-TOP: #000000 1px solid
}
TR.R8 TD.R28C5 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
TR.R8 TD.R30C1 {
	BORDER-LEFT: #000000 1px solid
}
TR.R8 TD.R30C5 {
	BORDER-RIGHT: #000000 1px solid
}
TR.R8 TD.R37C7 {
	BORDER-RIGHT: #000000 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid
}
TR.R8 TD.R41C1 {
	TEXT-ALIGN: right; BORDER-LEFT: #000000 1px solid
}
TR.R8 TD.R42C1 {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R8 TD.R42C2 {
	BORDER-BOTTOM: #000000 1px solid
}
TR.R8 TD.R42C5 {
	BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
TR.R9 {
	HEIGHT: 88px
}
TR.R9 TD.R9C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TABLE {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; WIDTH: 100%; VERTICAL-ALIGN: bottom; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
TD {
	  PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
</STYLE>

<META name=GENERATOR content="MSHTML 11.00.9600.17344"></HEAD>
<BODY style="FONT-SIZE: 8pt; FONT-FAMILY: Arial; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px">
<TABLE style="HEIGHT: 1118px; WIDTH: 837px" cellSpacing=0>
<COLGROUP>
<COL width=40>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=30>
<COL width=177>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=21>
<TBODY>
<TR class=R0>
<TD class=R0C0 style="BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none"></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none"></TD>
<TD class=R0C0 style="PADDING-LEFT: 0px" vAlign=top colSpan=8 align=left>
    <IMG style="MARGIN-LEFT: -52pt; MARGIN-TOP: 11pt" alt="" src="../../../Content/SKB_logo.png" ></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none"></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none"></TD>
<TD style="BORDER-TOP-STYLE: none"></TD>
<TD>
<DIV style=" HEIGHT: 101px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R1>
<TD class=R1C0 style="BORDER-LEFT-STYLE: none" colSpan=13><SPAN style="WHITE-SPACE: nowrap">ДОГОВОР&nbsp;№         </SPAN></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R1C0 style="BORDER-LEFT-STYLE: none" colSpan=13><SPAN style="WHITE-SPACE: nowrap">о&nbsp;полной&nbsp;индивидуальной&nbsp;материальной&nbsp;ответственности</SPAN></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C1 colSpan=9><SPAN style="WHITE-SPACE: nowrap">г.&nbsp;Кострома</SPAN></TD>
<TD class=R3C1 colSpan=4><SPAN style="WHITE-SPACE: nowrap">@DateTime.Now.Year&nbsp;г.</SPAN></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R5>
<TD class=R5C0 style="BORDER-LEFT-STYLE: none" colSpan=13>Публичное акционерное общество «СОВКОМБАНК», именуемый в дальнейшем «РАБОТОДАТЕЛЬ», в лице&nbsp; @Model.SignerAdditionData, с одной стороны, и </TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C1 style="BORDER-LEFT-STYLE: none" colSpan=5></TD>
<TD class=R6C5 colSpan=8>"@Model.UserName именуемый(ая) в дальнейшем «РАБОТНИК»,</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none" colSpan=14><SPAN style="WHITE-SPACE: nowrap">с&nbsp;другой&nbsp;стороны,&nbsp;заключили&nbsp;настоящий&nbsp;договор&nbsp;о&nbsp;нижеследующем:</SPAN></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R9>
<TD class=R9C0 style="BORDER-LEFT-STYLE: none" colSpan=13>
<DIV style=" HEIGHT: 88px; WIDTH: 100%">1. Работник, занимающий должность&nbsp;@Model.TargetPosition в @Model.TargetDepartment&nbsp;и выполняющий работу, непосредственно связанную с приемом, выдачей и хранением материальных ценностей, принимает на себя полную материальную ответственность за обеспечение сохранности вверенных ему Банком материальных ценностей, в связи с изложенным обязуется: </DIV></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>а) бережно относиться к переданным ему для хранения либо для других целей материальным ценностям;</TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R11C1 colSpan=12>б) своевременно сообщать администрации обо всех обстоятельствах, угрожающих обеспечению сохранности вверенных ему материальных ценностей;</TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R11C1 colSpan=12>в) вести учет, составлять и представлять в установленном порядке товарно-денежные и другие отчеты о движении и остатках вверенных ему материальных ценностей;</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>г) строго соблюдать установленные правила совершения операций с ценностями и их хранения;</TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R11C1 colSpan=12>д) не разглашать нигде, никогда и ни в какой мере известные ему операции по хранению ценностей, а также служебные поручения по их выполнению;</TD>
<TD></TD></TR>
<TR class=R15>
<TD class=R15C0 style="BORDER-LEFT-STYLE: none">
<DIV style=" HEIGHT: 65px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD class=R15C1 colSpan=12>
<DIV style=" HEIGHT: 65px; WIDTH: 100%">е) изучать и строго соблюдать требования действующих нормативных документов Цент-рального банка Российской Федерации, а также Положений и Инструкций, утвержденных Банком по операциям с денежной наличностью, наличной иностранной валютой и другими ценностями;</DIV></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>ж) участвовать в ревизии вверенных ему ценностей.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>2. В свою очередь Банк обязуется:</TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R11C1 colSpan=12>а) создать работнику условия, необходимые для нормальной работы и обеспечения полной сохранности вверенных ему материальных ценностей;</TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0 style="BORDER-LEFT-STYLE: none">
<DIV style=" HEIGHT: 82px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD class=R19C1 colSpan=12>
<DIV style=" HEIGHT: 82px; WIDTH: 100%">б) знакомить работника с действующим законодательством о материальной ответственности рабочих и служащих, за причиненный ими ущерб предприятию, а также с действующими инструкциями, нормативами и правилами хранения, приемки, обработки, пользования в процессе работы переданных ему материальных ценностей;</DIV></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>в) проводить в установленном порядке инвентаризацию материальных ценностей.</TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R11C1 colSpan=12>3. Ответственность работника наступает лишь в том случае, если он не обеспечил сохранность и правильное использование ценностей, переданных ему по накладной либо иному бухгалтерскому документу.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>4. Определение размера причиненного ущерба производится в соответствии с действующим законодательством.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>5. Работник не несет материальной ответственности, если ущерб причинен не по его вине.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R10C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>6. Действие настоящего договора распространяется на все время работы с вверенными материальными ценностями работнику.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R25C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R6C5 colSpan=12>7. Настоящий договор составлен в двух экземплярах - по одному для каждой из сторон.</TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R28C1 colSpan=2><SPAN style="WHITE-SPACE: nowrap">БАНК:</SPAN></TD>
<TD class=R28C3><SPAN></SPAN></TD>
<TD class=R28C3><SPAN></SPAN></TD>
<TD class=R28C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R28C1 colSpan=3><SPAN style="WHITE-SPACE: nowrap">РАБОТНИК:</SPAN></TD>
<TD class=R28C3><SPAN>@Model.UserName</SPAN></TD>
<TD class=R28C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R29>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R29C1 colSpan=5>Публичное акционерное общество "Совкомбанк"</TD>
<TD><SPAN></SPAN></TD>
<TD class=R29C7 style="PADDING-LEFT: 0px" vAlign=top colSpan=5 align=left></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">юридический&nbsp;адрес</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">адрес&nbsp;по&nbsp;прописке&nbsp;(регистрации)</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R29>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R31C1 colSpan=5>156000, Костромская обл, Костромской р-н, Кострома г, Текстильщиков пр-кт, дом № 46</TD>
<TD><SPAN></SPAN></TD>
<TD class=R31C7 colSpan=5></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">номер&nbsp;телефона</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">номер&nbsp;телефона</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">(4942)&nbsp;39-09-09</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1><SPAN style="WHITE-SPACE: nowrap">ИНН,&nbsp;КПП</SPAN></TD>
<TD style="BORDER-RIGHT: #000000 1px solid" colSpan=4><SPAN style="WHITE-SPACE: nowrap">4401116480/440101001</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1><SPAN style="WHITE-SPACE: nowrap">Паспорт</SPAN></TD>
<TD class=R30C5 colSpan=4><SPAN style="WHITE-SPACE: nowrap">&nbsp;№&nbsp;</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1><SPAN style="WHITE-SPACE: nowrap">БИК</SPAN></TD>
<TD style="BORDER-RIGHT: #000000 1px solid" colSpan=4><SPAN style="WHITE-SPACE: nowrap">43469743</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1 colSpan=2><SPAN style="WHITE-SPACE: nowrap">Дата&nbsp;выдачи</SPAN></TD>
<TD colSpan=2></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1><SPAN style="WHITE-SPACE: nowrap">к/с</SPAN></TD>
<TD style="BORDER-RIGHT: #000000 1px solid" colSpan=4><SPAN style="WHITE-SPACE: nowrap">30101810300000000743</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R37C7 rowSpan=2 colSpan=5>
<DIV style="  HEIGHT: 43px; WIDTH: 100%"></DIV></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R29>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R31C1 colSpan=5></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">___________________/ /</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C1 style="BORDER-RIGHT: #000000 1px solid" colSpan=5><SPAN style="WHITE-SPACE: nowrap">___________________/ /</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R41C1><SPAN style="WHITE-SPACE: nowrap">подпись</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R41C1><SPAN style="WHITE-SPACE: nowrap">подпись</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R30C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R8>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R42C1><SPAN></SPAN></TD>
<TD class=R42C2><SPAN></SPAN></TD>
<TD class=R42C2 style="BORDER-RIGHT: #000000 1px solid" colSpan=3><SPAN style="WHITE-SPACE: nowrap">М.П.</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R42C1><SPAN></SPAN></TD>
<TD class=R42C2><SPAN></SPAN></TD>
<TD class=R42C2><SPAN></SPAN></TD>
<TD class=R42C2><SPAN></SPAN></TD>
<TD class=R42C5><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR></TBODY></TABLE></BODY></HTML>
<script>
    window.print();
</script>