@model IList<Reports.Core.Dto.SurchargeDto>
@{int i = 0;}
@foreach (var doc in Model)
{i++;
       <tr>
        <td>@i</td>
        <td>@doc.Number</td>
        <td>@doc.UserName</td>
        <td>@doc.Position</td>
        <td>@doc.Dep3Name</td>
        <td>@doc.Dep7Name</td>
        <td>@doc.SurchargeDate.ToShortDateString()</td>
        <td>@doc.Sum</td>
        <td>@doc.Status</td>
       </tr> 
    
}