@model Reports.Presenters.UI.ViewModel.Employment.GeneralInfoModel
@for (var i = 0; i < Model.NameChanges.Count; i++)
{
    // Изменения ФИО                        
    <table style="border: 1px solid lightgray; padding: 5px; margin-bottom: 5px;" data-id=@i>
        <tr>                                
            <td>
                @Html.LabelFor(m => m.NameChanges[i].PreviousName):
            </td>
            <td>
                @Html.TextBoxFor(m => m.NameChanges[i].PreviousName)
            </td>                                
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NameChanges[i].Date):
            </td>
            <td>
                @Html.EditorFor(m => m.NameChanges[i].Date)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NameChanges[i].Place):
            </td>
            <td>
                @Html.EditorFor(m => m.NameChanges[i].Place)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NameChanges[i].Reason):
            </td>
            <td>
                @Html.EditorFor(m => m.NameChanges[i].Reason)
            </td>
        </tr>                       
    </table>
}