@using Reports.Core
@using Reports.Presenters.Services.Impl
@model Reports.Presenters.UI.ViewModel.ChildVacationListModel
@{
    ViewBag.Title = "Отпуска по уходу за ребенком";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
    <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                                @Html.HiddenFor(m => m.UserId)
                            </td>
                        </tr>
                        <tr>
                            <td style="width:200px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="DepartmentReadOnly" name="DepartmentReadOnly" value="@Model.DepartmentReadOnly" />
                                @if (!Model.DepartmentReadOnly)
                                {
                                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                                }            
                            </td>
                        </tr>
                    @*    <tr>
                            <td style="width:200px">
                                @Html.LabelFor(m => m.Department):
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Department)
                            </td>
                        </tr>*@
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PositionId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.PositionId, new SelectList(Model.Positions, "ID", "Name")) 
                             </td>
                        </tr>
                        <tr>
                             <td>
                                @Html.LabelFor(m => m.RequestStatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.RequestStatusId, new SelectList(Model.RequestStatuses, "ID", "Name")) 
                             </td>
                        </tr>
                     @*   <tr>
                            <td>
                                @Html.LabelFor(m => m.VacationTypeId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.VacationTypeId, new SelectList(Model.VacationTypes, "ID", "Name")) 
                            </td>
                        </tr>*@
                        @if (((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.Employee)
                        {
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.UserName):
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.UserName)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                            @Html.LabelFor(m=>m.Number)
                            </td>
                            <td>
                            @Html.TextBoxFor(m=>m.Number)
                            </td>
                        </tr>
                         <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 

                             </td>
                        </tr>
                        
                        <tr>
                          <td colspan="2">
                            <input type="submit" value="Выбрать"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>
        <tr>
        <td colspan="2">
          <div class="action-wrap">
            <table style="width:100%">
                 <tr>
                    <td colspan="2">
                            @if (((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.Inspector &&
                                ((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.ConsultantPersonnel &&
                                ((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.Estimator &&
                                ((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.OutsourcingManager &&
                                ((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.Chief &&
                                ((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.ConsultantOutsourcing)
                            {
                                if (((ReportPrincipal)HttpContext.Current.User).UserRole == UserRole.Employee)
                                {
                                @*    @Html.ActionLink("Создать новую заявку", "VacationEdit", new { id = 0, userId = Model.UserId })*@
                                    <input type="button" value="Создать новую заявку" onclick="location.href='@Url.Action("ChildVacationEdit", "UserRequest", new { id = 0, userId = Model.UserId })'"/>   
                                }
                                else
                                {
                                @*    @Html.ActionLink("Создать новую заявку", "CreateRequest") *@
                                    <input type="button" value="Создать новую заявку" onclick="location.href='@Url.Action("CreateRequest", "UserRequest")'"/>
                                }
                            }                                                                                          
                            </td>
                            <td style = "text-align:right">
                                @if (Model.IsOriginalReceivedEditable)
                                {
                                    <input type="hidden" id="IsOriginalReceivedModified" name="isOriginalReceivedModified" value="false" />
                                    <button type="submit" id="SaveOriginalReceived">Записать</button>
                                }
                            </td>
                        </tr>
              </table>  
           </div>                        
           </td>
           </tr>
    <tr>
        <td colspan="2">
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            <table class="grid" style="width:100%">
                <tr>
                    <th>№<br />п/п</th>
                    @*<th>Название документа</th>
                    <th>Дата</th>*@
                    <th>
                        <div id="sort1"><a href="#" onclick = "SortChanged(1);">Вид<br />заявки</a></div>
                    </th>
                    <th>
                        <div id="sort2"><a href="#"  onclick = "SortChanged(2);">Ф.И.О.</a></div>
                    </th>
                    <th>
                        <div id="sort13"><a href="#"  onclick = "SortChanged(13);">Должность</a></div>
                    </th>
                    <th>
                        <div id="sort16"><a href="#"  onclick = "SortChanged(16);">Руководитель</a></div>
                    </th>
                    <th>
                        <div id="sort14"><a href="#"  onclick = "SortChanged(14);">Подразделение<br /> 3 уровня</a></div>
                    </th>
                    <th>
                        <div id="sort15"><a href="#"  onclick = "SortChanged(15);">Подразделение<br />7 уровня</a></div>
                    </th>
                    <th>
                        <div id="sort3"><a href="#"  onclick = "SortChanged(3);">Дата</a></div>
                    </th>
                     <th style="width:80px">
                        <div id="sort6"><a href="#"  onclick = "SortChanged(6);">Номер</a></div>
                    </th>
                    <th>
                        <div id="sort4"><a href="#"  onclick = "SortChanged(4);">Тип<br />заявки</a></div>
                    </th>
                    <th>
                        <div id="sort5"><a href="#"  onclick = "SortChanged(5);">Состояние</a></div>
                    </th>
                    <th>
                        <div id="sort7"><a href="#"  onclick = "SortChanged(7);">Период</a></div>
                    </th>
                    @if (Model.IsOriginalReceivedEditable)
                    {
                        <th>
                            <div id="sort10"><a href="#"  onclick = "SortChanged(10);">Оригинал<br />приказа<br />получен</a></div><br />
                            <input type="checkbox" id="setAll" />
                        </th>
                        <th>
                            <div id="sort17"><a href="#"  onclick = "SortChanged(17);">Оригинал<br />заявления<br />получен</a></div><br />
                            <input type="checkbox" id="setAllRequest" />
                        </th>
                    }
                    @*<th>
                        Дата окончания
                    </th>*@
                </tr>
                @if (Model.Documents != null && Model.Documents.Count > 0)
                {
                    var i = 1;
                    foreach (var doc in Model.Documents)
                    {
                        <tr>
                            <td>@i</td>
                            <td style="text-align:left">
                                <a class="ui-notify-close" href='@Url.Action("ChildVacationEdit", new { id = doc.Id, UserId = doc.UserId })' style="cursor:hand">@doc.Name</a>
                            </td>
                            <td>@doc.UserName</td>
                            <td>@doc.Position</td>
                            <td>@doc.ManagerName</td>
                            <td>@doc.Dep3Name</td>
                            <td>@doc.Dep7Name</td>
                            <td>@doc.Date</td>
                             <td>@doc.Number</td>
                            <td>@doc.RequestType</td>
                            <td>@doc.RequestStatus</td>
                            <td style="white-space:nowrap">@doc.BeginDate.ToString("dd.MM.yyyy") - @doc.EndDate.ToString("dd.MM.yyyy")</td>
                            @if (Model.IsOriginalReceivedEditable)
                            {
                                <td style="text-align: center">
                                    @Html.CheckBoxFor(m => m.Documents[i - 1].IsOriginalReceived, new { @class = "selcheck" })
                                    <input type="hidden" id="Documents[@(i - 1)].Id" name="Documents[@(i - 1)].Id" value="@doc.Id" />
                                </td>
                                <td style="text-align: center">
                                    @Html.CheckBoxFor(m => m.Documents[i - 1].IsOriginalRequestReceived, new { @class = "selcheckRequest" })                                    
                                </td>
                            }
                        </tr>
                            i++;
                    }
                }
            </table>
            <input type="hidden" name="anticache" value=@DateTime.Now />
        </td>
    </tr>
</table> 
<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#BeginDate").datepicker({changeMonth: true, changeYear: true});
        $("#EndDate").datepicker({changeMonth: true, changeYear: true});
        $(".hasDatepicker").width("75px");
         setSortFields();
         setActiveMenuItem("userChildVacation");

         $("#SaveOriginalReceived").click(function(){
            $("#IsOriginalReceivedModified").val("true");
         });

         $("#setAll").click(function(){
            if ($(this).is(':checked'))
            {
                $(".selcheck").attr('checked','checked');
            }
            else
            {
                $(".selcheck").removeAttr('checked');
            }
         });
         $("#setAllRequest").click(function(){
            if ($(this).is(':checked'))
            {
                $(".selcheckRequest").attr('checked','checked');
            }
            else
            {
                $(".selcheckRequest").removeAttr('checked');
            }
         });
    });
    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');
        //if ($('#DepartmentId option').length > 1)
        //$("#Department").val('');
        if ($("#DepartmentReadOnly").val() == "False") {
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
        }
        if ($('#PositionId option').length > 1)
            $("#PositionId").val('0');
        //$("#VacationTypeId").val('0');
        $("#RequestStatusId").val('0');
         $("#UserName").val('');
         $("#Number").val('');
    }
 </script>   
}

