@model Reports.Presenters.UI.ViewModel.DismissalEditModel
@{
    ViewBag.Title = "Редактирование увольнения";
}

@using (Html.BeginForm("DismissalEdit", "UserRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="doc-wrap">
    <table style="width:100%">
    <tr>
        <td colspan="3">
            @Html.ValidationSummary(false)
            <div id="Error" style="color:Red;display:none;"></div>
            @*<div id="Success" style="color:Green;display:none;">Письмо успешно отправлено в биллинг.</div>*@
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @{
                ViewBag.ShowManagers = true;                  
            }
            @Html.Partial("../UserInfoView", Model);
        </td>
        
        <td style="vertical-align: top; width: 25%;">
            <div class="announcement" style="width: 100%;">
                Документы для печати, подписи, прикрепления сканированных документов сотрудником доступны со дня увольнения до 14&#8209;00 следующего дня после увольнения.
            </div>
        </td>
    </tr>
     @if (Model.IsDeleted)
    { 
        <tr>
            <td colspan="3" style="color:Red">Заявка отклонена</td>
        </tr>
    }
     <tr>
        <td style="width:205px">
            @Html.LabelFor(m => m.EndDate):
        </td>
        <td>
            @if (Model.IsTypeEditable)
            {
                @Html.EditorFor(model => model.EndDate)
            }
            else
            {
                @Html.DisplayFor(model => model.EndDate)
                @Html.HiddenFor(model => model.EndDate)
            }
         </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Compensation):
        </td>
        <td>
            @Html.TextBoxFor(model => model.Compensation, Model.IsPersonnelFieldsEditable ? null : (object)new { @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Reduction):
        </td>
        <td>
            @Html.TextBoxFor(model => model.Reduction, Model.IsPersonnelFieldsEditable ? null : (object)new { @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Reason):
        </td>
        <td>
            @Html.TextBoxFor(model => model.Reason, Model.IsPersonnelFieldsEditable ? null : (object)new { @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <input type="hidden" id="Version" name="Version" value="@Model.Version" />
            <input type="hidden" id="IsSaveAvailable" name="IsSaveAvailable" value="@Model.IsSaveAvailable" />
            <input type="hidden" id="IsDeleteAvailable" name="IsDeleteAvailable" value="@Model.IsDeleteAvailable" />
            <input type="hidden" id="IsDelete" name="IsDelete" value="@Model.IsDelete" />
            @*<input type="hidden" id="IsStatusEditable" name="IsStatusEditable" value="@Model.IsStatusEditable" />*@
            @*<input type="hidden" id="StatusIdHidden" name="StatusIdHidden" value="@Model.StatusIdHidden" />*@
            <input type="hidden" id="TypeIdHidden" name="TypeIdHidden" value="@Model.TypeIdHidden" />
            <input type="hidden" id="IsTypeEditable" name="IsTypeEditable" value="@Model.IsTypeEditable" />
            <input type="hidden" id="IsPersonnelFieldsEditable" name="IsPersonnelFieldsEditable" value="@Model.IsPersonnelFieldsEditable" />
            @Html.LabelFor(m => m.TypeId):
        </td>
        <td>
            @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.Types, "ID", "Name"), Model.IsPersonnelFieldsEditable ? null : (object)new { disabled = "disabled" }) 
        </td>
    </tr>
    @*<tr>
        <td style="width:210px">
            @Html.LabelFor(m => m.BeginDate):
        </td>
        <td>
            @if (Model.IsAbsenceTypeEditable)
            {
                @Html.EditorFor(model => model.BeginDate) 
            }
            else
            {
                @Html.DisplayFor(model => model.BeginDate)
                @Html.HiddenFor(model => model.BeginDate)
            } 
        </td>
     </tr>*@
     @*<tr>
        <td>
            @Html.LabelFor(m => m.StatusId):
        </td>
        <td>
            @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "ID", "Name"), Model.IsPersonnelFieldsEditable ? null : (object)new { disabled = "disabled" }) 
        </td>
    </tr>*@
    <tr>
        <td colspan="3">
           
        </td>
    </tr>
    <tr>
        <td colspan="3">
            @Html.LabelFor(m => m.CreatorLogin):
            @Html.DisplayFor(model => model.CreatorLogin) 
         </td>
    </tr>
    <tr>
        <td colspan="3" style="height:5px">
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Attachment):</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.Attachment))
            {
                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.AttachmentId })' style="cursor:hand" target="_blank" >@Model.Attachment</a>
                <input type="hidden" id="Attachment" name="Attachment" value="@Model.Attachment" />
                <input type="hidden" id="AttachmentId" name="AttachmentId" value="@Model.AttachmentId" />
               @* <input type="hidden" id="AttachmentTypeId" name="AttachmentTypeId" value="@Model.AttachmentTypeId" />*@
            }
        </td>
    </tr>
    <tr @if ((!Model.IsPersonnelFieldsEditable && !Model.IsTypeEditable) || (Model.Id == 0))
        {<text>style="display:none"</text>}>    
        <td>Прикрепить скан заявления на увольнение</td>
        <td><input id="FileContext" type="file" name="file"/>&nbsp;<span style="color:Red">размер файла - не более 2 Мб</span></td>
    </tr>

    @* BEGIN Скан заявления на выдачу трудовой книжки *@

    <tr>
        <td>@Html.LabelFor(model => model.WorkbookRequestScanAttachment):</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.WorkbookRequestScanAttachment))
            {
                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.WorkbookRequestScanAttachmentId })' style="cursor:hand" target="_blank" >@Model.WorkbookRequestScanAttachment</a>
                <input type="hidden" id="WorkbookRequestScanAttachment" name="WorkbookRequestScanAttachment" value="@Model.WorkbookRequestScanAttachment" />
                <input type="hidden" id="WorkbookRequestScanAttachmentId" name="WorkbookRequestScanAttachmentId" value="@Model.WorkbookRequestScanAttachmentId" />
            }
        </td>
    </tr>
    @if (Model.IsWorkbookRequestAllowed)
    {
        <tr>    
            <td>Прикрепить скан заявления на выдачу трудовой книжки</td>
            <td><input id="WorkbookRequestScanFileContext" type="file" name="workbookRequestScanFile"/>&nbsp;<span style="color:Red">размер файла - не более 2 Мб</span></td>
        </tr>
    }

    @* END Скан заявления на выдачу трудовой книжки *@

    <tr>
        <td colspan="3">
            <input type="submit" value="Записать (черновик)" onclick="return ValidateForm();" @if (!Model.IsSaveAvailable)
                                                                                    {<text>style="display:none"</text>}/>
            <div style="text-align: right;"><input type="submit" value="Отклонить заявку" onclick="return Delete();" @if (!Model.IsDeleteAvailable)
                                                                                    {<text>style="display:none"</text>}/>
            </div>
            <input type="button" value="Печать" name="PrintButton" onclick="window.location.href='@Url.Action("GetPrintForm", "UserRequest", new { id = Model.Id, typeId = 2 })';" 
                                                                @if (!Model.IsPrintAvailable)
                                                                {<text>style="display:none"</text>}  />
            
         </td>
    </tr>
    <tr>
             <td colspan="3" style="height:15px">
             </td>
    </tr>
    <tr>
             <td colspan="3">
                        <input type="hidden" id="IsApproved" name="IsApproved" value="@Model.IsApproved" />
                        <input type="hidden" id="IsApprovedEnable" name="IsApprovedEnable" value="@Model.IsApprovedEnable" />
                        <input type="submit" value="Отправить на согласование" onclick="return SetApprovedAndValidateForm();" @if (!Model.IsApprovedEnable)
                                                                        {<text>style="display:none"</text>}/>         
                        <input type="hidden" id="IsApprovedForAll" name="IsApprovedForAll" value="@Model.IsApprovedForAll" />
                        <input type="hidden" id="IsApprovedForAllEnable" name="IsApprovedForAllEnable" value="@Model.IsApprovedForAllEnable" />
                        <input type="submit" value="За всех" onclick="return SetApprovedForAllAndValidateForm();" @if (!Model.IsApprovedForAllEnable)
                                                                        {<text>style="display:none"</text>}/>             
            </td>
    </tr>
    <tr>
            <td colspan="3">
                <input type="hidden" id="IsApprovedByUserEnable" name="IsApprovedByUserEnable" value="@Model.IsApprovedByUserEnable" />
                @*@Html.CheckBox("IsApprovedByUser", Model.IsApprovedByUser, Model.IsApprovedByUserEnable ? null : (object)new { disabled = "disabled" }) *@
                <input type="checkbox" id="IsApprovedByUser" disabled = "disabled" name="IsApprovedByUser" @if (Model.IsApprovedByUser) {<text>checked="checked"</text>} />
                @Html.LabelFor(model => model.IsApprovedByUser)
                @if (!Model.IsApprovedByUserEnable)
                {
                    <input type="hidden" id="IsApprovedByUserHidden" name="IsApprovedByUserHidden" value="@Model.IsApprovedByUser" />
                }
            </td>
    </tr>
    <tr>
            <td colspan="3">
                <input type="hidden" id="IsApprovedByManagerEnable" name="IsApprovedByManagerEnable" value="@Model.IsApprovedByManagerEnable" />
                @*@Html.CheckBox("IsApprovedByManager", Model.IsApprovedByManager, Model.IsApprovedByManagerEnable ? null : (object)new { disabled = "disabled" }) *@
                <input type="checkbox" id="IsApprovedByManager" disabled = "disabled" name="IsApprovedByManager" @if (Model.IsApprovedByManager) {<text>checked="checked"</text>} />
                @Html.LabelFor(model => model.IsApprovedByManager)
                @if (!Model.IsApprovedByManagerEnable)
                {
                    <input type="hidden" id="IsApprovedByManagerHidden" name="IsApprovedByManagerHidden" value="@Model.IsApprovedByManager" />
                }
            </td>
    </tr>
    <tr>
            <td colspan="3">
                <input type="hidden" id="IsApprovedByPersonnelManagerEnable" name="IsApprovedByPersonnelManagerEnable" value="@Model.IsApprovedByPersonnelManagerEnable" />
                @*@Html.CheckBoxFor(model => model.IsApprovedByPersonnelManager, Model.IsApprovedByPersonnelManagerEnable ? null : (object)new { disabled = "disabled" }) *@
                <input type="checkbox" id="IsApprovedByPersonnelManager" disabled = "disabled" name="IsApprovedByPersonnelManager" @if (Model.IsApprovedByPersonnelManager) {<text>checked="checked"</text>} />
                @Html.LabelFor(model => model.IsApprovedByPersonnelManager)
                @if (!Model.IsApprovedByPersonnelManagerEnable)
                {
                    <input type="hidden" id="IsApprovedByPersonnelManagerHidden" name="IsApprovedByPersonnelManagerHidden" value="@Model.IsApprovedByPersonnelManager" />
                }
            </td>
    </tr>
     <tr>
            <td colspan="3">
                <input type="hidden" id="IsPostedTo1CEnable" name="IsPostedTo1CEnable" value="@Model.IsPostedTo1CEnable" />
                @*@Html.CheckBox("IsPostedTo1C", Model.IsPostedTo1C, Model.IsPostedTo1CEnable ? null : (object)new { disabled = "disabled" }) *@
                <input type="checkbox" id="IsPostedTo1C" disabled = "disabled" name="IsPostedTo1C" @if (Model.IsPostedTo1C) {<text>checked="checked"</text>} />
                @Html.LabelFor(model => model.IsPostedTo1C)
                @if (!Model.IsPostedTo1CEnable)
                {
                    <input type="hidden" id="IsPostedTo1CHidden" name="IsPostedTo1CHidden" value="@Model.IsPostedTo1C" />
                }
            </td>
    </tr>

    <tr>
             <td colspan="3" style="height:15px">
                <hr />
             </td>
    </tr>

    @* BEGIN Документы от кадровика *@

    <tr>
        <td style="border: 1px solid black; text-align: center;">Документы от кадровика</td>
        <td colspan="2">
            <table>

                @* Ссылки для просмотра документов *@
                <tr>
                    @* Ссылка для открытия скана приказа на подпись *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.UnsignedOrderScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.UnsignedOrderScanAttachment))
                        {
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.UnsignedOrderScanAttachmentId })' style="cursor:hand" target="_blank" >@Model.UnsignedOrderScanAttachment</a>
                            <input type="hidden" id="UnsignedOrderScanAttachment" name="UnsignedOrderScanAttachment" value="@Model.UnsignedOrderScanAttachment" />
                            <input type="hidden" id="UnsignedOrderScanAttachmentId" name="UnsignedOrderScanAttachmentId" value="@Model.UnsignedOrderScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана Т2 на подпись *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.UnsignedT2ScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.UnsignedT2ScanAttachment))
                        {
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.UnsignedT2ScanAttachmentId })' style="cursor:hand" target="_blank" >@Model.UnsignedT2ScanAttachment</a>
                            <input type="hidden" id="UnsignedT2ScanAttachment" name="UnsignedT2ScanAttachment" value="@Model.UnsignedT2ScanAttachment" />
                            <input type="hidden" id="UnsignedT2ScanAttachmentId" name="UnsignedT2ScanAttachmentId" value="@Model.UnsignedT2ScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана соглашения на подпись *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.UnsignedDismissalAgreementScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.UnsignedDismissalAgreementScanAttachment))
                        {
                            if (Model.IsViewDismissalAgreementAllowed)
                            {
                                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.UnsignedDismissalAgreementScanAttachmentId })' style="cursor:hand" target="_blank" >
                                    @Model.UnsignedDismissalAgreementScanAttachment
                                </a>
                            }
                            else
                            {
                                @Model.UnsignedDismissalAgreementScanAttachment
                            }
                            <input type="hidden" id="UnsignedDismissalAgreementScanAttachment" name="UnsignedDismissalAgreementScanAttachment" value="@Model.UnsignedDismissalAgreementScanAttachment" />
                            <input type="hidden" id="UnsignedDismissalAgreementScanAttachmentId" name="UnsignedDismissalAgreementScanAttachmentId" value="@Model.UnsignedDismissalAgreementScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана 182-Н *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.F182NScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.F182NScanAttachment))
                        {
                            if (Model.IsViewF182NAllowed)
                            {
                                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.F182NScanAttachmentId })' style="cursor:hand" target="_blank" >
                                    @Model.F182NScanAttachment
                                </a>
                            }
                            else
                            {
                                @Model.F182NScanAttachment
                            }
                            <input type="hidden" id="F182NScanAttachment" name="F182NScanAttachment" value="@Model.F182NScanAttachment" />
                            <input type="hidden" id="F182NScanAttachmentId" name="F182NScanAttachmentId" value="@Model.F182NScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана 2-НДФЛ *@
                    <td>
                        @Html.LabelFor(model => model.F2NDFLScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.F2NDFLScanAttachment))
                        {
                            if (Model.IsViewF2NDFLAllowed)
                            {
                                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.F2NDFLScanAttachmentId })' style="cursor:hand" target="_blank" >
                                    @Model.F2NDFLScanAttachment
                                </a>
                            }
                            else
                            {
                                @Model.F2NDFLScanAttachment
                            }
                            <input type="hidden" id="F2NDFLScanAttachment" name="F2NDFLScanAttachment" value="@Model.F2NDFLScanAttachment" />
                            <input type="hidden" id="F2NDFLScanAttachmentId" name="F2NDFLScanAttachmentId" value="@Model.F2NDFLScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>

                @* Прикрепление документов *@                
                <tr>
                    @* Прикрепление скана приказа на подпись *@                        
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsUnsignedConfirmationAllowed)
                        {
                            <text>Прикрепить скан приказа на подпись</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="UnsignedOrderScanFileContext" type="file" name="unsignedOrderScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                    
                    @* Прикрепление скана Т2 на подпись *@
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsUnsignedT2Allowed)
                        {
                            <text>Прикрепить скан Т-2 на подпись</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="UnsignedT2ScanFileContext" type="file" name="unsignedT2ScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                    @* Прикрепление скана соглашения на подпись *@
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsUnsignedDismissalAgreementAllowed)
                        {
                            <text>Прикрепить скан соглашения на подпись</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="UnsignedDismissalAgreementScanFileContext" type="file" name="unsignedDismissalAgreementScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                    @* Прикрепление скана 182-Н на подпись *@
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsF182NAllowed)
                        {
                            <text>Прикрепить скан 182-Н</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="F182NScanFileContext" type="file" name="f182NScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                    @* Прикрепление скана 2-НДФЛ на подпись *@
                    <td>
                        @if (Model.IsF2NDFLAllowed)
                        {
                            <text>Прикрепить скан 2-НДФЛ</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="F2NDFLScanFileContext" type="file" name="f2NDFLScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    @* END Документы от кадровика *@
    
    <tr>
             <td colspan="3" style="height:15px">
                <hr />
             </td>
    </tr>

    @* BEGIN Документы с подписью сотрудника *@

    <tr>
        <td style="border: 1px solid black; text-align: center;">Документы с подписью сотрудника</td>
        <td colspan="2">
            <table>
                
                @* Ссылки для просмотра документов *@
                <tr>
                    @* Ссылка для открытия скана подписанного приказа *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.OrderScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.OrderScanAttachment))
                        {
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.OrderScanAttachmentId })' style="cursor:hand" target="_blank" >@Model.OrderScanAttachment</a>
                            <input type="hidden" id="OrderScanAttachment" name="OrderScanAttachment" value="@Model.OrderScanAttachment" />
                            <input type="hidden" id="OrderScanAttachmentId" name="OrderScanAttachmentId" value="@Model.OrderScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана подписанной Т2 *@
                    <td style="border-right: 1px solid black;">
                        @Html.LabelFor(model => model.T2ScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.T2ScanAttachment))
                        {
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.T2ScanAttachmentId })' style="cursor:hand" target="_blank" >@Model.T2ScanAttachment</a>
                            <input type="hidden" id="T2ScanAttachment" name="T2ScanAttachment" value="@Model.T2ScanAttachment" />
                            <input type="hidden" id="T2ScanAttachmentId" name="T2ScanAttachmentId" value="@Model.T2ScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    @* Ссылка для открытия скана подписанного соглашения *@
                    <td>
                        @Html.LabelFor(model => model.DismissalAgreementScanAttachment):
                        @if (!string.IsNullOrEmpty(Model.DismissalAgreementScanAttachment))
                        {
                            if (Model.IsViewDismissalAgreementAllowed)
                            {
                                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.DismissalAgreementScanAttachmentId })' style="cursor:hand" target="_blank" >
                                    @Model.DismissalAgreementScanAttachment
                                </a>
                            }
                            else
                            {
                                @Model.DismissalAgreementScanAttachment
                            }
                            <input type="hidden" id="DismissalAgreementScanAttachment" name="DismissalAgreementScanAttachment" value="@Model.DismissalAgreementScanAttachment" />
                            <input type="hidden" id="DismissalAgreementScanAttachmentId" name="DismissalAgreementScanAttachmentId" value="@Model.DismissalAgreementScanAttachmentId" />
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>

                @* Прикрепление документов *@
                <tr>
                    @* Прикрепление скана подписанного приказа *@                    
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsConfirmationAllowed)
                        {
                            <text>Прикрепить скан подписанного приказа</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="OrderScanFileContext" type="file" name="orderScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>                    
                    
                    @* Прикрепление скана подписанной Т2 *@
                    <td style="border-right: 1px solid black;">
                        @if (Model.IsT2Allowed)
                        {
                            <text>Прикрепить скан подписанной Т-2</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="T2ScanFileContext" type="file" name="t2ScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>

                    @* Прикрепление скана подписанного соглашения *@
                    <td>
                        @if (Model.IsDismissalAgreementAllowed)
                        {
                            <text>Прикрепить скан подписанного соглашения</text><br />
                            <span style="color:Red">размер файла - не более 2 Мб</span><br />
                            <input id="DismissalAgreementScanFileContext" type="file" name="dismissalAgreementScanFile"/>
                            <div><input type="submit" value="Сохранить" onclick="return ValidateForm();" /></div>
                        }
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    
    @* END Документы с подписью сотрудника *@

    </table>
    </div>
    
   
    <div class="comment-wrap">
    <table style="width:100%">
     <tr>
        <td colspan="3">
            <div id="CommentModelContext">@Html.Partial("RequestCommentPartial", Model.CommentsModel)</div>
        </td>
    </tr>
    </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#BeginDate").datepicker();
            $("#EndDate").datepicker();
            $(".hasDatepicker").width("75px");
            $("#Compensation").width("50px");
            $("#Reduction").width("50px");
            $("#Reason").width("350px");
            setActiveMenuItem("userDismissal");

            // Load clearance checklist
            $("#clearance-checklist-link").click(function (event) {
                var containerDiv = $("#clearance-checklist");
                event.preventDefault();
                if (!containerDiv.hasClass("contains-clearance-checklist")) {                    
                    containerDiv.load(this.href);
                    containerDiv.addClass("contains-clearance-checklist");
                    $(this).text("Скрыть обходной лист");
                }
                else {
                    containerDiv.empty();
                    containerDiv.removeClass("contains-clearance-checklist");
                    $(this).text("Открыть обходной лист");
                }
            });
        });    
    function ValidateForm()
    {
        return true;
    }
    function SetApprovedForAllAndValidateForm() {
        SetApprovedAndValidateForm();
        $("#IsApprovedForAll").val('true');
        return true;
    }
    function SetApprovedAndValidateForm() {
        $("#IsApproved").val('true');
        return true;
    }
    function Delete() {
        $("#IsDelete").val("true");
        return true;
    }
    </script>
}

@*
<!-- Clearance checklist related markup -->

<div style="border: 1px solid black; text-align: center;">
    <a id="clearance-checklist-link" data-dismissal-id="@Model.Id"
        href='@Url.Action("ClearanceChecklistEdit", new {id = 0, parentId = Model.Id, userId = Model.UserId, timestamp = DateTime.Now })'>
        Открыть обходной лист
    </a>
</div>
<br />
<div id="clearance-checklist"></div>
    
<!-- End clearance checklist related markup -->
*@