@model Reports.Presenters.UI.ViewModel.VacationPrintModel
@{
    Layout = "";
}  
<!-- saved from url=(0022)http://internet.e-mail -->
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8">
<TITLE></TITLE>
<BASEFONT FACE="Arial" SIZE=8>
</HEAD>
<BODY>
<TABLE BORDERCOLOR=#ffffff BORDER CELLSPACING=0>
<TR>
<TD WIDTH = 67><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT COLSPAN=3><FONT FACE="V">Унифицированная форма № Т-6</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT VALIGN=CENTER WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT VALIGN=CENTER COLSPAN=3><FONT FACE="V">Утверждена Постановлением Госкомстата 
России от 05.01.2004 № 1</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 119><FONT FACE="V">Код</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=RIGHT VALIGN=CENTER WIDTH = 52><FONT FACE="V" SIZE=3>Форма по ОКУД  </FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 119><FONT FACE="V" SIZE=3>0301005</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT BORDERCOLOR="#000000" COLSPAN=5><FONT FACE="V" SIZE=3><B>@Model.OrgName</B></FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD ALIGN=RIGHT VALIGN=CENTER WIDTH = 52><FONT FACE="V" SIZE=3> по ОКПО  </FONT></TD>
<TD ALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 119><FONT FACE="V" SIZE=3>09139030</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=6><FONT FACE="V" SIZE=1>наименование организации</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER VALIGN=CENTER COLSPAN=4><FONT FACE="V" SIZE=5><B>&nbsp;</B></FONT></TD>
<TD ALIGN=CENTER WIDTH = 56><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD ALIGN=CENTER COLSPAN=2><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V" SIZE=3>Номер документа</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V" SIZE=3>Дата составления </FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER WIDTH = 101><FONT FACE="V" SIZE=5><B>ПРИКАЗ</B></FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V" SIZE=3>@Model.DocNumber</FONT></TD>
<TD ALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V" SIZE=3>@Model.CreateDate</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER WIDTH = 101><FONT FACE="V" SIZE=5><B>(распоряжение)</B></FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER WIDTH = 101><FONT FACE="V" SIZE=5><B>о предоставлении отпуска работнику</B></FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT VALIGN=BOTTOM WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT VALIGN=BOTTOM WIDTH = 67><FONT FACE="V" SIZE=3><B>Предоставить отпуск</B></FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 119><FONT FACE="V" SIZE=3>Табельный номер
</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=7><FONT FACE="V" SIZE=3><I>@Model.FIO</I></FONT></TD>
<TD ALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 119><FONT FACE="V" SIZE=3>@Model.TabNumber</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=7><FONT FACE="V" SIZE=1>фамилия, имя, отчество</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=8><FONT FACE="V" SIZE=3>@Model.Department</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=8><FONT FACE="V" SIZE=1>структурное подразделение</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=8><FONT FACE="V" SIZE=3>@Model.Position</FONT></TD>
</TR>
<TR>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=8><FONT FACE="V" SIZE=1>должность (специальность, профессия)</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=RIGHT WIDTH = 138><FONT FACE="V" SIZE=3>за период работы с </FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V" SIZE=3>"@Model.PeriodBeginDateDay"  @Model.PeriodBeginDateMonth @Model.PeriodBeginDateYear г.</FONT></TD>
<TD ALIGN=LEFT WIDTH = 56><FONT FACE="V" SIZE=3>по</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V" SIZE=3>"@Model.PeriodEndDateDay"  @Model.PeriodEndDateMonth @Model.PeriodEndDateYear г.</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 52><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V" SIZE=3>А. ежегодный основной оплачиваемый отпуск на </FONT></TD>
<TD WIDTH = 138><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 56><FONT FACE="V" SIZE=3>@Model.DaysNumber</FONT></TD>
<TD ALIGN=LEFT WIDTH = 101><FONT FACE="V" SIZE=3>календарных дней</FONT></TD>
<TD WIDTH = 52><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 119><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=RIGHT WIDTH = 67><FONT FACE="V" SIZE=3>с </FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 138><FONT FACE="V" SIZE=3>"@Model.BeginDateDay" @Model.BeginDateMonth @Model.BeginDateYear г.</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 52><FONT FACE="V" SIZE=3>по</FONT></TD>
<TD ALIGN=LEFT VALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=3><FONT FACE="V" SIZE=3>"@Model.EndDateDay" @Model.EndDateMonth @Model.EndDateYear г.</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V">и (или)</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V" SIZE=4>Б.</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" COLSPAN=7><FONT FACE="V" SIZE=4>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=7><FONT FACE="V" SIZE=1>ежегодный дополнительный оплачиваемый отпуск, учебный, без сохранения заработной платы и другие (указать)</FONT></TD>
</TR>
<TR>
<TD ALIGN=RIGHT WIDTH = 67><FONT FACE="V" SIZE=4>на</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 52><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 56><FONT FACE="V" SIZE=3>календарных дней</FONT></TD>
<TD ALIGN=LEFT WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=RIGHT WIDTH = 67><FONT FACE="V" SIZE=3>с </FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 138><FONT FACE="V" SIZE=3>"      "                      г.</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 52><FONT FACE="V" SIZE=3>по</FONT></TD>
<TD ALIGN=LEFT VALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=3><FONT FACE="V" SIZE=3>"      "                      г.</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V" SIZE=4>В.    Всего отпуск на</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=CENTER BORDERCOLOR="#000000" WIDTH = 52><FONT FACE="V" SIZE=3>@Model.DaysNumber</FONT></TD>
<TD ALIGN=LEFT WIDTH = 56><FONT FACE="V" SIZE=3>календарных дней</FONT></TD>
<TD ALIGN=LEFT WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=RIGHT WIDTH = 67><FONT FACE="V" SIZE=3>с </FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 138><FONT FACE="V" SIZE=3>"@Model.AllBeginDateDay" @Model.AllBeginDateMonth @Model.AllBeginDateYear г.</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 52><FONT FACE="V" SIZE=3>по</FONT></TD>
<TD ALIGN=LEFT VALIGN=CENTER BORDERCOLOR="#000000" COLSPAN=3><FONT FACE="V" SIZE=3>"@Model.AllEndDateDay" @Model.AllEndDateMonth @Model.AllEndDateYear г.</FONT></TD>
<TD WIDTH = 119><FONT FACE="V" SIZE=3>&nbsp;</FONT></TD>
</TR>
<TR>
<TD WIDTH = 67><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V"><B>Руководитель организации</B></FONT></TD>
<TD ALIGN=LEFT WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" COLSPAN=3><FONT FACE="V">@Model.ManagerPosition</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" COLSPAN=2><FONT FACE="V">@Model.ManagerFIO</FONT></TD>
</TR>
<TR>
<TD VALIGN=TOP WIDTH = 67><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD VALIGN=TOP WIDTH = 138><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP WIDTH = 101><FONT FACE="V" SIZE=1>   должность</FONT></TD>
<TD VALIGN=TOP WIDTH = 52><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP WIDTH = 56><FONT FACE="V" SIZE=1>&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP WIDTH = 101><FONT FACE="V" SIZE=1>личная подпись</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=2><FONT FACE="V" SIZE=1>расшифровка подписи</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V"><B>С приказом (распоряжением)</B></FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT BORDERCOLOR="#000000" WIDTH = 56><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 101><FONT FACE="V">"___"_________20__ г.</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=LEFT WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
<TR>
<TD ALIGN=LEFT WIDTH = 67><FONT FACE="V"><B>работник  ознакомлен</B></FONT></TD>
<TD WIDTH = 138><FONT FACE="V">&nbsp;</FONT></TD>
<TD ALIGN=CENTER VALIGN=TOP COLSPAN=3><FONT FACE="V" SIZE=1>личная подпись</FONT></TD>
<TD ALIGN=LEFT WIDTH = 101><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 52><FONT FACE="V">&nbsp;</FONT></TD>
<TD WIDTH = 119><FONT FACE="V">&nbsp;</FONT></TD>
</TR>
</TABLE>
</BODY>
</HTML>
