@model Reports.Presenters.UI.ViewModel.VacationPrintModel
@{
    Layout = "";
}
<!-- saved from url=(0022)http://internet.e-mail -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8">
<TITLE></TITLE>
<STYLE TYPE="text/css">
body { background: #ffffff; margin: 0; font-family: Verdana; font-size: 8pt; font-style: normal; }
tr.R0{ font-family: Verdana; font-size: 9pt; font-style: normal; height: 11pt; }
tr.R0 td.R0C4{ font-family: Verdana; font-size: 8pt; font-style: normal; }
tr.R1{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 21pt; }
tr.R1 td.R1C4{ vertical-align: medium; }
tr.R1 td.R39C0{ font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: bold; }
tr.R1 td.R39C2{ border-bottom: #000000 1px solid; }
tr.R1 td.R39C5{ font-family: Verdana; font-size: 8pt; font-style: normal; border-left: #ffffff 0px none; border-bottom: #ffffff 0px none; }
tr.R10{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 16pt; }
tr.R10 td.R10C2{ font-family: Verdana; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; }
tr.R10 td.R11C6{ vertical-align: bottom; }
tr.R13{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 14pt; }
tr.R13 td.R13C0{ font-family: Verdana; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: bottom; }
tr.R13 td.R13C7{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #ffffff 0px none; border-right: #000000 1px solid; }
tr.R15{ font-family: Verdana; font-size: 0pt; font-style: normal; height: 10pt; }
tr.R15 td.R15C0{ font-family: Verdana; font-size: 6pt; font-style: normal; text-align: center; vertical-align: top; }
tr.R16{ height: 7pt; }
tr.R17{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 15pt; }
tr.R17 td.R17C0{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; border-bottom: #000000 1px solid; }
tr.R2{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 6pt; }
tr.R2 td.R2C7{ text-align: center; vertical-align: medium; border-left: #ffffff 1px none; border-top: #ffffff 1px none; border-bottom: #ffffff 1px none; border-right: #ffffff 1px none; }
tr.R21{ font-family: Verdana; font-size: 9pt; font-style: normal; height: 13pt; }
tr.R21 td.R21C1{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: right; }
tr.R21 td.R21C2{ border-bottom: #000000 1px solid; }
tr.R21 td.R21C5{ font-family: Verdana; font-size: 9pt; font-style: normal; border-bottom: #000000 1px solid; }
tr.R21 td.R23C4{ text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 2px solid; }
tr.R21 td.R25C0{ text-align: right; }
tr.R21 td.R25C4{ vertical-align: medium; border-left: #ffffff 1px none; border-top: #ffffff 1px none; border-bottom: #000000 1px solid; }
tr.R24{ height: 4pt; }
tr.R26{ height: 5pt; }
tr.R27{ height: 11pt; }
tr.R28{ height: 6pt; }
tr.R28 td.R28C1{ border-bottom: #ffffff 1px none; }
tr.R29{ height: 13pt; }
tr.R29 td.R29C0{ font-family: Verdana; font-size: 10pt; font-style: normal; }
tr.R29 td.R29C1{ font-family: Verdana; font-size: 10pt; font-style: normal; border-bottom: #000000 1px solid; }
tr.R29 td.R31C0{ font-family: Verdana; font-size: 10pt; font-style: normal; text-align: right; }
tr.R29 td.R31C3{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 2px solid; }
tr.R29 td.R31C4{ font-family: Verdana; font-size: 9pt; font-style: normal; }
tr.R3{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 11pt; }
tr.R3 td.R37C0{ font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: bold; }
tr.R3 td.R37C1{ border-bottom: #ffffff 0px none; }
tr.R3 td.R37C2{ font-family: Verdana; font-size: 8pt; font-style: normal; border-bottom: #000000 1px solid; }
tr.R3 td.R37C5{ border-bottom: #000000 1px solid; }
tr.R3 td.R3C7{ text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 1px solid; }
tr.R3 td.R40C2{ font-family: Verdana; font-size: 6pt; font-style: normal; text-align: center; vertical-align: top; }
tr.R38{ font-family: Verdana; font-size: 6pt; font-style: normal; height: 11pt; }
tr.R38 td.R38C2{ text-align: center; vertical-align: top; }
tr.R4{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 13pt; }
tr.R4 td.R4C6{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: right; vertical-align: medium; }
tr.R4 td.R4C7{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; border-bottom: #000000 1px solid; border-right: #000000 2px solid; }
tr.R4 td.R9C2{ font-family: Verdana; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; }
tr.R4 td.R9C4{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; border-left: #000000 2px solid; border-top: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 1px solid; }
tr.R4 td.R9C6{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; border-top: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 2px solid; }
tr.R5{ font-family: Verdana; font-size: 0pt; font-style: normal; height: 25pt; }
tr.R5 td.R5C0{ font-family: Verdana; font-size: 9pt; font-style: normal; font-weight: bold; border-bottom: #000000 1px solid; }
tr.R5 td.R5C5{ text-align: center; vertical-align: top; border-bottom: #000000 1px solid; }
tr.R5 td.R5C6{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: right; vertical-align: medium; }
tr.R5 td.R5C7{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; border-left: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 2px solid; }
tr.R6{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 11pt; }
tr.R6 td.R18C0{ font-family: Verdana; font-size: 6pt; font-style: normal; text-align: center; vertical-align: top; }
tr.R6 td.R6C0{ font-family: Verdana; font-size: 6pt; font-style: normal; text-align: center; vertical-align: top; }
tr.R7{ font-family: Verdana; font-size: 0pt; font-style: normal; height: 16pt; }
tr.R7 td.R14C0{ font-family: Verdana; font-size: 9pt; font-style: italic; text-align: center; border-bottom: #000000 1px solid; }
tr.R7 td.R14C7{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; border-left: #000000 2px solid; border-top: #000000 2px solid; border-bottom: #000000 2px solid; border-right: #000000 2px solid; }
tr.R7 td.R7C0{ font-family: Verdana; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; }
tr.R7 td.R7C1{ text-align: center; }
tr.R8{ font-family: Verdana; font-size: 8pt; font-style: normal; height: 17pt; }
tr.R8 td.R8C4{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 1px solid; }
tr.R8 td.R8C6{ font-family: Verdana; font-size: 9pt; font-style: normal; text-align: center; vertical-align: medium; border-top: #000000 1px solid; border-right: #000000 1px solid; }
table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: Verdana; font-size: 8pt; font-style: normal; }
td { padding: 0px; padding-left: 2px; overflow:hidden; }
</STYLE>
</HEAD>
<BODY STYLE="background: #ffffff; margin: 0; font-family: Verdana; font-size: 8pt; font-style: normal; ">
<TABLE style="width:0px; height:0px; " CELLSPACING=0>
<COL WIDTH=67>
<COL WIDTH=138>
<COL WIDTH=101>
<COL WIDTH=52>
<COL WIDTH=56>
<COL WIDTH=101>
<COL WIDTH=52>
<COL WIDTH=119>
<TR CLASS=R0>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R0C4><span></span></TD>
<TD CLASS=R0C4 COLSPAN=3><SPAN STYLE="white-space:nowrap">Унифицированная&nbsp;форма&nbsp;№&nbsp;Т-6</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R1>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R1C4><span></span></TD>
<TD CLASS=R1C4 COLSPAN=3>Утверждена Постановлением Госкомстата <BR>России от 05.01.2004 № 1</TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R2C7><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R3>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R3C7><SPAN STYLE="white-space:nowrap">Код</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS=R4C6 COLSPAN=7><SPAN STYLE="white-space:nowrap">Форма&nbsp;по&nbsp;ОКУД&nbsp;&nbsp;</SPAN></TD>
<TD CLASS=R4C7><SPAN STYLE="white-space:nowrap">0301005</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R5>
<TD CLASS=R5C0 COLSPAN=5>@Model.OrgName</TD>
<TD CLASS=R5C5><span></span></TD>
<TD CLASS=R5C6><SPAN STYLE="white-space:nowrap">&nbsp;по&nbsp;ОКПО&nbsp;&nbsp;</SPAN></TD>
<TD CLASS=R5C7><SPAN STYLE="white-space:nowrap">09139030</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R6>
<TD CLASS=R6C0 COLSPAN=6><SPAN STYLE="white-space:nowrap">наименование&nbsp;организации</SPAN></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R7>
<TD CLASS=R7C0 COLSPAN=4><span></span></TD>
<TD CLASS=R7C1><span></span></TD>
<TD CLASS=R7C1 COLSPAN=2><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R8>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R8C4 COLSPAN=2>Номер документа</TD>
<TD CLASS=R8C6 COLSPAN=2>Дата составления </TD>
<TD></TD>
</TR>
<TR CLASS=R4>
<TD CLASS=R9C2 COLSPAN=4><SPAN STYLE="white-space:nowrap">ПРИКАЗ</SPAN></TD>
<TD CLASS=R9C4 COLSPAN=2><SPAN STYLE="white-space:nowrap">@Model.DocNumber&nbsp;&nbsp;&nbsp;</SPAN></TD>
<TD CLASS=R9C6 COLSPAN=2><SPAN STYLE="white-space:nowrap">@Model.CreateDate</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R10>
<TD CLASS=R10C2 COLSPAN=9><SPAN STYLE="white-space:nowrap">(распоряжение)</SPAN></TD>
</TR>
<TR CLASS=R10>
<TD CLASS=R10C2 COLSPAN=9><SPAN STYLE="white-space:nowrap">о&nbsp;предоставлении&nbsp;отпуска&nbsp;работнику</SPAN></TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R13>
<TD CLASS=R13C0 COLSPAN=7><SPAN STYLE="white-space:nowrap">Предоставить&nbsp;отпуск</SPAN></TD>
<TD CLASS=R13C7><SPAN STYLE="white-space:nowrap">Табельный&nbsp;номер</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R7>
<TD CLASS=R14C0 COLSPAN=7><SPAN STYLE="white-space:nowrap">@Model.FIO</SPAN></TD>
<TD CLASS=R14C7><SPAN STYLE="white-space:nowrap">@Model.TabNumber</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R15>
<TD CLASS=R15C0 COLSPAN=7><SPAN STYLE="white-space:nowrap">фамилия,&nbsp;имя,&nbsp;отчество</SPAN></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R16>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R17>
<TD CLASS=R17C0 COLSPAN=8><SPAN STYLE="white-space:nowrap">@Model.Department</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R6>
<TD CLASS=R18C0 COLSPAN=8><SPAN STYLE="white-space:nowrap">структурное&nbsp;подразделение</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R17>
<TD CLASS=R17C0 COLSPAN=8><SPAN STYLE="white-space:nowrap">@Model.Position</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R6>
<TD CLASS=R18C0 COLSPAN=8><SPAN STYLE="white-space:nowrap">должность&nbsp;(специальность,&nbsp;профессия)</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R21>
<TD CLASS=R21C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">за&nbsp;период&nbsp;работы&nbsp;с&nbsp;</SPAN></TD>
<TD CLASS=R21C2 COLSPAN=2><SPAN STYLE="white-space:nowrap">"@Model.PeriodBeginDateDay"&nbsp;&nbsp;@Model.PeriodBeginDateMonth&nbsp;@Model.PeriodBeginDateYear&nbsp;г.</SPAN></TD>
<TD><SPAN STYLE="white-space:nowrap">по</SPAN></TD>
<TD CLASS=R21C5 COLSPAN=2><SPAN STYLE="white-space:nowrap">"@Model.PeriodEndDateDay"&nbsp;&nbsp;@Model.PeriodEndDateMonth&nbsp;@Model.PeriodEndDateYear&nbsp;г.</SPAN></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R21>
<TD COLSPAN=4><SPAN STYLE="white-space:nowrap">А.&nbsp;ежегодный&nbsp;основной&nbsp;оплачиваемый&nbsp;отпуск&nbsp;на&nbsp;</SPAN></TD>
<TD CLASS=R23C4><SPAN STYLE="white-space:nowrap">@Model.DaysNumber</SPAN></TD>
<TD COLSPAN=2><SPAN STYLE="white-space:nowrap">календарных&nbsp;дней</SPAN></TD>
<TD COLSPAN=2><span></span></TD>
</TR>
<TR CLASS=R24>
<TD><span></span></TD>
<TD COLSPAN=2><span></span></TD>
<TD COLSPAN=6><span></span></TD>
</TR>
<TR CLASS=R21>
<TD CLASS=R25C0><SPAN STYLE="white-space:nowrap">с&nbsp;</SPAN></TD>
<TD CLASS=R21C2 COLSPAN=2><SPAN STYLE="white-space:nowrap">"@Model.BeginDateDay"&nbsp;@Model.BeginDateMonth&nbsp;@Model.BeginDateYear&nbsp;г.</SPAN></TD>
<TD><SPAN STYLE="white-space:nowrap">по</SPAN></TD>
<TD CLASS=R25C4 COLSPAN=3><SPAN STYLE="white-space:nowrap">"@Model.EndDateDay"&nbsp;@Model.EndDateMonth&nbsp;@Model.EndDateYear&nbsp;г.</SPAN></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R26>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R27>
<TD COLSPAN=9><SPAN STYLE="white-space:nowrap">и&nbsp;(или)</SPAN></TD>
</TR>
<TR CLASS=R28>
<TD><span></span></TD>
<TD CLASS=R28C1><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R29>
<TD CLASS=R29C0><SPAN STYLE="white-space:nowrap">Б.</SPAN></TD>
<TD CLASS=R29C1 COLSPAN=7><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R6>
<TD><span></span></TD>
<TD CLASS=R18C0 COLSPAN=7><SPAN STYLE="white-space:nowrap">ежегодный&nbsp;дополнительный&nbsp;оплачиваемый&nbsp;отпуск,&nbsp;учебный,&nbsp;без&nbsp;сохранения&nbsp;заработной&nbsp;платы&nbsp;и&nbsp;другие&nbsp;(указать)</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R29>
<TD CLASS=R31C0><SPAN STYLE="white-space:nowrap">на</SPAN></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD CLASS=R31C3><span></span></TD>
<TD CLASS=R31C4 COLSPAN=5><SPAN STYLE="white-space:nowrap">календарных&nbsp;дней</SPAN></TD>
</TR>
<TR CLASS=R21>
<TD CLASS=R25C0><SPAN STYLE="white-space:nowrap">с&nbsp;</SPAN></TD>
<TD CLASS=R21C2 COLSPAN=2><SPAN STYLE="white-space:nowrap">"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г.</SPAN></TD>
<TD><SPAN STYLE="white-space:nowrap">по</SPAN></TD>
<TD CLASS=R25C4 COLSPAN=3><SPAN STYLE="white-space:nowrap">"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г.</SPAN></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R29>
<TD CLASS=R29C0 COLSPAN=3><SPAN STYLE="white-space:nowrap">В.&nbsp;&nbsp;&nbsp;&nbsp;Всего&nbsp;отпуск&nbsp;на</SPAN></TD>
<TD CLASS=R31C3><SPAN STYLE="white-space:nowrap">@Model.AllDaysNumber</SPAN></TD>
<TD CLASS=R31C4 COLSPAN=5><SPAN STYLE="white-space:nowrap">календарных&nbsp;дней</SPAN></TD>
</TR>
<TR CLASS=R21>
<TD CLASS=R25C0><SPAN STYLE="white-space:nowrap">с&nbsp;</SPAN></TD>
<TD CLASS=R21C2 COLSPAN=2><SPAN STYLE="white-space:nowrap">"@Model.AllBeginDateDay"&nbsp;@Model.AllBeginDateMonth&nbsp;@Model.AllBeginDateYear&nbsp;г.</SPAN></TD>
<TD><SPAN STYLE="white-space:nowrap">по</SPAN></TD>
<TD CLASS=R25C4 COLSPAN=3><SPAN STYLE="white-space:nowrap">"@Model.AllEndDateDay"&nbsp;@Model.AllEndDateMonth&nbsp;@Model.AllEndDateYear&nbsp;г.</SPAN></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R3>
<TD CLASS=R37C0><SPAN STYLE="white-space:nowrap">Руководитель&nbsp;организации</SPAN></TD>
<TD CLASS=R37C1><span></span></TD>
<TD CLASS=R37C2 COLSPAN=3><span>@Model.ManagerPosition</span></TD>
<TD CLASS=R37C5><span></span></TD>
<TD CLASS=R37C2 COLSPAN=2><span>@Model.ManagerFIO</span></TD>
<TD></TD>
</TR>
<TR CLASS=R38>
<TD CLASS=R38C2 COLSPAN=5><SPAN STYLE="white-space:nowrap">&nbsp;&nbsp;&nbsp;должность</SPAN></TD>
<TD CLASS=R38C2><SPAN STYLE="white-space:nowrap">личная&nbsp;подпись</SPAN></TD>
<TD CLASS=R38C2 COLSPAN=2><SPAN STYLE="white-space:nowrap">расшифровка&nbsp;подписи</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R1>
<TD CLASS=R39C0 COLSPAN=2><SPAN STYLE="white-space:nowrap">С&nbsp;приказом&nbsp;(распоряжением)</SPAN></TD>
<TD CLASS=R39C2><span></span></TD>
<TD CLASS=R39C2><span></span></TD>
<TD CLASS=R39C2><span></span></TD>
<TD CLASS=R39C5><SPAN STYLE="white-space:nowrap">"___"_________20__&nbsp;г.</SPAN></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
<TR CLASS=R3>
<TD CLASS=R37C0 COLSPAN=2><SPAN STYLE="white-space:nowrap">работник&nbsp;&nbsp;ознакомлен</SPAN></TD>
<TD CLASS=R40C2 COLSPAN=3><SPAN STYLE="white-space:nowrap">личная&nbsp;подпись</SPAN></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD><span></span></TD>
<TD></TD>
</TR>
</TABLE>
</BODY>
</HTML>
