@model Reports.Presenters.UI.ViewModel.Employment2.CandidateDocumentsModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
        ViewBag.Title = "Документы";
    }
}

@Html.Partial("CandidateState", Model.CandidateStateModel)
<span style="font-size:large;">@Html.ValidationMessageFor(m => m.SendTo1C)</span>

@using (Html.BeginForm("CandidateDocuments", "Employment", FormMethod.Post, new { enctype = "multipart/form-data", Id = "CandidateDocumentsForm" }))
{
    @Html.HiddenFor(m => m.UserId)    
    @Html.HiddenFor(m => m.IsSave)
    @Html.HiddenFor(m => m.SendTo1C)
    @Html.HiddenFor(m => m.IsSentEmail)
    

    <input type="hidden" id="DeleteAttachmentId" name="DeleteAttachmentId" value="@Model.DeleteAttachmentId" />
    <fieldset class="bordered doc-wrap panel">
    <table class="buttonTable">
        <tr>
            <th>Название документа</th>
            <th>Образец</th>
            <th>Скан</th>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <th>Для<br />приема<br />требуется</th>
            }
        </tr>

        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.ApplicationLetterScanFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Заявление о приеме</td>
            <td style="width:5%">
                @*<button  type="button" onclick="window.location.href='@Url.Action("ApplicationLetter", "Employment", new { userId = Model.UserId })';" @if(!Model.IsPrintButtonAvailable){<text>style="display:none;"</text>}>Печать</button>*@
                <button  type="button" onclick="window.location.href='@Url.Content("~/Templates/zayavlenie_o_prieme_na_rabotu.doc")'" @if(!Model.IsPrintButtonAvailable){<text>style="display:none;"</text>}>Печать</button>
                @*<a href="@Url.Content("~/Templates/zayavlenie_o_prieme_na_rabotu.doc")" target="_blank">Заявление о приеме на работу</a>*@
            </td>
            <td>
                <input type="hidden" id="ApplicationLetterScanAttachmentId" name="ApplicationLetterScanAttachmentId" value="@Model.ApplicationLetterScanAttachmentId" />
                @if (string.IsNullOrEmpty(Model.ApplicationLetterScanAttachmentFilename))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан заявления о приеме<br /><input type="file" name="ApplicationLetterScanFile" id="ApplicationLetterScanFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ApplicationLetterScanAttachmentFilename))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ApplicationLetterScanAttachmentId })' style="cursor:hand" target="_blank">
                            @Model.ApplicationLetterScanAttachmentFilename
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.ApplicationLetterScanAttachmentId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                      {<text>style="display:none;"</text>} value="Удалить скан" />
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                @Html.HiddenFor(m => m.ApplicationLetterScanFileNeeded)
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ApplicationLetterScanFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>
        
        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.EmploymentContractFileNeeded)
            {<text> style = "display:none;" </text>} >
        <td>Печать трудового договора</td>
            <td style="width:5%">
                @if (Model.IsDocListAvailable)
                {
                    <button  type="button" onclick="window.location.href='@Url.Action("GetPrintContractForm", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                              {<text>style="display:none;"</text>}>Печать</button>
                    @*<button type="button" onclick="window.location.href='@Url.Action("PrintContractForm", "Employment", new { userId = Model.UserId })';">Печать</button>*@
                }
            </td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <input type="hidden" id="EmploymentContractFileId" name="EmploymentContractFileId" value="@Model.EmploymentContractFileId" />
                    if (string.IsNullOrEmpty(Model.EmploymentContractFileName))
                    {
                        <div class="formfield clear">
                            Выбрать для загрузки скан трудового договора<br /><input type="file" name="EmploymentContractFile" id="EmploymentContractFile"/>
                        </div>
                    }

                    if (!string.IsNullOrEmpty(Model.EmploymentContractFileName))
                    {
                        <div class="formfield">
                            <br />Скан:
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.EmploymentContractFileId })' style="cursor:hand" target="_blank">
                                @Model.EmploymentContractFileName
                            </a>
                        </div>
                        <div class="formfield">
                            <br /><input type="button" onclick="DeleteScanDocuments(@Model.EmploymentContractFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                 {<text>style="display:none;"</text>} value="Удалить скан" />
                        </div>
                    }
                }
                
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                @Html.HiddenFor(m => m.EmploymentContractFileNeeded)
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.EmploymentContractFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.OrderOnReceptionFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать приказа о приеме</td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <button  type="button" onclick="window.location.href='@Url.Action("GetPrintEmploymentOrder", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                 {<text>style="display:none;"</text>}>Печать</button>
                    @*<button type="button" onclick="window.location.href='@Url.Action("PrintEmploymentOrder", "Employment", new { userId = Model.UserId })';">Печать</button>*@
                }
            </td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <input type="hidden" id="OrderOnReceptionFileId" name="OrderOnReceptionFileId" value="@Model.OrderOnReceptionFileId" />
                    if (string.IsNullOrEmpty(Model.OrderOnReceptionFileName))
                    {
                    <div class="formfield clear">
                        Выбрать для загрузки скан приказа о приеме<br /><input type="file" name="OrderOnReceptionFile" id="OrderOnReceptionFile" />
                    </div>
                    }
                    if (!string.IsNullOrEmpty(Model.OrderOnReceptionFileName))
                    {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.OrderOnReceptionFileId })' style="cursor:hand" target="_blank">
                            @Model.OrderOnReceptionFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.OrderOnReceptionFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                           {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                    }
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                @Html.HiddenFor(m => m.OrderOnReceptionFileNeeded)
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.OrderOnReceptionFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>
        @*
        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.T2FileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать Т2</td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <!--<button  type="button" onclick="window.location.href='@Url.Action("GetPrintT2", "Employment", new { userId = Model.UserId })';">Печать<br />Т2</button>-->
                    <button  type="button" onclick="window.location.href='@Url.Action("PrintT2", "Employment", new { userId = Model.UserId })';">Печать</button>
                }
            </td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <input type="hidden" id="T2FileId" name="T2FileId" value="@Model.T2FileId" />
                    if (string.IsNullOrEmpty(Model.T2FileName))
                    {
                        <div class="formfield clear">
                            Выбрать для загрузки скан Т2<br /><input type="file" name="T2File" id="T2File" />
                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.T2FileName))
                    {
                        <div class="formfield">
                            <br />Скан:
                            <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.T2FileId })' style="cursor:hand" target="_blank">
                                @Model.T2FileName
                            </a>
                        </div>
                        <div class="formfield">
                            <br /><input type="button" id="btnDelete3" value="Удалить скан" />
                        </div>
                    }
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                @Html.HiddenFor(m => m.T2FileNeeded)
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.T2FileNeeded)</td>
            }
        </tr>
        *@
        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.ContractMatResponsibleFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать договора Мат. ответственность</td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <button  type="button" onclick="window.location.href='@Url.Action("GetPrintLiabilityContract", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                   {<text>style="display:none;"</text>}>Печать</button>
                    @*<button  type="button" onclick="window.location.href='@Url.Action("PrintLiabilityContract", "Employment", new { userId = Model.UserId })';">Печать</button>*@
                }
            </td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <input type="hidden" id="ContractMatResponsibleFileId" name="ContractMatResponsibleFileId" value="@Model.ContractMatResponsibleFileId" />
                    if (string.IsNullOrEmpty(Model.ContractMatResponsibleFileName))
                    {
                    <div class="formfield clear">
                        Выбрать для загрузки скан договора Мат. ответственность<br /><input type="file" name="ContractMatResponsibleFile" id="ContractMatResponsibleFile"/>
                    </div>
                    }
                    if (!string.IsNullOrEmpty(Model.ContractMatResponsibleFileName))
                    {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ContractMatResponsibleFileId })' style="cursor:hand" target="_blank">
                            @Model.ContractMatResponsibleFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.ContractMatResponsibleFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                 {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                    }
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ContractMatResponsibleFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.PersonalDataFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать ДС Персональные данные</td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <button  type="button" onclick="window.location.href='@Url.Action("GetPrintPersonalDataAgreement", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                       {<text>style="display:none;"</text>}>Печать</button>
                    @*<button  type="button" onclick="window.location.href='@Url.Action("PrintPersonalDataAgreement", "Employment", new { userId = Model.UserId })';">Печать</button>*@
                }
            </td>
            <td>
                @if (Model.IsDocListAvailable)
                {
                    <input type="hidden" id="PersonalDataFileId" name="PersonalDataFileId" value="@Model.PersonalDataFileId" />
                    if (string.IsNullOrEmpty(Model.PersonalDataFileName))
                    {
                    <div class="formfield clear">
                        Выбрать для загрузки скан ДС Персональные данные<br /><input type="file" name="PersonalDataFile" id="PersonalDataFile" />
                    </div>
                    }
                    if (!string.IsNullOrEmpty(Model.PersonalDataFileName))
                    {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.PersonalDataFileId })' style="cursor:hand" target="_blank">
                            @Model.PersonalDataFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.PersonalDataFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                       {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                    }
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.PersonalDataFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.DataObligationFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать Обязательство конфиденциальность</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintPersonalDataObligation", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                    {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintPersonalDataObligation", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="DataObligationFileId" name="DataObligationFileId" value="@Model.DataObligationFileId" />
                @if (string.IsNullOrEmpty(Model.DataObligationFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан Обязательство конфиденциальность<br /><input type="file" name="DataObligationFile" id="DataObligationFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.DataObligationFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.DataObligationFileId })' style="cursor:hand" target="_blank">
                            @Model.DataObligationFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.DataObligationFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                         {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.DataObligationFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.EmploymentFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать анкеты кандидата</td>
            <td>
                @*<button  type="button" onclick="window.location.href='@Url.Action("GetPrintEmploymentFile", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                            {<text>style="display:none;"</text>}>Печать</button>*@
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintEmploymentFile", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="EmploymentFileId" name="EmploymentFileId" value="@Model.EmploymentFileId" />
                @*
                @if (string.IsNullOrEmpty(Model.EmploymentFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан анкеты кандидата<br /><input type="file" name="EmploymentFile" id="EmploymentFile"/>
                    </div>
                }
                *@
                @if (!string.IsNullOrEmpty(Model.EmploymentFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.EmploymentFileId })' style="cursor:hand" target="_blank">
                            @Model.EmploymentFileName
                        </a>
                    </div>
                    @*
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.EmploymentFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                     {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                    *@
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.EmploymentFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && dto.UserRole != UserRole.Estimator && !Model.RegisterPersonalRecordFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать реестра личного дела</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintRegisterPersonalRecord", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                    {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintRegisterPersonalRecord", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="RegisterPersonalRecordFileId" name="RegisterPersonalRecordFileId" value="@Model.RegisterPersonalRecordFileId" />
                @if (string.IsNullOrEmpty(Model.RegisterPersonalRecordFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан реестра личного дела<br /><input type="file" name="RegisterPersonalRecordFile" id="RegisterPersonalRecordFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.RegisterPersonalRecordFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.RegisterPersonalRecordFileId })' style="cursor:hand" target="_blank">
                            @Model.RegisterPersonalRecordFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.RegisterPersonalRecordFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                 {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.RegisterPersonalRecordFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.InstructionOfSecretFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать памятки сотруднику о сохранении коммерческой, банковской и служебной тайны</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintInstructionOfSecret", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                 {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintInstructionOfSecret", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="InstructionOfSecretFileId" name="InstructionOfSecretFileId" value="@Model.InstructionOfSecretFileId" />
                @if (string.IsNullOrEmpty(Model.InstructionOfSecretFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан памятки сотруднику о сохранении коммерческой, банковской и служебной тайны<br /><input type="file" name="InstructionOfSecretFile" id="InstructionOfSecretFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.InstructionOfSecretFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.InstructionOfSecretFileId })' style="cursor:hand" target="_blank">
                            @Model.InstructionOfSecretFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.InstructionOfSecretFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                              {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.InstructionOfSecretFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.InstructionEnsuringSafetyFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Инструкция по обеспечению сохранности сведений, составляющих коммерческую, и служебную тайну</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintInstructionEnsuringSafety", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                       {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintInstructionEnsuringSafety", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="InstructionEnsuringSafetyFileId" name="InstructionEnsuringSafetyFileId" value="@Model.InstructionEnsuringSafetyFileId" />
                @if (string.IsNullOrEmpty(Model.InstructionEnsuringSafetyFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан инструкции по обеспечению сохранности сведений, составляющих коммерческую, и служебную тайну<br /><input type="file" name="InstructionEnsuringSafetyFile" id="InstructionEnsuringSafetyFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.InstructionEnsuringSafetyFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.InstructionEnsuringSafetyFileId })' style="cursor:hand" target="_blank">
                            @Model.InstructionEnsuringSafetyFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.InstructionEnsuringSafetyFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                    {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.InstructionEnsuringSafetyFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.AgreePersonForCheckingFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Согласие физического лица на проверку персональных данных (Приложение №3)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintAgreePersonForChecking", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                    {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintAgreePersonForChecking", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="AgreePersonForCheckingFileId" name="AgreePersonForCheckingFileId" value="@Model.AgreePersonForCheckingFileId" />
                @if (string.IsNullOrEmpty(Model.AgreePersonForCheckingFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан приложения №3<br /><input type="file" name="AgreePersonForCheckingFile" id="AgreePersonForCheckingFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.AgreePersonForCheckingFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.AgreePersonForCheckingFileId })' style="cursor:hand" target="_blank">
                            @Model.AgreePersonForCheckingFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.AgreePersonForCheckingFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                 {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.AgreePersonForCheckingFileNeeded)</td>
            }
        </tr>

        
        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.CashWorkAddition1FileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Порядок по исполнению требований при организации кассовой работы сотрудниками ВСП (Приложение 1)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintCashWorkAddition1", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                               {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintCashWorkAddition1", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="CashWorkAddition1FileId" name="CashWorkAddition1FileId" value="@Model.CashWorkAddition1FileId" />
                @if (string.IsNullOrEmpty(Model.CashWorkAddition1FileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан приложения №1<br /><input type="file" name="CashWorkAddition1File" id="CashWorkAddition1File"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CashWorkAddition1FileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.CashWorkAddition1FileId })' style="cursor:hand" target="_blank">
                            @Model.CashWorkAddition1FileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.CashWorkAddition1FileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                            {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.CashWorkAddition1FileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.CashWorkAddition2FileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Порядок по обслуживанию клиентов в кассе сотрудниками ВСП (Приложение 2)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintCashWorkAddition2", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                               {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintCashWorkAddition2", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="CashWorkAddition2FileId" name="CashWorkAddition2FileId" value="@Model.CashWorkAddition2FileId" />
                @if (string.IsNullOrEmpty(Model.CashWorkAddition2FileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан приложения №2<br /><input type="file" name="CashWorkAddition2File" id="CashWorkAddition2File"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CashWorkAddition2FileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.CashWorkAddition2FileId })' style="cursor:hand" target="_blank">
                            @Model.CashWorkAddition2FileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.CashWorkAddition2FileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                            {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.CashWorkAddition2FileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.ObligationTradeSecretFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Обязательство о неразглашении коммерческой и служебной тайны</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintObligationTradeSecret", "Employment", new { userId = Model.UserId })';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                                   {<text>style="display:none;"</text>}>Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintObligationTradeSecret", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="ObligationTradeSecretFileId" name="ObligationTradeSecretFileId" value="@Model.ObligationTradeSecretFileId" />
                @if (string.IsNullOrEmpty(Model.ObligationTradeSecretFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан обязательства о неразглашении коммерческой и служебной тайны<br /><input type="file" name="ObligationTradeSecretFile" id="ObligationTradeSecretFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ObligationTradeSecretFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ObligationTradeSecretFileId })' style="cursor:hand" target="_blank">
                            @Model.ObligationTradeSecretFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.ObligationTradeSecretFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                                {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ObligationTradeSecretFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.Certificate182HFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Справка 182-Н от предыдущего работодателя</td>
            <td></td>
            <td>
                <input type="hidden" id="Certificate182HFileId" name="Certificate182HFileId" value="@Model.Certificate182HFileId" />
                @if (string.IsNullOrEmpty(Model.Certificate182HFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан справки 182-Н от предыдущего работодателя<br /><input type="file" name="Certificate182HFile" id="Certificate182HFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Certificate182HFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.Certificate182HFileId })' style="cursor:hand" target="_blank">
                            @Model.Certificate182HFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.Certificate182HFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                          {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.Certificate182HFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && dto.UserRole != UserRole.OutsourcingManager && dto.UserRole != UserRole.Estimator && !Model.Certificate2NDFLFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Справка 2-НДФЛ от предыдущего работодателя</td>
            <td></td>
            <td>
                <input type="hidden" id="Certificate2NDFLFileId" name="Certificate2NDFLFileId" value="@Model.Certificate2NDFLFileId" />
                @if (string.IsNullOrEmpty(Model.Certificate2NDFLFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан справки 2-НДФЛ от предыдущего работодателя<br /><input type="file" name="Certificate2NDFLFile" id="Certificate2NDFLFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Certificate2NDFLFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.Certificate2NDFLFileId })' style="cursor:hand" target="_blank">
                            @Model.Certificate2NDFLFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" onclick="DeleteScanDocuments(@Model.Certificate2NDFLFileId, 'CandidateDocumentsForm');" @if (!Model.IsDeleteScanButtonAvailable)
                                                                                                                                           {<text>style="display:none;"</text>} value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.Certificate2NDFLFileNeeded)</td>
            }
        </tr>

        <tr>
            <td>Заявление на получение банковской карты</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Content("~/Templates/zayavlenie_na_poluchenie_bankovskoj_karty.doc")';" @if (!Model.IsPrintButtonAvailable)
                                                                                                                                                   {<text>style="display:none;"</text>}>Печать</button>
            </td>
            <td>
                Вам необходимо обратиться с паспортом к ответственному сотруднику за зарплатные счета<br />
                в регионе или создать задачу в системе pyrus "ОБЩИЕ ЗАКРЫТЫЕ ПРОЕКТЫ/РАБОТА С <br />
                КЛИЕНТАМИ/КАРТЫ/ВЫДАЧА З/П КАРТ СОТРУДНИКАМ БАНКА", вложить в задачу заявление на получение<br /> 
                банковской карты и скан паспорта. Завести задачу или обратиться к сотруднику пластика необходимо<br /> 
                в течение 3-х рабочих дней со дня Вашего приема на работу в ПАО "Совкомбанк". При получении <br /> 
                банковской карты необходимо заполнить расписку, передать ответственному сотруднику за зарплатные<br /> 
                счета или вложить в задачу в системе pyrus. Список ответственных сотрудников можно посмотреть<br /> 
                на Корпоративном портале.

            </td>
            @if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.OutsourcingManager || dto.UserRole == UserRole.Estimator)
            {
                <td style="text-align:center;"></td>
            }
        </tr>


        @if (dto.UserRole == UserRole.PersonnelManager && !Model.SendTo1C.HasValue)
        {
            <tr>
                <td colspan="3">
                    <button id="btnSentEmail" @if (Model.CandidateStatus == 11)
                                              {<text>style="float:right;"</text>}
                                              else
                                              {<text>style="display:none;"</text>}>Отправить email руководителю</button>    
                </td>
                <td >
                    <button id="btnSaveDocNeeded" type="button">Сохранить</button>
                </td>
            </tr>
        }
      
    </table>
    
    
    </fieldset>
    
    <div id="DivIndicator" style="display:none;">
        <table>
            <tr>
                <td><span id="LoadingIndicator2"></span></td>
                <td><label>Идет загрузка данных...</label></td>
            </tr>
        </table>
    </div>
}



<script  type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("empCandidateDocuments");

        ShowFlash(true);
        ShowFlash(false);

        $("#ApplicationLetterScanFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#EmploymentContractFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#OrderOnReceptionFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#T2File").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#ContractMatResponsibleFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#PersonalDataFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#DataObligationFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#EmploymentFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#RegisterPersonalRecordFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#InstructionOfSecretFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#InstructionEnsuringSafetyFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#AgreePersonForCheckingFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#CashWorkAddition1File").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#CashWorkAddition2File").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#ObligationTradeSecretFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#Certificate182HFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });
        $("#Certificate2NDFLFile").change(function () { ShowFlash(true); $("#CandidateDocumentsForm").submit(); });


        $("#btnSentEmail").click(function () {
            $("#IsSave").val(true);
            $("#IsSentEmail").val(true);
            $("#CandidateDocumentsForm").submit();
        });

        $("#btnSaveDocNeeded").click(function () {
            $("#IsSave").val(true);
            $("#CandidateDocumentsForm").submit();
        });
    });


    function DeleteScanDocuments(id, formname) {
        ShowFlash(true);
        $("#DeleteAttachmentId").val(id);
        //$("#CandidateDocumentsForm").submit();
        $("#" + formname).submit();
    }

    function ShowFlash(IsShow)  //показываем индикатор загрузки
    {
        if (!IsShow) {
            $("#LoadingIndicator2").removeClass("loading2");
            $("#DivIndicator").dialog("close");
            $("#DivIndicator").hide();
        }
        else {
            $("#LoadingIndicator2").addClass("loading2");
            $("#DivIndicator").show();
            $("#DivIndicator").dialog(
            { // initialize dialog box
                autoOpen: true,
                modal: true,
                // fix IE6  
                bgiframe: true,
                draggable: false,
                resizable: false,
                width: 300,
                height: 60,
                closeOnEscape: false,
                close: function (event, ui) {
                    //$(this).dialog("destroy").remove();
                }
            });
            $(".ui-dialog-titlebar").hide();
            $(".ui-dialog-titlebar-close").hide();
        }
    }
</script>