@model Reports.Presenters.UI.ViewModel.Employment2.CandidateDocumentsModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
        ViewBag.Title = "Документы";
    }
}

@Html.Partial("CandidateState", Model.CandidateStateModel)

@using (Html.BeginForm("CandidateDocuments", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.UserId)    
    @Html.HiddenFor(m => m.IsSave)
    <input type="hidden" id="DeleteAttachmentId" name="DeleteAttachmentId" value="@Model.DeleteAttachmentId" />
    <fieldset class="bordered doc-wrap panel">
    <table class="buttonTable">
        <tr>
            <th>Название документа</th>
            <th>Образец</th>
            <th>Скан</th>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <th>Для<br />приема<br />требуется</th>
            }
        </tr>

        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.ApplicationLetterScanFileNeeded) {<text> style = "display:none;" </text>} >
            <td>Заявление о приеме</td>
            <td style="width:5%">
                <button  type="button" onclick="window.location.href='@Url.Action("ApplicationLetter", "Employment", new { userId = Model.UserId })';">Печать</button>
            </td>
            <td>
                <input type="hidden" id="ApplicationLetterScanAttachmentId" name="ApplicationLetterScanAttachmentId" value="@Model.ApplicationLetterScanAttachmentId" />
                @if (string.IsNullOrEmpty(Model.ApplicationLetterScanAttachmentFilename))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан трудового договора<br /><input type="file" name="ApplicationLetterScanFile" id="ApplicationLetterScanFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ApplicationLetterScanAttachmentFilename))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ApplicationLetterScanAttachmentId })' style="cursor:hand" target="_blank">
                            @Model.ApplicationLetterScanAttachmentFilename
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete15" value="Удалить скан" />
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ApplicationLetterScanFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>
        
        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.EmploymentContractFileNeeded){<text> style = "display:none;" </text>} >
        <td>Печать трудового договора</td>
            <td style="width:5%">
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintContractForm", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button type="button" onclick="window.location.href='@Url.Action("PrintContractForm", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="EmploymentContractFileId" name="EmploymentContractFileId" value="@Model.EmploymentContractFileId" />
                @if (string.IsNullOrEmpty(Model.EmploymentContractFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан трудового договора<br /><input type="file" name="EmploymentContractFile" id="EmploymentContractFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.EmploymentContractFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.EmploymentContractFileId })' style="cursor:hand" target="_blank">
                            @Model.EmploymentContractFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete1" value="Удалить скан" />
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.EmploymentContractFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.OrderOnReceptionFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать приказа о приеме</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintEmploymentOrder", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button type="button" onclick="window.location.href='@Url.Action("PrintEmploymentOrder", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="OrderOnReceptionFileId" name="OrderOnReceptionFileId" value="@Model.OrderOnReceptionFileId" />
                @if (string.IsNullOrEmpty(Model.OrderOnReceptionFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан приказа о приеме<br /><input type="file" name="OrderOnReceptionFile" id="OrderOnReceptionFile" />
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.OrderOnReceptionFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.OrderOnReceptionFileId })' style="cursor:hand" target="_blank">
                            @Model.OrderOnReceptionFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete2" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.OrderOnReceptionFileNeeded, new { disabled = "disabled" })</td>
            }
        </tr>
        @*
        <tr>
            <td>
                <!--<button  type="button" onclick="window.location.href='@Url.Action("GetPrintT2", "Employment", new { userId = Model.UserId })';">Печать<br />Т2</button>-->
                <button  type="button" onclick="window.location.href='@Url.Action("PrintT2", "Employment", new { userId = Model.UserId })';">Печать<br />Т2</button>
            </td>
            <td>
                <input type="hidden" id="T2FileId" name="T2FileId" value="@Model.T2FileId" />
                @if (string.IsNullOrEmpty(Model.T2FileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан Т2<br /><input type="file" name="T2File" id="T2File" />
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.T2FileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.T2FileId })' style="cursor:hand" target="_blank">
                            @Model.T2FileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete3" value="Удалить скан" />
                    </div>
                }
            </td>
        </tr>
    *@
        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.ContractMatResponsibleFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать договора Мат. ответственность</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintLiabilityContract", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintLiabilityContract", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="ContractMatResponsibleFileId" name="ContractMatResponsibleFileId" value="@Model.ContractMatResponsibleFileId" />
                @if (string.IsNullOrEmpty(Model.ContractMatResponsibleFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан договора Мат. ответственность<br /><input type="file" name="ContractMatResponsibleFile" id="ContractMatResponsibleFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ContractMatResponsibleFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ContractMatResponsibleFileId })' style="cursor:hand" target="_blank">
                            @Model.ContractMatResponsibleFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete4" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ContractMatResponsibleFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.PersonalDataFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать ДС Персональные данные</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintPersonalDataAgreement", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintPersonalDataAgreement", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="PersonalDataFileId" name="PersonalDataFileId" value="@Model.PersonalDataFileId" />
                @if (string.IsNullOrEmpty(Model.PersonalDataFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан ДС Персональные данные<br /><input type="file" name="PersonalDataFile" id="PersonalDataFile" />
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.PersonalDataFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.PersonalDataFileId })' style="cursor:hand" target="_blank">
                            @Model.PersonalDataFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete5" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.PersonalDataFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.DataObligationFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать Обязательство конфиденциальность</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintPersonalDataObligation", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintPersonalDataObligation", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="DataObligationFileId" name="DataObligationFileId" value="@Model.DataObligationFileId" />
                @if (string.IsNullOrEmpty(Model.DataObligationFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан Обязательство конфиденциальность<br /><input type="file" name="DataObligationFile" id="DataObligationFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.DataObligationFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.DataObligationFileId })' style="cursor:hand" target="_blank">
                            @Model.DataObligationFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete6" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.DataObligationFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.EmploymentFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать личного листка по учету кадров</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintEmploymentFile", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintEmploymentFile", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="EmploymentFileId" name="EmploymentFileId" value="@Model.EmploymentFileId" />
                @if (string.IsNullOrEmpty(Model.EmploymentFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="EmploymentFile" id="EmploymentFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.EmploymentFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.EmploymentFileId })' style="cursor:hand" target="_blank">
                            @Model.EmploymentFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete7" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.EmploymentFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.RegisterPersonalRecordFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать реестра личного дела</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintRegisterPersonalRecord", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintRegisterPersonalRecord", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="RegisterPersonalRecordFileId" name="RegisterPersonalRecordFileId" value="@Model.RegisterPersonalRecordFileId" />
                @if (string.IsNullOrEmpty(Model.RegisterPersonalRecordFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан реестра личного дела<br /><input type="file" name="RegisterPersonalRecordFile" id="RegisterPersonalRecordFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.RegisterPersonalRecordFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.RegisterPersonalRecordFileId })' style="cursor:hand" target="_blank">
                            @Model.RegisterPersonalRecordFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete8" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.RegisterPersonalRecordFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.InstructionOfSecretFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Печать памятки сотруднику о сохранении коммерческой, банковской и служебной тайны</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintInstructionOfSecret", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintInstructionOfSecret", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="InstructionOfSecretFileId" name="InstructionOfSecretFileId" value="@Model.InstructionOfSecretFileId" />
                @if (string.IsNullOrEmpty(Model.InstructionOfSecretFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="InstructionOfSecretFile" id="InstructionOfSecretFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.InstructionOfSecretFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.InstructionOfSecretFileId })' style="cursor:hand" target="_blank">
                            @Model.InstructionOfSecretFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete9" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.InstructionOfSecretFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.InstructionEnsuringSafetyFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Инструкция по обеспечению сохранности сведений, составляющих коммерческую, и служебную тайну</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintInstructionEnsuringSafety", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintInstructionEnsuringSafety", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="InstructionEnsuringSafetyFileId" name="InstructionEnsuringSafetyFileId" value="@Model.InstructionEnsuringSafetyFileId" />
                @if (string.IsNullOrEmpty(Model.InstructionEnsuringSafetyFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="InstructionEnsuringSafetyFile" id="InstructionEnsuringSafetyFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.InstructionEnsuringSafetyFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.InstructionEnsuringSafetyFileId })' style="cursor:hand" target="_blank">
                            @Model.InstructionEnsuringSafetyFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete10" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.InstructionEnsuringSafetyFileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.AgreePersonForCheckingFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Согласие физического лица на проверку персональных данных (Приложение №3)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintAgreePersonForChecking", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintAgreePersonForChecking", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="AgreePersonForCheckingFileId" name="AgreePersonForCheckingFileId" value="@Model.AgreePersonForCheckingFileId" />
                @if (string.IsNullOrEmpty(Model.AgreePersonForCheckingFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="AgreePersonForCheckingFile" id="AgreePersonForCheckingFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.AgreePersonForCheckingFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.AgreePersonForCheckingFileId })' style="cursor:hand" target="_blank">
                            @Model.AgreePersonForCheckingFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete11" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.AgreePersonForCheckingFileNeeded)</td>
            }
        </tr>

        
        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.CashWorkAddition1FileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Порядок по исполнению требований при организации кассовой работы сотрудниками ВСП (Приложение 1)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintCashWorkAddition1", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintCashWorkAddition1", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="CashWorkAddition1FileId" name="CashWorkAddition1FileId" value="@Model.CashWorkAddition1FileId" />
                @if (string.IsNullOrEmpty(Model.CashWorkAddition1FileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="CashWorkAddition1File" id="CashWorkAddition1File"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CashWorkAddition1FileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.CashWorkAddition1FileId })' style="cursor:hand" target="_blank">
                            @Model.CashWorkAddition1FileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete12" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.CashWorkAddition1FileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.CashWorkAddition2FileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Порядок по обслуживанию клиентов в кассе сотрудниками ВСП (Приложение 2)</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintCashWorkAddition2", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintCashWorkAddition2", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="CashWorkAddition2FileId" name="CashWorkAddition2FileId" value="@Model.CashWorkAddition2FileId" />
                @if (string.IsNullOrEmpty(Model.CashWorkAddition2FileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="CashWorkAddition2File" id="CashWorkAddition2File"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CashWorkAddition2FileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.CashWorkAddition2FileId })' style="cursor:hand" target="_blank">
                            @Model.CashWorkAddition2FileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete13" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.CashWorkAddition2FileNeeded)</td>
            }
        </tr>


        <tr @if (dto.UserRole != UserRole.PersonnelManager && !Model.ObligationTradeSecretFileNeeded)
            {<text> style = "display:none;" </text>} >
            <td>Обязательство о неразглашении коммерческой и служебной тайны</td>
            <td>
                <button  type="button" onclick="window.location.href='@Url.Action("GetPrintObligationTradeSecret", "Employment", new { userId = Model.UserId })';">Печать</button>
                @*<button  type="button" onclick="window.location.href='@Url.Action("PrintObligationTradeSecret", "Employment", new { userId = Model.UserId })';">Печать</button>*@
            </td>
            <td>
                <input type="hidden" id="ObligationTradeSecretFileId" name="ObligationTradeSecretFileId" value="@Model.ObligationTradeSecretFileId" />
                @if (string.IsNullOrEmpty(Model.ObligationTradeSecretFileName))
                {
                    <div class="formfield clear">
                        Выбрать для загрузки скан личного листка по учету кадров<br /><input type="file" name="ObligationTradeSecretFile" id="ObligationTradeSecretFile"/>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ObligationTradeSecretFileName))
                {
                    <div class="formfield">
                        <br />Скан:
                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ObligationTradeSecretFileId })' style="cursor:hand" target="_blank">
                            @Model.ObligationTradeSecretFileName
                        </a>
                    </div>
                    <div class="formfield">
                        <br /><input type="button" id="btnDelete14" value="Удалить скан"/>
                    </div>
                }
            </td>
            @if (dto.UserRole == UserRole.PersonnelManager)
            {
                <td style="text-align:center;">@Html.CheckBoxFor(m => m.ObligationTradeSecretFileNeeded)</td>
            }
        </tr>
        @if (dto.UserRole == UserRole.PersonnelManager)
        {
            <tr>
                <td colspan="3"></td>
                <td >
                    <button id="btnSaveDocNeeded" type="button">Сохранить</button>
                </td>
            </tr>
        }
        
    </table>
    
    
    </fieldset>
}

<script  type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("empCandidateDocuments");
        $("#ApplicationLetterScanFile").change(function () { this.form.submit(); });
        $("#EmploymentContractFile").change(function () { this.form.submit(); });
        $("#OrderOnReceptionFile").change(function () { this.form.submit(); });
        $("#T2File").change(function () { this.form.submit(); });
        $("#ContractMatResponsibleFile").change(function () { this.form.submit(); });
        $("#PersonalDataFile").change(function () { this.form.submit(); });
        $("#DataObligationFile").change(function () { this.form.submit(); });
        $("#EmploymentFile").change(function () { this.form.submit(); });
        $("#RegisterPersonalRecordFile").change(function () { this.form.submit(); });
        $("#InstructionOfSecretFile").change(function () { this.form.submit(); });
        $("#InstructionEnsuringSafetyFile").change(function () { this.form.submit(); });
        $("#AgreePersonForCheckingFile").change(function () { this.form.submit(); });
        $("#CashWorkAddition1File").change(function () { this.form.submit(); });
        $("#CashWorkAddition2File").change(function () { this.form.submit(); });
        $("#ObligationTradeSecretFile").change(function () { this.form.submit(); });
        $("#btnSaveDocNeeded").click(function () {
            $("#IsSave").val(true);
            this.form.submit();
        });


        $("#btnDelete1").click(function () {
            var Id = $("#EmploymentContractFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete2").click(function () {
            var Id = $("#OrderOnReceptionFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete3").click(function () {
            var Id = $("#T2FileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete4").click(function () {
            var Id = $("#ContractMatResponsibleFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete5").click(function () {
            var Id = $("#PersonalDataFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete6").click(function () {
            var Id = $("#DataObligationFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete7").click(function () {
            var Id = $("#EmploymentFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete8").click(function () {
            var Id = $("#RegisterPersonalRecordFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete9").click(function () {
            var Id = $("#InstructionOfSecretFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete10").click(function () {
            var Id = $("#InstructionEnsuringSafetyFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete11").click(function () {
            var Id = $("#AgreePersonForCheckingFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete12").click(function () {
            var Id = $("#CashWorkAddition1FileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete13").click(function () {
            var Id = $("#CashWorkAddition2FileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete14").click(function () {
            var Id = $("#ObligationTradeSecretFileId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });

        $("#btnDelete15").click(function () {
            var Id = $("#ApplicationLetterScanAttachmentId").val();
            $("#DeleteAttachmentId").val(Id);
            this.form.submit();
        });
    });
</script>