@model Reports.Presenters.UI.ViewModel.Employment.ContactsModel
@{
    ViewBag.Title = "Прием - Контактные данные";
}

@using (Html.BeginForm("Contacts", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td style="width: 300px;">
                @Html.LabelFor(m => m.ZipCode)
            </td>
            <td>
                 @Html.TextBoxFor(m => m.ZipCode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Region)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Region)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.District)
            </td>
            <td>
                @Html.TextBoxFor(m => m.District)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.City)
            </td>
            <td>
                @Html.TextBoxFor(m => m.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Street)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Street)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.StreetNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m.StreetNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Building)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Building)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Appartment)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Appartment)
            </td>
        </tr>
    </table>
}