@model Reports.Presenters.UI.ViewModel.Employment2.ContactsModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
        ViewBag.Title = "Прием - Контактные данные";
    }
}

@Html.Partial("CandidateState", Model.CandidateStateModel)

<span style="color:red;">@ViewBag.Error</span>
<span style="font-size:large;">@Html.ValidationMessageFor(m => m.IsValidate)</span>

@using (Html.BeginForm("Contacts", "Employment", FormMethod.Post, new { enctype = "multipart/form-data", Id = "Contacts" }))
{
    @Html.HiddenFor(m => m.UserId)
    
    
    <fieldset class="bordered doc-wrap panel">
    <legend>Фактическое место жительства</legend>
        <table class="clear">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Country)
                </td>
                <td>
                    @Html.EditorFor(m => m.Country)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ZipCode)
                </td>
                <td>
                    @Html.EditorFor(m => m.ZipCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Republic)
                </td>
                <td>
                    @Html.EditorFor(m => m.Republic)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Region)
                </td>
                <td>
                    @Html.EditorFor(m => m.Region)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.District)
                </td>
                <td>
                    @Html.EditorFor(m => m.District)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.City)
                </td>
                <td>
                    @Html.EditorFor(m => m.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Street)
                </td>
                <td>
                    @Html.EditorFor(m => m.Street)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.StreetNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m.StreetNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Building)
                </td>
                <td>
                    @Html.EditorFor(m => m.Building)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Apartment)
                </td>
                <td>
                    @Html.EditorFor(m => m.Apartment)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset class="bordered doc-wrap panel">
        <legend>Контактные номера</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkPhone)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.WorkPhone, new { @type = "tel" }) 
                    @Html.ValidationMessageFor(m => m.WorkPhone)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.HomePhone)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.HomePhone, new { @type = "tel" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Mobile)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Mobile, new { @type = "tel" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Email)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @type = "email" })
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="clear">
        @Html.CheckBoxFor(m => m.IsValidate, Model.IsDraft ? null : (object)new { disabled = "disabled" })@Html.LabelFor(m => m.IsValidate)<br />
        @*@Html.EditorFor(m => m.IsDraft)@Html.LabelFor(m => m.IsDraft)*@
        @Html.HiddenFor(m => m.IsContactDraft)
        <button id="btnContactDraft" type="button">Черновик</button>
        <button id="btnContact" type="button" @if(!Model.IsDraft){<text> disabled="disabled"</text>}>Отправить на согласование</button>
    </div>
}

<script>
    $(document).ready(function () {
        setActiveMenuItem("empContacts");
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('#WorkPhone').mask('+7(999) 999-99-99');
            $('#HomePhone').mask('+7(999) 999-99-99');
            $('#Mobile').mask('+7(999) 999-99-99');
        });

        $("#btnContactDraft").click(function () {
            $("#IsContactDraft").val(true);
            $("#Contacts").submit();
        });

        $("#btnContact").click(function () {
            $("#IsContactDraft").val(false);
            $("#Contacts").submit();
        });
    });
</script>