@model Reports.Presenters.UI.ViewModel.Employment2.ContactsModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    }
    ViewBag.Title = "Прием - Контактные данные";
}

<b>Состояние приема кандидата</b>
    <table class="state">
        <tr>
            <td colspan="8" style="background-color:Silver">Состояние заполнения анкетных данных</td>
            <td @if (Model.CandidateState[0].BackgroundApproval.HasValue && Model.CandidateState[0].BackgroundApproval.Value)
                {<text>style="background-color:Lime"</text>}>Служба безопасности</td>
            <td @if (Model.CandidateState[0].TrainingApproval.HasValue && Model.CandidateState[0].TrainingApproval.Value)
                {<text>style="background-color:Lime"</text>}>Обучение</td>
            <td @if (Model.CandidateState[0].ManagerApproval.HasValue && Model.CandidateState[0].ManagerApproval.Value)
                {<text>style="background-color:Lime"</text>}>Руководители</td>
            <td @if (Model.CandidateState[0].PersonnelManagerApproval.HasValue && Model.CandidateState[0].PersonnelManagerApproval.Value)
                {<text>style="background-color:Lime"</text>}>Кадры</td>
        </tr>
        <tr>
            <td @if (Model.CandidateState[0].GeneralFinal)
                {<text>style="background-color:Lime"</text>}>Общая информация</td>
            <td @if (Model.CandidateState[0].PassportFinal)
                {<text>style="background-color:Lime"</text>}>Паспортные данные</td>
            <td @if (Model.CandidateState[0].EducationFinal)
                {<text>style="background-color:Lime"</text>}>Образование</td>
            <td @if (Model.CandidateState[0].FamilyFinal)
                {<text>style="background-color:Lime"</text>}>Состав семьи</td>
            <td @if (Model.CandidateState[0].MilitaryFinal)
                {<text>style="background-color:Lime"</text>}>Воинский учет</td>
            <td @if (Model.CandidateState[0].ExperienceFinal)
                {<text>style="background-color:Lime"</text>}>Трудовая деятельность</td>
            <td @if (Model.CandidateState[0].ContactFinal)
                {<text>style="background-color:Lime"</text>}>Контактные данные</td>
            <td @if (Model.CandidateState[0].BackgroundFinal)
                {<text>style="background-color:Lime"</text>}>Служба безопасности</td>
            <td colspan="4" style="background-color:Silver">Согласование</td>
        </tr>
    </table>

<fieldset class="bordered doc-wrap panel"><legend>Фактическое место жительства</legend>
    <table class="clear">
        <tr>
            <td>
                @Html.LabelFor(m => m.ZipCode)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.ZipCode)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Region)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Region)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.District)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.District)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.City)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.City)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Street)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Street)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.StreetNumber)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.StreetNumber)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Building)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Building)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Apartment)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Apartment)&nbsp;</span>
            </td>
        </tr>
    </table>
</fieldset>
<br />
<fieldset class="bordered doc-wrap panel">
    <legend>Контактные номера</legend>
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.WorkPhone)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.WorkPhone)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HomePhone)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.HomePhone)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Mobile)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Mobile)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Email)&nbsp;</span>
            </td>
        </tr>
    </table>
</fieldset>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empContacts");
    });
</script>