@model Reports.Presenters.UI.ViewModel.Employment2.ContactsModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    }
    ViewBag.Title = "Прием - Контактные данные";
}

@Html.Partial("CandidateState", Model.CandidateStateModel)

<fieldset class="bordered doc-wrap panel"><legend>Фактическое место жительства</legend>
    <table class="clear">
        <tr>
            <td>
                @Html.LabelFor(m => m.Country)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Country)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ZipCode)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.ZipCode)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Republic)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Republic)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Region)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Region)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.District)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.District)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.City)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.City)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Street)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Street)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.StreetNumber)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.StreetNumber)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Building)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Building)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Apartment)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Apartment)&nbsp;</span>
            </td>
        </tr>
    </table>
</fieldset>
<br />
<fieldset class="bordered doc-wrap panel">
    <legend>Контактные номера</legend>
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.WorkPhone)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.WorkPhone)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HomePhone)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.HomePhone)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Mobile)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Mobile)&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                <span class="fakeFormField">@Html.DisplayFor(m => m.Email)&nbsp;</span>
            </td>
        </tr>
    </table>
</fieldset>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empContacts");
    });
</script>