@model Reports.Presenters.UI.ViewModel.Employment.EducationModel
@{
    ViewBag.Title = "Прием - Образование";
}

@using (Html.BeginForm("Education", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" id="cmd" name="cmd" />
    
    <div class="doc-wrap">
        <fieldset style="border: 1px solid lightgray">
            <legend>Сведения об образовании (высшее, неполное высшее)</legend>
            <div id="higher-education-diplomas-container">
                @for (var i = 0; i < Model.HigherEducationDiplomas.Count; i++)
                {
                    <table style="border: 1px solid lightgray; padding: 5px; margin-bottom: 5px;" data-id=@i>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].IssuedBy)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].IssuedBy)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Series)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Series)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Number)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Number)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].AdmissionYear)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].AdmissionYear)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].GraduationYear)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].GraduationYear)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Qualification)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Qualification)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Speciality)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Speciality)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Profession)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Profession)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.HigherEducationDiplomas[i].Department)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.HigherEducationDiplomas[i].Department)
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <button type="submit" id="add-higher-education-diploma-button">Добавить новую запись</button>
        </fieldset>
    
        <fieldset style="border: 1px solid lightgray">
            <legend>Послевузовское образование</legend>
            <div id="postgraduate-education-diplomas-container">
                @for (var i = 0; i < Model.PostGraduateEducationDiplomas.Count; i++)
                {
                    <table style="border: 1px solid lightgray; padding: 5px; margin-bottom: 5px;" data-id=@i>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].IssuedBy)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].IssuedBy)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].Series)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].Series)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].Number)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].Number)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].AdmissionYear)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].AdmissionYear)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].GraduationYear)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].GraduationYear)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PostGraduateEducationDiplomas[i].Speciality)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.PostGraduateEducationDiplomas[i].Speciality)
                            </td>
                        </tr>      
                    </table>
                }
            </div>
            <button type="submit" id="add-postgraduate-education-diploma-button">Добавить новую запись</button>
        </fieldset>
    
        <fieldset style="border: 1px solid lightgray">
            <legend>Сведения о дополнительном образовании</legend>
            <fieldset style="border: 1px solid lightgray">
                <legend>Аттестация</legend>
                <div id="certifications-container">
                    @for (var i = 0; i < Model.Certifications.Count; i++)
                    {
                        <table style="border: 1px solid lightgray; padding: 5px; margin-bottom: 5px;" data-id=@i>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Certifications[i].CertificationDate)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Certifications[i].CertificationDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Certifications[i].CertificateNumber)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Certifications[i].CertificateNumber)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Certifications[i].CertificateDateOfIssue)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Certifications[i].CertificateDateOfIssue)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Certifications[i].Order)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Certifications[i].Order)
                                </td>
                            </tr>     
                        </table>
                    }
                </div>
                <button type="submit" id="add-certification-button">Добавить новую запись</button>
            </fieldset>
            <fieldset style="border: 1px solid lightgray">
                <legend>Повышение квалификации</legend>
                <div id="training-container">
                    @for (var i = 0; i < Model.Training.Count; i++)
                    {
                        <table style="border: 1px solid lightgray; padding: 5px; margin-bottom: 5px;" data-id=@i>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].CertificateIssuedBy)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].CertificateIssuedBy)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].Series)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].Series)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].Number)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].Number)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].BeginningDate)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].BeginningDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].EndDate)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].EndDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Training[i].Speciality)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Training[i].Speciality)
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <button type="submit" id="add-training-button">Добавить новую запись</button>
            </fieldset>
        </fieldset>

        <button type="submit">Сохранить</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#add-higher-education-diploma-button").click(function () {
            $("#cmd").val("add-higher-education-diploma");
        });
        $("#add-postgraduate-education-diploma-button").click(function () {
            $("#cmd").val("add-postgraduate-education-diploma");
        });
        $("#add-certification-button").click(function () {
            $("#cmd").val("add-certification");
        });
        $("#add-training-button").click(function () {
            $("#cmd").val("add-training");
        });
    });
</script>