@model Reports.Presenters.UI.ViewModel.Employment2.ExperienceModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Трудовая деятельность";
}

@using (Html.BeginForm("Family", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset class="bordered doc-wrap panel">
    <legend>Опыт работы</legend>
    <table class="grid">
        <thead>
            <tr>
                <th>
                    Начало работы
                </th>
                <th>
                    Окончание работы
                </th>
                <th>
                    Организация
                </th>
                <th>
                    Должность
                </th>
                <th>
                    Адрес организации,<br />телефон отдела кадров, секретаря
                </th>
            </tr>
        </thead>
        <tbody>                
                @for (var i = 0; i < Model.ExperienceItems.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.ExperienceItems[i].BeginningDate)
                        </td>  
                        <td>
                            @Html.EditorFor(m => m.ExperienceItems[i].EndDate)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ExperienceItems[i].Company)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ExperienceItems[i].Position)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ExperienceItems[i].CompanyContacts)
                        </td>
                    </tr>
                }                
        </tbody>
    </table>
    </fieldset>
    <br />
    <fieldset class="bordered doc-wrap panel">
        <legend>Сведения о трудовой книжке</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookSeries)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookSeries)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookDateOfIssue)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookDateOfIssue)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset class="bordered doc-wrap panel">
        <legend>Сведения о вкладыше в трудовую книжку</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookSupplementSeries)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookSupplementSeries)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookSupplementNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookSupplementNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.WorkBookSupplementDateOfIssue)
                </td>
                <td>
                    @Html.EditorFor(m => m.WorkBookSupplementDateOfIssue)
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="clear">
        <button type="submit">Записать черновик</button>
        <button type="submit">Сохранить</button>
    </div>
}

<script>
    $(document).ready(function () {
        setActiveMenuItem("empExperience");
    });
</script>