@model Reports.Presenters.UI.ViewModel.Employment2.ManagersModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Руководители";
}

@using (Html.BeginForm("Managers", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.UserId)
    
    <fieldset class="bordered doc-wrap panel">
    <legend>Руководители</legend>
        <div class="formfield clear">
            @Html.LabelFor(m => m.ProbationaryPeriod)&nbsp;@Html.ValidationMessageFor(m => m.ProbationaryPeriod)<br />
            @Html.EditorFor(m => m.ProbationaryPeriod)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.WorkCity)&nbsp;@Html.ValidationMessageFor(m => m.WorkCity)<br />
            @Html.EditorFor(m => m.WorkCity)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.PersonalAddition)&nbsp;@Html.ValidationMessageFor(m => m.PersonalAddition)<br />
            @Html.EditorFor(m => m.PersonalAddition)
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.PositionAddition)&nbsp;@Html.ValidationMessageFor(m => m.PositionAddition)<br />
            @Html.EditorFor(m => m.PositionAddition)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.IsFront)&nbsp;@Html.EditorFor(m => m.IsFront)                
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.Bonus)&nbsp;@Html.ValidationMessageFor(m => m.Bonus)<br />
            @Html.EditorFor(m => m.Bonus)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.IsLiable)&nbsp;@Html.EditorFor(m => m.IsLiable)                
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.RequestNumber)&nbsp;@Html.ValidationMessageFor(m => m.RequestNumber)<br />
            @Html.EditorFor(m => m.RequestNumber)
        </div>
    </fieldset>
    
    <div class="clear">
        <button type="submit">Записать черновик</button>
        <button type="submit">Сохранить</button>
    </div>
}

<script>
    $(document).ready(function () {
        setActiveMenuItem("empManagers");
    });
</script>