@model Reports.Presenters.UI.ViewModel.Employment2.OnsiteTrainingModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Обучение";
}

@using (Html.BeginForm("Training", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="doc-wrap">
        <fieldset style="border: 1px solid lightgray">
        <legend>Обучение</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Type)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.Type)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Description)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.BeginningDate)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.BeginningDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.EndDate)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.IsComplete)
                </td>
                <td>
                     @Html.EditorFor(m => m.IsComplete)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ReasonsForIncompleteTraining)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.ReasonsForIncompleteTraining)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Results)
                </td>
                <td>
                     @Html.TextBoxFor(m => m.Results)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.IsConfirmed)
                </td>
                <td>
                     @Html.EditorFor(m => m.IsConfirmed)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Comments)
                </td>
                <td>
                     @Html.TextAreaFor(m => m.Comments)
                </td>
            </tr>
        </table>
        </fieldset>

        <button type="submit">Записать черновик</button>
        <button type="submit">Сохранить</button>
    </div>
}

<script>
    $(document).ready(function () {
        setActiveMenuItem("empOnsiteTraining");
    });
</script>