@model Reports.Presenters.UI.ViewModel.Employment2.PassportModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    if ((dto.UserRole & UserRole.Candidate) > 0)
    {
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
        ViewBag.Title = "Прием - Паспортные данные";
    }
}

@Html.Partial("CandidateState", Model.CandidateStateModel)

<span style="color:red;">@ViewBag.Error</span>
<span style="font-size:large;">@Html.ValidationMessageFor(m => m.IsValidate)</span>

@using (Html.BeginForm("Passport", "Employment", FormMethod.Post, new { enctype = "multipart/form-data", Id = "PassportForm" }))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.IsDraft)
    
    <fieldset class="bordered doc-wrap panel">
    <legend>Паспорт</legend>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.DocumentTypeId)&nbsp;@Html.ValidationMessageFor(m => m.DocumentTypeId)<br />
            @Html.DropDownListFor(m => m.DocumentTypeId, Model.DocumentTypeItems)
        </div>
        @*
        @if (Model.InternalPassportScanAttachmentId == 0 && !Model.IsValidate)
        {
            <div class="formfield">
                Выбрать скан для загрузки<br /><input type="file" name="InternalPassportScanFile" /> @Html.ValidationMessageFor(m => m.InternalPassportScanFile)
            </div>
        }
        *@
        @if (!string.IsNullOrEmpty(Model.InternalPassportScanAttachmentFilename))
        {
            <div class="formfield">
                <br />Скан:
                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.InternalPassportScanAttachmentId })' style="cursor:hand" target="_blank">
                    @Model.InternalPassportScanAttachmentFilename
                </a>
            </div>
            @*
            if (!Model.IsValidate)
            {
                <div class="formfield">
                    <br /><input type="button" value="Удалить скан" onclick="deleteAttachment(@Model.InternalPassportScanAttachmentId);" />
                </div>
            }
            *@
        }
        @*
        <div class="formfield">
            <br /><a href="">Открыть</a>
        </div>
        <div class="formfield">
            <br /><a href="">Удалить</a>
        </div>
        *@
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.InternalPassportSeries)&nbsp;@Html.ValidationMessageFor(m => m.InternalPassportSeries)<br />
            @Html.TextBoxFor(m => m.InternalPassportSeries, new { maxlength = "5", prompt = "## ##" })
            @*@Html.TextBoxFor(m => m.InternalPassportSeries, new { pattern = @"^\S{2}\s\S{2}$", title = "4 знака (## ##)", })*@
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.InternalPassportNumber)&nbsp;@Html.ValidationMessageFor(m => m.InternalPassportNumber)<br />
            @Html.TextBoxFor(m => m.InternalPassportNumber, new { pattern = @"^\d{6}$", title = "6 цифр (######)" })
        </div>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.InternalPassportDateOfIssue)&nbsp;@Html.ValidationMessageFor(m => m.InternalPassportDateOfIssue)<br />
            @Html.EditorFor(m => m.InternalPassportDateOfIssue)
        </div>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.InternalPassportIssuedBy)&nbsp;@Html.ValidationMessageFor(m => m.InternalPassportIssuedBy)<br />
            @Html.TextBoxFor(m => m.InternalPassportIssuedBy)
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.InternalPassportSubdivisionCode)&nbsp;@Html.ValidationMessageFor(m => m.InternalPassportSubdivisionCode)<br />
            @Html.TextBoxFor(m => m.InternalPassportSubdivisionCode, new { pattern = @"^\d{3}-\d{3}$", title = "###-###" })
        </div>
        <fieldset class="bordered nomargin clear">
        <legend class="level2">Регистрация</legend>
            <div class="formfield clear">
                @Html.LabelFor(m => m.RegistrationDate)&nbsp;@Html.ValidationMessageFor(m => m.RegistrationDate)<br />
                @Html.EditorFor(m => m.RegistrationDate)
            </div>
            <div class="formfield clear">
                @Html.LabelFor(m => m.ZipCode)&nbsp;@Html.ValidationMessageFor(m => m.ZipCode)<br />
                @Html.TextBoxFor(m => m.ZipCode, new { pattern = @"^\d{6}$", title = "6 цифр (######)" })
            </div>
            <div class="formfield clear">
                @Html.LabelFor(m => m.Region)&nbsp;@Html.ValidationMessageFor(m => m.Region)<br />
                @Html.TextBoxFor(m => m.Region)
            </div>
            <div class="formfield">
                @Html.LabelFor(m => m.District)&nbsp;@Html.ValidationMessageFor(m => m.District)<br />
                @Html.TextBoxFor(m => m.District)
            </div>
            <div class="formfield">
                @Html.LabelFor(m => m.City)&nbsp;@Html.ValidationMessageFor(m => m.City)<br />
                @Html.TextBoxFor(m => m.City)
            </div>
            <div class="formfield clear">
                @Html.LabelFor(m => m.Street)&nbsp;@Html.ValidationMessageFor(m => m.Street)<br />
                @Html.TextBoxFor(m => m.Street)
            </div>
            <div class="formfield">
                @Html.LabelFor(m => m.StreetNumber)&nbsp;@Html.ValidationMessageFor(m => m.StreetNumber)<br />
                @Html.TextBoxFor(m => m.StreetNumber)
            </div>
            <div class="formfield">
                @Html.LabelFor(m => m.Building)&nbsp;@Html.ValidationMessageFor(m => m.Building)<br />
                @Html.TextBoxFor(m => m.Building)
            </div>
            <div class="formfield">
                @Html.LabelFor(m => m.Apartment)&nbsp;@Html.ValidationMessageFor(m => m.Apartment)<br />
                @Html.TextBoxFor(m => m.Apartment)
            </div>
        </fieldset>
    </fieldset>
    <br />
    <fieldset class="bordered doc-wrap clear panel">
    <legend>Заграничный паспорт</legend>
        <div class="formfield clear">
            @Html.LabelFor(m => m.InternationalPassportSeries)&nbsp;@Html.ValidationMessageFor(m => m.InternationalPassportSeries)<br />
            @Html.TextBoxFor(m => m.InternationalPassportSeries)
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.InternationalPassportNumber)&nbsp;@Html.ValidationMessageFor(m => m.InternationalPassportNumber)<br />
            @Html.TextBoxFor(m => m.InternationalPassportNumber)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.InternationalPassportDateOfIssue)&nbsp;@Html.ValidationMessageFor(m => m.InternationalPassportDateOfIssue)<br />
            @Html.EditorFor(m => m.InternationalPassportDateOfIssue)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.InternationalPassportIssuedBy)&nbsp;@Html.ValidationMessageFor(m => m.InternationalPassportIssuedBy)<br />
            @Html.TextBoxFor(m => m.InternationalPassportIssuedBy)
        </div>
    </fieldset>

    <div class="clear">
        @Html.CheckBoxFor(m => m.IsValidate, Model.IsDraft ? null : (object)new { disabled = "disabled" })@Html.LabelFor(m => m.IsValidate) <br />
        @*@Html.EditorFor(m => m.IsDraft)@Html.LabelFor(m => m.IsDraft)*@
        @Html.HiddenFor(m => m.IsPassportDraft)
        <button id="btnPassportDraft" type="button">Черновик</button>
        <button id="btnPassport" type="button" @if(!Model.IsDraft){<text> disabled="disabled"</text>}>Отправить на согласование</button>
    </div>

}

<script src="/Scripts/UIHelpers.js" type="text/javascript"></script>

<script type="text/javascript">
    function deleteAttachment(id){
        var actionUrl="@Url.Action("DeleteAttachment", "Employment")";
        var url = actionUrl + "?Id=" + id;
        $.getJSON(url,
                       function (data) {
                            if(!data.Result){
                                alert('Ошибка удаления скана:'+ data.Error);
                            }
                            else {
                               location.reload(true);
                           }
                       }
                     );
        return false;
    }

    $(document).ready(function () {
        setActiveMenuItem("empPassport");
        UIHelpers.attachDatepickerToInputs($('#InternalPassportDateOfIssue, #RegistrationDate, #InternationalPassportDateOfIssue'), "-60:+0", true);
        jQuery(function ($) {
            //$.mask.definitions['~'] = '[+-]';
            //$('#InternalPassportSeries').mask('** **');
        });

        $("#btnPassportDraft").click(function(){
            $("#IsPassportDraft").val(true);
            $("#PassportForm").submit();
        });

        $("#btnPassport").click(function(){
            $("#IsPassportDraft").val(false);
            $("#PassportForm").submit();
        });
    });
</script>