@model Reports.Presenters.UI.ViewModel.Employment2.PersonnelManagersModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Кадры";
}

@using (Html.BeginForm("PersonnelManagers", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.UserId)
    
    <fieldset class="bordered doc-wrap panel floatleft">
    <legend>Кадры</legend>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.EmploymentOrderDate)&nbsp;@Html.ValidationMessageFor(m => m.EmploymentOrderDate)<br />
            @Html.EditorFor(m => m.EmploymentOrderDate)
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.EmploymentOrderNumber)&nbsp;@Html.ValidationMessageFor(m => m.EmploymentOrderNumber)<br />
            @Html.TextBoxFor(m => m.EmploymentOrderNumber, new { @class = "halfwidth" })
        </div>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.EmploymentDate)&nbsp;@Html.ValidationMessageFor(m => m.EmploymentDate)<br />
            @Html.EditorFor(m => m.EmploymentDate)
        </div>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.ContractDate)&nbsp;@Html.ValidationMessageFor(m => m.ContractDate)<br />
            @Html.EditorFor(m => m.ContractDate)
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.ContractNumber)&nbsp;@Html.ValidationMessageFor(m => m.ContractNumber)<br />
            @Html.TextBoxFor(m => m.ContractNumber, new { @class = "halfwidth" })
        </div>
        <div class="formfield clearleft">
            @Html.LabelFor(m => m.NorthernAreaAddition)&nbsp;@Html.ValidationMessageFor(m => m.NorthernAreaAddition)<br />
            @Html.TextBoxFor(m => m.NorthernAreaAddition, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.AreaMultiplier)&nbsp;@Html.ValidationMessageFor(m => m.AreaMultiplier)<br />
            @Html.TextBoxFor(m => m.AreaMultiplier, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.AreaAddition)&nbsp;@Html.ValidationMessageFor(m => m.AreaAddition)<br />
            @Html.TextBoxFor(m => m.AreaAddition, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.TravelRelatedAddition)&nbsp;@Html.ValidationMessageFor(m => m.TravelRelatedAddition)<br />
            @Html.TextBoxFor(m => m.TravelRelatedAddition, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.CompetenceAddition)&nbsp;@Html.ValidationMessageFor(m => m.CompetenceAddition)<br />
            @Html.TextBoxFor(m => m.CompetenceAddition, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield">
            @Html.LabelFor(m => m.FrontOfficeExperienceAddition)&nbsp;@Html.ValidationMessageFor(m => m.FrontOfficeExperienceAddition)<br />
            @Html.TextBoxFor(m => m.FrontOfficeExperienceAddition, new { @class = "calc halfwidth" })
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.Grade)&nbsp;@Html.ValidationMessageFor(m => m.Grade)<br />
            @Html.TextBoxFor(m => m.Grade, new { @class = "halfwidth" })
        </div>
        <br />
        <fieldset class="bordered nomargin clear">
        <legend class="level2">Общий стаж</legend>
            <div class="formfield clearleft">
                @Html.ValidationMessageFor(m => m.OverallExperienceYears)<br />
                @Html.EditorFor(m => m.OverallExperienceYears)&nbsp;@Html.LabelFor(m => m.OverallExperienceYears)
            </div>
            <div class="formfield">
                @Html.ValidationMessageFor(m => m.OverallExperienceMonths)<br />
                @Html.EditorFor(m => m.OverallExperienceMonths)&nbsp;@Html.LabelFor(m => m.OverallExperienceMonths)
            </div>
            <div class="formfield">
                @Html.ValidationMessageFor(m => m.OverallExperienceDays)<br />
                @Html.EditorFor(m => m.OverallExperienceDays)&nbsp;@Html.LabelFor(m => m.OverallExperienceDays)
            </div>
        </fieldset>
        <fieldset class="bordered nomargin clear">
        <legend class="level2">Страховой стаж (по состоянию на дату приема)</legend>
            <div class="formfield clearleft">                
                @Html.ValidationMessageFor(m => m.InsurableExperienceYears)<br />
                @Html.EditorFor(m => m.InsurableExperienceYears)&nbsp;@Html.LabelFor(m => m.InsurableExperienceYears)
            </div>
            <div class="formfield">
                @Html.ValidationMessageFor(m => m.InsurableExperienceMonths)<br />
                @Html.EditorFor(m => m.InsurableExperienceMonths)&nbsp;@Html.LabelFor(m => m.InsurableExperienceMonths)
            </div>
            <div class="formfield">
                @Html.ValidationMessageFor(m => m.InsurableExperienceDays)<br />
                @Html.EditorFor(m => m.InsurableExperienceDays)&nbsp;@Html.LabelFor(m => m.InsurableExperienceDays)
            </div>
        </fieldset>

        <div class="formfield clear">
            Выбрать для загрузки скан листа ознакомления<br /><input type="file" name="files" />
        </div>
        <div class="formfield">
            <br /><a href="">Открыть</a>
        </div>
        <div class="formfield">
            <br /><a href="">Удалить</a>
        </div>

        <div class="formfield clearleft">
            @Html.LabelFor(m => m.PersonalAccount)&nbsp;@Html.ValidationMessageFor(m => m.PersonalAccount)<br />
            @Html.EditorFor(m => m.PersonalAccount)
        </div>
        <div class="formfield clear">
            @Html.LabelFor(m => m.PersonalAccountContractorId)&nbsp;@Html.ValidationMessageFor(m => m.PersonalAccountContractorId)<br />
            @Html.DropDownListFor(m => m.PersonalAccountContractorId, Model.PersonalAccountContractors)
        </div>

        <div class="formfield clear">
            Выбрать для загрузки скан листа ознакомления<br /><input type="file" name="files" />
        </div>
        <div class="formfield">
            <br /><a href="">Открыть</a>
        </div>
        <div class="formfield">
            <br /><a href="">Удалить</a>
        </div>

        <div class="formfield clear">
            @Html.LabelFor(m => m.AccessGroupId)&nbsp;@Html.ValidationMessageFor(m => m.AccessGroupId)<br />
            @Html.DropDownListFor(m => m.AccessGroupId, Model.AccessGroups)
        </div>
        <div class="formfield clearleft">
            <button type="submit">Отправить на согласование</button>                
        </div>            
    </fieldset>

    <div class="buttonpanel">
        <button type="submit">Печать<br />трудового договора</button>
        <button type="submit">Печать<br />приказа о приеме</button>
        <button type="submit">Печать<br />Т2</button>
        <button type="submit">Печать<br />договораМат. ответственность</button>
        <button type="submit">Печать<br />ДС Персональные данные</button>
        <button type="submit">Печать<br />Обязательство конфиденциальность</button>
        <button type="submit">Печать<br />реестра личного дела</button>
    </div>
 
}

<script src="/Scripts/UIHelpers.js" type="text/javascript"></script>

<script  type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("empPersonnelManagers");
        attachDatepickerToInputs($('#EmploymentOrderDate, #EmploymentDate, #ContractDate'), "-1:+1", true);
    });
</script>