@model Reports.Presenters.UI.ViewModel.Employment2.PrintObligationTradeSecretModel
@{
    Layout = null;
    ViewBag.Title = "Обязательство о неразглашении коммерческой и служебной тайны";
}

<head xmlns="http://www.w3.org/1999/xhtml" profile="http://dublincore.org/documents/dcmi-terms/">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<title xml:lang="en-US">Обязательство о неразглашении коммерческой и служебной тайны</title>
<style type="text/css">

	table { border-collapse:collapse; border-spacing:0; empty-cells:show }
	td, th { vertical-align:top; font-size:12pt;}
	h1, h2, h3, h4, h5, h6 { clear:both }
	ol, ul { margin:0; padding:0;}
	li { list-style: none; margin:0; padding:0;}
	<!-- "li span.odfLiEnd" - IE 7 issue-->
	li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	span.footnodeNumber { padding-right:1em; }
	span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	* { margin:0;}
	.P1 { font-size:11pt; line-height:115%; margin-bottom:0.353cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P10 { font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; margin-left:1cm; margin-right:0cm; text-indent:0cm; }
	.P11 { font-size:12pt; line-height:100%; margin-bottom:0.212cm; margin-top:0cm; text-align:center ! important; font-family:Times New Roman; writing-mode:lr-tb; }
	.P12 { font-size:12pt; line-height:100%; margin-bottom:0.212cm; margin-top:0cm; text-align:center ! important; font-family:Times New Roman; writing-mode:lr-tb; }
	.P2 { font-size:11pt; line-height:115%; margin-bottom:0.353cm; margin-top:0cm; text-align:center ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P3 { font-size:11pt; line-height:115%; margin-bottom:0.353cm; margin-top:0cm; text-align:center ! important; font-family:Calibri; writing-mode:lr-tb; font-weight:bold; }
	.P4 { font-size:11pt; line-height:115%; margin-bottom:0.353cm; margin-top:0cm; text-align:left ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P5 { font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P6 { font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:left ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P7 { font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P8 { font-size:11pt; line-height:100%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; }
	.P9 { font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb; margin-left:1.249cm; margin-right:0cm; text-indent:1.249cm; }
	.Standard { font-size:11pt; line-height:115%; margin-bottom:0.353cm; margin-top:0cm; font-family:Calibri; writing-mode:lr-tb; text-align:left ! important; }
	.T1 { font-weight:bold; }
	.T2 { font-size:6pt; }

	</style>
</head>
<body xmlns="http://www.w3.org/1999/xhtml" dir="ltr" style="max-width:21.001cm;margin-top:2cm; margin-bottom:2cm; margin-left:3cm; margin-right:1.499cm; writing-mode:lr-tb; ">
<p class="P12"><span class="T1">Обязательство</span></p>
<p class="P11"><span class="T1">о неразглашении коммерческой и служебной тайны</span></p>
<p class="P11"><span class="T1">сотрудником ПАО «Совкомбанк»</span></p>
<table style="font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb;">
    <tr>
        <td>Я,   </td>
        <td style="text-decoration:underline;">@(!string.IsNullOrEmpty(Model.EmployeeName) ? Model.EmployeeName : "_____________________________") </td>
        <td>, в качестве</td>
        @*
        <td style="text-decoration:underline;">@(!string.IsNullOrEmpty(Model.PositionName) ? Model.PositionName : "______________________________________")</td>
        *@
        <td >_______________________________________________</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:center"><span class="T2">Ф.И.О.</span> </td>
        <td></td>
        <td style="text-align:center"><span class="T2">должность</span></td>
    </tr>
</table>
@*
<p class="P5">   </p><p class="P7">   Я,   @(!string.IsNullOrEmpty(Model.EmployeeName) ? Model.EmployeeName : "_____________________________") , в качестве @(!string.IsNullOrEmpty(Model.PositionName) ? Model.PositionName : "______________________________________") </p>
<p class="P9"><span class="T2">Ф.И.О.                                                                        должность</span></p>*@
<p class="P1">    </p><p class="P1"> на   период трудовых (служебных) отношений с ПАО «Совкомбанк» и в течение пяти лет после их окончания </p>
<p class="P2"><span class="T1">обязуюсь:</span><a name="_GoBack"></a></p>
<p class="P3"> </p><ol><li>
<p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">1</span>Не разглашать сведения, составляющие коммерческую и служебную тайну банка, которые мне будут доверены или станут известны по работе (службе).<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">2</span>Не передавать третьим лицам и не раскрывать сведения, составляющие коммерческую и служебную тайну банка, без согласия Руководства банка.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">3</span>Выполнять относящиеся ко мне требования приказов, Инструкций и Положений по обеспечению сохранности коммерческой и служебной тайны банка.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">4</span>В случае попытки посторонних лиц получить от меня сведения о коммерческой и служебной тайне компании сообщить Региональному Директору и руководителю своего структурного подразделения.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">5</span>Не использовать знание коммерческой и служебной тайны банка для занятий  любой деятельностью, которая может нанести ущерб банку.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">6</span>В случае моего увольнения все носители коммерческой и служебной тайны банка  (рукописи, черновики, чертежи, магнитные ленты, диски, дискеты, распечатки на принтерах, кино - фото негативы и позитивы, модели, материалы, изделия), которые находились в моем распоряжении в связи с выполнением мною служебных обязанностей во время работы в банке, передать своему непосредственному Руководителю.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">7</span>Об утрате или недостаче носителей коммерческой и служебной тайны, удостоверений, пропусков, ключей от режимных помещений, хранилищ, сейфов, личных печатей, которые могут привести к разглашению коммерческой и служебной тайны банка, а также о причинах и условиях  возможной утечки сведений, немедленно сообщать Региональному Директору, непосредственному руководителю структурного  подразделения и сотруднику управления внутренней  безопасности.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">8</span>До моего сведения доведены с разъяснениями соответствующие положения по обеспечению сохранности коммерческой  и служебной тайны банка.<span class="odfLiEnd"></span> </p></li>
<li><p class="P8" style="margin-left:0cm;"><span style="display:block;float:left;min-width:0.741cm;">9</span>Мне известно, что нарушение этих Положений может повлечь уголовную, административную, гражданско - правовую или иную ответственность в соответствии с действующим Законодательством Российской Федерации.<span class="odfLiEnd"></span> </p></li>
<br /><br />
<table width="100%" style="font-size:11pt; line-height:115%; margin-bottom:0cm; margin-top:0cm; text-align:justify ! important; font-family:Calibri; writing-mode:lr-tb;">
    <tr>
        <td align="center">«___» __________________     20___  года</td>
        <td align="center" style="text-decoration:underline;">@(!string.IsNullOrEmpty(Model.EmployeeNameShortened) ? Model.EmployeeNameShortened : "_________________________")</td>
        <td align="center">_________________________</td>
    </tr>
    <tr>
        <td></td>
        <td align="center" style="text-align:center"><span class="T2">Ф.И.О.</span> </td>
        <td align="center" style="text-align:center"><span class="T2">ПОДПИСЬ</span> </td>
    </tr>
</table>
</ol>
@*<p class="P1"> </p><p class="P10">         «___» __________________     20_  года<span class="T1">                                     </span>_________________________</p><p class="P6"><span class="T2">                                                                                        Ф.И.О.</span></p>
<p class="Standard"> </p><p class="Standard"> </p>
<p class="P10"><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> _________________________</span></p>
<p class="P6"><span class="T2">                                                                                        ПОДПИСЬ</span></p><p class="P4"> </p>*@
</body>

