@model Reports.Presenters.UI.ViewModel.Employment2.PrintInstructionOfSecretModel
@{
    Layout = null;
    ViewBag.Title = "Печать памятки сотруднику о сохранении коммерческой, банковской и служебной тайны";
}

<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
    <br /><br />
    <div style="text-align:right;">
        <strong> Утверждаю<br />
        @*
        Начальник Управления<br />
        кадрового делопроизводства и учета<br />
        Департамента по работе с персоналом*@
        @(string.IsNullOrEmpty(Model.EmployerRepresentativePosition) ? string.Empty : Model.EmployerRepresentativePosition)
        <br />
        ____________________ @(string.IsNullOrEmpty(Model.EmployerRepresentativeNameShortened) ? string.Empty : Model.EmployerRepresentativeNameShortened)<br />
        @(Model.EmploymentDate.HasValue ? Model.EmploymentDate.Value.ToLongDateString() : DateTime.Now.ToLongDateString())</strong>
    </div>
    <br /><br />

    <strong>
        <p align=center>
        <font size="4"> Памятка</font><br />
        <font size="4">сотруднику ПАО «Совкомбанк» о сохранении коммерческой, <br />банковской и служебной тайны</font>
        </p>
    </strong>
    <br /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;В условиях рынка и конкуренции коммерческая, банковская и служебная тайна выступает как элемент маркетинга, как способ увеличения прибыли банка. 
    Утечка коммерческих секретов может привести к снижению доходов банка или к его банкротству.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Сотрудник  обязан строго хранить в тайне сведения, отнесенные к коммерческой и служебной тайне банка, ставшие ему известные по службе или иным путем. 
    Разглашение коммерческой и служебной тайны банка, передача третьим лицам (без согласия Руководства банка), а также для использования при занятии любой деятельностью, 
    которая в качестве конкурентного действия, может нанести ущерб банку, влечет уголовную, административную, гражданскую или иную ответственность в соответствии с законодательством.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Коммерческая и служебная тайна  определяется Руководством банка и отражается в «Перечне сведений, составляющих коммерческую и служебную тайну ПАО «Совкомбанк». 
    Порядок обращения со сведениями, отнесенными к коммерческой и служебной тайне банка, регулируется «Инструкцией по обеспечению сохранности сведений, составляющих коммерческую и служебную тайну банка».<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Коммерческая тайна других банков, с которыми имеются деловые отношения  ПАО «Совкомбанк», доводится до сотрудника, в части касающейся, руководителем структурного подразделения.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Сотрудник обязан работать только с теми сведениями и документами, содержащими коммерческую и служебную тайну банка, к которым он получил доступ в силу служебных обязанностей, знать, 
    какие конкретно сведения подлежат защите, а также строго соблюдать правила пользования ими.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Сотрудник должен также знать, кому из сотрудников банка разрешено работать со сведениями, составляющими коммерческую и служебную тайну, 
    к которым он сам допущен, и в каком объеме эти сведения могут быть доведены до этих сотрудников.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;При участи в работе сторонних организаций сотрудник может знакомить их представителей со сведениями, составляющими коммерческую и служебную тайну банка, только с письменного разрешения руководителя структурного подразделения. 
    При этом руководитель должен определить конкретные вопросы, подлежащие рассмотрению, и указать, кому и в каком объеме может быть доведена  информация, подлежащая защите.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Запрещается помещать при необходимости сведения, составляющие коммерческую и  служебную тайну банка, в документы, содержащие государственные секреты и имеющие, в связи с этим, соответствующий гриф секретности. 
    Такое нарушение порядка обращения со сведениями, составляющую коммерческую и служебную тайну банка, рассматривается как их разглашение и влечет ответственность в соответствии с установленным порядком.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Об утрате или недостаче документов, изделий,  содержащих коммерческую и служебную тайну банка, удостоверений, пропусков, ключей от режимных помещений, хранилищ, депозитария, сейфов, 
    металлических шкафов, личных печатей, а также о причинах и условиях возможной утечки таких сведений сотрудник обязан немедленно сообщить руководителю структурного подразделения и начальнику службы безопасности банка.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;При увольнении, перед уходом в отпуск, отъездом в командировку необходимо сдать руководителю структурного подразделения все носители коммерческой и служебной тайна банка 
    (рукописи, черновики, документы, чертежи, магнитные ленты, диски, дискеты, распечатки на принтерах, кино –фото негативы  и позитивы, модели, материалы, изделия), которые находились в распоряжении сотрудника в связи с выполнением  им служебных обязанностей.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Сотрудник обязан по первому требованию руководителя структурного подразделения и начальника службы безопасности банка предъявить для проверки все числящиеся за ним материалы, 
    содержащие коммерческую и служебную тайну банка, дать устные или письменные объяснения о нарушениях правил выполнения закрытых работ, учета и хранения документов и изделий, содержащих коммерческую тайну, 
    а также о фактах ее разглашения, утраты  документов и изделий, содержащих такие сведения.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;В случае попытки посторонних лиц или организаций, в том числе зарубежных, получить информацию, составляющую коммерческую и служебную тайну банка, 
    сотрудник обязан сообщить руководителю структурного подразделения и начальнику службы безопасности.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Обязательства, связанные с защитой коммерческой и служебной тайны банка, не ограничивают прав сотрудника на интеллектуальную собственность, 
    в частности, подачи заявки на изобретение, возможное патентование. Реализация прав сотрудника на интеллектуальную собственность осуществляется в соответствии с установленным законом порядком.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Срок действия ограничений, связанных с необходимостью защиты коммерческой и служебной тайны банка, определяется Руководством при заключении трудового договора с сотрудником. 
    Об окончании действия ограничений сотрудник уведомляется Руководством банка в письменной форме. Собеседование с Начальником Службы  безопасности Банка проведено.<br /><br />
    <strong>
        С настоящей Памяткой и Инструкцией по обеспечению сохранности сведений, составляющих коммерческую, банковскую  и служебную тайну в ПАО «Совкомбанк» ознакомлен:<br />
    </strong>                                                     
        <strong>@Model.EmployeeName</strong>,&nbsp;@Model.PositionName, &nbsp;@Model.DepartmentName

<p align=center> @(Model.EmploymentDate.HasValue ? Model.EmploymentDate.Value.ToLongDateString() : "«____» ___________________  20   г.") 
@for (int i = 0; i < 150; i++) { <text>&nbsp;</text> i += 1;
}  ___________________________(подпись)</p>

</BODY>