@model Reports.Presenters.UI.ViewModel.Employment2.PrintEmploymentOrderModel
@{
    Layout = null;
    ViewBag.Title = "Приказ о приеме";
}

<html xmlns:o = "urn:schemas-microsoft-com:office:office">

<head>

<title>@ViewBag.Title</title>
<meta content="text/html; charset=utf-8" http-equiv=Content-Type>
<meta name=GENERATOR content="MSHTML 11.00.9600.16521">

</head>

<body>

<p style="MARGIN: 0cm 0cm 6pt 333.1pt"><A name=_GoBack></A><span style="FONT-SIZE: 8pt">Унифицированная форма № Т-1<BR>Утверждена Постановлением Госкомстата России<BR>от 05.01.2004 № 1</span></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style="PAGE-BREAK-INSIDE: avoid;">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 361.5pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=482>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 77.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=104 colSpan=2>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt" valign=bottom width=95>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Код</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 361.45pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=482>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 77.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=104 colSpan=2>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>Форма по ОКУД</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" valign=bottom width=95>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>0301001</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 382.75pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=510 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Публичное акционерное общество "Совкомбанк"</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 2cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=76>
<p style="MARGIN: 0cm 0cm 0pt 9.9pt"><font  size=2>по ОКПО</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" valign=bottom width=95>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>9139030&nbsp;</font></p></td></tr>
<tr>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=482></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=28></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=76></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=95></td></tr>
</tbody>
</table>

<p style="TEXT-ALIGN: center; MARGIN: 0cm 127.5pt 12pt 0cm" align="center"><span style="FONT-SIZE: 8pt">(наименование организации)</span><span lang=EN-US style="FONT-SIZE: 8pt; mso-ansi-language: EN-US"></span></p>

<table style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN: auto auto auto 1.4pt; BORDER-LEFT: medium none; ; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellspacing=0 cellpadding=0 border=1>
<tbody>
<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 286.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=382>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt" valign=top width=123>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Номер документа</font></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" width=123>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Дата составления</font></p></td></tr>
<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 286.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=382>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 5.65pt 0pt 0cm" align=right><B><span style="FONT-SIZE: 12pt">ПРИКАЗ</span></B></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" valign=bottom width=123>

<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><B><span style="FONT-SIZE: 12pt">@Model.OrderNumber</span></B></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" valign=bottom width=123>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><B><span style="FONT-SIZE: 12pt">@(Model.OrderDate.HasValue ? Model.OrderDate.Value.ToShortDateString() : string.Empty)</span></B></p></td></tr>
</tbody>
</table>

<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><B><span style="FONT-SIZE: 12pt">(распоряжение)</span></B></p>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 12pt" align="center"><B><span style="FONT-SIZE: 12pt">о приеме работника на работу</span></B></p>

<DIV align=right>

<table style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; ; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellspacing=0 cellpadding=0 border=1>
<tbody>

<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=180>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 63.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=85>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt" valign=bottom width=142>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Дата</font></p></td></tr>

<tr style="">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=180>
<p style="MARGIN: 0cm 0cm 0pt"><B><span style="FONT-SIZE: 11pt">Принять на работу</span></B></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt" valign=bottom width=85>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>с</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" valign=bottom width=142>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@(Model.EmploymentDate.HasValue ? Model.EmploymentDate.Value.ToShortDateString() : string.Empty)</font></p></td></tr>

<tr style="">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=180>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" valign=bottom width=85>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>по</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" valign=bottom width=142>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@(Model.ContractEndDate.HasValue ? Model.ContractEndDate.Value.ToShortDateString() : string.Empty)</font></p></td></tr>

</tbody>
</table>

</div>

<p style="MARGIN: 12pt 0cm 0pt"><span lang=EN-US><font  size=2>&nbsp;</font></span></p>

<table style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN: auto auto auto 1.4pt; BORDER-LEFT: medium none; ; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellspacing=0 cellpadding=0 border=1>
<tbody>
<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 404pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-right-alt: solid windowtext .5pt" valign=bottom width=539>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span lang=EN-US><font  size=2>&nbsp;</font></span></p></td>
<td style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-top-alt: solid windowtext .5pt; ; mso-border-right-alt: solid windowtext .5pt" valign=bottom width=142>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>Табельный номер</font></p></td></tr>
<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 404pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; ; mso-border-right-alt: solid windowtext .5pt" valign=bottom width=539>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span lang=EN-US><font  size=2>@Model.EmployeeName</font></span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" valign=bottom width=142>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span lang=EN-US><font  size=2>&nbsp;@Model.UserCode</font></span></p></td></tr>
</tbody>
</table>

<p style="TEXT-ALIGN: center; MARGIN: 0cm 106.3pt 12pt 0cm" align="center"><span style="FONT-SIZE: 8pt">(фамилия, имя, отчество)</span></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style=" ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=19>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>в</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 496.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=661>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.Department</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 496.1pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=661>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(структурное подразделение)</span></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=680 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.Position</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 3">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=680 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(должность (специальность, профессия), разряд, класс (категория) квалификации)</span></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 4">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=680 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>&nbsp;</font></p></td></tr>
<tr style="HEIGHT: 19.1pt; PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 5">
<td style="BORDER-TOP: #d4d0c8; HEIGHT: 19.1pt; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=680 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.ContractCondition</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 6; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=680 colSpan=2>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(условия приема на работу, характер работы)</span></p></td></tr>
</tbody>
</table>

<p style="MARGIN: 36pt 0cm 0pt"><font  size=2>&nbsp;</font></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt; text-align:right;"><font  size=2>с тарифной ставкой (окладом)</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@(Model.SalaryBasis.HasValue ? decimal.Truncate(Model.SalaryBasis.Value).ToString() : string.Empty)</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@(Model.SalaryBasis.HasValue ? decimal.Truncate((Model.SalaryBasis.Value - decimal.Truncate(Model.SalaryBasis.Value)) * 100).ToString() : string.Empty)</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
</tbody>
</table>

<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
@*
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt; text-align:right;"><font  size=2>надбавкой</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2></font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2></font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
*@

@if (Model.PersonalAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>персональной надбавкой</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.PersonalAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.PersonalAddition.Value - decimal.Truncate(Model.PersonalAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}

@if (Model.PositionAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>должностной надбавкой</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.PositionAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.PositionAddition.Value - decimal.Truncate(Model.PositionAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}
@*
@if (Model.NorthernAreaAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>северной надбавкой</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.NorthernAreaAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.NorthernAreaAddition.Value - decimal.Truncate(Model.NorthernAreaAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}
*@
@if (Model.AreaAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>территориальной надбавкой</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.AreaAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.AreaAddition.Value - decimal.Truncate(Model.AreaAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}

@if (Model.TravelRelatedAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>надбавкой за разъездной характер работы</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.TravelRelatedAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.TravelRelatedAddition.Value - decimal.Truncate(Model.TravelRelatedAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}

@if (Model.CompetenceAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>надбавкой за квалификацию</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.CompetenceAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.CompetenceAddition.Value - decimal.Truncate(Model.CompetenceAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}

@if (Model.FrontOfficeExperienceAddition.HasValue)
{
    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=236>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>надбавкой за стаж работы специалистом фронт-офиса</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate(Model.FrontOfficeExperienceAddition.Value).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>руб.</font></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center">
                <font  size=2>@decimal.Truncate((Model.FrontOfficeExperienceAddition.Value - decimal.Truncate(Model.FrontOfficeExperienceAddition.Value)) * 100).ToString()</font>
                </p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><font  size=2>коп.</font></p></td>
    </tr>

    <tr style=" ">
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=236>
            <p style="MARGIN: 0cm 0cm 0pt 83.65pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=180>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(цифрами)</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=38>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=28>
            <p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
        <td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=198>
            <p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
    </tr>
}

</tbody>
</table>

<p style="MARGIN: 24pt 0cm 0pt"><font  size=2>&nbsp;</font></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style="PAGE-BREAK-INSIDE: avoid;  ; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=170>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>с испытанием на срок</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 328.85pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=438>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.ProbationaryPeriod</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 53.85pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=72>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><font  size=2></font></p></td></tr>
</tbody>
</table>

<p style="MARGIN: 18pt 0cm 0pt"><font  size=2>&nbsp;</font></p>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 11pt">Основание:</span></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 2.8pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style=" ; ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 130.4pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt;" valign=bottom width=174>
<p style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 26.95pt"><font  size=2>Трудовой договор от “</font></p></td>
@{
    bool ContractDatePresent = Model.ContractDate.HasValue;
}
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 19.85pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; " valign=bottom width=26>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@(ContractDatePresent ? Model.ContractDate.Value.Day.ToString() : string.Empty)</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt;" valign=bottom width=15>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>”</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 83.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; " valign=bottom width=112>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@(ContractDatePresent ? (Model.ContractDate.Value.Month.ToString().Length == 2 ? Model.ContractDate.Value.Month.ToString() : "0" + Model.ContractDate.Value.Month.ToString()) : string.Empty)</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18.45pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt;" valign=bottom width=25>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><font  size=2></font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; " valign=bottom width=23>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>@(ContractDatePresent ? Model.ContractDate.Value.Year.ToString() : string.Empty)</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 31.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt;" valign=bottom width=42>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>г.<span style="mso-spacerun: yes">&nbsp; </span>№</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; " valign=bottom width=85>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.ContractNumber</font></p></td></tr>
</tbody>
</table>

<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style="PAGE-BREAK-INSIDE: avoid;  ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=170>
<p style="MARGIN: 0cm 0cm 0pt"><B><font  size=2>Руководитель организации</font></B></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=189>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.EmployerRepresentativePosition</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9.9pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=13>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 75.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=top width=100>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=189>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>@Model.EmployerRepresentativeNameShortened</font></p></td>
</tr>
<tr style="PAGE-BREAK-INSIDE: avoid;  ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=170>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 7pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=189>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(должность)</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9.9pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=13>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 75.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=100>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(личная подпись)</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=189>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(расшифровка подписи)</span></p></td>
</tr>
</tbody>
</table>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p>

<table style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; " cellspacing=0 cellpadding=0 border=0>
<tbody>
<tr style="PAGE-BREAK-INSIDE: avoid;  ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=340>
<p style="MARGIN: 0cm 0cm 0pt"><B><font  size=2>С приказом (распоряжением) работник ознакомлен</font></B></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 102.05pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=136>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><font  size=2>“</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=23>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=15>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>”</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 65.2pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=87>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><font  size=2>20</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 16.95pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; " valign=bottom width=23>
<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=bottom width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><font  size=2>г.</font></p></td></tr>
<tr style="PAGE-BREAK-INSIDE: avoid;  ">
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=340>
<p style="MARGIN: 0cm 0cm 0pt"><B><span style="FONT-SIZE: 8pt">&nbsp;</span></B></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 102.05pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=136>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">(личная подпись)</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=23>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=15>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 65.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=87>
<p style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align="center"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 16.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=23>
<p style="MARGIN: 0cm 0cm 0pt"><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td>
<td style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt;" valign=top width=19>
<p style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><span style="FONT-SIZE: 8pt">&nbsp;</span></p></td></tr>
</tbody>
</table>

<p style="MARGIN: 0cm 0cm 0pt"><font  size=2>&nbsp;</font></p>

</body>
</html>