@using WebMvc.Helpers
@model Reports.Presenters.UI.ViewModel.Employment2.PrintContractFormModel
@{
    Layout = null;
    ViewBag.Title = "Трудовой договор";
}

<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
  <br /><br />
<P align=center><img src="../../Content/SKB_logo.png" /></P><br /><br />

<P align=center><STRONG>ТРУДОВОЙ ДОГОВОР № @Model.ContractNumber<BR></STRONG><STRONG>г. Кострома
@for (int i = 0; i < 150; i++) { <text>&nbsp;</text> i += 1;
}
</STRONG><STRONG><FONT size=2 face=Arial>&nbsp;@(Model.ContractDate.HasValue ?
Model.ContractDate.Value.ToLongDateString() : "___ _______________ 20___")&nbsp;</FONT></STRONG></P>
<P align=left>&nbsp;Публичное акционерное общество «СОВКОМБАНК», именуемый в дальнейшем «РАБОТОДАТЕЛЬ», в лице @Model.EmployerRepresentativePosition @Model.EmployerRepresentativeName, действующей на основании Доверенности № 232 от 11.09.2014г., 
с одной стороны,
<BR><STRONG>@Model.EmployeeName</STRONG>, именуемый(ая) в дальнейшем «РАБОТНИК»,<BR>с другой стороны, заключили настоящий Трудовой договор (далее – Договор) о нижеследующем.
<br /><BR><STRONG>&nbsp;1. ПРЕДМЕТ&nbsp; ДОГОВОРА<BR></STRONG>&nbsp;
1.1. РАБОТОДАТЕЛЬ обязуется предоставить РАБОТНИКУ работу по обусловленной настоящим Договором должности и обеспечить условия труда в соответствии с трудовым законодательством и внутренними документами РАБОТОДАТЕЛЯ, 
а РАБОТНИК лично выполнять определенную настоящим Договором работу по предоставленной должности с соблюдением действующих Правил внутреннего трудового распорядка и внутренних документов РАБОТОДАТЕЛЯ.
<BR>&nbsp;
1.2. РАБОТНИК принимается на должность <b>@Model.Position</b><BR>в <b>@Model.Department</b><BR>Перечень должностных обязанностей определяется настоящим Договором и должностной инструкцией. 
Должностная инструкция, утвержденная РАБОТОДАТЕЛЕМ, подписывается РАБОТНИКОМ при заключении настоящего Договора. <BR>&nbsp;
1.3. Прием на работу оформляется Приказом РАБОТОДАТЕЛЯ, изданным на основании заключенного Договора.<BR>&nbsp;
1.4. Работа по настоящему Договору @(Model.IsSecondaryJob ? "по совместительству" : "является основной").<BR>&nbsp;
@*
старый вариант
1.5. Настоящий Договор заключается @(!Model.IsFixedTermContract.HasValue ? "___________________________________" :
(Model.IsFixedTermContract.Value ?
"c " + (Model.ContractDate.HasValue ? Model.ContractDate.Value.ToShortDateString() : "_________________") +
" по " + (Model.ContractEndDate.HasValue ? Model.ContractEndDate.Value.ToShortDateString() : "_________________")
: "на неопределенный срок")) и вступает в силу со дня подписания сторонами.<BR>Дата начала работы – 
@(Model.EmploymentDate.HasValue ? Model.EmploymentDate.Value.ToShortDateString() : "_________________")<BR>
Если РАБОТНИК не приступил к работе в день начала работы, то РАБОТОДАТЕЛЬ имеет право аннулировать настоящий Договор.<BR>&nbsp;
*@
@if (Model.ContractPoint_1_Id.HasValue && Model.ContractPoint_1_Id.Value == 1)
{
    <label>1.5. Настоящий Договор заключается временно для выполнения работ, непосредственно связанных со стажировкой и профессиональным обучением работников и вступает в силу со дня подписания сторонами.</label><br />
}
@if (Model.ContractPoint_1_Id.HasValue && Model.ContractPoint_1_Id.Value == 2)
{
    <label>1.5. Договор заключается временно, на период отсутствия основного работника @Model.ContractPointsFio, за которым в соответствии с трудовым договором закреплено рабочее место и вступает в силу со дня подписания сторонами.</label><br />
}
@if (Model.ContractPoint_1_Id.HasValue && Model.ContractPoint_1_Id.Value == 3)
{
    <label>1.5. Настоящий Договор заключается на неопределенный срок и вступает в силу со дня подписания сторонами.</label><br />
}
Дата начала работы - <b>@(Model.ContractDate.HasValue ? Model.ContractDate.Value.ToShortDateString() : "___ _______________ 20___")</b><br />
Если РАБОТНИК не приступил к работе в день начала работы, то РАБОТОДАТЕЛЬ имеет право аннулировать настоящий Договор.<br />
&nbsp;
@*1.6. Фактическое место работы РАБОТНИКА: @Model.WorkCity<BR>&nbsp;*@
1.6. Фактическое место работы РАБОТНИКА: @Model.ContractPointsAddress<BR>&nbsp;
1.7. РАБОТНИКУ устанавливается испытательный срок продолжительностью @Model.ProbationaryPeriod с момента заключения настоящего Договора.<BR>
При неудовлетворительном результате во время испытательного срока РАБОТОДАТЕЛЬ имеет право до истечения испытательного срока расторгнуть настоящий Договор с РАБОТНИКОМ, 
письменно уведомив его и указав причины не позднее, чем за 3 (три) дня до срока расторжения.<br />&nbsp;
@*
1.8. Взаимодействие РАБОТНИКА и РАБОТОДАТЕЛЯ (в т.ч. непосредственного руководителя), происходит в том числе посредством электронного документооборота и переписки,
обеспечиваемых соответствующей программой (Приложение №____ к настоящему Договору).<BR>&nbsp;
*@
<br />
<STRONG>2. ПРАВА И ОБЯЗАННОСТИ РАБОТНИКА<BR>&nbsp;
2.1. РАБОТНИК имеет право:<BR></STRONG>&nbsp;
2.1.1. Изменить и расторгнуть настоящий Договор в порядке и на условиях, установленных трудовым законодательством.<BR>&nbsp;
2.1.2. Требовать у РАБОТОДАТЕЛЯ предоставления работы, обусловленной настоящим Договором и должностной инструкцией.<BR>&nbsp;
2.1.3. Получить рабочее место в соответствии с должностными обязанностями. <BR>&nbsp;
2.1.4. Получить полную достоверную информацию об условиях труда и требованиях охраны труда на рабочем месте.<BR>&nbsp;
2.1.5. Получать своевременно и в полном объеме заработную плату в соответствии с настоящим Договором, действующим штатным расписанием и внутренними документами РАБОТОДАТЕЛЯ по оплате труда.<BR>&nbsp;
2.1.6. Получать всю необходимую информацию, в том числе и конфиденциального характера, которая необходима для выполнения его должностных обязанностей.<BR>&nbsp;
2.1.7. На профессиональную подготовку и повышение своей квалификации в порядке, установленном законодательством, соглашением с РАБОТОДАТЕЛЕМ и внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.1.8. На отдых в соответствии с действующим трудовым законодательством и внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.1.9. На защиту своих трудовых прав, свобод и законных интересов.<BR>&nbsp;
2.1.10. На возмещение вреда, причиненного РАБОТНИКУ в связи с исполнением им обязанностей, обусловленных настоящим Договором и должностной инструкций, в соответствии с действующим законодательством Российской Федерации.<br /><BR><STRONG>&nbsp;

2.2. РАБОТНИК обязуется:<BR></STRONG>&nbsp;
2.2.1. На высоком профессиональном уровне с надлежащим качеством и в установленные сроки выполнять должностные обязанности, возложенные на него настоящим Договором и должностной инструкцией, распоряжения непосредственного руководителя, 
а также все приказы, распоряжения и решения Председателя Правления Банка и прочих органов управления РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.2. Соблюдать Правила внутреннего трудового распорядка РАБОТОДАТЕЛЯ и другие внутренние документы РАБОТОДАТЕЛЯ, а также соблюдать требования по охране труда и обеспечению безопасности труда, производственную и финансовую дисциплину.<BR>&nbsp;
2.2.3. Бережно относиться к имуществу РАБОТОДАТЕЛЯ, в том числе к находящимся в его использовании оргтехники и оборудованию, обеспечивать сохранность вверенной ему документации РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.4. Немедленно ставить в известность администрацию РАБОТОДАТЕЛЯ о нарушениях, случаях хищения и порчи имущества РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.5. Неукоснительно соблюдать установленные РАБОТОДАТЕЛЕМ требования о неразглашении банковской, коммерческой тайны и конфиденциальной информации.<BR>&nbsp;
2.2.6. Незамедлительно информировать подразделение финансового мониторинга, подразделение внутреннего контроля, а также подразделение безопасности о ставших известными фактах нарушения законности и правил 
совершения банковских операций (сделок), угрозах нанесения ущерба РАБОТОДАТЕЛЮ.<BR>&nbsp;
2.2.7. Постоянно повышать свою квалификацию и профессиональный уровень как самостоятельно, так и в соответствии с программами РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.8. Информировать РАБОТОДАТЕЛЯ об изменении своих персональных данных в течение 3 (трех) дней с даты их изменения.<BR>&nbsp;
2.2.9. Незамедлительно сообщать РАБОТОДАТЕЛЮ о возникновении ситуации, представляющей угрозу жизни и здоровью РАБОТНИКОВ, сохранности имущества РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.10. Возместить РАБОТОДАТЕЛЮ затраты на повышение своей квалификации (обучение) в случаях, предусмотренных соглашением с РАБОТОДАТЕЛЕМ и внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
2.2.11. В кратчайший срок уведомлять РАБОТОДАТЕЛЯ о невозможности выхода на работу в связи с болезнью, несчастным случаем или иными уважительными обстоятельствами.<BR>&nbsp;
2.2.12. Возместить РАБОТОДАТЕЛЮ материальный ущерб в соответствии с трудовым законодательством (статья 238 Трудового кодекса).<BR>&nbsp;
2.2.13. Подписать договор о полной индивидуальной или коллективной материальной ответственности в случаях, установленных законодательством для определенных должностей и видов работ.<BR>&nbsp;
2.2.14. При увольнении возвратить РАБОТОДАТЕЛЮ все вверенное ему имущество в исправном состоянии.<BR>&nbsp;
2.2.15. Строго обеспечивать конфиденциальность содержания настоящего Договора.<BR><br />

<STRONG>&nbsp;
3. ПРАВА И ОБЯЗАННОСТИ РАБОТОДАТЕЛЯ<BR>&nbsp;
3.1. РАБОТОДАТЕЛЬ имеет право:</STRONG><BR>&nbsp;
3.1.1. Изменить и расторгнуть настоящий Договор в порядке и на условиях, установленных трудовым законодательством.<BR>&nbsp;
3.1.2. Требовать от РАБОТНИКА соблюдения действующего законодательства Российской Федерации.<BR>&nbsp;
3.1.3. Требовать от РАБОТНИКА соблюдения трудовой дисциплины, Правил внутреннего трудового распорядка и иных внутренних документов РАБОТОДАТЕЛЯ.<BR>&nbsp;
3.1.4. Требовать от РАБОТНИКА бережного отношения к имуществу РАБОТОДАТЕЛЯ и соблюдения норм охраны труда и безопасности.<BR>&nbsp;
3.1.5. Требовать от РАБОТНИКА неукоснительного сохранения коммерческой, банковской тайны и конфиденциальной информации РАБОТОДАТЕЛЯ.<BR>&nbsp;
3.1.6. Осуществлять контроль деятельности РАБОТНИКА и проводить оценку профессиональных и личностных качеств РАБОТНИКА.<BR>&nbsp;
3.1.7. Направлять РАБОТНИКА в служебные командировки в соответствии с его обязанностями по настоящему Договору и должностной инструкцией.<BR>&nbsp;
3.1.8. Уведомлять РАБОТНИКА в письменной форме об изменении определенных сторонами условий настоящего Договора по причине организационных или технологических изменений условий труда не позднее, 
чем за 2 (два) месяца до их введения.<BR>Если РАБОТНИК не согласен на продолжение работы в новых условиях, то РАБОТОДАТЕЛЬ обязан в письменной форме предложить ему иную имеющуюся работу, 
как вакантную должность или работу, соответствующую его квалификации, так и вакантную нижестоящую должность или нижеоплачиваемую работу, которую РАБОТНИК может выполнять с учетом его состояния здоровья.<BR>&nbsp;
3.1.9. Поощрять РАБОТНИКА за высокие показатели в его работе.<BR>&nbsp;
3.1.10. Требовать от РАБОТНИКА возмещения затрат РАБОТОДАТЕЛЯ на повышение его квалификации (обучение) в случаях, предусмотренных соглашением с РАБОТОДАТЕЛЕМ и внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
3.1.11. Привлекать РАБОТНИКА к материальной и дисциплинарной ответственности в порядке, предусмотренном действующим законодательством<br /><BR>

<STRONG>&nbsp;
3.2. РАБОТОДАТЕЛЬ обязуется:<BR></STRONG>&nbsp;
3.2.1. Соблюдать трудовое законодательство, внутренние документа РАБОТОДАТЕЛЯ и условия настоящего Договора.<BR>&nbsp;
3.2.2. Предоставить РАБОТНИКУ работу, обусловленную настоящим Договором.<BR>&nbsp;
3.2.3. При приеме на работу (до подписания настоящего Договора) ознакомить РАБОТНИКА под роспись с Правилами внутреннего трудового распорядка и иными внутренними документами РАБОТОДАТЕЛЯ, 
непосредственно связанными с трудовой деятельностью РАБОТНИКА.<BR>&nbsp;
3.2.4. Обеспечить необходимые условия (в том числе требования по охране труда и обеспечению безопасности труда) для выполнения РАБОТНИКОМ принятых на себя обязанностей в соответствии с настоящим Договором и должностной инструкцией.<BR>&nbsp;
3.2.5. Осуществлять обязательное социальное страхование РАБОТНИКА в порядке, установленном действующим законодательством.<BR>&nbsp;
3.2.6. Обеспечивать защиту персональных данных РАБОТНИКА в соответствии с действующим законодательством.<BR>&nbsp;
3.2.7. Возмещать вред, причиненный РАБОТНИКУ в связи с исполнением им обязанностей по настоящему Договору и должностной инструкцией в соответствии с действующим законодательством.<BR>&nbsp;
3.2.8. Выплачивать РАБОТНИКУ заработную плату в полном размере и в сроки установленные настоящим Договором, внутренними документами РАБОТОДАТЕЛЯ и трудовым законодательством.<BR>&nbsp;
3.2.9. Способствовать повышению квалификации РАБОТНИКА.<BR>&nbsp;
3.2.10. Возмещать расходы, связанные со служебными командировками в соответствии с нормами расходов, установленными РАБОТОДАТЕЛЕМ.<BR>&nbsp;
3.2.11. Отстранять РАБОТНИКА от работы в случаях, предусмотренных статьей 76 Трудового кодекса. <br /><BR>

<STRONG>&nbsp;
4. УСЛОВИЯ ОПЛАТЫ ТРУДА<BR></STRONG>&nbsp;
4.1. Оплата труда РАБОТНИКА производится в соответствии с трудовым законодательством и внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
4.2. РАБОТОДАТЕЛЬ производит оплату труда РАБОТНИКА в размере, установленным штатным расписанием РАБОТОДАТЕЛЯ.<BR>
РАБОТНИКУ устанавливается:<BR>&nbsp;- базовый должностной оклад в размере
@(Model.SalaryBasis.HasValue ? string.Format("{0} рублей(-я) ({1})", Model.SalaryBasis.Value.ToString(), Html.ConvertNumberSumToText(Model.SalaryBasis.Value)) :
"___________________________________ (___________________________________________________________________)") в месяц;<BR>&nbsp;
- надбавка территориальная в размере 
@(Model.AreaAddition.HasValue ? string.Format("{0} рублей(-я) ({1})", Model.AreaAddition.Value.ToString(), Html.ConvertNumberSumToText(Model.AreaAddition.Value)) :
"___________________________________ (___________________________________________________________________)") в месяц;<BR>&nbsp;
4.3. Заработная плата выплачивается Работнику в следующем порядке: - выплата первой части заработной платы за отработанный месяц в размере не менее 75% от окладно-премиальной системы труда – 30 числа отработанного месяца; 
выплата второй части заработной платы за отработанный месяц, а также оставшейся части причитающихся сумм начислений – 14 числа месяца, следующего за отработанным месяцем.<br /> 
При совпадении дня выплаты с выходным или нерабочим праздничным днем выплата заработной платы производится накануне этого дня.  
Заработная плата выплачивается путем выдачи наличными через кассу или перечисления на банковский счет РАБОТНИКА, открытый в Банке и предназначенный для осуществления расчетов с использованием банковских карт. 
Оплата отпуска производится не позднее, чем за 3 (три) дня до его начала<BR>&nbsp;
4.3.1.  РАБОТНИК не возражает  против  сообщения  РАБОТОДАТЕЛЕМ  сведений о РАБОТНИКЕ, содержащих  его персональные   данные,  в ООО «РусКонсалт» с целью  осуществления услуг по расчету  заработной платы РАБОТНИКА, в том числе, но не ограничиваясь: 
<BR>&nbsp;&nbsp; - расчет сумм оплаты труда и других выплат, причитающихся мне как сотруднику Банка;
<BR>&nbsp;&nbsp; - расчет налогов на доходы физических лиц;
<BR>&nbsp;&nbsp; - расчет единого социального налога;
<BR>&nbsp;&nbsp; - расчет других налогов и взносов, связанных с доходами физических лиц, устанавливаемых Федеральным законодательством и законодательством субъектов Российской Федерации;
<BR>&nbsp;&nbsp; - подготовку комплекта документов по оформлению выплат Работникам;
<BR>&nbsp;&nbsp; - подготовку комплекта отчетных документов по налогам и взносам;  
<BR>Данное согласие  действительно в течение всего времени работы  РАБОТНИКА у РАБОТОДАТЕЛЯ.<BR>&nbsp;
4.4. РАБОТНИК получает выплаты компенсирующего характера в соответствии с трудовым законодательством, а также различные выплаты стимулирующего характера по результатам своей деятельности в соответствии с внутренними документами РАБОТОДАТЕЛЯ. <BR>&nbsp;
4.5. Все выплаты и расходы в пользу РАБОТНИКА, предусмотренные настоящим Договором, признаются расходами Банка на оплату труда и учитываются в целях налогообложения.<BR>&nbsp;
4.6. По соглашению сторон условия оплаты труда, установленные в настоящем Договоре, могут быть пересмотрены в установленном трудовым законодательством порядке.<br /><BR>

<STRONG>&nbsp;
5. РАБОЧЕЕ ВРЕМЯ И ВРЕМЯ ОТДЫХА, ОТПУСК<BR></STRONG>&nbsp;
@*
5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени:<BR>
- @Model.Schedule<BR>&nbsp;
*@
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 5)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: пятидневная рабочая неделя с двумя выходными днями, продолжительность ежедневной работы 8 часов.</label><br />
}
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 6)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: продолжительность ежедневной работы для совместителей не выше 4 часов.</label><br />
}
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 7)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: ненормированный рабочий день.</label><br />
}
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 8)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: рабочая неделя с предоставлением выходных дней по скользящему графику с суммированным учетом рабочего времени за учетный период (учетный период - квартал, 1 год).</label><br />
}
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 9)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: суммированный учет рабочего времени (по графику).</label><br />
}
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 10)
{
    <label>5.1. РАБОТНИКУ устанавливается следующий режим рабочего времени: (сокращенная продолжительность рабочего времени, неполное рабочее время, другой режим).</label><br />
}
&nbsp;
5.2. Время начала и окончания рабочего дня, время обеденного перерыва определяется Правилами внутреннего трудового распорядка и другими внутренними документами РАБОТОДАТЕЛЯ.<BR>&nbsp;
5.3. В исключительных случаях РАБОТНИК может привлекаться к сверхурочным работам, а также к работе в выходные и нерабочие праздничные дни  в порядке, предусмотренном трудовым законодательством.<BR>&nbsp;
5.4. РАБОТНИКУ предоставляется ежегодный основной оплачиваемый отпуск согласно графику отпусков  продолжительностью 28 (двадцать восемь)  календарных дней.
<BR>&nbsp; Право на использование отпуска за первый год работы возникает у РАБОТНИКА по истечении 6 (шести) месяцев его непрерывной работы.<BR>&nbsp;
 По соглашению между РАБОТНИКОМ и РАБОТОДАТЕЛЕМ оплачиваемый отпуск РАБОТНИКУ может быть предоставлен и до истечения 6 (шести) месяцев.<BR>&nbsp;
5.5. По соглашению между РАБОТНИКОМ и РАБОТОДАТЕЛЕМ ежегодный основной оплачиваемый отпуск может быть разделен на части. При этом хотя бы одна из частей должна быть не менее 14 (четырнадцати) календарных дней.<BR>&nbsp;
5.6. По согласованию с РАБОТОДАТЕЛЕМ РАБОТНИКУ может предоставляться ежегодный дополнительный оплачиваемый отпуск.<BR>&nbsp;
5.7. По семейным обстоятельствам и другим уважительным причинам РАБОТНИКУ по его письменному заявлению может быть предоставлен отпуск без сохранения заработной платы, продолжительность которого определяется по соглашению между РАБОТНИКОМ и РАБОТОДАТЕЛЕМ.<BR>&nbsp;
5.8. Оформление отпусков РАБОТНИКУ производится на основании приказов РАБОТОДАТЕЛЯ.<BR>&nbsp;
@if (Model.ContractPoint_3_Id.HasValue && Model.ContractPoint_3_Id.Value == 7)
{
    <label>5.9. РАБОТНИКУ за ненормированный рабочий день предоставляется ежегодный дополнительный оплачиваемый отпуск продолжительностью 3 (три) календарных дня.</label><br />
}

<br /><STRONG>&nbsp;
6. ИЗМЕНЕНИЕ И ПРЕКРАЩЕНИЕ ДОГОВОРА<BR></STRONG>&nbsp;
6.1. Настоящий Договор в период его действия может быть изменен или дополнен сторонами. Изменения оформляются отдельным соглашением сторон, заключаемым в письменной форме. <BR>&nbsp;
6.2. Настоящий Договор может быть прекращен по основаниям, предусмотренным Трудовым кодексом.<BR>&nbsp;
6.3. Днем увольнения РАБОТНИКА является последний день его работы.<br /><BR>

<STRONG>&nbsp;
7. РАЗРЕШЕНИЕ СПОРОВ<BR></STRONG>&nbsp;
7.1. Все разногласия и споры, возникающие между сторонами по настоящему Договору, разрешаются путем переговоров сторон при обоюдном стремлении к взаимопониманию.<BR>&nbsp;
7.2. Если спор между сторонами не будет урегулирован в процессе переговоров, то он подлежит разрешению в порядке, предусмотренном действующим законодательством.<br /><BR>&nbsp;

<STRONG>
8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</STRONG><BR>&nbsp;
8.1. Вопросы, не урегулированные настоящим Договором, подлежат разрешению в соответствии с  трудовым законодательством.<BR>&nbsp;
8.2. Все материалы и документы, созданные РАБОТНИКОМ по заданиям РАБОТОДАТЕЛЯ в период действия настоящего Договора, в том числе и интеллектуального характера, являются собственностью РАБОТОДАТЕЛЯ.<BR>&nbsp;
8.3. Настоящий Договор составлен в 2 (двух) подлинных экземплярах по одному для каждой из сторон, один из которых хранится у РАБОТОДАТЕЛЯ в личном деле РАБОТНИКА, другой – на руках у РАБОТНИКА.<br /><BR>

<STRONG>&nbsp;9. РЕКВИЗИТЫ СТОРОН<BR></P>
<P align=left>
<TABLE style="HEIGHT: 156px; WIDTH: 898px" width=898>
<TBODY>
<TR>
<TD><STRONG>9.1. РАБОТОДАТЕЛЬ:</STRONG></TD>
<TD><STRONG>Публичное акционерное общество "Совкомбанк"</STRONG></TD></TR>
<TR>
<TD>Место нахождения: </TD>
<TD><STRONG>156000, Костромская обл, Костромской р-н, Кострома г, Текстильщиков пр-кт, дом № 46</STRONG></TD></TR>
<TR>
<TD>Телефон: </TD>
<TD><STRONG>(4942) 39-09-30</STRONG></TD></TR>
<TR>
<TD>К/с&nbsp; </TD>
<TD><STRONG>30101810300000000743</STRONG></TD></TR>
<TR>
<TD>БИК</TD>
<TD><STRONG>43469743</STRONG></TD></TR>
<TR>
<TD>ИНН</TD>
<TD><STRONG>4401116480/440101001</STRONG></TD></TR>
<TR>
<TD>ОКПО</TD>
<TD><STRONG>9139030</STRONG></TD></TR></TBODY></TABLE></P>
<P align=left>
<TABLE style="HEIGHT: 90px; WIDTH: 583px" width=583>
<TBODY>
<TR>
<TD><STRONG>9.2. РАБОТНИК</STRONG></TD>
<TD><b>@Model.EmployeeName</b></TD></TR>
<TR>
<TD>Паспорт:</TD>
<TD><b>@Model.PassportSeriesNumber</b></TD></TR>
<TR>
<TD>Выдан:</TD>
<TD><b>@Model.PassportDateOfIssue.Value.ToShortDateString(), @Model.PassportIssuedBy</b></TD></TR>
<TR>
<TD>Адрес регистрации:</TD>
<TD><b>@Model.EmployeeAddress</b></TD></TR></TBODY></TABLE><BR><br />

10. ПОДПИСИ СТОРОН</STRONG></P>
<P align=left><FONT face=Arial>___________________/@Model.EmployerRepresentativeNameShortened/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 ___________________/@Model.EmployeeNameShortened/<BR>&nbsp;&nbsp;<FONT size=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; подпись&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp; &nbsp; &nbsp;подпись</FONT></FONT></P>
<P align=left><FONT face=Arial>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; М.П.<BR><BR>
Экземпляр трудового договора получил(а): ____________________/@Model.EmployeeNameShortened/</FONT></P>
<P align=left><FONT face=Arial></FONT>&nbsp;</P>
<P align=left><FONT face=Arial></FONT>&nbsp;</P>
<P align=left><FONT face=Arial></FONT>&nbsp;</P>
<P align=center><FONT size=2 face=Arial><STRONG><FONT size=3></FONT></STRONG></FONT>&nbsp;</P>
<P align=center><FONT size=2 face=Arial><STRONG><FONT size=3>Лист ознакомления с внутренними документами РАБОТОДАТЕЛЯ&nbsp; (согласно ст. 68 ТК РФ)</FONT></STRONG></FONT></P><FONT size=2 face=Arial>
<P align=left><FONT size=3></FONT>Ознакомлен(а) с:<BR><BR></P>
<P align=left>
<TABLE style="HEIGHT: 225px; WIDTH: 789px" borderColor=#000000 cellSpacing=0 width=789 border=1>
<TBODY>
<TR>
<TD>1.</TD>
<TD>Правила внутреннего трудового распорядка ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>2.</TD>
<TD>Кодекс корпоративной этики ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>3.</TD>
<TD>Положение об оплате труда ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>4.</TD>
<TD>
Инструкция по обеспечению сохранности сведений, составляющих коммерческую и служебную тайну в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>5.</TD>
<TD>Положение по обработке персональных данных ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>6.</TD>
<TD>Информационная политика ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>7.</TD>
<TD>Политика соблюдения конфеденциальности и обеспечения безопасности персональных данных при их обработке в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>8.</TD>
<TD>Политика информационной безопасности</TD></TR>
<TR>
<TD>9.</TD>
<TD>Инструкция пользователя АБС по соблюдению режима информационной безопасности в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>10.</TD>
<TD>Инструкция по организации парольной защиты в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>11.</TD>
<TD>Памятка по информационной безопасности</TD></TR>
<TR>
<TD>12.</TD>
<TD>Инструкция пользователя персонального компьютера в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>13.</TD>
<TD>Правила внутреннего контроля в целях противодействия легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма (далее ПВК) и памятки по ПОД/ФТ, Федерального закона от 07.08.2001 № 115-ФЗ "О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма" с учетом всех изменений и дополнений. Положение об идентификации кредитными оргагизациями клиентов и выгодоприобретателей в целях ПОД/ФТ от 19.08.2004г. № 262-П.</TD></TR>
<TR>
<TD>14.</TD>
<TD>Положение о подразделении, должностная инструкция</TD></TR>
<TR>
<TD>15.</TD>
<TD>Порядок работы с документацией в ПАО «СОВКОМБАНК»</TD></TR>
<TR>
<TD>16.</TD>
<TD>Внутренние документы Банка по направлению деятельности подразделения</TD></TR>
<TR>
<TD>17.</TD>
<TD borderColor=#413003>Распорядительные документы Банка (Головного офиса/филиала), являющиеся обязательными для исполнения всеми сотрудниками</TD></TR></TBODY></TABLE></P>
<P align=left><BR><br />Обязуюсь соблюдать внутренний трудовой распорядок Банка, следовать корпоративной этике, обеспечить сохранность сведений, составляющих коммерческую и служебную тайну, обеспечить выполнение возложенных на меня обязанностей в соответствии с действующим законодательством РФ, внутренними документами Банка, положением о подразделении и должностной инструкцией.</P>
<P align=left><br />РАБОТНИК:<BR><FONT face=Arial><BR>___________________/@Model.EmployeeNameShortened/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"___"&nbsp; __________ 20__&nbsp;г.<BR>&nbsp;&nbsp;<FONT size=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; подпись&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT></FONT></P>
<P align=left><BR></FONT><BR>&nbsp;</P></TD></BODY></HTML>