@model Reports.Presenters.UI.ViewModel.Employment2.PrintLiabilityContractModel
@{
    Layout = null;
    ViewBag.Title = "ДОГОВОР о полной индивидуальной материальной ответственности";
}

<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
<P align=center>ДОГОВОР №@(!string.IsNullOrEmpty(@Model.ContractNumber) ? "ДМО " + @Model.ContractNumber : "______________________")<BR>о&nbsp;полной индивидуальной материальной ответственности</P>

<table style="width: 90%; margin: 0 auto;">
<tr>
	<td style="text-align: left;">г. @Model.City @*Кострома*@</td>
	<td style="text-align: right;">@Model.ContractDate.ToShortDateString()</td>
</tr>
</table>

<P align="justify">&nbsp;Публичное акционерное общество "Совкомбанк", именуемый в дальнейшем «РАБОТОДАТЕЛЬ», в лице
@Model.EmployerRepresentativeTemplate,&nbsp; с одной стороны, и <BR>@Model.EmployeeName, именуемый(ая) в дальнейшем «РАБОТНИК», с другой стороны, 
заключили настоящий договор о нижеследующем:</P>
<P align="justify">1. Работник, занимающий должность @Model.EmployeePosition в @Model.EmployeeDepartment и выполняющий работу, 
непосредственно связанную с приемом, выдачей и хранением материальных ценностей, принимает на себя полную материальную ответственность 
за обеспечение сохранности вверенных ему Банком материальных ценностей, в связи с изложенным обязуется:
<BR>&nbsp;а) бережно относиться к переданным ему для хранения либо для других целей материальным ценностям;
<BR>&nbsp;б) своевременно сообщать администрации обо всех обстоятельствах, угрожающих обеспечению сохранности вверенных ему материальных ценностей;
<BR>&nbsp;в) вести учет, составлять и представлять в установленном порядке товарно-денежные и другие отчеты о движении и остатках вверенных ему материальных ценностей;
<BR>&nbsp;г) строго соблюдать установленные правила совершения операций с ценностями и их хранения;
<BR>&nbsp;д) не разглашать нигде, никогда и ни в какой мере известные ему операции по хранению ценностей, а также служебные поручения по их выполнению;
<BR>&nbsp;е) изучать&nbsp;и&nbsp; строго&nbsp; соблюдать&nbsp; требования действующих нормативных документов Центрального банка Российской Федерации, 
а также Положений и Инструкций, утвержденных Банком по операциям с денежной наличностью, 
наличной иностранной валютой и другими ценностями;
<BR>&nbsp;ж) участвовать в ревизии вверенных ему ценностей.
<BR>2. В свою очередь Банк обязуется:
<BR>&nbsp;а) создать работнику условия, необходимые для нормальной работы и обеспечения полной сохранности вверенных ему материальных ценностей;
<BR>&nbsp;б) знакомить работника с действующим законодательством о материальной ответственности рабочих и служащих, за причиненный ими ущерб предприятию, 
а также с действующими инструкциями, нормативами и правилами хранения, приемки, обработки, пользования в процессе работы переданных ему материальных ценностей;
<BR>&nbsp;в) проводить в установленном порядке инвентаризацию материальных ценностей.
<BR>3. Ответственность работника наступает лишь в том случае, если он не обеспечил сохранность и правильное использование ценностей,
переданных ему по накладной либо иному бухгалтерскому документу.
<BR>4. Определение размера причиненного ущерба производится в соответствии с действующим законодательством.
<BR>5. Работник не несет материальной ответственности, если ущерб причинен не по его вине.
<BR>6. Действие настоящего договора распространяется на все время работы с вверенными материальными ценностями работнику.
<BR>7. Настоящий договор составлен в двух экземплярах - по одному для каждой из сторон.</P>

<P align=left>&nbsp;</P>
<P align=left>&nbsp;</P>
<P align=left>

<TABLE style="HEIGHT: 300px; WIDTH: 635px; BORDER-COLLAPSE: collapse" cellSpacing=0 cellPadding=0 width=635 border=0>
<COLGROUP>
<COL style="WIDTH: 47pt;" span=4 width=62>
<COL style="WIDTH: 22pt;" span=2 width=29>
<COL style="WIDTH: 47pt;" span=5 width=62>
<TBODY>

<TR style="HEIGHT: 12.4pt; mso-height-source: userset" height=16 border=1>
<TD style="BORDER-TOP: windowtext 0.5pt solid; HEIGHT: 12.4pt; BORDER-RIGHT: #d4d0c8; WIDTH: 94pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid" height=16 width=124 colSpan=2>
<STRONG><FONT size=2 face=Arial>БАНК:</FONT></STRONG></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: #d4d0c8; WIDTH: 47pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=62></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: #d4d0c8; WIDTH: 47pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=62></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 22pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=29></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 22pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=29></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: #d4d0c8; WIDTH: 141pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" width=186 colSpan=3>
<STRONG><FONT size=2 face=Arial>РАБОТНИК:</FONT></STRONG></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: #d4d0c8; WIDTH: 47pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=62><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: windowtext 0.5pt solid; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 47pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=62>
<FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 32.85pt; height=43">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 32.85pt; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 210pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=43 width=277 colSpan=5>
<STRONG><FONT size=2 face=Arial>Публичное акционерное общество "Совкомбанк"</FONT></STRONG></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 32.85pt; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 235pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=43 width=310 colSpan=5>
<STRONG><FONT size=2 face=Arial>@Model.EmployeeName</FONT></STRONG></TD></TR>

<TR style="HEIGHT: 12.4pt; height=16">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 12.4pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=16 colSpan=2>
<FONT size=2 face=Arial>юридический адрес</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 188pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" width=248 colSpan=4>
<FONT size=2 face=Arial>адрес по прописке (регистрации)</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 22.35pt; height=29">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 22.35pt; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 210pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=29 width=277 colSpan=5>
<FONT size=2 face=Arial>156000, Костромская обл, Костромской р-н, Кострома г, Текстильщиков пр-кт, дом № 46</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 235pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" width=310 colSpan=5>
<FONT size=2 face=Arial>@Model.EmployeeAddress</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15 colSpan=2>
<FONT size=2 face=Arial>номер телефона</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" colSpan=2>
<FONT size=2 face=Arial>номер телефона</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15 colSpan=2>
<FONT size=2 face=Arial>(4942) 39-09-09</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;"><FONT size=2 face=Arial>@Model.EmployeePhone</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15><FONT size=2 face=Arial>ИНН, КПП</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" colSpan=2><FONT size=2 face=Arial>4401116480/440101001</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;"><FONT size=2 face=Arial>Паспорт</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" colSpan=4>
<FONT size=2 face=Arial>@Model.EmployeePassportSeriesNumber</FONT></TD></TR>

<TR style="HEIGHT: 12.4pt; height=16">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 12.4pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=16><FONT size=2 face=Arial>БИК</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>43469743</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 94pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" width=124 colSpan=2><FONT size=2 face=Arial>Дата выдачи</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" colSpan=2>
<FONT size=2 face=Arial>@(Model.EmployeePassportDateOfIssue.HasValue ? Model.EmployeePassportDateOfIssue.Value.ToShortDateString() : string.Empty)</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;">
<FONT size=2 face=Arial></FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15><FONT size=2 face=Arial>к/с</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" colSpan=3><FONT size=2 face=Arial>30101810300000000743</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" colspan=5>
<FONT size=2 face=Arial>@Model.EmployeePassportIssuedBy</FONT></TD>
</TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 235pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" rowSpan=2 width=310 colSpan=5>
<FONT size=2 face=Arial></FONT></TD></TR>

<TR style="HEIGHT: 22.35pt; height=29">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 22.35pt; BORDER-RIGHT: windowtext 0.5pt solid; WIDTH: 210pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=29 width=277 colSpan=5>
<FONT size=2 face=Arial>@Model.EmployerRepresentativePosition</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15 colSpan=4>
<FONT size=2 face=Arial>___________________/@Model.EmployerRepresentativeNameShortened/</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" colSpan=4>
<FONT size=2 face=Arial>___________________/@Model.EmployeeNameShortened/</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;" height=15>
<FONT size=2 face=Arial>подпись</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: windowtext 0.5pt solid;">
<FONT size=2 face=Arial>подпись</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD></TR>

<TR style="HEIGHT: 11.25pt" height=15">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 11.25pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: windowtext 0.5pt solid;" height=15><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>М.П.</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial></FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: windowtext 0.5pt solid;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;"><FONT size=2 face=Arial>&nbsp;</FONT></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 0.5pt solid; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;">
<FONT size=2 face=Arial>&nbsp;</FONT></TD></TR></TBODY></TABLE><BR><BR></P>

</BODY>

</HTML>