@model Reports.Presenters.UI.ViewModel.Employment2.RosterModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Реестр по приему";
}

@* BEGIN Выбор параметров *@

@using (Html.BeginForm("Roster", "Employment", FormMethod.Post, new {id = "mainForm"}))
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <div class="filter-wrap">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span style="font-weight: bold">Выбор параметров</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" value="Выбрать" onclick="changeDepartment();"/>           
                            </td>
                        </tr>
                        <tr>
                                <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, Model.Statuses, string.Empty)
                                </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.UserName):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                                </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <button>Выбрать</button>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                            </td>
                        </tr>                        
                    </table>
                </div>
            </td>
        </tr>
    </table>

    @* END Выбор параметров *@
    
    <div style="margin: 10px;"><span class="buttonLink">@Html.ActionLink("Добавить кандидата", "CreateCandidate")</span></div>
    
    <div style="text-align: right;">
        @if (Model.Roster != null && Model.Roster.Count > 0)
        {
            <button type="button" onclick="onPrintClick()">
                Печать реестра
            </button>
        }
        @if (Model.IsBulkApproveByManagerAvailable || Model.IsBulkApproveByHigherManagerAvailable)
        {
            <input type="hidden" id="IsApproveModified" name="isApproveModified" value="false" />                    
            <button id="SaveRosterButton" style="margin: 5px;">Записать</button>
        }
    </div>
    
    @* END CreateCandidate *@

    <fieldset class="bordered doc-wrap panel">
    <legend>Реестр по приему</legend>

    <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
    <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />

    <table class="grid">

    <tr style="vertical-align:bottom;">
        
        <th>
            №<br />п/п
        </th>
        
        <th>
            <div id="sort1"><a href="#" onclick = "SortChanged(1);">ФИО</a></div>
        </th>
        @*
        <th>
            Анкета
        </th>
        *@
        <th>
            <div id="sort2"><a href="#" onclick = "SortChanged(2);">Город<br />места<br />работы</a></div>
        </th>

        <th>
            <div id="sort3"><a href="#" onclick = "SortChanged(3);">Структурное<br />подразделение</a></div>
        </th>

        <th>
            <div id="sort4"><a href="#" onclick = "SortChanged(4);">Должность</a></div>
        </th>        
        
        <th>
            <div id="sort5"><a href="#" onclick = "SortChanged(5);">Дата<br />приема</a></div>
        </th>
        
        <th>
            <div id="sort6"><a href="#" onclick = "SortChanged(6);">Номер<br />приказа</a></div>
        </th>
        
        <th>
            <div id="sort7"><a href="#" onclick = "SortChanged(7);">Дата<br />приказа</a></div>
        </th>

        <th>
            <div id="sort8"><a href="#" onclick = "SortChanged(8);">Номер<br />трудового<br />договора</a></div>
        </th>

        <th>
            Дата<br />окончания<br />СТД
        </th>
        <th>
            Сотрудник<br />переведен на<br />бессрочный ТД<br />
            @if (Model.IsBulkChangeContractToIndefiniteAvailable)
            {
                <input type="checkbox" id="setAllToChangeContractToIndefinite" />
            }
        </th>

        @* Вид работы (осн./совм.) *@
        @* Характер работы (пост./врем.) *@

        <th>
            <div id="sort9"><a href="#" onclick = "SortChanged(9);">Исп.<br />срок</a></div>
        </th>

        <th>
            <div id="sort10"><a href="#" onclick = "SortChanged(10);">График<br />работы</a></div>
        </th>

        <th>
            <div id="sort11"><a href="#" onclick = "SortChanged(11);">Дата<br />рождения</a></div>
        </th>

        <th>
            <div id="sort12"><a href="#" onclick = "SortChanged(12);">Инвалидность</a></div>
        </th>

        <th>
            <div id="sort13"><a href="#" onclick = "SortChanged(13);">Грейд</a></div>
        </th>

        <th>
            <div id="sort14"><a href="#" onclick = "SortChanged(14);">Текущее<br />состояние</a></div>
        </th>

        @if (Model.IsBulkApproveByManagerAvailable)
        {
            <th>
                Согласовано<br />руководителем<br />
                <input type="checkbox" id="setAllByManager" />
            </th>
        }
    
        @if (Model.IsBulkApproveByHigherManagerAvailable)
        {
            <th>
                Согласовано<br />вышестоящим<br />руководителем<br />
                <input type="checkbox" id="setAllByHigherManager" />
            </th>
        }
    
    </tr>

    @{ int i = 1; }

    @foreach (var candidate in Model.Roster)
    {
  
        <tr>
        
            <td rowspan="2">
                @i
                @Html.HiddenFor(m => m.Roster[i - 1].Id)
            </td>
        
            <td rowspan="2">
                <a class="ui-notify-close" href='@Url.Action("PersonnelInfo", "Employment", new { id = @candidate.UserId, IsCandidateInfoAvailable = Model.IsCandidateInfoAvailable, IsBackgroundCheckAvailable = Model.IsBackgroundCheckAvailable, IsManagersAvailable = Model.IsManagersAvailable, IsPersonalManagersAvailable = Model.IsPersonalManagersAvailable })' style="cursor:hand">@candidate.Name</a>
            </td>
            @*
            <td rowspan="2" class="displayLinks" style="vertical-align:bottom; padding: 0;">
                <span class="buttonLink">Разделы</span>
            </td>
            *@
            <td>
                &nbsp;@candidate.WorkCity
            </td>

            <td>
                &nbsp;@candidate.Department
            </td>

            <td>
                &nbsp;@candidate.Position
            </td>        
        
            <td>
                &nbsp;@(candidate.EmploymentDate.HasValue ? candidate.EmploymentDate.Value.ToShortDateString() : String.Empty)
            </td>
        
            <td>
                &nbsp;@candidate.EmploymentOrderNumber
            </td>
        
            <td>
                &nbsp;@(candidate.EmploymentOrderDate.HasValue ? candidate.EmploymentOrderDate.Value.ToShortDateString() : String.Empty)
            </td>

            <td>
                &nbsp;@candidate.ContractNumber
            </td>

            <td @if (candidate.IsFixedTermContract != null && candidate.IsFixedTermContract.Value)
                {<text>style="background-color:yellow"</text>}>
                &nbsp;@(candidate.ContractEndDate.HasValue ? candidate.ContractEndDate.Value.ToShortDateString() : String.Empty)
            </td>

            <td class="centered">
                @if (Model.Roster[i - 1].IsChangeContractToIndefiniteAvailable)
                {
                    @Html.CheckBoxFor(m => m.Roster[i - 1].IsContractChangedToIndefinite, new { @class = "selcheckContractToIndefinite", dataId = Model.Roster[i - 1].Id })
                }
                else
                {
                    @Html.CheckBoxFor(m => m.Roster[i - 1].IsContractChangedToIndefinite, new { disabled = "disabled" })
                }
            </td>

            @* Вид работы (осн./совм.) *@
            @* Характер работы (пост./врем.) *@

            <td>
                &nbsp;@candidate.ProbationaryPeriod
            </td>

            <td>
                &nbsp;@candidate.Schedule
            </td>

            <td>
                &nbsp;@(candidate.DateOfBirth.HasValue ? candidate.DateOfBirth.Value.ToShortDateString() : String.Empty)
            </td>

            <td>
                &nbsp;@candidate.Disabilities
            </td>

            <td>
                &nbsp;@candidate.Grade
            </td>

            <td>
                &nbsp;@candidate.Status
            </td>
        
            @if (Model.IsBulkApproveByManagerAvailable)
            {
                <td rowspan="2" class="centered">
                    @if (Model.Roster[i - 1].IsApproveByManagerAvailable)
                    {
                        @Html.CheckBoxFor(m => m.Roster[i - 1].IsApprovedByManager, new { @class = "selcheckByManager", dataId = Model.Roster[i - 1].Id })
                    }&nbsp;
                </td>
            }
        
            @if (Model.IsBulkApproveByHigherManagerAvailable)
            {
                <td rowspan="2" class="centered">
                    @if (Model.Roster[i - 1].IsApproveByHigherManagerAvailable)
                    {
                        @Html.CheckBoxFor(m => m.Roster[i - 1].IsApprovedByHigherManager, new { @class = "selcheckByHigherManager", dataId = Model.Roster[i - 1].Id })
                    }&nbsp;
                </td>
            }        

            @{i++;}
        </tr>
        <tr>
            <td colspan="15" style="padding: 0;">
                <div style="display:none;">
                    @if (Model.IsCandidateInfoAvailable)
                    {
                        <span class="buttonLink">@Html.ActionLink("Общая информация", "GeneralInfo", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Паспортные данные", "Passport", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Образование", "Education", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Состав семьи", "Family", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Воинский учет", "MilitaryService", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Трудовая деятельность", "Experience", new { id = candidate.UserId })</span>
                        <span class="buttonLink">@Html.ActionLink("Контактные данные", "Contacts", new { id = candidate.UserId })</span>
                    }

                    @if (Model.IsBackgroundCheckAvailable)
                    {
                        <span class="buttonLink">@Html.ActionLink("Служба безопасности", "BackgroundCheck", new { id = candidate.UserId })</span>
                    }
                    
                    <span class="buttonLink">@Html.ActionLink("Обучение", "OnsiteTraining", new { id = candidate.UserId })</span>

                    @if (Model.IsCandidateInfoAvailable)
                    {
                        <span class="buttonLink">@Html.ActionLink("Заявление о приеме", "ApplicationLetter", new { id = candidate.UserId })</span>
                    }

                    @if (Model.IsManagersAvailable)
                    {
                        <span class="buttonLink">@Html.ActionLink("Руководители", "Managers", new { id = candidate.UserId })</span>
                    }
                    @if (Model.IsPersonalManagersAvailable)
                    {
                        <span class="buttonLink">@Html.ActionLink("Кадры", "PersonnelManagers", new { id = candidate.UserId })</span>
                    }
                </div>
            </td>
        </tr>
    }

    </table>

    </fieldset>
    
}

<script src="/Scripts/UIHelpers.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>

<script type="text/javascript">
    var actionDepUrl = '@Url.Action("GetChildren", "Home")';
    var actionDepDialogUrl = '@Url.Action("DepartmentDialog", "Home")';
        
    var isApproveByManagerChanged = false;
    var isApproveByHigherManagerChanged = false;
    var isChangeContractToIndefiniteChanged = false;

    $(document).ready(function () {
        setActiveMenuItem("empRoster");
        UIHelpers.attachDatepickerToInputs($('#BeginDate, #EndDate'), "-1:+0", true);

        $(".selcheckByManager, #setAllByManager").click(function(){
	        isApproveByManagerChanged = true;
        });
        $(".selcheckByHigherManager, #setAllByHigherManager").click(function(){
	        isApproveByHigherManagerChanged = true;
        });
        $(".selcheckContractToIndefinite, #setAllToChangeContractToIndefinite").click(function(){
	        isChangeContractToIndefiniteChanged = true;
        });

        $("#setAllToChangeContractToIndefinite").click(function(){
            if ($(this).is(':checked'))
            {
                $(".selcheckContractToIndefinite").attr('checked','checked');
            }
            else
            {
                $(".selcheckContractToIndefinite").removeAttr('checked');
            }
        });
        
        $("#setAllByManager").click(function(){
            if ($(this).is(':checked'))
            {
                $(".selcheckByManager").attr('checked','checked');
            }
            else
            {
                $(".selcheckByManager").removeAttr('checked');
            }
        });

        $("#setAllByHigherManager").click(function(){
        if ($(this).is(':checked'))
        {
            $(".selcheckByHigherManager").attr('checked','checked');
        }
        else
        {
            $(".selcheckByHigherManager").removeAttr('checked');
        }
        });

        $("#SaveRosterButton").click(function(e){
            $("#IsApproveModified").val("true");
            var url = "";

            if (isApproveByManagerChanged || isApproveByHigherManagerChanged)
            {
                url = "/Employment/RosterBulkApprove";
            }

            if (isChangeContractToIndefiniteChanged)
            {
                url = "/Employment/RosterBulkChangeContractToIndefinite";
            }

            $.post(url,
                $("#mainForm").serialize(),
                function (data) {
                    if (data.ok === true) {
                        UIHelpers.showInputActionResult([$(this)], true);
                    }
                    else {
                        UIHelpers.showInputActionResult([$(this)], false);
                    }
                }
            );
            
            e.preventDefault();
        });

        $("td.displayLinks > span").click(function () {
            $(this).parent().parent().next().children().children().toggle();
        });
    });

    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');

        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#DepartmentName").val('');

        if ($('#PositionId option').length > 1)
            $("#PositionId").val('0');
        $("#VacationTypeId").val('0');
        $("#RequestStatusId").val('0');
        $("#UserName").val('');
    }

    function onPrintClick() {

        window.location.href = '@Url.Action("GetPrintRoster", "Employment")?' +
            'beginDate='+ SetLocale($("#BeginDate").val()) +
            '&endDate=' + SetLocale($("#EndDate").val()) +
            '&departmentId=' + $("#DepartmentId").val() +
            '&statusId='+ $("#StatusId").val() +
            '&userName=' + escapeJson($("#UserName").val()) +
            '&sortBy=' + $("#SortBy").val() +
            '&sortDescending=' + $("#SortDescending").val();
    }

    function SetLocale(changeformat) {
        var arraydates = changeformat.split(".");
        var newdate = arraydates[1] + "." + arraydates[0] + "." + arraydates[2];
        return newdate;
    }

</script>