@model Reports.Presenters.UI.ViewModel.Employment2.RosterModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Реестр по приему";
}

@* BEGIN Выбор параметров *@

@using (Html.BeginForm())
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <div class="filter-wrap">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span style="font-weight: bold">Выбор параметров</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" value="Выбрать" onclick="changeDepartment();"/>           
                            </td>
                        </tr>
                        <tr>
                                <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, Model.Statuses, string.Empty)
                                </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.UserName):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                                </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <input type="submit" value="Выбрать"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
}

@* END Выбор параметров *@

<fieldset class="bordered doc-wrap panel">
<legend>Реестр по приему</legend>

<table class="grid">

<tr>
        
    <th rowspan="2">
        №<br />п/п
    </th>
        
    <th rowspan="2">
        ФИО
    </th>

    <th rowspan="2">
        Дирекция
    </th>

    <th rowspan="2">
        Город<br />места<br />работы
    </th>

    <th rowspan="2">
        Структурное<br />подразделение
    </th>

    <th rowspan="2">
        Должность
    </th>        
        
    <th rowspan="2">
        Дата<br />приема
    </th>
        
    <th rowspan="2">
        Номер<br />приказа
    </th>
        
    <th rowspan="2">
        Дата<br />приказа
    </th>

    <th rowspan="2">
        Номер<br />трудового<br />договора
    </th>

    @* Вид работы (осн./совм.) *@
    @* Характер работы (пост./врем.) *@

    <th rowspan="2">
        Исп.<br />срок
    </th>

    <th rowspan="2">
        График<br />работы
    </th>

    <th rowspan="2">
        Дата<br />рождения
    </th>

    <th rowspan="2">
        Инвалидность
    </th>

    <th rowspan="2">
        Грейд
    </th>

    <th rowspan="2">
        Текущее<br />состояние
    </th>

    <th colspan="8">
        Анкета
    </th>
</tr>

<tr>
    <th>Общая<br />информация</th>
    <th>Паспортные<br />данные</th>
    <th>Образование</th>
    <th>Состав<br />семьи</th>
    <th>Воинский<br />учет</th>
    <th>Трудовая<br />деятельность</th>
    <th>Контактные<br />данные</th>
    <th>Заявление<br />о приеме</th>
</tr>

@{ int i = 1; }

@foreach (var candidate in Model.Roster)
{
  
    <tr>
        
        <td>
            @i@{i++;}
        </td>
        
        <td>
            @candidate.Name
        </td>

        <td>
            @candidate.Directorate
        </td>

        <td>
            @candidate.WorkCity
        </td>

        <td>
            @candidate.Department
        </td>

        <td>
            @candidate.Position
        </td>        
        
        <td>
            @(candidate.EmploymentDate.HasValue ? candidate.EmploymentDate.Value.ToShortDateString() : String.Empty)
        </td>
        
        <td>
            @candidate.EmploymentOrderNumber
        </td>
        
        <td>
            @(candidate.EmploymentOrderDate.HasValue ? candidate.EmploymentOrderDate.Value.ToShortDateString() : String.Empty)
        </td>

        <td>
            @candidate.ContractNumber
        </td>

        @* Вид работы (осн./совм.) *@
        @* Характер работы (пост./врем.) *@

        <td>
            @candidate.ProbationaryPeriod
        </td>

        <td>
            @candidate.Schedule
        </td>

        <td>
            @(candidate.DateOfBirth.HasValue ? candidate.DateOfBirth.Value.ToShortDateString() : String.Empty)
        </td>

        <td>
            @candidate.Disabilities
        </td>

        <td>
            @candidate.Grade
        </td>

        <td>
            @candidate.Status
        </td>

        <td>@Html.ActionLink("Просмотр", "GeneralInfo", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "Passport", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "Education", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "Family", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "MilitaryService", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "Experience", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "Contacts", new { id = candidate.Id})</td>
        <td>@Html.ActionLink("Просмотр", "ApplicationLetter", new { id = candidate.Id})</td>

    </tr>
}

</table>

</fieldset>

<script src="/Scripts/UIHelpers.js" type="text/javascript"></script>

<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";

    $(document).ready(function () {
        setActiveMenuItem("empRoster");
        attachDatepickerToInputs($('#BeginDate, #EndDate'), "-1:+0", true);
    });

    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');

        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#DepartmentName").val('');

        if ($('#PositionId option').length > 1)
            $("#PositionId").val('0');
        $("#VacationTypeId").val('0');
        $("#RequestStatusId").val('0');
        $("#UserName").val('');
    }
</script>