@model Reports.Presenters.UI.ViewModel.Employment2.RosterModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Реестр по приему";
}

<fieldset class="bordered doc-wrap panel">
<legend>Реестр по приему</legend>

<table class="grid">

<tr>
        
    <th rowspan="2">
        №<br />п/п
    </th>
        
    <th rowspan="2">
        ФИО
    </th>

    <th rowspan="2">
        Дирекция
    </th>

    <th rowspan="2">
        Город<br />места<br />работы
    </th>

    <th rowspan="2">
        Структурное<br />подразделение
    </th rowspan="2">

    <th rowspan="2">
        Должность
    </th>        
        
    <th rowspan="2">
        Дата<br />приема
    </th>
        
    <th rowspan="2">
        Номер<br />приказа
    </th>
        
    <th rowspan="2">
        Дата<br />приказа
    </th>

    <th rowspan="2">
        Номер<br />трудового<br />договора
    </th>

    @* Вид работы (осн./совм.) *@
    @* Характер работы (пост./врем.) *@

    <th rowspan="2">
        Исп.<br />срок
    </th>

    <th rowspan="2">
        График<br />работы
    </th>

    <th rowspan="2">
        Дата<br />рождения
    </th>

    <th rowspan="2">
        Инвалидность
    </th>

    <th rowspan="2">
        Грейд
    </th>

    <th rowspan="2">
        Текущее<br />состояние
    </th>

    <th colspan="8">
        Документы
    </th>
</tr>

<tr>
    <th>Общая информация</th>
    <th>Паспортные данные</th>
    <th>Образование</th>
    <th>Состав семьи</th>
    <th>Воинский учет</th>
    <th>Трудовая деятельность</th>
    <th>Контактные данные</th>
    <th>Заявление о приеме</th>
</tr>

@{ int i = 1; }

@foreach (var candidate in Model.Roster)
{
  
    <tr>
        
        <td>
            @i@{i++;}
        </td>
        
        <td>
            @candidate.Name
        </td>

        <td>
            @candidate.Directorate
        </td>

        <td>
            @candidate.WorkCity
        </td>

        <td>
            @candidate.Department
        </td>

        <td>
            @candidate.Position
        </td>        
        
        <td>
            @(candidate.EmploymentDate.HasValue ? candidate.EmploymentDate.Value.ToShortDateString() : String.Empty)
        </td>
        
        <td>
            @candidate.EmploymentOrderNumber
        </td>
        
        <td>
            @(candidate.EmploymentOrderDate.HasValue ? candidate.EmploymentOrderDate.Value.ToShortDateString() : String.Empty)
        </td>

        <td>
            @candidate.ContractNumber
        </td>

        @* Вид работы (осн./совм.) *@
        @* Характер работы (пост./врем.) *@

        <td>
            @candidate.ProbationaryPeriod
        </td>

        <td>
            @candidate.Schedule
        </td>

        <td>
            @(candidate.DateOfBirth.HasValue ? candidate.DateOfBirth.Value.ToShortDateString() : String.Empty)
        </td>

        <td>
            @candidate.Disabilities
        </td>

        <td>
            @candidate.Grade
        </td>

        <td>
            @candidate.Status
        </td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
}

</table>

</fieldset>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empRoster");
    });
</script>