@model Reports.Presenters.UI.ViewModel.Employment2.RosterModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Реестр по приему";
}

<fieldset class="bordered doc-wrap panel">
<legend>Реестр по приему</legend>

<table class="grid">

<tr>
        
    <th>
        №<br />п/п
    </th>
        
    <th>
        ФИО
    </th>

    <th>
        Дирекция
    </th>

    <th>
        Город<br />места<br />работы
    </th>

    <th>
        Структурное<br />подразделение
    </th>

    <th>
        Должность
    </th>        
        
    <th>
        Дата<br />приема
    </th>
        
    <th>
        Номер<br />приказа
    </th>
        
    <th>
        Дата<br />приказа
    </th>

    <th>
        Номер<br />трудового<br />договора
    </th>

    @* Вид работы (осн./совм.) *@
    @* Характер работы (пост./врем.) *@

    <th>
        Исп.<br />срок
    </th>

    <th>
        График<br />работы
    </th>

    <th>
        Дата<br />рождения
    </th>

    <th>
        Инвалидность
    </th>

    <th>
        Грейд
    </th>

    <th>
        Текущее<br />состояние
    </th>

</tr>

@foreach (var candidate in Model.Roster)
{
  
    <tr>
        
        <td>
            @* № по порядку *@
        </td>
        
        <td>
            @candidate.Name
        </td>

        <td>
            @candidate.Directorate
        </td>

        <td>
            @candidate.WorkCity
        </td>

        <td>
            @candidate.Department
        </td>

        <td>
            @candidate.Position
        </td>        
        
        <td>
            @candidate.EmploymentDate
        </td>
        
        <td>
            @candidate.EmploymentOrderNumber
        </td>
        
        <td>
            @candidate.EmploymentOrderDate
        </td>

        <td>
            @candidate.ContractNumber
        </td>

        @* Вид работы (осн./совм.) *@
        @* Характер работы (пост./врем.) *@

        <td>
            @candidate.ProbationaryPeriod
        </td>

        <td>
            @candidate.Timetable
        </td>

        <td>
            @candidate.DateOfBirth
        </td>

        <td>
            @candidate.Disabilities
        </td>

        <td>
            @candidate.Grade
        </td>

        <td>
            @candidate.Status
        </td>

    </tr>
}

</table>

</fieldset>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empRoster");
    });
</script>