@model Reports.Presenters.UI.ViewModel.TimesheetListModel
@{
    ViewBag.Title = "Табель";
}
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(m => m.ManagerId)
                @*@Html.HiddenFor(m => m.IsEditable)*@
                @Html.LabelFor(m => m.Month):
                @Html.DropDownListFor(model => model.Month, new SelectList(Model.Monthes, "Id", "Name"), new { onchange = "ChangeMonth();"}) 
                @Html.LabelFor(m => m.Year):
                @Html.DropDownListFor(model => model.Year, new SelectList(Model.Years, "Id", "Name"), new { onchange = "ChangeMonth();"})
            </td>
        </tr>
        <tr>
            <td style="width:200px">
                @Html.LabelFor(m => m.DepartmentName):
            </td>
            <td>
                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="DepartmentReadOnly" name="DepartmentReadOnly" value="@Model.DepartmentReadOnly" />
                @if (!Model.DepartmentReadOnly)
                {
                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                }            
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.LabelFor(m => m.UserName):
                @Html.TextBoxFor(model => model.UserName)
            </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Применить"/>
            <input type="button" value="Сбросить" onclick="resetFilter();"/>
          </td>
        </tr>
        <tr>
            @if (Model.TimesheetDtos != null && Model.TimesheetDtos.Count > 0)
            {
                <td colspan="2" style="text-align:left">
                    @for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <text>@i</text>
                        }
                        else
                        {    
                            <a href="" onclick="return OnPageClick(@i);">@i</a>
                        }
                    }
                </td>
            }
         </tr>
        <tr>
            <td colspan="2">
                @Html.EditorFor(model => model.TimesheetDtos)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr style="width:100%"/>
            </td>
        </tr>
        <tr>
            @if (Model.TimesheetDtos != null && Model.TimesheetDtos.Count > 0)
            {
                <td colspan="2" style="text-align:left">
                    <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
                    @for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <text>@i</text>
                        }
                        else
                        {    
                            <a href="" onclick="return OnPageClick(@i);">@i</a>
                        }
                    }
                </td>
            }
        </tr>
    </table>
}
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "UserRequest")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "UserRequest")";
     $(document).ready(function () {
        setActiveMenuItem("userTimesheet");
    });
    function ChangeMonth() {
        //submitForm();
    }
    function OnPageClick(pageNumber) {
        $("#CurrentPage").val(pageNumber);
        submitForm();
        return false;
    }
    function submitForm() {
        if (document.forms[0].onsubmit && !document.forms[0].onsubmit())
            return;
        document.forms[0].submit();
    }                                
    function resetFilter() {
        $("#UserName").val('');
        if ($("#DepartmentReadOnly").val() == "False") {
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
        }
    }
</script>

