@using MVCControlsToolkit.Controls
@using MVCControlsToolkit.Controls.Validation
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" />	
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.10.4.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate_new.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.global.js")" type="text/javascript"></script>
    @Html.jQueryGlobalizationScript()
    @Html.JQueryDatePickerGlobalizationScript(null,Url.Content("~/Scripts/"))
    @*<script src="@Url.Content("~/Scripts/localization/messages_ru.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DepartmentTree.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
    
</head>
<script type="text/javascript">
    //    $.ajaxSetup({
    //        global: true,
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            var error = "";
    //            if (textStatus != null) {
    //                error += textStatus;
    //            }
    //            if (errorThrown != null) {
    //                error += errorThrown;
    //            }
    //            alert("Ошибка при асинхронном запросе:" + error);
    //        }
    //    });
</script>

<body>
<div class="header"><img style="width: 250px; height: 50px;" alt="" src="@Url.Content("~/Content/logo.gif")"/></div>
    <div class="page">

        <div id="header">
@*            <div id="title">
                <h1>My MVC Application</h1>
            </div>*@

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
@*        <div id="main">*@
            <table style="width:100%">
                <tr>
                    <td style="vertical-align:top">
                            @Html.Partial("_MenuPartialStaffList")
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px;vertical-align:top">
                        @RenderBody()
                    </td>
                </tr>
               
            </table>    
@*        </div>*@
    </div>
</body>
</html>