@{
Layout = null;
}
@using MVCControlsToolkit.Controls
@using MVCControlsToolkit.Controls.Validation
<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" />	
		<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/artem.css")" rel="stylesheet" type="text/css" />
		<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.validate_new.min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.global.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.global.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/DepartmentTree.js")" type="text/javascript"></script>
		@Html.jQueryGlobalizationScript()
		@Html.JQueryDatePickerGlobalizationScript(null,Url.Content("~/Scripts/"))
	</head>
	<body>
		<div class="header" width='100%'>
			<img style="width: 250px; height: 50px;" alt="" src="@(Request.Url.Port == 8002 ? Url.Content("~/Content/logo.gif") : Url.Content("~/Content/testlogo.png"))"/>
		</div>
		<div id="header">
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
			</div>
		</div>
        <div class="page">
            <div class="menu">
				@Html.Partial("_MenuGeneral")
			</div>
			<div class="podmenu">
                @Html.Partial("_SubMenuTable")
				<div class="menuitem">@Html.ActionLink("На главную страницу", "Index", "Home")</div>
			</div>
		</div>      
		<div style="height:5px;"></div>
		@RenderBody()
		<div class="page-footer">
		</div> 
	</div>
</body>
</html>
