@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@using System.Configuration
@if (Request.IsAuthenticated)
{
        <input type="hidden" id="ActiveMenuItem" name="ActiveMenuItem" value="" />
        <div class="menu-wrap">
        <div class="menu">
@*            <tr>*@
                <div id="liTimesheet" class="mainOn"><a href="#"><span>Табель</span></a>
                </div>  
                @if ((dto.UserRole & UserRole.DismissedEmployee) == 0)
                {
                    <div id="liCharge" class="mainMenuItem">@Html.ActionLink("Начисления", "SurchargeNoteList", "SurchargeNote", new { type = 1 }, null)</div>   
                    
                   <div id="liStaffMovements" class="mainMenuItem">@Html.ActionLink("Кадровые перемещения", "Index", "StaffMovements")
                </div>
                }
                
                @if(UserDto.IsStaffDepartmentAvailable(dto))
                {
                    <div id="liStaffList" class="mainMenuItem">@Html.ActionLink("Штатное расписание", "StaffList", "StaffList")</div>
                }

                <div id="liStaffMovements" class="mainMenuItem">@Html.ActionLink("Кадровые перемещения", "Index", "StaffMovements")
                </div> 

                
                <div id="liDeduction" class="mainMenuItem">
                @if ((dto.UserRole & UserRole.Accountant) > 0
                    || (dto.UserRole & UserRole.Estimator) > 0
                    || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    @Html.ActionLink("Удержания", "Index", "Deduction")
                   
                }
                </div> 
                 
                @if (dto.Id == 10
                     || (dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Accountant) > 0
                     || (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.Secretary) > 0
                     || (dto.UserRole & UserRole.Findep) > 0
                     || (dto.UserRole & UserRole.Archivist) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0
                     && dto.Id.ToString() == ConfigurationManager.AppSettings["SuperPersonnelId"]
                    )
                {
                    if ((dto.UserRole & UserRole.Archivist) > 0)
                    {
                         <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionReportsList", "MissionOrder")</div>
                    }
                    else
                        if (dto.Id == 10 || (dto.UserRole & UserRole.Estimator) > 0)
                        { 
                            <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionUserDeptsList", "MissionOrder")</div>
                        }
                        else
                        {
                        <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "Index", "MissionOrder")</div>
                        }
                }
                @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    <div id="liGraphics" class="mainMenuItem">@Html.ActionLink("Плановые графики", "Index", "Graphics")</div>
                }
              @*  <div id="liTemplate" class="mainMenuItem">@Html.ActionLink("Шаблоны", "Index", "Template")
                </div> *@
                    
                @if ((dto.UserRole &
                                    (UserRole.OutsourcingManager |
                                    UserRole.ConsultantPersonnel |
                                    UserRole.Estimator |
                                    UserRole.Manager |
                                    UserRole.PersonnelManager |
                                    UserRole.Candidate |
                                    UserRole.Security |
                                    UserRole.Trainer |
                                    UserRole.StaffManager |
                                    UserRole.ConsultantOutsourcing)) > 0)
                {
                    <div id="liEmployment" class="mainMenuItem">@Html.ActionLink("Прием", "Index", "Employment")</div>
                }

                @if (UserDto.IsHelpServiceAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Index", "Help")</div> 
                }
                else if (UserDto.IsHelpQuestionAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "ServiceQuestionsList", "Help")</div> 
                }
                else if (UserDto.IsHelpPersonnelBillingAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "PersonnelBillingList", "Help")</div>
                }
                else if (UserDto.IsHelpTemplateAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Template", "Help")</div> 
                }
                @*
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")</div> 
                *@
                
                 @if ((dto.UserRole & UserRole.Manager) > 0
                     //|| (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.StaffManager) > 0
                     || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0
                     || (dto.UserRole & UserRole.Security) > 0
                     || (dto.UserRole & UserRole.Trainer) > 0
                      )
                 {
                    <div id="liAppointment" class="mainMenuItem">@Html.ActionLink("Подбор персонала", "Instruction", "Appointment")
                    </div> 
                 }
                 @if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0 || (dto.UserRole & UserRole.Estimator) > 0)
                 {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "Index", "GPD")</div>
                 }
                 @if ((dto.UserRole & UserRole.Manager) > 0)
                 {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "GpdAnalyticalStatement", "GPD")</div>
                 }
        </div>  
        <div class="podmenu">        
@*            </tr>*@
@*            <tr style="border-top:1px solid">
                <td colspan="3">
                <table style="width:100%">
                <tr>*@
                @if ((dto.UserRole & UserRole.Admin) > 0)
                {
                     <div class="menuitem" id="adminUsers" >@Html.ActionLink("Пользователи", "UserList", "Admin")</div>
                     <div class="menuitem" id="adminSettings" >@Html.ActionLink("Настройки", "Settings", "Admin")</div>
                     <div class="menuitem" id="adminInfo" >@Html.ActionLink("Информация", "InformationsList", "Admin")</div>
                }
                else if ((dto.UserRole & UserRole.Chief) > 0)
                {
                    <div class="menuitem" id="userTimesheet">@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</div>
                }
                else if ((dto.UserRole & UserRole.Employee) > 0 || (dto.UserRole & UserRole.Manager) > 0
                        || (dto.UserRole & UserRole.PersonnelManager) > 0
                        || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                        || (dto.UserRole & UserRole.Inspector) > 0
                        || (dto.UserRole & UserRole.Estimator) > 0
                        || (dto.UserRole & UserRole.OutsourcingManager) > 0
                        || (dto.UserRole & UserRole.ConsultantOutsourcing) > 0)
                {
                    if ((dto.UserRole & UserRole.Employee) == 0)
                    {
                            <div class="menuitem" id="userAllRequest">@Html.ActionLink("Все заявки", "AllRequestList", "UserRequest")</div>
                    }
                        <div class="menuitem" id="userSicklist">@Html.ActionLink("Больничные", "SicklistList", "UserRequest")</div>
                        
                        <div class="menuitem" id="userMission">@Html.ActionLink("Командировки (табель)", "MissionList", "UserRequest")</div>
                        @*<div class="menuitem" id="userTimesheetCorrection">@Html.ActionLink("Корректировки", "TimesheetCorrectionList", "UserRequest")</div>*@
                        <div class="menuitem" id="userAbsence">@Html.ActionLink("Невыходы", "AbsenceList", "UserRequest")</div>
                        <div class="menuitem" id="userVacation">@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</div>
                        <div class="menuitem" id="userChildVacation">@Html.ActionLink("Отпуска по уходу за ребенком", "ChildVacationList", "UserRequest")</div>
                        @*<div class="menuitem" id="VacationReturn">@Html.ActionLink("Отзыв из отпуска", "VacationReturnList", "UserRequest")</div>*@
                        <div class="menuitem" id="userDismissal">@Html.ActionLink("Увольнения", "DismissalList", "UserRequest")</div>
                        <div class="menuitem" id="userClearanceChecklistList">@Html.ActionLink("Обходные листы", "ClearanceChecklistList", "UserRequest")</div>
                    
                    if ((dto.UserRole & UserRole.Inspector) == 0)
                    {
                            <div class="menuitem" id="userTimesheet">@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</div>
                            <div class="menuitem" id="userYearTimesheet">@Html.ActionLink("Табель за период", "TimesheetYearList", "Employee", new { managerId = dto.Id }, null)</div>
                    }
                    if ((dto.UserRole & UserRole.PersonnelManager) > 0
                        || (dto.UserRole & UserRole.Manager) > 0
                        || (dto.UserRole & UserRole.Estimator) > 0
                        || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                    {
                            <div class="menuitem" id="userAccept">@Html.ActionLink("Контроль ввода", "AcceptRequests", "UserRequest")</div>
                    }
@*                        if (dto.UserRole == UserRole.PersonnelManager)
                        {
                            <div class="menuitem" id="constantList">@Html.ActionLink("Константы", "ConstantList", "UserRequest")</div>
                        }*@
                    if ((dto.UserRole & UserRole.PersonnelManager) > 0
                        || (dto.UserRole & UserRole.OutsourcingManager) > 0
                        || (dto.UserRole & UserRole.Estimator) > 0
                        || (dto.UserRole & UserRole.Manager) > 0)
                    {
                            <div class="menuitem" id="userAcceptGroup">@Html.ActionLink("Организационная страница", "AccessGroupsList", "UserRequest")</div>
                    }
                    <div class="menuitem" id="documentMovements">@Html.ActionLink("Документооборот", "Index", "DocumentMovements")</div>
                    if ((dto.UserRole & (UserRole.ConsultantPersonnel | UserRole.ConsultantOutsourcing | UserRole.OutsourcingManager | UserRole.TaxCollector | UserRole.Accountant | UserRole.Manager | UserRole.PersonnelManager | UserRole.Employee)) > 0)
                    {
                    <div class="menuitem" id="UserPersonnelDataInn">@Html.ActionLink("ИНН физ.лица", "UserPersonnelDataList", "UserRequest")</div>
                    }
@*                        if (dto.UserRole == UserRole.PersonnelManager)
                        {
                            <div class="menuitem" id="constantList">@Html.ActionLink("Константы", "ConstantList", "UserRequest")</div>
                        }*@
                }
                @*<div class="menuitem" id="templatesList">@Html.ActionLink("Шаблоны документов", "TemplatesList", "UserRequest")</div>*@
                <div class="menuitem">@Html.ActionLink("На главную страницу", "Index", "Home")</div>
            </div> 
            </div>   
@*                </tr>
                </table>
                </div>
            </tr>
        </table>*@
@*<ul class="menu" id="menu">
                @if (dto.UserRole == UserRole.Admin)
                {
                     <li>@Html.ActionLink("Пользователи", "UserList", "Admin")</li>
                     <li>@Html.ActionLink("Настройки", "Settings", "Admin")</li>
                     <li>@Html.ActionLink("Информация", "InformationsList", "Admin")</li>
                }
                else if (dto.UserRole == UserRole.Employee || dto.UserRole == UserRole.Manager || dto.UserRole == UserRole.PersonnelManager
                        || dto.UserRole == UserRole.Inspector || dto.UserRole == UserRole.Chief)
                {
                        if (dto.UserRole != UserRole.Employee)
                        {
                            <li>@Html.ActionLink("Все заявки", "AllRequestList", "UserRequest")</li>
                        }
                        <li>@Html.ActionLink("Больничные", "SicklistList", "UserRequest")</li>
                        <li>@Html.ActionLink("Командировки", "MissionList", "UserRequest")</li>
                        <li>@Html.ActionLink("Корректировки", "TimesheetCorrectionList", "UserRequest")</li>
                        <li>@Html.ActionLink("Невыходы", "AbsenceList", "UserRequest")</li>
                        <li>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</li>
                        <li>@Html.ActionLink("Увольнения", "DismissalList", "UserRequest")</li>
                       if (dto.UserRole != UserRole.Inspector)
                       {
                            <li>@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</li>
                       }
                       if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.Manager)
                       {
                            <li>@Html.ActionLink("Контроль ввода", "AcceptRequests", "UserRequest")</li>
                       }
                }
                <li></li>
                <li>@Html.ActionLink("На главную страницу", "Index", "Home")</li>
</ul>*@
}
<script type="text/javascript">

</script>