@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@if (Request.IsAuthenticated)
{
<ul class="menu" id="menu">
                @if (dto.UserRole == UserRole.Admin)
                {
                     <li>@Html.ActionLink("Пользователи", "UserList", "Admin")</li>
                     <li>@Html.ActionLink("Типы заявок", "DocumentTypeList", "Admin")</li>
                     <li>@Html.ActionLink("Настройки", "Settings", "Admin")</li>
                     <li>@Html.ActionLink("Импорт", "ActionsList", "Admin", new { type = 1 }, null)</li>
                     <li>@Html.ActionLink("Экспорт", "ActionsList", "Admin", new { type = 2 }, null)</li>
                     <li>@Html.ActionLink("Информация", "InformationsList", "Admin")</li>
                }
                else if (dto.UserRole == UserRole.Employee || dto.UserRole == UserRole.Manager || dto.UserRole == UserRole.PersonnelManager)
                {
                        <li>@Html.ActionLink("Больничные", "SicklistList", "UserRequest")</li>
                        <li>@Html.ActionLink("Командировки", "MissionList", "UserRequest")</li>
                        <li>@Html.ActionLink("Корректировки", "TimesheetCorrectionList", "UserRequest")</li>
                        <li>@Html.ActionLink("Невыходы", "AbsenceList", "UserRequest")</li>
                        <li>@Html.ActionLink("Оплата вых. дней", "HolidayWorkList", "UserRequest")</li>
                        <li>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</li>
                        <li>@Html.ActionLink("Прием на работу", "EmploymentList", "UserRequest")</li>
                        <li>@Html.ActionLink("Увольнения", "DismissalList", "UserRequest")</li>
                        <li>@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</li>
                       if (dto.UserRole == UserRole.PersonnelManager)
                       {
                            <li>@Html.ActionLink("Пользователи", "UserList", "Admin")</li>
                       }


                }
                <li></li>
                <li>@Html.ActionLink("На главную страницу", "Index", "Home")</li>
</ul>
}
