@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@if (Request.IsAuthenticated)
{
<ul class="menu" id="menu">
                @if (dto.UserRole == UserRole.Admin)
                {
                     <li>@Html.ActionLink("Пользователи", "UserList", "Admin")</li>
                     <li>@Html.ActionLink("Типы заявок", "DocumentTypeList", "Admin")</li>
                     <li>@Html.ActionLink("Настройки", "Settings", "Admin")</li>
                     <li>@Html.ActionLink("Импорт", "ActionsList", "Admin", new { type = 1 }, null)</li>
                     <li>@Html.ActionLink("Экспорт", "ActionsList", "Admin", new { type = 2 }, null)</li>
                     <li>@Html.ActionLink("Информация", "InformationsList", "Admin")</li>
                }
                else if (dto.UserRole == UserRole.Employee)
                {
                    
                     <li>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</li>
                     <li>@Html.ActionLink("Неявки", "AbsenceList", "UserRequest")</li>
                     <li>@Html.ActionLink("Заявки", "DocumentList", "Employee")</li>
                     <li>@Html.ActionLink("Табель", "EmployeeTimesheetList", "Employee")</li>

                }
                else if (dto.UserRole == UserRole.Manager)
                {
                     <li>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</li>
                     <li>@Html.ActionLink("Неявки", "AbsenceList", "UserRequest")</li>
                     <li>@Html.ActionLink("Новые заявки", "DocumentList", "Employee", new { showNew = true }, null)</li>
                     <li>@Html.ActionLink("Все заявки", "DocumentList", "Employee")</li>
                     <li>@Html.ActionLink("Сотрудники", "EmployeeList", "Employee")</li>
                     <li>@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</li>
                }
                else if (dto.UserRole == UserRole.PersonnelManager)
                {
                     <li>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</li>
                     <li>@Html.ActionLink("Неявки", "AbsenceList", "UserRequest")</li>
                     <li>@Html.ActionLink("Новые заявки", "DocumentList", "Employee", new { showNew = true }, null)</li>
                     <li>@Html.ActionLink("Все заявки", "DocumentList", "Employee")</li>
                     <li>@Html.ActionLink("Сотрудники", "EmployeeList", "Employee")</li>
                     <li>@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</li>
                }
                else if (dto.UserRole == UserRole.BudgetManager)
                {
                     <li>@Html.ActionLink("Новые заявки", "DocumentList", "Employee", new { showNew = true }, null)</li>
                     <li>@Html.ActionLink("Все заявки", "DocumentList", "Employee")</li>
                     <li>@Html.ActionLink("Сотрудники", "EmployeeList", "Employee")</li>
                     
                }
                else if (dto.UserRole == UserRole.OutsourcingManager)
                {
                     <li>@Html.ActionLink("Новые заявки", "DocumentList", "Employee", new { showNew = true }, null)</li>
                     <li>@Html.ActionLink("Все заявки", "DocumentList", "Employee")</li>
                     <li>@Html.ActionLink("Сотрудники", "EmployeeList", "Employee")</li>
                }
</ul>
}
