@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@if (Request.IsAuthenticated)
{
        <input type="hidden" id="ActiveMenuItem" name="ActiveMenuItem" value="" />
        <div class="menu-wrap">
        <div class="menu">
@*            <tr>*@
                  @if (((dto.UserRole & UserRole.Accountant) == 0) ||
                     ((dto.UserRole & UserRole.Archivist) == 0)
                    )
                {  
                <div id="liTimesheet" class="mainMenuItem">
                    @if ((dto.UserRole & UserRole.Admin) > 0)
                    {
                        @Html.ActionLink("Табель", "UserList", "Admin")
                    }
                    else if ((dto.UserRole & UserRole.Employee) > 0)
                    {
                        @Html.ActionLink("Табель", "SicklistList", "UserRequest")
                    }
                    else if ((dto.UserRole & UserRole.Chief) > 0)
                    {
                        @Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)
                    }
                    else if ((dto.UserRole & UserRole.Manager) > 0
                          || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                          || (dto.UserRole & UserRole.PersonnelManager) > 0
                          || (dto.UserRole & UserRole.Inspector) > 0
                          || (dto.UserRole & UserRole.Estimator) > 0
                          || (dto.UserRole & UserRole.OutsourcingManager) > 0
                          || (dto.UserRole & UserRole.ConsultantOutsourcing) > 0)
                    {
                        @Html.ActionLink("Табель", "AllRequestList", "UserRequest")
                    }
                    else if ((dto.UserRole & UserRole.DismissedEmployee) > 0)
                    {
                        @Html.ActionLink("Табель", "DismissalList", "UserRequest")
                    }
                </div> 
                }
                @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer  | UserRole.DismissedEmployee)) == 0)
                {
                    <div id="liCharge" class="mainMenuItem">@Html.ActionLink("Начисления", "SurchargeNoteList", "SurchargeNote", new { type = 1 }, null)
                    </div> 
                    
                    <div id="liStaffMovements" class="mainMenuItem">@Html.ActionLink("Кадровые перемещения", "Index", "StaffMovements")
                </div>
                }
                
                @if(UserDto.IsStaffDepartmentAvailable(dto))
                {
                    @*<div id="liStaffList" class="mainMenuItem">@Html.ActionLink("Штатное расписание", "StaffList", "StaffList")</div>*@
                }

                <div id="liDeduction" class="mainMenuItem">
                @if ((dto.UserRole & UserRole.Accountant) > 0
                    || (dto.UserRole & UserRole.Estimator) > 0
                    || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    @Html.ActionLink("Удержания", "Index", "Deduction")
                }
                </div>
                
                @if (dto.Id == 10
                     || (dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Accountant) > 0
                     || (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.Secretary) > 0
                     || (dto.UserRole & UserRole.Findep) > 0
                     || (dto.UserRole & UserRole.Archivist) > 0
                    )
                {
                    if ((dto.UserRole & UserRole.Archivist) > 0)
                    {
                         <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionReportsList", "MissionOrder")</div>
                    }
                    else
                        if (dto.Id == 10 || (dto.UserRole & UserRole.Estimator) > 0)
                        { 
                            <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionUserDeptsList", "MissionOrder")</div>
                        }
                        else
                        {
                        <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "Index", "MissionOrder")</div>
                        }
                }
                @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    <div id="liGraphics" class="mainMenuItem">@Html.ActionLink("Плановые графики", "Index", "Graphics")</div>
                } 
                @*<div id="liTemplate" class="mainMenuItem">@Html.ActionLink("Шаблоны", "Index", "Template")
                </div> *@
                    
                @if ((dto.UserRole &
                                    (UserRole.OutsourcingManager |
                                    UserRole.ConsultantPersonnel |
                                    UserRole.Estimator |
                                    UserRole.Manager |
                                    UserRole.PersonnelManager |
                                    UserRole.Candidate |
                                    UserRole.Security |
                                    UserRole.Trainer |
                                    UserRole.StaffManager |
                                    UserRole.ConsultantOutsourcing)) > 0)
                {
                    <div id="liEmployment" class="mainMenuItem">@Html.ActionLink("Прием", "Index", "Employment")</div>
                }

                @if (UserDto.IsHelpServiceAvailable(dto))
                {
                    <div id="liHelp" class="mainOn">@Html.ActionLink("ИнфоУслуги", "Index", "Help")</div> 
                }
                else if (UserDto.IsHelpQuestionAvailable(dto))
                {
                    <div id="liHelp" class="mainOn">@Html.ActionLink("ИнфоУслуги", "ServiceQuestionsList", "Help")</div> 
                }
                else if (UserDto.IsHelpPersonnelBillingAvailable(dto))
                {
                    <div id="liHelp" class="mainOn">@Html.ActionLink("ИнфоУслуги", "PersonnelBillingList", "Help")</div>
                }
                else if (UserDto.IsHelpTemplateAvailable(dto))
                {
                    <div id="liHelp" class="mainOn">@Html.ActionLink("ИнфоУслуги", "Template", "Help")</div> 
                }
                @*
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")
                *@
                 @if ((dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.StaffManager) > 0
                     || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0
                     || (dto.UserRole & UserRole.Security) > 0
                     || (dto.UserRole & UserRole.Trainer) > 0
                      )
                 {
                    <div id="liAppointment" class="mainMenuItem">@Html.ActionLink("Подбор персонала", "Instruction", "Appointment")
                    </div> 
                 }  
                 @if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0 || (dto.UserRole & UserRole.Estimator) > 0)
                 {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "Index", "GPD")</div>
                 }
                  @if ((dto.UserRole & UserRole.Manager) > 0)
                  {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "GpdAnalyticalStatement", "GPD")</div>
                  }
        </div>  
         <div class="podmenu">    
            <div class="menuitem" id="helpVersion">@Html.ActionLink("Инструкция", "Version", "Help")</div>
            @if (UserDto.IsHelpServiceAvailable(dto))
            {
                    <div class="menuitem" id="helpAllRequests">@Html.ActionLink("Заказать услугу", "Index", "Help")</div> 
                    <div class="menuitem" id="helpFaq">@Html.ActionLink("Типовые вопросы", "Faq", "Help")</div>
                    <div class="menuitem" id="helpQuestionsRequests">@Html.ActionLink("Задать вопрос", "ServiceQuestionsList", "Help")</div> 
                    <div class="menuitem" id="helpTemplate">@Html.ActionLink("Образцы документов", "Template", "Help")</div>
            }
            else if (UserDto.IsHelpQuestionAvailable(dto))
            {
                <div class="menuitem" id="helpQuestionsRequests">@Html.ActionLink("Реестр вопросов", "ServiceQuestionsList", "Help")</div> 
                <div class="menuitem" id="helpTemplate">@Html.ActionLink("Образцы документов", "Template", "Help")</div>
            }
            else if (UserDto.IsHelpTemplateAvailable(dto))
            {
                <div class="menuitem" id="helpTemplate">@Html.ActionLink("Образцы документов", "Template", "Help")</div>
            }
            
            @if (UserDto.IsHelpPersonnelBillingAvailable(dto))
            {
                <div class="menuitem" id="helpPersonnelBilling">@Html.ActionLink("Биллинг", "PersonnelBillingList", "Help")</div>
            }
            <div class="menuitem" id="helpInfo">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")</div>
            <div class="menuitem">@Html.ActionLink("На главную страницу", "Index", "Home")</div>
         </div> 
        </div> 

}
<script type="text/javascript">

</script>