@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@using System.Configuration
@if (Request.IsAuthenticated)
{
        <input type="hidden" id="ActiveMenuItem" name="ActiveMenuItem" value="" />
        <div class="menu-wrap">
        <div class="menu">
@*            <tr>*@
                  @if (((dto.UserRole & UserRole.Accountant) == 0) ||
                     ((dto.UserRole & UserRole.Archivist) == 0)
                    )
                {  
                    <div id="liTimesheet" class="mainMenuItem">
                        @if ((dto.UserRole & UserRole.Admin) > 0)
                        {
                            @Html.ActionLink("Табель", "UserList", "Admin")
                        }
                        else if ((dto.UserRole & UserRole.Employee) > 0)
                        {
                            @Html.ActionLink("Табель", "SicklistList", "UserRequest")
                        }
                        else if ((dto.UserRole & UserRole.Chief) > 0)
                        {
                            @Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)
                        }
                        else if ((dto.UserRole & UserRole.Manager) > 0
                              || (dto.UserRole & UserRole.ConsultantPersonnel)>0
                              || (dto.UserRole & UserRole.PersonnelManager) > 0
                              || (dto.UserRole & UserRole.Inspector) > 0
                              || (dto.UserRole & UserRole.Estimator) > 0
                              || (dto.UserRole & UserRole.OutsourcingManager) > 0
                              || (dto.UserRole & UserRole.ConsultantOutsourcing) > 0)
                        {
                            @Html.ActionLink("Табель", "AllRequestList", "UserRequest")
                        }
                    </div> 
                }
                @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer)) == 0)
                {
                    <div id="liCharge" class="mainMenuItem">@Html.ActionLink("Начисления", "SurchargeNoteList", "SurchargeNote", new { type = 1 }, null)
                    </div> 
                    
                    <div id="liStaffMovements" class="mainMenuItem">@Html.ActionLink("Кадровые перемещения", "Index", "StaffMovements")
                    </div> 
                }
                
                @if(UserDto.IsStaffDepartmentAvailable(dto))
                {
                    <div id="liStaffList" class="mainMenuItem">@Html.ActionLink("Штатное расписание", "StaffList", "StaffList")</div>
                }

                <div id="liDeduction" class="mainMenuItem">
                @if ((dto.UserRole & UserRole.Accountant) > 0
                    || (dto.UserRole & UserRole.Estimator) > 0
                    || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    @Html.ActionLink("Удержания", "Index", "Deduction")
                }
                </div> 
                
                  @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Accountant) > 0
                     || (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Secretary) > 0
                     || (dto.UserRole & UserRole.Findep) > 0
                     || (dto.UserRole & UserRole.Archivist) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0 && dto.Id.ToString() == ConfigurationManager.AppSettings["SuperPersonnelId"]
                      )
                  {
                      if ((dto.UserRole & UserRole.Archivist) > 0)
                      {
                         <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionReportsList", "MissionOrder")</div>
                      }
                      else
                      {
                        <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "Index", "MissionOrder")</div>
                      }
                  }
                @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    <div id="liGraphics" class="mainMenuItem">@Html.ActionLink("Плановые графики", "Index", "Graphics")</div>
                }
               @* @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer)) == 0)
                {
                    <div id="liTemplate" class="mainMenuItem">@Html.ActionLink("Шаблоны", "Index", "Template")
                    </div> 
                }*@
                    
                @if ((dto.UserRole &
                                    (UserRole.OutsourcingManager |
                                    UserRole.ConsultantPersonnel |
                                    UserRole.Estimator |
                                    UserRole.Manager |
                                    UserRole.PersonnelManager |
                                    UserRole.Candidate |
                                    UserRole.Security |
                                    UserRole.Trainer |
                                    UserRole.StaffManager |
                                    UserRole.ConsultantOutsourcing)) > 0)
                {
                    <div id="liEmployment" class="mainOn">@Html.ActionLink("Прием", "Index", "Employment")</div>
                }
                
                 @if (UserDto.IsHelpServiceAvailable(dto))
                 {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Index", "Help")</div> 
                 }
                 else if (UserDto.IsHelpQuestionAvailable(dto))
                 {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "ServiceQuestionsList", "Help")</div> 
                 }
                 else if (UserDto.IsHelpPersonnelBillingAvailable(dto))
                 {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "PersonnelBillingList", "Help")</div>
                 }
                 else if (UserDto.IsHelpTemplateAvailable(dto))
                 {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Template", "Help")</div> 
                 }
                 @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer)) == 0)
                 {
                    @*
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")
                *@
                 }
                 @if ((dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     //|| (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.StaffManager) > 0
                     || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0
                     || (dto.UserRole & UserRole.Security) > 0
                     || (dto.UserRole & UserRole.Trainer) > 0
                      )
                 {
                    <div id="liAppointment" class="mainMenuItem">@Html.ActionLink("Подбор персонала", "Instruction", "Appointment")
                    </div> 
                 }
                 @if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0 || (dto.UserRole & UserRole.Estimator) > 0)
                 {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "Index", "GPD")</div>
                 }
                  @if ((dto.UserRole & UserRole.Manager) > 0)
                  {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "GpdAnalyticalStatement", "GPD")</div>
                  }
        </div>  
        <div class="podmenu">
            <div class="menuitem" id="empInstruction">@Html.ActionLink("Инструкция", "Instruction", "Employment")</div>
            @if ((dto.UserRole & UserRole.Candidate) == UserRole.Candidate)
            {                
                <div class="menuitem" id="empScanOriginalDocuments">@Html.ActionLink("Сканы оригиналов документов", "ScanOriginalDocuments", "Employment")</div>
                <div class="menuitem" id="empGeneralInfo">@Html.ActionLink("Общая информация", "GeneralInfo", "Employment")</div>
                <div class="menuitem" id="empPassport">@Html.ActionLink("Паспортные данные", "Passport", "Employment")</div>
                <div class="menuitem" id="empEducation">@Html.ActionLink("Образование", "Education", "Employment")</div>
                <div class="menuitem" id="empFamily">@Html.ActionLink("Состав семьи", "Family", "Employment")</div>
                <div class="menuitem" id="empMilitaryService">@Html.ActionLink("Воинский учет", "MilitaryService", "Employment")</div>
                <div class="menuitem" id="empExperience">@Html.ActionLink("Трудовая деятельность", "Experience", "Employment")</div>
                <div class="menuitem" id="empContacts">@Html.ActionLink("Контактные данные", "Contacts", "Employment")</div>
                <div class="menuitem" id="empBackgroundCheck">@Html.ActionLink("Департамент безопасности", "BackgroundCheck", "Employment")</div>
            }
            
            @*
            @if ((dto.UserRole & UserRole.Security) == UserRole.Security)
            {
                <div class="menuitem" id="empBackgroundCheck">@Html.ActionLink("Служба безопасности", "BackgroundCheck", "Employment")</div>
            }

            @if ((dto.UserRole & UserRole.Trainer) == UserRole.Trainer)
            {
                <div class="menuitem" id="empOnsiteTraining">@Html.ActionLink("Обучение", "OnsiteTraining", "Employment")</div>
            }
            *@

            @if ((dto.UserRole & UserRole.Candidate) == UserRole.Candidate)
            {
                @*<div class="menuitem" id="empApplicationLetter">@Html.ActionLink("Заявление о приеме", "ApplicationLetter", "Employment")</div>*@
                <div class="menuitem" id="empCandidateDocuments">@Html.ActionLink("Документы", "CandidateDocuments", "Employment")</div>
            }
            
            @*
            <div class="menuitem" id="empManagers">@Html.ActionLink("Руководители", "Managers", "Employment")</div>
            <div class="menuitem" id="empPersonnelManagers">@Html.ActionLink("Кадры", "PersonnelManagers", "Employment")</div>
            *@
            
            @if ((dto.UserRole & (UserRole.Security
                | UserRole.Trainer
                | UserRole.StaffManager
                | UserRole.ConsultantPersonnel
                | UserRole.PersonnelManager
                | UserRole.Chief
                | UserRole.Director
                | UserRole.Manager
                | UserRole.Estimator
                | UserRole.OutsourcingManager
                | UserRole.ConsultantOutsourcing)) > 0)
            {
                <div class="menuitem" id="empRoster">@Html.ActionLink("Реестр по приему", "Roster", "Employment")</div>
            }
            
            @if ((dto.UserRole & (UserRole.PersonnelManager
                | UserRole.Chief
                | UserRole.Director
                | UserRole.Manager
                | UserRole.Estimator
                | UserRole.OutsourcingManager)) > 0)
            {
                <div class="menuitem" id="empSigners">@Html.ActionLink("Справочник подписантов", "Signers", "Employment")</div>
            }

            @*
            <div class="menuitem" id="empSigners">@Html.ActionLink("Справочник подписантов", "Signers", "Employment")</div>
            *@

            <div class="menuitem">@Html.ActionLink("На главную страницу", "Index", "Home")</div>
        </div>
    </div>   
}
<script type="text/javascript">

</script>