@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@if (Request.IsAuthenticated)
{
        <input type="hidden" id="ActiveMenuItem" name="ActiveMenuItem" value="" />
        <div class="menu-wrap">
        <div class="menu">
@*            <tr>*@
                  @if (((dto.UserRole & UserRole.Accountant) == 0) ||
                     ((dto.UserRole & UserRole.Archivist) == 0)
                    )
                {  
                    <div id="liTimesheet" class="mainMenuItem">
                        @if ((dto.UserRole & UserRole.Admin) > 0)
                        {
                            @Html.ActionLink("Табель", "UserList", "Admin")
                        }
                        else if ((dto.UserRole & UserRole.Employee) > 0)
                        {
                            @Html.ActionLink("Табель", "SicklistList", "UserRequest")
                        }
                        else if ((dto.UserRole & UserRole.Chief) > 0)
                        {
                            @Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)
                        }
                        else if ((dto.UserRole & UserRole.Manager) > 0
                              || (dto.UserRole & UserRole.PersonnelManager) > 0
                              || (dto.UserRole & UserRole.Inspector) > 0
                              || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                        {
                            @Html.ActionLink("Табель", "AllRequestList", "UserRequest")
                        }
                    </div> 
                }
                <div id="liCharge" class="mainMenuItem">@Html.ActionLink("Начисления", "Index", "Home", new { menuId = "1" }, null)
                </div> 
                <div id="liMember" class="mainMenuItem">@Html.ActionLink("Штатное расписание", "Index", "Home", new { menuId = "2" }, null)
                </div>  
                <div id="liDeduction" class="mainMenuItem">
                @if ((dto.UserRole & UserRole.Accountant) > 0 
                    || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    @Html.ActionLink("Удержания", "Index", "Deduction")
                }
                </div> 
                  @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Accountant) > 0
                     || (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Secretary) > 0
                     || (dto.UserRole & UserRole.Findep) > 0
                     || (dto.UserRole & UserRole.Archivist) > 0
                      )
                {
                    if ((dto.UserRole & UserRole.Archivist) > 0)
                    {
                         <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionReportsList", "MissionOrder")</div>
                    }
                    else
                    {
                        <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "Index", "MissionOrder")</div>
                    }
                }
                @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    <div id="liGraphics" class="mainMenuItem">@Html.ActionLink("Плановые графики", "Index", "Graphics")</div>
                }
                <div id="liTemplate" class="mainMenuItem">@Html.ActionLink("Шаблоны", "Index", "Template")
                </div> 
                <div id="liEmployment" class="mainOn">@Html.ActionLink("Прием", "Index", "Employment")
                </div>
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")
                </div> 
                 @if ((dto.UserRole & UserRole.Manager) > 0
                     //|| (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.StaffManager) > 0
                     //|| (dto.UserRole & UserRole.PersonnelManager) > 0
                      )
                 {
                    <div id="liAppointment" class="mainMenuItem">@Html.ActionLink("Подбор персонала", "Index", "Appointment")
                    </div> 
                 }
        </div>  
        <div class="podmenu">       
            <div class="menuitem" id="empGeneralInfo">@Html.ActionLink("Общая информация", "GeneralInfo", "Employment")</div>
            <div class="menuitem" id="empPassport">@Html.ActionLink("Паспортные данные", "Passport", "Employment")</div>
            <div class="menuitem" id="empEducation">@Html.ActionLink("Образование", "Education", "Employment")</div>
            <div class="menuitem" id="empFamily">@Html.ActionLink("Состав семьи", "Family", "Employment")</div>
            <div class="menuitem" id="empMilitaryService">@Html.ActionLink("Воинский учет", "MilitaryService", "Employment")</div>
            <div class="menuitem" id="empExperience">@Html.ActionLink("Трудовая деятельность", "Experience", "Employment")</div>
            <div class="menuitem" id="empContacts">@Html.ActionLink("Контактные данные", "Contacts", "Employment")</div>
            <div class="menuitem" id="empBackgroundCheck">@Html.ActionLink("Служба безопасности", "BackgroundCheck", "Employment")</div>

            <div class="menuitem" id="empOnsiteTraining">@Html.ActionLink("Обучение", "OnsiteTraining", "Employment")</div>
            <div class="menuitem" id="empApplicationLetter">@Html.ActionLink("Заявление о приеме", "ApplicationLetter", "Employment")</div>
            <div class="menuitem" id="empManagers">@Html.ActionLink("Руководители", "Managers", "Employment")</div>
            <div class="menuitem" id="empPersonnelManagers">@Html.ActionLink("Кадры", "PersonnelManagers", "Employment")</div>
            <div class="menuitem" id="empRoster">@Html.ActionLink("Реестр по приему", "Roster", "Employment")</div>
            <div class="menuitem" id="empSigners">@Html.ActionLink("Справочник подписантов", "Signers", "Employment")</div>

            <div class="menuitem">@Html.ActionLink("На главную страницу", "Index", "Home")</div>
        </div>
    </div>   
}
<script type="text/javascript">

</script>