<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" />	
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header"><img style="width: 250px; height: 50px;" alt="" src="@(Request.Url.Port == 8002 ? Url.Content("~/Content/logo.gif") : Url.Content("~/Content/testlogo.png"))"/></div>
    <div class="page">
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
