@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
	var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@if (dto.Id != 10)
{
	<div class="menuitem" id="moInstructions">@Html.ActionLink("Памятка отбывающего в командировку", "Instructions", "MissionOrder")</div>
}
@if ((dto.UserRole & UserRole.Archivist) == 0 || dto.Id == 10 || (dto.UserRole & UserRole.Estimator) > 0)
{
	<div class="menuitem" id="moAllOrders">@Html.ActionLink("Приказ - реестр", "Index", "MissionOrder")</div>
}
@if ((dto.UserRole & UserRole.Employee) > 0
	|| (dto.UserRole & UserRole.Manager) > 0
	|| (dto.UserRole & UserRole.Accountant) > 0
	|| (dto.UserRole & UserRole.OutsourcingManager) > 0
	|| (dto.UserRole & UserRole.Estimator) > 0
	|| (dto.UserRole & UserRole.Findep) > 0
	|| (dto.UserRole & UserRole.Archivist) > 0
	)
{
	<div class="menuitem" id="moAllReports">@Html.ActionLink("Авансовый отчет - реестр", "MissionReportsList", "MissionOrder")</div>
}
@if ((dto.UserRole & UserRole.Accountant) > 0
	|| (dto.UserRole & UserRole.Estimator) > 0
	|| (dto.UserRole & UserRole.OutsourcingManager) > 0
	|| (dto.UserRole & UserRole.Findep) > 0
	)
{
	<div class="menuitem" id="moAllPurchaseBookDoc">@Html.ActionLink("Книга покупок (документы)", "MissionPurchaseBookDocList", "MissionOrder")</div>
	<div class="menuitem" id="moAllPurchaseBookRecords">@Html.ActionLink("Книга покупок (отчет)", "MissionPurchaseBookRecordsList", "MissionOrder")</div>
}
@if ((dto.UserRole & UserRole.Accountant) > 0
	|| (dto.UserRole & UserRole.Estimator) > 0
	|| (dto.UserRole & UserRole.OutsourcingManager) > 0
	|| (dto.UserRole & UserRole.Employee) > 0
	|| (dto.UserRole & UserRole.Manager) > 0
	)
{
	<div class="menuitem" id="moUserCreds">@Html.ActionLink("Реестр на доплату", "MissionUserCredsList", "MissionOrder")</div>
	<div class="menuitem" id="moUserDepts">@Html.ActionLink("Реестр долг за сотрудником", "MissionUserDeptsList", "MissionOrder")</div>
}
@if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0 || (dto.UserRole & UserRole.Estimator) > 0)
{
	<div class="menuitem" id="moSurcharge"> @Html.ActionLink("Ручная доплата", "Index", "Surcharge")</div>

}
@if ((dto.UserRole & UserRole.Accountant) > 0
	|| (dto.UserRole & UserRole.OutsourcingManager) > 0
	|| (dto.UserRole & UserRole.Estimator) > 0
	|| (dto.UserRole & UserRole.Employee) > 0
	|| (dto.UserRole & UserRole.Manager) > 0
	|| (dto.UserRole & UserRole.Director) > 0
	)
{
	<div class="menuitem" id="moAnaliticalStatementList">@Html.ActionLink("Аналитическая ведомость", "AnalyticalStatement", "MissionOrder")</div>
}
@if (dto.Id != 10)
{
	<div class="menuitem" id="moGradeList">@Html.ActionLink("Справочник расчета лимитов", "GradeList", "MissionOrder")</div>
	<div class="menuitem" id="moHotelList">@Html.ActionLink("Контрагенты", "MissionHotels", "MissionOrder")</div>
}
else
{
	<div class="menuitem" id="moUserDepts">@Html.ActionLink("Реестр долг за сотрудником", "MissionUserDeptsList", "MissionOrder")</div>
}
<div class="menuitem" id="moFullDepts">@Html.ActionLink("Автоудержание по не закрытым АО", "MissionOrderFullDepts", "MissionOrder")</div>