@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
     var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@if (Request.IsAuthenticated)
{
        @*<input type="hidden" id="menuId" name="menuId" value="@Model.menuId" />*@
            <div class="menu-wrap">
             <div class="menu"> 
                @if ((dto.UserRole & UserRole.Accountant) == 0)
                {  
                    <div class="mainMenuItem" id="mainTimesheet">
                        @if ((dto.UserRole & UserRole.Admin) > 0)
                        {
                            @Html.ActionLink("Табель", "UserList", "Admin")
                        }
                        else if ((dto.UserRole & UserRole.Employee) > 0)
                        {
                            @Html.ActionLink("Табель", "SicklistList", "UserRequest")
                        }
                        else if ((dto.UserRole & UserRole.Chief) > 0)
                        {
                            @Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)
                        }
                        else if ((dto.UserRole & UserRole.Manager) > 0
                              || (dto.UserRole & UserRole.PersonnelManager) > 0
                              || (dto.UserRole & UserRole.Inspector) > 0
                              || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                        {
                            @Html.ActionLink("Табель", "AllRequestList", "UserRequest")
                        }
                    </div>  
                }
                <div class="mainMenuItem" id="mainCharge">
                        @Html.ActionLink("Начисления", "Index", "Home", new { menuId = "1" }, null)
                </div> 
                <div class="mainMenuItem" id="mainMember">
                        @Html.ActionLink("Штатное расписание", "Index", "Home", new { menuId = "2" }, null)
                </div> 
                @if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0)
                {
                    <div class="mainMenuItem" id="mainDeduction">
                        @Html.ActionLink("Удержания", "Index", "Deduction")
                    </div>
                }
                <div class="mainMenuItem" id="mainTemplate">
                        @Html.ActionLink("Шаблоны", "Index", "Template")
                </div> 
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")
                </div> 
             </div>
            </div>
}