@model Reports.Presenters.UI.ViewModel.StaffList.AddressModel
@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "Address";
}

<b>Адрес</b>

@using (Html.BeginForm("Address", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "Address-form" }))
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="doc-wrap">
                    <table >
                        <tr>
                            <td colspan="2">
                                <b>Российский адрес</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.RegionCode):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.RegionCode, new SelectList(Model.Regions, "Code", "Name"), new { style = "width:95%", onchange = "CodeChange(2);" }) 
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.AreaCode):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.AreaCode, new SelectList(Model.Areas, "Code", "Name"), new { style = "width:95%", onchange = "CodeChange(3);" }) 
                                <span id="LIArea"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.CityCode):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.CityCode, new SelectList(Model.Cityes, "Code", "Name"), new { style = "width:95%", onchange = "CodeChange(4);" }) 
                                <span id="LICity"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.SettlementCode):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.SettlementCode, new SelectList(Model.Settlements, "Code", "Name"), new { style = "width:95%", onchange = "CodeChange(5);" }) 
                                <span id="LISettlement"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.StreetCode):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StreetCode, new SelectList(Model.Streets, "Code", "Name"), new { style = "width:95%" }) 
                                <span id="LIStreet"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    var actionUrl = "@Url.Action("GetKladr", "StaffList")";    

    $(document).ready(function () {
        setActiveMenuItem("moAddress");
    });


    function CodeChange(AddressType) {
        //загружаем районы
        if (AddressType == 2){
            if($("#RegionCode").val() == "" || $("#RegionCode").val() == null)
                    setEmptyToDropdown("RegionCode");
            else{
                //районы
                $("#LIArea").addClass("loading");                
                GetArea(actionUrl, "AreaCode", $("#RegionCode").val(), "GET", AddressType);
                $("#LIArea").removeClass("loading");
                //города
                $("#LICity").addClass("loading");
                GetArea(actionUrl, "CityCode", $("#RegionCode").val(), "GET", AddressType + 1);
                $("#LICity").removeClass("loading");
                //населенные пункты
                $("#LISettlement").addClass("loading");
                GetArea(actionUrl, "SettlementCode", $("#RegionCode").val(), "GET", AddressType + 2);
                $("#LISettlement").removeClass("loading");
                //улицы
                $("#LISettlement").addClass("loading");
                GetArea(actionUrl, "StreetCode", $("#SettlementCode").val(), "GET", AddressType + 3);
                $("#LISettlement").removeClass("loading");
            }
        }
        //загружаем города
        if (AddressType == 3){
            if($("#AreaCode").val() == "" || $("#AreaCode").val() == null)
                    setEmptyToDropdown("AreaCode");
            else
                GetArea(actionUrl, "CityCode", $("#AreaCode").val(), "GET", AddressType);
        }
        //загружаем населенные пункты
        if (AddressType == 4){
            if($("#CityCode").val() == "" || $("#CityCode").val() == null)
                    setEmptyToDropdown("CityCode");
            else
                GetArea(actionUrl, "SettlementCode", $("#CityCode").val(), "GET", AddressType);
        }
        //загружаем улицы
        if (AddressType == 5){
            if($("#SettlementCode").val() == "" || $("#SettlementCode").val() == null)
                    setEmptyToDropdown("SettlementCode");
            else
                GetArea(actionUrl, "StreetCode", $("#SettlementCode").val(), "GET", AddressType);
        }
        //setEmptyToDropdown('Level4ID', AddressType);
        //setEmptyToDropdown('Level5ID', AddressType);
        //setEmptyToDropdown('Level6ID', AddressType);
        //setEmptyToDropdown('Level7ID', AddressType);
    }



    function GetArea(actionUrl, controlName, code, RequestType, AddressType) {
        //clearDepSelErrors();
        var url = actionUrl + '?Code='+ code + '&AddressType=' + AddressType;

        var dataToSend = $("#Address-form").serialize();
        
        jQuery.ajax({
                url: url,
                type: RequestType,
                dataType: 'json',
                data: dataToSend,
                success: function(result){
                    console.log("да");
                    setValuesToDropdown(controlName, result, AddressType);
                },
                error: function(){
                    //alert("При загрузке данных произошла ошибка.");
                    console.log("нет");
                    console.log(result.Error);
                }
            });
    }

    //заполняем данными комбобокс
    function setValuesToDropdown(controlName,data, AddressType)
    {
        //var options = $('#' + controlName);
        //options.attr("disabled", "disabled");
        var optionsValues = '<select style = "width:95%" onchange = "CodeChange(' + (AddressType + 1) + ');" id="' + controlName + '" name="' + controlName + '">';
        optionsValues += '<option value=""></option>';
        $.each(data, function (item, data) {
            optionsValues += '<option value="' + data.Code + '">' + data.Name + '</option>';
        })
        optionsValues += '</select>';

        console.log(optionsValues);

        var options = $("#" + controlName );
        options.replaceWith(optionsValues);
        //options.removeAttr("disabled");
    }

    //чистим комбобоксы
    function setEmptyToDropdown(controlName, AddressType) {
        var optionsValues = '<select style = "width:95%" onchange = "CodeChange(' + (AddressType + 1) + ');" id="' + controlName + '" name="' + controlName + '">';
        optionsValues += '<option value=""></option>';
        optionsValues += '</select>';
        var options = $('#' + controlName);
        options.replaceWith(optionsValues);
    }
</script>