@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentBranchModel
@{
    ViewBag.Title = "Справочник филиалов";
}

@using (Html.BeginForm("StaffDepartmentBranch", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentBranchForm", target = "tab1" }))
{
    <h3>@Html.ValidationMessageFor(m => m.MessageStr)</h3>
    
    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
        <table id="tblBranch" class="grid">
            <thead>
                <tr>
                    <th colspan="2">Финград</th>
                    <th rowspan="2">Название филиала в СКД</th>
                    <th rowspan="2" colspan="2"></th>
                    @*<th rowspan="2" class="tdBtn"></th>*@
                </tr>    
                <tr>
                    <th>Название филиала</th>
                    <th>Код филиала</th>
                </tr>
            </thead>
            <tbody id="tblBranchRows">
                @{ int i = 1; }

                @foreach (var item in Model.Branches)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.Branches[i - 1].Id)
                            @Html.HiddenFor(m => m.Branches[i - 1].Name)
                            @Html.DisplayFor(m => m.Branches[i - 1].Name)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.Branches[i - 1].Code)
                            @Html.DisplayFor(m => m.Branches[i - 1].Code)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Branches[i - 1].DepName)
                            @Html.HiddenFor(m => m.Branches[i - 1].DepartmentId)
                        </td>
                        <td class="tdBtn">
                            <a onclick="EditModeOnOff(@i-1);" href="#" >Редактировать</a>
                        </td>
                        <td class="tdBtn">
                            <a onclick="DeleteRow(@item.Id);" href="#" >Удалить</a>
                        </td>
                        @{ i++; }
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    
    @*<div id="DivIndicator" style="display:none;">
        <table>
            <tr>
                <td><span id="LoadingIndicator2"></span></td>
                <td><label>Идет загрузка данных...</label></td>
            </tr>
        </table>
    </div>*@
}

<div id="AddEditRow" style="display:none;">
    @using (Html.BeginForm("TestStaffDepartmentBranch", "StaffList", FormMethod.Post))
    {
        <label id="lblMsg" style="color:Red;font-size:large;"></label>
        <table>
            <tr>
                @Html.HiddenFor(m => m.Id)
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Code)</td>
                <td>@Html.TextBoxFor(m => m.Code, new { style = "width:25px", maxlength = "2" }) @Html.ValidationMessageFor(m => m.Code)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DepartmentId)</td>
                <td>@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.TwoLevelDeps, "Id", "Name"))</td>
            </tr>
        </table>
    }
        
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moDepEncoding");

        $.ajaxSetup({ cache: false });
        
        $(document).tooltip({ track: false });

        //ShowFlash(true);
        //ShowFlash(false);
        $(":button").button();
    });

    //вкл/выкл режима редактирования
    function EditModeOnOff(IndexRow) {

        $("#Id").val($("#Branches_" + IndexRow + "__Id").val());
        $("#Name").val($("#Branches_" + IndexRow + "__Name").val());
        $("#Code").val($("#Branches_" + IndexRow + "__Code").val());
        $("#DepartmentId").val($("#Branches_" + IndexRow + "__DepartmentId").val());


        CreateEdtRowDialog(true);
    }


    function CreateEdtRowDialog(flgEdit) {
        var Title = (flgEdit ? "Редактирование строки" : "Создание новой строки");
        $('#AddEditRow').dialog(
        {
            autoOpen: false,
            modal: true,
            title: Title,
            width: "auto",
            draggable: false,
            resizable: false,
            buttons:
            {
                "OK": function () {
                    processAddEditRow();
                    //$(this).dialog("close");
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#AddEditRow').dialog("open");
    }

    var processAddEditRow = function()
    {
    
        var url = "@Url.Action("AddEditStaffDepartmentBranch", "StaffList")";
        var dataToSend = $("#AddEditRow form").serialize();
        $.post(url, dataToSend, function(data){
            if (data.ok == true){
                $("#lblMsg").text("");
                var $table = $("#tblBranch");
                var $rows = $("#tblBranchRows");
                $rows.remove();
                FillTableData(data);
//                for (var i = 0; i < data.Branches.length; i++)
//                {
//                    $table.append(
//                        "<tr class=\"tblBranchRows\"><td>" +
//                        "<input id='Branches_" + i + "__Id' name='Branches[" + i + "].Id' value='" + data.Branches[i].Id + "' type='hidden'>" +
//                        "<input id='Branches_" + i + "__Name' name='Branches[" + i + "].Name' value='" + data.Branches[i].Name + "' type='hidden'>" +
//                        (data.Branches[i].Name ? data.Branches[i].Name : "") + "</td><td>" +
//                        "<input id='Branches_" + i + "__Code' name='Branches[" + i + "].Code' value='" + data.Branches[i].Code + "' type='hidden'>" +
//                        (data.Branches[i].Code ? data.Branches[i].Code : "") + "</td><td>" +
//                        "<input id='Branches_" + i + "__DepartmentId' name='Branches[" + i + "].DepartmentId' value='" + data.Branches[i].DepartmentId + "' type='hidden'>" +
//                        (data.Branches[i].DepName ? data.Branches[i].DepName : "") + "</td>" +
//                        "<td class='tdBtn'><a onclick='EditModeOnOff(" + i + ");' href='#' >Редактировать</a></td>" + 
//                        "<td class='tdBtn'><a onclick='DeleteRow(" + data.Branches[i].Id + ");' href='#' >Удалить</a></td></tr>" 
//                    );
//                }

                $('#AddEditRow').dialog("close");
            }
            else{
                $("#lblMsg").text(data.msg);
            }
        }, "json");
    };

    function DeleteRow(Id){
        var actionUrl="@Url.Action("DeleteStaffDepartmentBranch", "StaffList")";
        var url = actionUrl + "?Id=" + Id;

        var dataToSend = $("#add-name-change-dialog form").serialize();
            $.post(url, dataToSend, function(dataReceived){
                if (data.ok == true){
                    $("#lblMsg").text("");
                    var $table = $("#tblBranch");
                    var $rows = $("#tblBranchRows");
                    $rows.remove();
                    FillTableData(data);
//                    for (var i = 0; i < data.Branches.length; i++)
//                    {
//                        $table.append(
//                            "<tr class=\"tblBranchRows\"><td>" +
//                            "<input id='Branches_" + i + "__Id' name='Branches[" + i + "].Id' value='" + data.Branches[i].Id + "' type='hidden'>" +
//                            "<input id='Branches_" + i + "__Name' name='Branches[" + i + "].Name' value='" + data.Branches[i].Name + "' type='hidden'>" +
//                            (data.Branches[i].Name ? data.Branches[i].Name : "") + "</td><td>" +
//                            "<input id='Branches_" + i + "__Code' name='Branches[" + i + "].Code' value='" + data.Branches[i].Code + "' type='hidden'>" +
//                            (data.Branches[i].Code ? data.Branches[i].Code : "") + "</td><td>" +
//                            "<input id='Branches_" + i + "__DepartmentId' name='Branches[" + i + "].DepartmentId' value='" + data.Branches[i].DepartmentId + "' type='hidden'>" +
//                            (data.Branches[i].DepName ? data.Branches[i].DepName : "") + "</td>" +
//                            "<td class='tdBtn'><a onclick='EditModeOnOff(" + i + ");' href='#' >Редактировать</a></td>" + 
//                            "<td class='tdBtn'><a onclick='DeleteRow(" + data.Branches[i].Id + ");' href='#' >Удалить</a></td></tr>" 
//                        );
//                    }

                    $('#AddEditRow').dialog("close");
                }
                else{
                    $("#lblMsg").text(data.msg);
                }
            }, "json");
    }

    function FillTableData(data){
        for (var i = 0; i < data.Branches.length; i++)
        {
            $("#tblBranch").append(
                "<tr class=\"tblBranchRows\"><td>" +
                "<input id='Branches_" + i + "__Id' name='Branches[" + i + "].Id' value='" + data.Branches[i].Id + "' type='hidden'>" +
                "<input id='Branches_" + i + "__Name' name='Branches[" + i + "].Name' value='" + data.Branches[i].Name + "' type='hidden'>" +
                (data.Branches[i].Name ? data.Branches[i].Name : "") + "</td><td>" +
                "<input id='Branches_" + i + "__Code' name='Branches[" + i + "].Code' value='" + data.Branches[i].Code + "' type='hidden'>" +
                (data.Branches[i].Code ? data.Branches[i].Code : "") + "</td><td>" +
                "<input id='Branches_" + i + "__DepartmentId' name='Branches[" + i + "].DepartmentId' value='" + data.Branches[i].DepartmentId + "' type='hidden'>" +
                (data.Branches[i].DepName ? data.Branches[i].DepName : "") + "</td>" +
                "<td class='tdBtn'><a onclick='EditModeOnOff(" + i + ");' href='#' >Редактировать</a></td>" + 
                "<td class='tdBtn'><a onclick='DeleteRow(" + data.Branches[i].Id + ");' href='#' >Удалить</a></td></tr>" 
            );
        }
    }

//    function ShowFlash(IsShow)  //показываем индикатор загрузки
//    {
//        if (!IsShow) {
//            $("#LoadingIndicator2").removeClass("loading2");
//            $("#DivIndicator").dialog("close");
//            $("#DivIndicator").hide();
//        }
//        else {
//            $("#LoadingIndicator2").addClass("loading2");
//            $("#DivIndicator").show();
//            $("#DivIndicator").dialog(
//            { // initialize dialog box
//                autoOpen: true,
//                modal: true,
//                // fix IE6  
//                bgiframe: true,
//                draggable: false,
//                resizable: false,
//                width: 300,
//                height: 60,
//                closeOnEscape: false,
//                close: function (event, ui) {
//                    //$(this).dialog("destroy").remove();
//                }
//            });
//            $(".ui-dialog-titlebar").hide();
//            $(".ui-dialog-titlebar-close").hide();
//        }
//    }

//    //функция отправки и получения ajax-запроса
//    function AjaxFormRequest(result_id, form_id, url, TypePost) {
//        jQuery.ajax({
//            url: url, //Адрес подгружаемой страницы
//            type: TypePost, //Тип запроса
//            dataType: "html", //Тип данных
//            data: jQuery("#" + form_id).serialize(),
//            success: function (response) { //Если все нормально
//                document.getElementById(result_id).innerHTML = response;
//            },
//            error: function (response) { //Если ошибка
//                document.getElementById(result_id).innerHTML = "Ошибка при отправке формы";
//            }
//        });
//    }
</script>

