@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentBusinessGroupModel
@{
    ViewBag.Title = "Справочник бизнес-групп";
}

@using (Html.BeginForm("StaffDepartmentBusinessGroup", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentBusinessGroupForm", target = "tab4" }))
{
    <b>Автоматическое формирование кода бизнес-группы в разработке!</b><br /><br />
    <label id="MessageStr" style="color:Red;font-size:medium;"></label>
    
    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
        <table id="tblBusinessGroup" class="grid">
            <thead>
                <tr>
                    <th colspan="3">Финград</th>
                    <th rowspan="2">Название бизнес-группы в СКД</th>
                    <th rowspan="2" colspan="2"><button type="button" title="Создать новую запись" onclick="AddEditBusinessGrouptRow(-1);">Создать</button></th>
                    @*<th rowspan="2" class="tdBtn"></th>*@
                </tr>    
                <tr>
                    <th>Название бизнес-группы</th>
                    <th>Код бизнес-группы</th>
                    <th>Управление</th>
                </tr>
            </thead>
            
            <tbody class="tblBusinessGroupRows">
                @{ int i = 1; }

                @foreach (var item in Model.BusinessGroups)
                {
                    <tr class="tblBusinessGroupRow">
                        <td>
                            @Html.HiddenFor(m => m.BusinessGroups[i - 1].Id)
                            @Html.HiddenFor(m => m.BusinessGroups[i - 1].Name)
                            @Html.DisplayFor(m => m.BusinessGroups[i - 1].Name)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.BusinessGroups[i - 1].Code)
                            @Html.DisplayFor(m => m.BusinessGroups[i - 1].Code)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.BusinessGroups[i - 1].AdminName)
                            @Html.HiddenFor(m => m.BusinessGroups[i - 1].AdminId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.BusinessGroups[i - 1].DepName)
                            @Html.HiddenFor(m => m.BusinessGroups[i - 1].DepartmentId)
                        </td>
                        <td class="tdBtn">
                            <a class="CallModal" onclick="AddEditBusinessGrouptRow(@i-1);" href="#" >Редактировать</a>
                        </td>
                        <td class="tdBtn">
                            <a onclick="DeleteManagementRow(@item.Id);" href="#" >Удалить</a>
                        </td>
                        @{ i++; }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div id="AddEditBusinessGroupDialog" style="display:none;">
    @using (Html.BeginForm("StaffDepartmentBusinessGroupDialog", "StaffList", FormMethod.Post))
    {
        <label id="lblMsg" style="color:Red;font-size:medium;"></label>
        <table>
            <tr>
                @Html.HiddenFor(m => m.Id)
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name, new { style = "width:500px", maxlength = "150" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Code)</td>
                <td>@Html.TextBoxFor(m => m.Code, new { style = "width:100px", maxlength = "11" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.AdminId)</td>
                <td>@Html.DropDownListFor(m => m.AdminId, new SelectList(Model.Administrations, "Id", "Name"))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DepartmentId)</td>
                <td>@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.FiveLevelDeps, "Id", "Name"))</td>
            </tr>
        </table>
    }
        
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moDepEncoding");

        $.ajaxSetup({ cache: false });
        
        $(document).tooltip({ track: false });

        $(":button").button();

        $(".CallModal").click(function(e){e.preventDefault(); return false;});//чтобы при вызове модального окна не скроллилась страница вверх
    });

    //вкл/выкл режима редактирования
    function AddEditBusinessGrouptRow(IndexRow) {
        if(IndexRow >= 0){
            $("#Id").val($("#BusinessGroups_" + IndexRow + "__Id").val());
            $("#Name").val($("#BusinessGroups_" + IndexRow + "__Name").val());
            $("#Code").val($("#BusinessGroups_" + IndexRow + "__Code").val());
            $("#AdminId").val($("#BusinessGroups_" + IndexRow + "__AdminId").val());
            $("#DepartmentId").val($("#BusinessGroups_" + IndexRow + "__DepartmentId").val());
        }
        else{
            $("#Id").val(0);
            $("#Name").val("");
            $("#Code").val("");
            $("#AdminId").val(0);
            $("#DepartmentId").val(0);
        }

        $("#lblMsg").text("");
        $("#MessageStr").text("");

        CreateManagementEdtRowDialog(IndexRow >= 0 ? true : false);
    }


    function CreateManagementEdtRowDialog(flgEdit) {
        var Title = (flgEdit ? "Редактирование строки" : "Создание новой строки");
        $('#AddEditBusinessGroupDialog').dialog(
        {
            autoOpen: false,
            modal: true,
            title: Title,
            width: "auto",
            draggable: false,
            resizable: false,
            //position: "center",
            buttons:
            {
                "OK": function () {
                    processAddEditBusinessGrouptRow();
                    //$(this).dialog("close");
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".ui-dialog-titlebar").show();
        $(".ui-dialog-titlebar-close").show();

        $('#AddEditBusinessGroupDialog').dialog("open");
    }

    function processAddEditBusinessGrouptRow()
    {
    
        var url = "@Url.Action("AddEditStaffDepartmentBusinessGroup", "StaffList")";
        var dataToSend = $("#AddEditBusinessGroupDialog form").serialize();
        ShowFlash(true);    //это диалоговое окно находится на родительской странице
        $.post(url, dataToSend, function(data){
            if (data.ok == true){
                $('#AddEditBusinessGroupDialog').dialog("close");
                $("#MessageStr").text(data.msg);
                var $table = $("#tblBusinessGroup");
                var $rows = $("#tblBusinessGroup .tblBusinessGroupRow");
                $rows.remove();
                FillManagementTableData(data);
                
                ShowFlash(false);
            }
            else{
                ShowFlash(false);
                $("#lblMsg").text(data.msg);
            }
        }, "json");
    };

    function DeleteManagementRow(Id){
        var result = confirm("Подтвердите удаление выбранной записи!");
        if (!result) {return;}

        var actionUrl="@Url.Action("DeleteStaffDepartmentBusinessGroup", "StaffList")";
        var url = actionUrl + "?Id=" + Id;
        ShowFlash(true);
        var dataToSend = $("#StaffDepartmentMenegmentForm").serialize();
            $.post(url, dataToSend, function(data){
                if (data.ok == true){
                    $("#MessageStr").text(data.msg);
                    var $table = $("#tblBusinessGroup");
                    var $rows = $("#tblBusinessGroup .tblBusinessGroupRow");
                    $rows.remove();
                    FillManagementTableData(data);
                    ShowFlash(false);
                }
                else{
                    ShowFlash(false);
                    $("#MessageStr").text(data.msg);
                }
            }, "json");
    }

    function FillManagementTableData(data){
        for (var i = 0; i < data.BusinessGroups.length; i++)
        {
            $("#tblBusinessGroup").append(
                
                "<tr class=\"tblBusinessGroupRow\">" +
                    "<td><input id='BusinessGroups_" + i + "__Id' name='BusinessGroups[" + i + "].Id' value='" + data.BusinessGroups[i].Id + "' type='hidden'>" +
                        "<input id='BusinessGroups_" + i + "__Name' name='BusinessGroups[" + i + "].Name' value='" + data.BusinessGroups[i].Name + "' type='hidden'>" + (data.BusinessGroups[i].Name ? data.BusinessGroups[i].Name : "") + "</td>" +
                    "<td><input id='BusinessGroups_" + i + "__Code' name='BusinessGroups[" + i + "].Code' value='" + data.BusinessGroups[i].Code + "' type='hidden'>" + (data.BusinessGroups[i].Code ? data.BusinessGroups[i].Code : "") + "</td>" +
                    "<td><input id='BusinessGroups_" + i + "__AdminId' name='BusinessGroups[" + i + "].AdminId' value='" + data.BusinessGroups[i].AdminId + "' type='hidden'>" + (data.BusinessGroups[i].AdminName ? data.BusinessGroups[i].AdminName : "") + "</td>" +
                    "<td><input id='BusinessGroups_" + i + "__DepartmentId' name='BusinessGroups[" + i + "].DepartmentId' value='" + data.BusinessGroups[i].DepartmentId + "' type='hidden'>" + (data.BusinessGroups[i].DepName ? data.BusinessGroups[i].DepName : "") + "</td>" +
                    "<td class='tdBtn'><a id='AddEdit" + i + "' onclick='AddEditBusinessGrouptRow(" + i + ");' href='#' >Редактировать</a></td>" + 
                    "<td class='tdBtn'><a onclick='DeleteBranchRow(" + data.BusinessGroups[i].Id + ");' href='#' >Удалить</a></td>" +
                "</tr>"
            );
            
            $("#AddEdit" + i).addClass("CallModal");
            $("#AddEdit" + i).click(function(e){ e.preventDefault(); })
        }
    }

</script>

