@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentRPLinkModel
@{
    ViewBag.Title = "Справочник РП-привязок";
}

@using (Html.BeginForm("StaffDepartmentRPLink", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentRPLinkForm", target = "tab5" }))
{
    <label id="rMessageStr" style="color:Red;font-size:medium;"></label>
    <br /><br />
    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
        <table id="tblRPLink" class="grid">
            <thead>
                <tr>
                    <th colspan="6">Финград</th>
                    <th rowspan="2">Подразделение 6 уровня в СКД</th>
                    <th rowspan="2" colspan="2"><button type="button" title="Создать новую запись" onclick="AddEditRPLinkRow(-1);">Создать</button></th>
                    @*<th rowspan="2" class="tdBtn"></th>*@
                </tr>    
                <tr>
                    <th>Название РП-привязки</th>
                    <th>Код РП-привязки</th>
                    <th>Бизнес-группа</th>
                    <th>Управление</th>
                    <th>Дирекция</th>
                    <th>Филиал</th>
                </tr>

                <tr>
                    <td colspan="9">
                        <div id="RPFilterDiv">
                            <h3>Фильтры:</h3>
                            <div>
                                @Html.LabelFor(m => m.BGFilterId)
                                @Html.DropDownListFor(m => m.BGFilterId, new SelectList(Model.BusinessGroups, "bId", "bName"), (object)new { onchange = "SetRPFilter();" })
                                @Html.HiddenFor(m => m.BGFilterId)
                                <br /><br />
                                @Html.LabelFor(m => m.AdminFilterId)
                                @Html.DropDownListFor(m => m.AdminFilterId, new SelectList(Model.Administrations, "aId", "aName"), (object) new { onchange = "SetRPFilter();"})
                                @Html.HiddenFor(m => m.AdminFilterId)
                                <br /><br />
                                @Html.LabelFor(m => m.ManagementFilterId)
                                @Html.DropDownListFor(m => m.ManagementFilterId, new SelectList(Model.Managements, "mId", "mName"), (object)new { onchange = "SetRPFilter();" })
                                @Html.HiddenFor(m => m.ManagementFilterId)
                                <br /><br />
                                @Html.LabelFor(m => m.BranchFilterId)
                                @Html.DropDownListFor(m => m.BranchFilterId, new SelectList(Model.Branches, "Id", "Name"), (object)new { onchange = "SetRPFilter();" })
                                @Html.HiddenFor(m => m.BranchFilterId)
                                
                                <button id="btnRPClearFilter" type="button" title="Сбросить параметры поиска" style="float:right;">Сброс</button>
                            </div>
                        </div>
                    </td>
                </tr>

            </thead>
            
            <tbody class="tblRPLinkRows">
                @{ int i = 1; }

                @foreach (var item in Model.RPLinks)
                {
                    <tr class="tblRPLinkRow">
                        <td>
                            @Html.HiddenFor(m => m.RPLinks[i - 1].rId)
                            @Html.HiddenFor(m => m.RPLinks[i - 1].rName)
                            @Html.DisplayFor(m => m.RPLinks[i - 1].rName)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.RPLinks[i - 1].rCode)
                            @Html.DisplayFor(m => m.RPLinks[i - 1].rCode)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.RPLinks[i - 1].BGName)
                            @Html.HiddenFor(m => m.RPLinks[i - 1].BGId)
                        </td>
                        <td>@Html.DisplayFor(m => m.RPLinks[i - 1].AdminName)</td>
                        <td>@Html.DisplayFor(m => m.RPLinks[i - 1].ManagementName)</td>
                        <td>@Html.DisplayFor(m => m.RPLinks[i - 1].BranchName)</td>
                        <td>
                            @Html.DisplayFor(m => m.RPLinks[i - 1].DepName)
                            @Html.HiddenFor(m => m.RPLinks[i - 1].rDepartmentId)
                        </td>
                        <td class="tdBtn">
                            <a class="CallModal" onclick="AddEditRPLinkRow(@i-1);" href="#" >Изменить</a>
                        </td>
                        <td class="tdBtn">
                            <a onclick="DeleteRPLinkRow(@item.rId);" href="#" >Удалить</a>
                        </td>
                        @{ i++; }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div id="AddEditRPLinkDialog" style="display:none;">
    @using (Html.BeginForm("StaffDepartmentRPLinkDialog", "StaffList", FormMethod.Post))
    {
        <label id="rMsg" style="color:Red;font-size:medium;"></label>
        <table>
            <tr>
                @Html.HiddenFor(m => m.rId)
                <td>@Html.LabelFor(m => m.rName)</td>
                <td>@Html.TextBoxFor(m => m.rName, new { style = "width:600px", maxlength = "250" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.rCode)</td>
                <td>@Html.TextBoxFor(m => m.rCode, new { style = "width:110px", maxlength = "12" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BGId)</td>
                <td>@Html.DropDownListFor(m => m.BGId, new SelectList(Model.BusinessGroups, "bId", "bName"))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.rDepartmentId)</td>
                <td>@Html.DropDownListFor(m => m.rDepartmentId, new SelectList(Model.SixLevelDeps, "Id", "Name"))</td>
            </tr>
        </table>
    }
        
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moDepEncoding");

        $.ajaxSetup({ cache: false });
        
        $(document).tooltip({ track: false });

        $(":button").button();

        $(".CallModal").click(function(e){e.preventDefault(); return false;});//чтобы при вызове модального окна не скроллилась страница вверх

        $("#RPFilterDiv").accordion({
            header: "h3",
            active: false,
            collapsible: true,
            autoHeight: false,
            heightStyle: "content"
        });

        $("#btnRPClearFilter").click(function(){
            $("#BGFilterId").val(0);
            $("#AdminFilterId").val(0);
            $("#ManagementFilterId").val(0);
            $("#BranchFilterId").val(0);

            SetRPFilter();
        });
    });

    //вкл/выкл режима редактирования
    function AddEditRPLinkRow(IndexRow) {
        if(IndexRow >= 0){
            $("#rId").val($("#RPLinks_" + IndexRow + "__rId").val());
            $("#rName").val($("#RPLinks_" + IndexRow + "__rName").val());
            $("#rCode").val($("#RPLinks_" + IndexRow + "__rCode").val());
            $("#BGId").val($("#RPLinks_" + IndexRow + "__BGId").val());
            $("#rDepartmentId").val($("#RPLinks_" + IndexRow + "__rDepartmentId").val());
        }
        else{
            $("#Id").val(0);
            $("#rName").val("");
            $("#rCode").val("");
            $("#BGId").val(0);
            $("#rDepartmentId").val(0);
        }

        $("#rMsg").text("");
        $("#rMessageStr").text("");

        CreateRPLinkEdtRowDialog(IndexRow >= 0 ? true : false);
    }


    function CreateRPLinkEdtRowDialog(flgEdit) {
        var Title = (flgEdit ? "Редактирование строки" : "Создание новой строки");
        $('#AddEditRPLinkDialog').dialog(
        {
            autoOpen: false,
            modal: true,
            title: Title,
            width: "auto",
            draggable: false,
            resizable: false,
            //position: "center",
            buttons:
            {
                "OK": function () {
                    processAddEditRPLinkRow();
                    //$(this).dialog("close");
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".ui-dialog-titlebar").show();
        $(".ui-dialog-titlebar-close").show();

        $('#AddEditRPLinkDialog').dialog("open");
    }

    function processAddEditRPLinkRow()
    {
    
        var url = "@Url.Action("AddEditStaffDepartmentRPLink", "StaffList")";
        url += "?BGFilterId=" + $("#BGFilterId").val() + "&AdminFilterId=" + $("#AdminFilterId").val() + "&ManagementFilterId=" + $("#ManagementFilterId").val() + "&BranchFilterId="+ $("#BranchFilterId").val();
        console.log(url);
        var dataToSend = $("#AddEditRPLinkDialog form").serialize();
        ShowFlash(true);    //это диалоговое окно находится на родительской странице
        $.post(url, dataToSend, function(data){
            if (data.ok == true){
                $('#AddEditRPLinkDialog').dialog("close");
                $("#rMessageStr").text(data.msg);
                var $table = $("#tblRPLink");
                var $rows = $("#tblRPLink .tblRPLinkRow");
                $rows.remove();
                FillRPLinkTableData(data);
                
                ShowFlash(false);
            }
            else{
                ShowFlash(false);
                $("#rMsg").text(data.msg);
            }
        }, "json")
        .fail(function(data, str1, str2){
            if(str1 == "parsererror")
                $("#rMessageStr").text("Доступ запрещен!");
            else
                $("#rMessageStr").text("При загрузке данных произошла ошибка!");
            ShowFlash(false);
            $('#AddEditRPLinkDialog').dialog("close");
            
        });
    };

    function DeleteRPLinkRow(Id){
        var result = confirm("Подтвердите удаление выбранной записи!");
        if (!result) {return;}

        var actionUrl="@Url.Action("DeleteStaffDepartmentRPLink", "StaffList")";
        var url = actionUrl + "?Id=" + Id;
        ShowFlash(true);
        var dataToSend = $("#StaffDepartmentRPLinkForm").serialize();
            $.post(url, dataToSend, function(data){
                if (data.ok == true){
                    $("#rMessageStr").text(data.msg);
                    var $table = $("#tblRPLink");
                    var $rows = $("#tblRPLink .tblRPLinkRow");
                    $rows.remove();
                    FillRPLinkTableData(data);
                    ShowFlash(false);
                }
                else{
                    ShowFlash(false);
                    $("#rMessageStr").text(data.msg);
                    alert(data.msg);
                }
            }, "json")
            .fail(function(data){
                ShowFlash(false);
                $("#rMessageStr").text("У вас нет прав для выполнения данной операции!");
            });
    }

    function SetRPFilter(){
        var actionUrl="@Url.Action("StaffDepartmentRPLink", "StaffList")";
        var url = actionUrl + "?BGFilterId=" + $("#BGFilterId").val() + "&AdminFilterId=" + $("#AdminFilterId").val() + "&ManagementFilterId=" + $("#ManagementFilterId").val() + "&BranchFilterId="+ $("#BranchFilterId").val();
        ShowFlash(true);
        var dataToSend = $("#StaffDepartmentRPLinkForm").serialize();
            $.post(url, dataToSend, function(data){
                if (data.ok == true){
                    $("#rMessageStr").text(data.msg);
                    var $table = $("#tblRPLink");
                    var $rows = $("#tblRPLink .tblRPLinkRow");
                    $rows.remove();
                    FillRPLinkTableData(data);
                    ShowFlash(false);
                }
                else{
                    ShowFlash(false);
                    $("#rMessageStr").text(data.msg);
                    alert(data.msg);
                }
            }, "json")
            .fail(function(data){
                ShowFlash(false);
                $("#rMessageStr").text("У вас нет прав для выполнения данной операции!");
            });
    }

    function FillRPLinkTableData(data){
        for (var i = 0; i < data.RPLinks.length; i++)
        {
            $("#tblRPLink").append(
                
                "<tr class=\"tblRPLinkRow\">" +
                    "<td><input id='RPLinks_" + i + "__rId' name='RPLinks[" + i + "].rId' value='" + data.RPLinks[i].rId + "' type='hidden'>" +
                        "<input id='RPLinks_" + i + "__rName' name='RPLinks[" + i + "].rName' value='" + data.RPLinks[i].rName + "' type='hidden'>" + (data.RPLinks[i].rName ? data.RPLinks[i].rName : "") + "</td>" +
                    "<td><input id='RPLinks_" + i + "__rCode' name='RPLinks[" + i + "].rCode' value='" + data.RPLinks[i].rCode + "' type='hidden'>" + (data.RPLinks[i].rCode ? data.RPLinks[i].rCode : "") + "</td>" +
                    "<td><input id='RPLinks_" + i + "__BGId' name='RPLinks[" + i + "].BGId' value='" + data.RPLinks[i].BGId + "' type='hidden'>" + (data.RPLinks[i].BGName ? data.RPLinks[i].BGName : "") + "</td>" +
                    "<td>" + (data.RPLinks[i].AdminName ? data.RPLinks[i].AdminName : "") + "</td>" +
                    "<td>" + (data.RPLinks[i].ManagementName ? data.RPLinks[i].ManagementName : "") + "</td>" +
                    "<td>" + (data.RPLinks[i].BranchName ? data.RPLinks[i].BranchName : "") + "</td>" +
                    "<td><input id='RPLinks_" + i + "__rDepartmentId' name='RPLinks[" + i + "].rDepartmentId' value='" + data.RPLinks[i].rDepartmentId + "' type='hidden'>" + (data.RPLinks[i].DepName ? data.RPLinks[i].DepName : "") + "</td>" +
                    "<td class='tdBtn'><a id='AddEdit" + i + "' onclick='AddEditRPLinkRow(" + i + ");' href='#' >Изменить</a></td>" + 
                    "<td class='tdBtn'><a onclick='DeleteRPLinkRow(" + data.RPLinks[i].rId + ");' href='#' >Удалить</a></td>" +
                "</tr>"
            );
            
            $("#AddEdit" + i).addClass("CallModal");
            $("#AddEdit" + i).click(function(e){ e.preventDefault(); })
        }
    }

</script>

