@model Reports.Presenters.UI.ViewModel.StaffList.StaffEstablishedPostRequestListModel
@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "Заявки для штатных единиц";
}

@using (Html.BeginForm("StaffEstablishedPostRequestList", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffEstablishedPostRequestListForm" }))
{
    @Html.HiddenFor(m => m.SortBy)
    @Html.HiddenFor(m => m.SortDescending)

    <span style="font-size:large;">@Html.ValidationMessageFor(m => m.MessageStr)</span>
    <div class="filter-wrap">
        <table style="width:100%">
            <tr>
                <td colspan="2">
                    <b>Заявки для штатных единиц</b>
                </td>
            </tr>
            <tr>
                <td style="width:220px">
                    @Html.LabelFor(m => m.DepartmentId):
                </td>
                <td>
                    <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                    <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                    <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                </td>
            </tr>
            <tr>
                <td style="width:220px">
                    @Html.LabelFor(m => m.StatusId):
                </td>
                <td>
                    @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "Id", "Name")) 
                </td>
            </tr>
            <tr>
                <td style="width:220px">
                    @Html.LabelFor(m => m.RequestTypeId):
                </td>
                <td>
                    @Html.DropDownListFor(model => model.RequestTypeId, new SelectList(Model.RequestTypes, "Id", "Name")) 
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>
                    @Html.TextBoxFor(m => m.Id, new { style = "width:75px;" })
                    @Html.ValidationMessageFor(m => m.Id)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Creator)</td>
                <td>@Html.TextBoxFor(m => m.Creator, new { placeholder = "ФИО" })</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(m => m.DateBegin):
                    @Html.EditorFor(model => model.DateBegin) 
                    @Html.LabelFor(m => m.DateEnd):
                    @Html.EditorFor(model => model.DateEnd) 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="btnFind" value="Выбрать" title="Выбрать записи по указанным параметрам"/>
                    <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
                </td>
            </tr>
        </table>
    </div><br />
    
    <div class="filter-wrap">
        <table class="grid" id="tblEPRequestList" style="width:100%">
            <tr>
                <th>№ п/п</th>
                <th><div id="sort1" style="min-width:30px"><a href="#" onclick = "SortChanged(1);">Номер<br /> заявки</a></div></th>
                <th><div id="sort2" style="min-width:30px"><a href="#" onclick = "SortChanged(2);">Дата создания<br /> заявки</a></div></th>
                <th><div id="sort3" style="min-width:30px"><a href="#" onclick = "SortChanged(3);">Вид заявки</a></div></th>
                <th><div id="sort4" style="min-width:30px"><a href="#" onclick = "SortChanged(4);">Подразделение <br />2 уровня</a></div></th>
                <th><div id="sort5" style="min-width:30px"><a href="#" onclick = "SortChanged(5);">Подразделение <br />3 уровня</a></div></th>
                <th><div id="sort6" style="min-width:30px"><a href="#" onclick = "SortChanged(6);">Подразделение <br />4 уровня</a></div></th>
                <th><div id="sort7" style="min-width:30px"><a href="#" onclick = "SortChanged(7);">Подразделение <br />5 уровня</a></div></th>
                <th><div id="sort8" style="min-width:30px"><a href="#" onclick = "SortChanged(8);">Подразделение <br />6 уровня</a></div></th>
                <th><div id="sort9" style="min-width:30px"><a href="#" onclick = "SortChanged(9);">Подразделение <br />7 уровня</a></div></th>
                <th><div id="sort12" style="min-width:30px"><a href="#" onclick = "SortChanged(10);">ФИО<br /> инициатора</a></div></th>
                <th><div id="sort13" style="min-width:30px"><a href="#" onclick = "SortChanged(11);">Должность</a></div></th>
                <th><div id="sort14" style="min-width:30px"><a href="#" onclick = "SortChanged(12);">Статус<br /> заявки</a></div></th>
            </tr>
            <tbody id="SEPRequestListBody">
                @{int i = 1;}
                @if (Model.EPRequestList != null && Model.EPRequestList.Count != 0)
                {
                    foreach (var item in Model.EPRequestList)
                    {
                        <tr>
                            <td style="text-align:center;">@i.ToString()</td>
                            <td style="text-align:center;"><a class="ui-notify-close" href='@Url.Action("StaffEstablishedPostRequest", "StaffList", new { RequestType = @item.RequestTypeId, DepartmentId = @item.DepartmentId, SEPId = @item.SEPId, id = @item.Id })' style="cursor:hand">@item.Id</a></td>
                            <td>@(item.DateRequest.HasValue ? item.DateRequest.Value.ToShortDateString() : "")</td>
                            <td>@item.RequestTypeName</td>
                            <td>@item.Dep2Name</td>
                            <td>@item.Dep3Name</td>
                            <td>@item.Dep4Name</td>
                            <td>@item.Dep5Name</td>
                            <td>@item.Dep6Name</td>
                            <td>@item.Dep7Name</td>
                            <td>@item.Surname</td>
                            <td>@item.PositionName</td>
                            <td>@item.Status</td>
                        </tr>
                    
                        i++;
                    }
                }
                
                
            </tbody>
        </table>
    </div>
    
    <div id="DivIndicator" style="display:none;">
        <table>
            <tr>
                <td><span id="LoadingIndicator2"></span></td>
                <td><label>Идет загрузка данных...</label></td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";    
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";

    $(document).ready(function () {
        setActiveMenuItem("moSEPRequest");
        $(document).tooltip({ track: true });
        $(":button").button();

        $(":text").bind("keydown", function(e){if (e.keyCode == 13) $("#StaffEstablishedPostRequestListForm").submit();});

        ShowFlash(true);
        ShowFlash(false);

        $("#btnFind").click(function(){
            GetFindRows();
        });

        $("#DateBegin").datepicker({changeYear: true, changeMonth: true});
        $("#DateEnd").datepicker({changeYear: true, changeMonth: true});
        $(".hasDatepicker").width("75px");

        if(($("#SortBy").val() != 0) && ($("#SortDescending").val() != ''))
        {
            if($("#SortDescending").val() == 'True')
                $("#sort"+$("#SortBy").val()).addClass("sort-desc");
            else        
                $("#sort"+$("#SortBy").val()).addClass("sort-asc");
        }

    });

    function resetFilter() {
        $("#DateBegin").val('');
        $("#DateEnd").val('');
        $("#DepartmentName").val('');
        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#Creator").val('');
        $("#Id").val('');
        $("#StatusId").val('0');
    }

    function GetFindRows()
    {
        ShowFlash(true);
        $("#SEPRequestListBody").remove();
        $("#StaffEstablishedPostRequestListForm").submit();
    }

    function SortChanged(sortedBy)
    {
        if($("#SortBy").val() != sortedBy)
            $("#SortDescending").val(''); 
        $("#SortBy").val(sortedBy);
        if($("#SortDescending").val() == '')
            $("#SortDescending").val('True');
        else if($("#SortDescending").val() == 'True')
            $("#SortDescending").val('False');
        else
            $("#SortDescending").val('True');

        GetFindRows();
    }

    function ShowFlash(IsShow)  //показываем индикатор загрузки
    {
        if (!IsShow) {
            $("#LoadingIndicator2").removeClass("loading2");
            $("#DivIndicator").dialog("close");
            $("#DivIndicator").hide();
        }
        else {
            $("#LoadingIndicator2").addClass("loading2");
            $("#DivIndicator").show();
            $("#DivIndicator").dialog(
            { // initialize dialog box
                autoOpen: true,
                modal: true,
                // fix IE6  
                bgiframe: true,
                draggable: false,
                resizable: false,
                width: 300,
                height: 60,
                closeOnEscape: false,
                close: function (event, ui) {
                    //$(this).dialog("destroy").remove();
                }
            });
            $(".ui-dialog-titlebar").hide();
            $(".ui-dialog-titlebar-close").hide();
        }
    }
</script>