@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentAdministrationModel
@{
    ViewBag.Title = "Справочник управлений";
}

@using (Html.BeginForm("StaffDepartmentAdministration", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentAdministrationForm", target = "tab3" }))
{
    <b>Автоматическое формирование кода управления в разработке!</b><br /><br />
    <label id="MessageStr" style="color:Red;font-size:medium;"></label>
    
    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
        <table id="tblAdministration" class="grid">
            <thead>
                <tr>
                    <th colspan="3">Финград</th>
                    <th rowspan="2">Название управления в СКД</th>
                    <th rowspan="2" colspan="2"><button type="button" title="Создать новую запись" onclick="AddEditAdministrationtRow(-1);">Создать</button></th>
                    @*<th rowspan="2" class="tdBtn"></th>*@
                </tr>    
                <tr>
                    <th>Название управления</th>
                    <th>Код управления</th>
                    <th>Дирекция</th>
                </tr>
            </thead>
            
            <tbody class="tblAdministrationRows">
                @{ int i = 1; }

                @foreach (var item in Model.Administrations)
                {
                    <tr class="tblAdministrationRow">
                        <td>
                            @Html.HiddenFor(m => m.Administrations[i - 1].Id)
                            @Html.HiddenFor(m => m.Administrations[i - 1].Name)
                            @Html.DisplayFor(m => m.Administrations[i - 1].Name)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.Administrations[i - 1].Code)
                            @Html.DisplayFor(m => m.Administrations[i - 1].Code)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Administrations[i - 1].ManagementName)
                            @Html.HiddenFor(m => m.Administrations[i - 1].ManagementId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Administrations[i - 1].DepName)
                            @Html.HiddenFor(m => m.Administrations[i - 1].DepartmentId)
                        </td>
                        <td class="tdBtn">
                            <a class="CallModal" onclick="AddEditAdministrationtRow(@i-1);" href="#" >Редактировать</a>
                        </td>
                        <td class="tdBtn">
                            <a onclick="DeleteManagementRow(@item.Id);" href="#" >Удалить</a>
                        </td>
                        @{ i++; }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div id="AddEditAdministrationDialog" style="display:none;">
    @using (Html.BeginForm("StaffDepartmentAdministrationDialog", "StaffList", FormMethod.Post))
    {
        <label id="lblMsg" style="color:Red;font-size:medium;"></label>
        <table>
            <tr>
                @Html.HiddenFor(m => m.Id)
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name, new { style = "width:500px", maxlength = "150" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Code)</td>
                <td>@Html.TextBoxFor(m => m.Code, new { style = "width:60px", maxlength = "7" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ManagementId)</td>
                <td>@Html.DropDownListFor(m => m.ManagementId, new SelectList(Model.Managements, "Id", "Name"))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DepartmentId)</td>
                <td>@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.FourLevelDeps, "Id", "Name"))</td>
            </tr>
        </table>
    }
        
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moDepEncoding");

        $.ajaxSetup({ cache: false });
        
        $(document).tooltip({ track: false });

        $(":button").button();

        $(".CallModal").click(function(e){e.preventDefault(); return false;});//чтобы при вызове модального окна не скроллилась страница вверх
    });

    //вкл/выкл режима редактирования
    function AddEditAdministrationtRow(IndexRow) {
        if(IndexRow >= 0){
            $("#Id").val($("#Administrations_" + IndexRow + "__Id").val());
            $("#Name").val($("#Administrations_" + IndexRow + "__Name").val());
            $("#Code").val($("#Administrations_" + IndexRow + "__Code").val());
            $("#ManagementId").val($("#Administrations_" + IndexRow + "__ManagementId").val());
            $("#DepartmentId").val($("#Administrations_" + IndexRow + "__DepartmentId").val());
        }
        else{
            $("#Id").val(0);
            $("#Name").val("");
            $("#Code").val("");
            $("#ManagementId").val(0);
            $("#DepartmentId").val(0);
        }

        $("#lblMsg").text("");
        $("#MessageStr").text("");

        CreateManagementEdtRowDialog(IndexRow >= 0 ? true : false);
    }


    function CreateManagementEdtRowDialog(flgEdit) {
        var Title = (flgEdit ? "Редактирование строки" : "Создание новой строки");
        $('#AddEditAdministrationDialog').dialog(
        {
            autoOpen: false,
            modal: true,
            title: Title,
            width: "auto",
            draggable: false,
            resizable: false,
            //position: "center",
            buttons:
            {
                "OK": function () {
                    processAddEditAdministrationtRow();
                    //$(this).dialog("close");
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".ui-dialog-titlebar").show();
        $(".ui-dialog-titlebar-close").show();

        $('#AddEditAdministrationDialog').dialog("open");
    }

    function processAddEditAdministrationtRow()
    {
    
        var url = "@Url.Action("AddEditStaffDepartmentAdministration", "StaffList")";
        var dataToSend = $("#AddEditAdministrationDialog form").serialize();
        ShowFlash(true);    //это диалоговое окно находится на родительской странице
        $.post(url, dataToSend, function(data){
            if (data.ok == true){
                $('#AddEditAdministrationDialog').dialog("close");
                $("#MessageStr").text(data.msg);
                var $table = $("#tblAdministration");
                var $rows = $("#tblAdministration .tblAdministrationRow");
                $rows.remove();
                FillManagementTableData(data);
                
                ShowFlash(false);
            }
            else{
                ShowFlash(false);
                $("#lblMsg").text(data.msg);
            }
        }, "json");
    };

    function DeleteManagementRow(Id){
        var result = confirm("Подтвердите удаление выбранной записи!");
        if (!result) {return;}

        var actionUrl="@Url.Action("DeleteStaffDepartmentAdministration", "StaffList")";
        var url = actionUrl + "?Id=" + Id;
        ShowFlash(true);
        var dataToSend = $("#StaffDepartmentMenegmentForm").serialize();
            $.post(url, dataToSend, function(data){
                if (data.ok == true){
                    $("#MessageStr").text(data.msg);
                    var $table = $("#tblAdministration");
                    var $rows = $("#tblAdministration .tblAdministrationRow");
                    $rows.remove();
                    FillManagementTableData(data);
                    ShowFlash(false);
                }
                else{
                    ShowFlash(false);
                    $("#MessageStr").text(data.msg);
                }
            }, "json");
    }

    function FillManagementTableData(data){
        for (var i = 0; i < data.Administrations.length; i++)
        {
            $("#tblAdministration").append(
                
                "<tr class=\"tblAdministrationRow\">" +
                    "<td><input id='Administrations_" + i + "__Id' name='Administrations[" + i + "].Id' value='" + data.Administrations[i].Id + "' type='hidden'>" +
                        "<input id='Administrations_" + i + "__Name' name='Administrations[" + i + "].Name' value='" + data.Administrations[i].Name + "' type='hidden'>" + (data.Administrations[i].Name ? data.Administrations[i].Name : "") + "</td>" +
                    "<td><input id='Administrations_" + i + "__Code' name='Administrations[" + i + "].Code' value='" + data.Administrations[i].Code + "' type='hidden'>" + (data.Administrations[i].Code ? data.Administrations[i].Code : "") + "</td>" +
                    "<td><input id='Administrations_" + i + "__ManagementId' name='Administrations[" + i + "].ManagementId' value='" + data.Administrations[i].ManagementId + "' type='hidden'>" + (data.Administrations[i].ManagementName ? data.Administrations[i].ManagementName : "") + "</td>" +
                    "<td><input id='Administrations_" + i + "__DepartmentId' name='Administrations[" + i + "].DepartmentId' value='" + data.Administrations[i].DepartmentId + "' type='hidden'>" + (data.Administrations[i].DepName ? data.Administrations[i].DepName : "") + "</td>" +
                    "<td class='tdBtn'><a id='AddEdit" + i + "' onclick='AddEditAdministrationtRow(" + i + ");' href='#' >Редактировать</a></td>" + 
                    "<td class='tdBtn'><a onclick='DeleteBranchRow(" + data.Administrations[i].Id + ");' href='#' >Удалить</a></td>" +
                "</tr>"
            );
            
            $("#AddEdit" + i).addClass("CallModal");
            $("#AddEdit" + i).click(function(e){ e.preventDefault(); })
        }
    }

</script>

