@model Reports.Presenters.UI.ViewModel.StaffList.TreeViewModel
@using Reports.Presenters.UI.Bl.Impl;
@using Reports.Core.Domain;
@helper GetTreeView(IList<Department> Departments, string ParentId)
    {
    foreach (var item in Departments.Where(x => x.ParentId.ToString() == ParentId))
    {
        <li>
            @{var subDepartments = Departments.Where(x => x.ParentId.Equals(item.ParentId)).Count();}
            @{var subDepartments2 = Departments.Where(x => x.Path.StartsWith(item.Path)).Count();}
            @*
            @if(subDepartments > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            *@
            <span>
                @if (subDepartments > 0 && subDepartments2 > 1)
                {
                    <a class="Acollapsible" href="#"><span class="collapse collapsible">&nbsp;</span> @item.Name.ToUpper() &nbsp;&nbsp;(@item.ItemLevel) &nbsp;&nbsp; @item.Code</a>
                }
                else
                {
                    <a href="#">@item.Name &nbsp;&nbsp;(@item.ItemLevel) &nbsp;&nbsp; @item.Code</a>
                }
            </span>
            @if (subDepartments > 0)
            {
                <ul id=@item.Code>
                    @GetTreeView(Departments, item.Code.Trim()) 
                </ul>
            }
        </li>
    }
}
@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "Тест Дерева";
}


<style>
    .collapse 
    {
        width:15px;
        background-image: url('../../Content/themes/base/ui-icons_454545_256x240.png');
        background-repeat:no-repeat;
        background-position: -36px -17px;
        display:inline-block;
        cursor:pointer;
    }
    .expand
    {
        width:15px;
        background-image: url('../../Content/themes/base/ui-icons_454545_256x240.png');
        background-repeat:no-repeat;
        background-position: -50px -17px;
        display:inline-block;
        cursor:pointer;   
    }
    .Acollapse 
    {
        width:15px;
        display:inline-block;
        cursor:pointer;
    }
    .Aexpand
    {
        width:15px;
        display:inline-block;
        cursor:pointer;   
    }
    .treeview ul
    {
        font:14px Arial Sans-Serif;
        margin:0px;
        padding-left:20px;
        list-style:none;
    }
    .treeview > li > a
    {
        font-weight:bold;
    }
    .treeview li
    {
    }
    .treeview li a
    {
        padding:4px;
        font-size:12px;
        display:inline-block;
        text-decoration:none;
        width:auto;
    }
</style>

<div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
    <div class="treeview">
        @if (Model.Departments != null && Model.Departments.Count > 0)
        {
            <ul id=@Model.DepId>
                @GetTreeView(Model.Departments, "9900424")
                @*@GetTreeView(Model.Departments, Model.ParentId)*@
            </ul>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moTreeView");
        $(".treeview li>ul").css('display', 'none'); //скрываем все 2 уровня
        //для кликов по иконкам, закомментарил, потому что при клике по иконке выполнялось в придачу обратное действие
//        $(".collapsible").click(function (e) {
//            e.preventDefault();
//            $(this).toggleClass("collapse expand");
//            $(this).closest('li').children('ul').slideToggle();
//        })

        //для кликов по строкам
        $(".Acollapsible").click(function (e) {
            e.preventDefault();
            $(this).children('span').toggleClass("collapse expand");
            $(this).closest('li').children('ul').slideToggle();
            //$(this).parent.toggleClass("collapse expand");
        })
    });

</script>