@model Reports.Presenters.UI.ViewModel.StaffList.TreeViewAjaxModel
@using Reports.Presenters.UI.Bl.Impl;
@using Reports.Core.Domain;

@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "TreeViewAjax";
}

<h2>Структура подразделений с подзагрузкой</h2>


<style>
    .collapse 
    {
        width:15px;
        background-image: url('../../Content/themes/base/ui-icons_454545_256x240.png');
        background-repeat:no-repeat;
        background-position: -36px -17px;
        display:inline-block;
        cursor:pointer;
    }
    .expand
    {
        width:15px;
        background-image: url('../../Content/themes/base/ui-icons_454545_256x240.png');
        background-repeat:no-repeat;
        background-position: -50px -17px;
        display:inline-block;
        cursor:pointer;   
    }
    .Acollapse 
    {
        width:15px;
        display:inline-block;
        cursor:pointer;
    }
    .Aexpand
    {
        width:15px;
        display:inline-block;
        cursor:pointer;   
    }
    .treeview ul
    {
        font:14px Arial Sans-Serif;
        margin:0px;
        padding-left:20px;
        list-style:none;
        border-left:1px solid black;
        border-top:1px solid black;
    }
    .treeview > li > a
    {
        font-weight:bold;
    }
    .treeview li
    {
    }
    .treeview li a
    {
        padding:4px;
        font-size:12px;
        display:inline-block;
        text-decoration:none;
        width:auto;
    }
</style>
@using (Html.BeginForm("TreeViewAjax", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "Tree-View-Ajax-form" }))
{
    @Html.HiddenFor(m => m.DepId)

    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA;">
        <div class="treeview" id="test">
            @{ int i = 1; }
            @if (Model.Departments != null && Model.Departments.Count > 0)
            {
                foreach (var item in Model.Departments)
                {
                    <ul id=@item.Code @if(i == Model.Departments.Count) {<text>style="border-bottom:1px solid black; border-right:1px solid black;"</text>} else{<text>style="border-right:1px solid black;"</text>} >
                        <li id="li-@item.Code.Trim()">
                                <span>
                                    <a class="Acollapsible" href="#" id="getnodes-@item.Code.Trim()" onclick="GetNodes(@item.Code.Trim());"><span class="collapse collapsible">&nbsp;</span> @item.Name.ToUpper() &nbsp;&nbsp;(@item.ItemLevel) &nbsp;&nbsp; @item.Code</a>
                                </span>
                        </li>   
                        
                        
                        @{ i++; }
                    </ul>
                    
                }
            }
        </div>
        <br /><br /><br />
        <table id="tbl" class="grid">
            @{ i = 0; }
            @foreach (var item in Model.Departments)
            {
                <tr id="tr-@item.Code.Trim()">
                <td>
                    <span>
                        <a class="Acollapsible" href="#" id="getnodes-@item.Code.Trim()" onclick="GetNodes(@item.Code.Trim());"><span class="collapse collapsible">&nbsp;</span> @item.Name.ToUpper() &nbsp;&nbsp;(@item.ItemLevel) &nbsp;&nbsp; @item.Code</a>
                    </span>
                </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                </tr>
            }
            @{ i++; }
        </table>             
        <table>
        </table>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moTreeViewAjax");
        $(".treeview li>ul").css('display', 'none'); //скрываем все 2 уровня

        //для раскрытия веток
        $(".Acollapsible").click(function (e) {
            e.preventDefault();
            $(this).children('span').toggleClass("collapse expand");
            $(this).closest('li').children('ul').slideToggle();
            $(this).closest('tr').children('tr').slideToggle();
        })
    });

    function GetNodes(Id) {
        //опыты нчало
        //var aa = prompt("Подгружать?");
        //alert(aa);
        //опыты конец


        //чтобы не подгружались данные вторично
        if($("#getnodes-" + Id).hasClass("IsLoading")){return;}
        else{$("#getnodes-" + Id).addClass("IsLoading");}

        var actionUrl="@Url.Action("TreeViewAjax", "StaffList")";
            $("#DepId").val(Id);
            var dataToSend = $("#Tree-View-Ajax-form").serialize();

            jQuery.ajax({
                url: actionUrl,
                type: 'POST',
                dataType: 'json',
                data: dataToSend,
                success: function(result){
                    var $liParent = $("#li-" + Id.toString());
                    var ResultStr = "";
                    var tblStr = "";

                    for (var i = 0; i < result.length; i++)
                    {   
                        ResultStr = 
                            "<ul id='" + result[i].Code.trim() + "'>" + 
                                "<li id='li-" + result[i].Code.trim() + "'>" + 
                                    "<span>"+
                                        "<a class='Acollapsible' href='#' id='getnodes-" + result[i].Code.trim() + "' onclick='GetNodes(" + result[i].Code.trim() + ");'>" +
                                        "<span Id='span-'" + result[i].Code.trim() + "' class='collapse collapsible'>&nbsp;</span> " + result[i].Name +" &nbsp;&nbsp;(" + result[i].ItemLevel + ") &nbsp;&nbsp; " + result[i].Code.trim() + "</a>" +
                                    "</span>" +
                                "</li>" +
                            "</ul>";
                        $liParent.append(ResultStr);


                        tblStr = "<tr id='tr-" + result[i].Code.trim() + "' >" +
                                  "<td>" +
                                    "<span>"+
                                        "<a class='Acollapsible' href='#' id='getnodes-" + result[i].Code.trim() + "' onclick='GetNodes(" + result[i].Code.trim() + ");'>" +
                                        "<span Id='span-tr'" + result[i].Code.trim() + "' class='collapse collapsible'>&nbsp;</span> " + result[i].Name +" &nbsp;&nbsp;(" + result[i].ItemLevel + ") &nbsp;&nbsp; " + result[i].Code.trim() + "</a>" +
                                    "</span>" +
                                    "</td>" + 
                                    "<td>1</td>" +
                                    "<td>2</td>" +
                                    "<td>3</td>" +
                                    "<td>4</td>" +
                                    "<td>5</td>" +
                                    "</tr>";

                        //$("#tbl").append(tblStr);
                        //$(tblStr).appendTo("#tr-9900425");
                        $(tblStr).appendTo($("tr[Id = 'tr-9900425']"));

                        $("#span" + result[i].Code.trim()).removeClass("collapse collapsible");
                        $("#getnodes-" + result[i].Code.trim()).removeClass("Acollapsible");

                        //для седьмого уровня не надо обработчик
                        if (result[i].ItemLevel < 7){
                            $("#span" + result[i].Code.trim()).addClass("collapse collapsible");
                            $("#getnodes-" + result[i].Code.trim()).addClass("Acollapsible");
                            //console.log(ResultStr);
                            //назначаем обработчик для раскрытия веток дерева
                            $("#getnodes-" + result[i].Code.trim()).click(function (e) {
                            e.preventDefault();
                            $(this).children('span').toggleClass("collapse expand");
                            $(this).closest('li').children('ul').slideToggle();
                            });
                        }
                    }
                },
                error: function(){
                    alert("При загрузке данных произошла ошибка.");
                }
            });
    }

</script>