@model Reports.Presenters.UI.ViewModel.AnalyticalStatementDetailsModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Аналитическая ведомость";
}
@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;

<form id="RequestData">
<table style="width:100%">
     <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td>@Html.LabelFor(m => m.DateCreated)</td>
                    <td>@Html.DisplayFor(m => m.DateCreated)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Organization)</td>
                    <td>@Html.DisplayFor(m => m.Organization)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DocumentNumber)</td>
                    <td>@Html.DisplayFor(m => m.DocumentNumber)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)</td>
                    <td>@Html.DisplayFor(m => m.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserNumber)</td>
                    <td>@Html.DisplayFor(m => m.UserNumber)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Department)</td>
                    <td>@Html.DisplayFor(m => m.Department)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Position)</td>
                    <td>@Html.DisplayFor(m => m.Position)</td>
                </tr>
                <tr>
                    <td>
                       <input type="button" value="Печать карточки" onclick="window.location.href='@Url.Action("GetAnalyticalStatementPrintForm", "MissionOrder", new { id = Model.DocumentNumber })';"/>   
                    </td>
                </tr>
            </table>
        </div>
    </td>
    </tr>
     
     <tr>
        <td colspan="2">
            <div class="action-wrap">
            <center><b>Карточка подотчётного лица по командировкам</b></center>
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            </div>
        </td>
     </tr>
 </table> 
 </form>
 <table  class="grid" width="100%">
    <thead>
        <tr>
        <th>№<br />П/П</th>
        <th><a>Наименование</a></th>
        <th><div id="sort1" ><a href="#" onclick = "SortChanged(1);">Номер</a></div></th>
        <th><div id="sort0" ><a href="#" onclick = "SortChanged(0);">Дата</a></div></th>
        <th><a>Сальдо<br />начальное</a></th>
        <th><a>Оплачено за<br /> сотрудника</a></th>
        <th><a>Выдано</a></th>
        <th><a>Принято</a></th>
        <th><a>Сальдо<br />конечное</a></th>
        </tr>
    </thead>
    <tbody id="tableBody">
       @{ int i = 0; }
       @if (Model.Documents != null)
       {
           foreach (var el in Model.Documents)
           {
               if (el.DocType == 3 && el.Ordered <= 0) { continue; }

               i++;
               <tr>
                   <td>@i</td>
                   <td>@switch (el.DocType)
                       {
                           case 1:<a href='@Url.Action("MissionOrderEdit", "MissionOrder", new { id = el.DocId })'>Приказ на командировку № @el.Number</a>
                           break;
                           case 2:<a href='@Url.Action("MissionReportEdit", "MissionOrder", new { id = el.DocId })'> Авансовый отчёт № @el.Number проверен</a>
                           break;
                           case 6:<a href='@Url.Action("DeductionEdit", "Deduction", new { id = el.DocId })'> Ручное удержание к АО № @el.Number</a>
                                                                                                                                  break;
                           case 3:<a href='@Url.Action("MissionUserCredsList", "MissionOrder", new { userid = Model.DocumentNumber })'>Возврат сотруднику долга за организацией по авансовому отчету № @el.Number</a>
                                                                                                                                                                                                  break;
                           case 4:<a href='@Url.Action("DeductionEdit", "Deduction", new { id = el.DocId })'>Удержано @(el.Number > 0 ? " по авансовому отчету №" + el.Number : "")</a>
                                                                                                                  break;
                           case 5:<p>Ручная доплата (справочно <a href='@Url.Action("MissionReportEdit", "MissionOrder", new { id = el.DocId })'>АО № @el.Number</a>)</p>
                                                                                                                                                 break;
                       }
                   </td>
                   <td>@el.Number</td>
                   <td>@if (el.Date != DateTime.MinValue)
                       {
                         @el.Date.ToString("dd.MM.yyyy")
                       }
                   </td>
                   <td>@el.SaldoStart</td>
                   <td>@el.PurchaseBookAllSum</td>
                   <td>@el.Ordered</td>
                   <td>@el.Reported</td>
                   <td>@el.SaldoEnd</td>
               </tr>               
           }
       }
    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        setSortFields();
        setActiveMenuItem("moAnaliticalStatementList");
        $("#ExportDialog").dialog({ autoOpen: false });
    });
    
    function setSortFields(){
        if(($("#SortBy").val() != 0) && ($("#SortDescending").val() != ''))
        {
            if($("#SortDescending").val() == 'True')
                $("#sort"+$("#SortBy").val()).addClass("sort-desc");
            else        
                $("#sort"+$("#SortBy").val()).addClass("sort-asc");
        }
    }
    function SortChanged(sortedBy)
    {
        
        if($("#SortBy").val() != sortedBy)
           {
           $("#sort"+$("#SortBy").val()).removeClass("sort-desc");
           $("#sort"+$("#SortBy").val()).removeClass("sort-asc");
            $("#SortDescending").val(''); 
            }
        $("#SortBy").val(sortedBy);
        if($("#SortDescending").val() == '')
            $("#SortDescending").val('True');
        else if($("#SortDescending").val() == 'True')
            $("#SortDescending").val('False');
        else
            $("#SortDescending").val('True');
        setSortFields();
         document.getElementById("RequestData").submit();
         return false;
    }
   
 </script> 