@model Reports.Presenters.UI.ViewModel.MissionPbEditRecordModel
<html>
<head>
    <title/>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" id = "recordDialogTable" style="width:100%;">

                <tr>
                    <td style="width:170px">
                        @Html.LabelFor(m => m.RecordUserId):
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.RecordUserId, new SelectList(Model.Users, "ID", "Name"), Model.RecordId > 0 ? (object)new { disabled = "disabled", style="width:900px" } : (object)new { onchange = "RecordUserIdChange();" , style="width:900px" }) 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ReportId):
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.ReportId, new SelectList(Model.Reports, "ID", "Name"), Model.RecordId > 0 ? (object)new { disabled = "disabled" } : (object)new { onchange = "ReportIdChange();" }) 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.CostTypeId):
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CostTypeId, new SelectList(Model.CostTypes, "ID", "Name"), Model.RecordId > 0 ? (object)new { disabled = "disabled" } : (object)new { onchange = "CostTypeIdChange();" }) 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Sum):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sum, new { @class = "fixedSize", onchange = "validateSum();" }) 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SumNds):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SumNds, new { @class = "fixedSize", onchange = "validateSum();" }) 
                    </td>
                </tr>
                  <tr>
                    <td>
                        @Html.LabelFor(m => m.AllSum):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AllSum, new { disabled = "disabled", @class = "fixedSize" }) 
                    </td>
                </tr>
                 <tr>
                    <td>
                        @Html.LabelFor(m => m.RequestNumber):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.RequestNumber, (object)new { maxlength = 15}) 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    @*    @Html.ValidationSummary(false)*@
                          <div id="EditRecordDlgError" style="color:Red;display:none;"/>
                          <input type="hidden" id="RecordId" name="RecordId" value="@Model.RecordId" />
                          <input type="hidden" id="DocumentId" name="DocumentId" value="@Model.DocumentId" />
                     </td>
                </tr>
    </table>
</body>
</html>
