@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.EditMissionPbRecordsModel
@Html.HiddenFor(model => model.DocumentId)              
<table id="RecordsTable" class="grid" style="width: 100%;">
        @*<tr>
            <td>
                <div id="CommentError" style="color:Red" visible="false"/>
            </td>    
        </tr>   *@ 
        @if (Model != null && Model.Records != null && Model.Records.Count > 0)
        {
            <tr>
                <td>Командированный сотрудник</td>
                <td>№ авансового отчета</td>         
                <td>№ приказа</td>  
                <td>Сумма расходов</td>  
                <td>НДС</td> 
                <td>Сумма всего</td>  
                <td>Вид расхода</td>  
                <td>Номер заявки в ЭССЗ</td>
                <td style="min-width:50px"></td>
            </tr>   
            foreach (var record in Model.Records)
            {
                <tr>
                    <td>@record.UserName</td>
                    <td>@record.ReportNumber</td>
                    <td>@record.OrderNumber</td>
                    <td>
                        @if(record.IsEditable)
                        {
                            <a class="ui-notify-close" href='' onclick="return editRecord(@record.Id);" style="cursor:hand">@RequestBl.FormatSum(record.Sum)</a>
                        }
                        else
                        {
                            @RequestBl.FormatSum(record.Sum)
                        }
                    </td>
                    <td>@RequestBl.FormatSum(record.SumNds)</td>
                    <td>@RequestBl.FormatSum(record.AllSum)</td>
                    <td>@record.CostType</td>
                    <td>@record.RequestNumber</td>
                    <td>
                        @if(record.IsEditable)
                        {
                            <a class="ui-notify-close" href='' onclick="return deleteRecord(@record.Id);" style="cursor:hand">Удалить</a>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3"></td>
                <td>@RequestBl.FormatSum(Model.Sum)</td>
                <td>@RequestBl.FormatSum(Model.SumNds)</td>
                <td>@RequestBl.FormatSum(Model.AllSum)</td>
            </tr>
        }
</table>
