@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.MissionPurchaseBookRecordsListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Книга покупок (отчет)";
}

@using (Html.BeginForm())
{
     <table style="width:100%">
      <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                                <div id="Error" style="color:Red;display:none;"></div>
                                @Html.HiddenFor(m => m.UserId)
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="DepartmentReadOnly" name="DepartmentReadOnly" value="@Model.DepartmentReadOnly" />
                                @if (!Model.DepartmentReadOnly)
                                {
                                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                                }         
                            </td>
                        </tr>
                        @* <tr>
                             <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "ID", "Name")) 
                             </td>
                        </tr>*@
                        <tr>
                                <td>
                                    @Html.LabelFor(m => m.UserName):
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.UserName)
                                </td>
                        </tr>
                        @* <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                             </td>
                        </tr>*@
                        
                        <tr>
                          <td colspan="2">
                            <input type="submit" value="Выбрать"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            <table class="grid" style="width:100%;border-bottom:0px;border-right:0px">
                <tr>
                     <th>
                        № п/п
                    </th>
                    <th>
                        <div id="sort1" style="min-width:210px"><a href="#" onclick = "SortChanged(1);">ФИО <br/>сотрудника</a></div>
                    </th>
                     <th>
                        <div id="sort2" style="min-width:130px"><a href="#"  onclick = "SortChanged(2);">СНИЛС <br/>сотрудника</a></div>
                    </th>
                    <th>
                        <div id="sort3" style="min-width:70px"><a href="#"  onclick = "SortChanged(3);">№ приказа <br/>на командировку</a></div>
                    </th>
                    <th>
                        <div id="sort4"  style="min-width:130px"><a href="#"  onclick = "SortChanged(4);">Наименование <br/>контрагента</a></div>
                    </th>
                  
                    <th>
                        <div id="sort5" style="min-width:86px"><a href="#"  onclick = "SortChanged(5);">Номер счета<br/>Инверсии</a></div>
                    </th>
                    <th>
                        <div id="sort7" style="min-width:90px"><a href="#"  onclick = "SortChanged(7);">Акт <br/>номер</a></div>
                    </th>
                    <th>
                        <div id="sort6" style="min-width:90px"><a href="#"  onclick = "SortChanged(6);">Акт <br/>дата</a></div>
                    </th>
                    <th>
                        <div id="sort11" style="min-width:90px"><a href="#"  onclick = "SortChanged(11);">Сч/ф <br/>номер</a></div>
                    </th>
                     <th>
                        <div id="sort10" style="min-width:90px"><a href="#"  onclick = "SortChanged(10);">Сч/ф <br/>дата</a></div>
                    </th>
                    <th>
                        <div id="sort8" style="min-width:143px"><a href="#"  onclick = "SortChanged(8);">Сумма <br/>(за гостиницу или билеты)</a></div>
                    </th>
                    <th>
                        <div id="sort9" style="min-width:120px"><a href="#"  onclick = "SortChanged(9);">Вид расхода</a></div>
                    </th>
                </tr>
                @if (Model.Documents != null && Model.Documents.Count > 0)
                {
                    int i = 0;
                    foreach (var doc in Model.Documents)
                    {
                        <tr>
                            <td>@doc.Number</td>
                            <td>@doc.UserName</td>
                            <td>@doc.Cnilc</td>
                            <td>@doc.MissionOrderNumber</td>
                            <td>@doc.ContractorName</td>
                            <td>@doc.ContractorAccount</td>
                            <td>@doc.DocNumber</td>
                            <td>@if (doc.DocDate.HasValue){@doc.DocDate.Value.ToShortDateString()}</td>
                            <td>@doc.CfNumber</td>
                            <td>@if (doc.CfDate.HasValue){@doc.CfDate.Value.ToShortDateString()}</td>
                            <td>@RequestBl.FormatSum(doc.AllSum)</td>
                            <td>@doc.CostTypeName</td>
                        </tr>
                       
                    }
                }
            </table>    
          </td>
        </tr>
     </table> 
}
<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        /*$("#BeginDate").datepicker({changeMonth: true, changeYear: true});
        $("#EndDate").datepicker({changeMonth: true, changeYear: true});
        $(".hasDatepicker").width("75px");*/
        setSortFields();
        setActiveMenuItem("moAllPurchaseBookRecords");
    });
    function resetFilter() {
        /*$("#BeginDate").val('');
        $("#EndDate").val('');*/
        if ($("#DepartmentReadOnly").val() == "False") {
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
        }
        //$("#TypeId").val('0');
        // $("#StatusId").val('0');
         $("#UserName").val('');
    }
 </script>