@model Reports.Presenters.UI.ViewModel.UserInfoModel
@{
    Layout = null;
    ViewBag.Title = "Командировочное удостоверение";
}
<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 10.00.9200.16660"></HEAD>
<BODY><TBODY>
<TABLE style="HEIGHT: 322px; WIDTH: 812px">
<TBODY>
<TR height=30>
<TH style="text-align:left" colspan="2">
<P align=left>Командировочное удостоверение №&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;к Приказу на командировку № @Model.DocumentNumber</P>
</TH>
</TR>
<TR>
<TD height=30>Дата составления</TD>
<TH style="text-align:left">@Model.DateCreated</TH></TR>
<TR>
<TD height=30>Организация</TD>
<TH style="text-align:left">@Model.Organization</TH></TR>
<TR>
<TD height=30>Номер документа</TD>
<TH style="text-align:left">@Model.DocumentNumber</TH></TR>
<TR>
<TD height=30>Сотрудник</TD>
<TH style="text-align:left">@Model.UserName</TH></TR>
<TR>
<TD height=30>Табельный номер</TD>
<TH style="text-align:left">@Model.UserNumber</TH></TR>
<TR>
<TD height=30>Структурное подразделение</TD>
<TH style="text-align:left">@Model.Department</TH></TR>
<TR>
<TD height=30>Должность</TD>
<TH style="text-align:left">@Model.Position</TH></TR>
<TR>
<TD height=30>Руководитель</TD>
<TH style="text-align:left">@Model.ManagerName</TH></TR>
<TR>
<TD height=30>Кадровик</TD>
<TH style="text-align:left">@Model.PersonnelName</TH></TR></TR></TBODY></TABLE></TBODY></TABLE>
<P>
<HR>
<SUP><I>Б. Отметки о выбытии и прибытии</I></SUP> 
<P></P>
<DIV align=center>
<TABLE style="HEIGHT: 109px; WIDTH: 910px" align=left>
<TBODY>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR>
<TR>
<TD colSpan=2><FONT size=2>Выбыл из&nbsp;_____________________________________________________ Прибыл &nbsp;____________________________________________________________</FONT></TD></TR>
<TR>
<TD>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>"&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_________________________20____ года</FONT></P></FONT>
<TR>
<TD>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></TD>
<TD><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P>
<P align=left><FONT size=2>______________________________________________________________</FONT></P>
<TD>
<P align=left><FONT size=2>(должность)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(личная подпись)</FONT></P></D><FONT size=2>
<P align=left><FONT size=2>______________________________________________________________</FONT></P></FONT></TD></TR></TR>
<TR>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD>
<TD>
<P align=center><FONT size=2>(расшифровка подписи)</FONT></P>
<P align=left><FONT size=2>М.П.</FONT></P></TD></TR></TBODY></TABLE></DIV>
<DIV align=center>&nbsp;</DIV>
<DIV align=center>&nbsp;</DIV></BODY></HTML>