@model Reports.Presenters.UI.ViewModel.UserInfoModel
@{
    Layout = null;
    ViewBag.Title = "Командировочное удостоверение";
}
<html>

<head>
	<meta charset="utf-8">
	<style>
		table#header{
			border: 0;
			width: 815px;
			border-bottom: 1px inset gray;
		}
		tr.headerRow{
			height: 30px;
		}
		th{
			text-align: left;
		}
		td.headerItemCell{
			width: 150px;
		}
		td.headerValueCell{
			font-weight: bold;
			text-align:left;
		}
		p.subtitle{
			font-style: italic;
			font-size: small;
		}
		table#mainBody{
			border: 0;
			width: 815px;
			margin-left: 0;
		}
		td.left{
			width: 50%;
			padding-right: 16px;
		}
		td.right{
			width: 50%;
			padding-left: 16px;
		}
		table.mainBodyBlock{
			width: 100%;
			margin-bottom: 0;
		}
		td.fillable{
			border-bottom: 1px solid black;
			padding: 0;
		}
		td.nonFillable{
			padding: 0;			
			font-style: italic;
			text-align: center;
			font-size: small;
		}
		td.stamp{
			padding: 0;
			text-indent: 16px;
		}
		td.fillable>table{
			margin: 0;
			padding: 0;
		}
		td.nonFillable>table{
			margin: 0;
			padding: 0;
			width: 100%;
			font-style: italic;
			font-size: small;
		}
		td.dayCell{
			width: 30px;
			margin: 0;
			padding: 0;
		}
		td.monthCell{
			width: 150px;
			margin: 0;
			padding: 0;
		}
		td.yearCell{
			width: 90px;
			margin: 0;
			padding: 0;
		}
		td.positionPromptCell{
			text-align: left;
			vertical-align: top;
			width: 50%;
		}
		td.signaturePromptCell{
			text-align: right;
			width: 50%;			
		}
	</style>
</head>

<body>
	<!-- header start -->
	<table id="header">
		<thead>
			<tr class="headerRow">
				<th colspan="2">Командировочное удостоверение №&nbsp;КУ-@Model.DocumentNumber
					к&nbsp;Приказу&nbsp;на&nbsp;командировку&nbsp;№&nbsp;К-@Model.DocumentNumber
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="headerRow">
				<td class="headerItemCell">Дата составления</td>
				<td class="headerValueCell">@Model.DateCreated</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Организация</td>
				<td class="headerValueCell">@Model.Organization</td>
			</tr>
			@*<tr class="headerRow">
				<td class="headerItemCell">Номер документа</td>
				<td class="headerValueCell">@Model.DocumentNumber</td>
			</tr>*@
			<tr class="headerRow">
				<td class="headerItemCell">Сотрудник</td>
				<td class="headerValueCell">@Model.UserName</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Табельный номер</td>
				<td class="headerValueCell">@Model.UserNumber</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Структурное подразделение</td>
				<td class="headerValueCell">@Model.Department</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Должность</td>
				<td class="headerValueCell">@Model.Position</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Руководитель</td>
				<td class="headerValueCell">@Model.ManagerName</td>
			</tr>
			<tr class="headerRow">
				<td class="headerItemCell">Кадровик</td>
				<td class="headerValueCell">@Model.PersonnelName</td>
			</tr>			
		</tbody>
	</table>
	<!-- header end -->
	<!-- main body start -->
	<p class="subtitle">Б. Отметки о выбытии и прибытии</p>
	<table id="mainBody">
		<tbody>
			@for(var i = 0; i < 5; i++)
			{
			<tr>
				<td class="left">
					<table class="mainBodyBlock">
						<tr>
							<td class="fillable">Выбыл из</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="fillable">
								<table>
									<tr>
										<td class="dayCell">&laquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&raquo;</td>
										<td class="monthCell">&nbsp;</td>
										<td class="yearCell">20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;года</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="nonFillable">
								<table>
									<tr>
										<td class="positionPromptCell">(должность)</td>
										<td class="signaturePromptCell">(личная подпись)</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="nonFillable">(расшифровка подписи)</td>
						</tr>
						<tr>
							<td class="stamp">М.П.</td>
						</tr>
					</table>
				<td>
				<td class="right">
					<table class="mainBodyBlock">
						<tr>
							<td class="fillable">Прибыл</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="fillable">
								<table>
									<tr>
										<td class="dayCell">&laquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&raquo;</td>
										<td class="monthCell">&nbsp;</td>
										<td class="yearCell">20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;года</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="nonFillable">
								<table>
									<tr>
										<td class="positionPromptCell">(должность)</td>
										<td class="signaturePromptCell">(личная подпись)</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="fillable">&nbsp;</td>
						</tr>
						<tr>
							<td class="nonFillable">(расшифровка подписи)</td>
						</tr>
						<tr>
							<td class="stamp">М.П.</td>
						</tr>
					</table>
				</td>
			</tr>
			}
		</tbody>
	</table>
	<!-- main body end -->
</body>
</html>