@model Reports.Presenters.UI.ViewModel.TemplatesListModel
@{
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
    ViewBag.Title = "Шаблоны";
}

@using (Html.BeginForm())
{
<table style="width:100%">
    <tr>
        <td style="font-weight:bold">Шаблоны документов</td>
    </tr>
  <tr>
      <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-edinovremennoe-posobie-pri-rozhdenii-rebenka.doc")" target="_blank">Заявление на единовременное пособие при рождении ребенка</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_ezhegodnyj_otpusk.doc")" target="_blank">Заявление на ежегодный отпуск</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_ezhemesyachnoe_posobie_po_uhodu_za_rebenkom_do_1_5_let.doc")" target="_blank">Заявление на ежемесячное пособие по уходу за ребенком до 1,5 лет</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_ezhemesyachnoe_posobie_po_uhodu_za_rebenkom_do_3_h_let.doc")" target="_blank">Заявление на ежемесячное пособие по уходу за ребенком до 3-х лет</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_materialnuyu_pomoshch_v_svyazi_s_zaklyucheniem_braka.doc")" target="_blank">Заявление на материальную помощь в связи с заключением брака</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_materialnuyu_pomoshch_v_svyazi_s_rozhdeniem_rebenka.doc")" target="_blank">Заявление на материальную помощь в связи с рождением ребенка</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_materialnuyu_pomoshch_v_svyazi_so_smertyu.doc")" target="_blank">Заявление на материальную помощь в связи со смертью</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_otpusk_bez_sohraneniya_zp.doc")" target="_blank">Заявление на отпуск без сохранения зп</a>
        </td>
    </tr> 

  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_otpusk_po_uhodu_za_rebenkom_do_1_5_let.doc")" target="_blank">Заявление на отпуск по уходу за ребенком до 1,5 лет</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_otpusk_po_uhodu_za_rebenkom_do_3_h_let.doc")" target="_blank">Заявление на отпуск по уходу за ребенком до 3-х лет</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_otpusk_s_posleduyushchim_uvolneniem.doc")" target="_blank">Заявление на отпуск с последующим увольнением</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_perevod.doc")" target="_blank">Заявление на перевод</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_poluchenie_bankovskoj_karty.doc")" target="_blank">Заявление на получение банковской карты</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_raschet_bl_s_uchetom_spravok_s_pred_mesta_raboty.docx")" target="_blank">Заявление на расчет бл с учетом справок с пред. места работы</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_smenu_mesta_zhitelstva.doc")" target="_blank">Заявление на смену места жительства</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_smenu_pasportnyh_dannyh.doc")" target="_blank">Заявление на смену паспортных данных</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_smenu_fio.doc")" target="_blank">Заявление на смену ФИО</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_na_uvolnenie_po_sobstvennomu_zhelaniyu.doc")" target="_blank">Заявление на увольнение по собственному желанию</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_nepolnyj_rabochij_den.doc")" target="_blank">Заявление неполный рабочий день</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_o_vyplate_posobiya_kak_vstavshej_na_uchet_v_rannie_sroki_beremennosti.doc")" target="_blank">Заявление о выплате пособия, как вставшей на учет в ранние сроки беременности</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_o_perenose_otpuska.doc")" target="_blank">Заявление о переносе отпуска</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_o_predostavlenii_otpuska_po_beremennosti_i_rodam.doc")" target="_blank">Заявление о предоставлении отпуска по беременности и родам</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_o_prieme_na_rabotu.doc")" target="_blank">Заявление о приеме на работу</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie_o_soglasii_na_uderzhanie_pri_uvolnenii.doc")" target="_blank">Заявление о согласии на удержание при увольнении</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/prilozhenie_1_o_standartnom_nalogovom_vychete.doc")" target="_blank">Приложение №1 О стандартном налоговом вычете</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/prilozhenie_2_o_dvojnom_standartnom_nalogovom_vychete.doc")" target="_blank">Приложение №2 О двойном стандартном налоговом вычете</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/prilozhenie_3_o_predostavlenii_imushchestvennogo_nalogovogo_vycheta.doc")" target="_blank">Приложение №3 О предоставлении имущественного налогового вычета</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/prilozhenie_4_o_predostavlenii_standartnogo_nalogovogo_vycheta_st_218.doc")" target="_blank">Приложение №4 О предоставлении стандартного налогового вычета ст.218</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/sz_na_izmenenie_shtatnogo_raspisaniya.xls")" target="_blank">СЗ на изменение штатного расписания</a>
        </td>
    </tr> 
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/sluzhebnaya_zapiska_na_oformlenie_sotrudnika.doc")" target="_blank">Служебная записка на оформление сотрудника</a>
        </td>
    </tr> 

</table> 
 <script type="text/javascript">
 </script>   
}