@model Reports.Presenters.UI.ViewModel.TemplatesListModel
@{
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
    ViewBag.Title = "Шаблоны";
}

@using (Html.BeginForm())
{
<table style="width:100%">
    <tr>
        <td style="font-weight:bold">Шаблоны документов</td>
    </tr>
  <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-edinovremennoe-posobie-pri-rozhdenii-rebenka.doc")" target="_blank">Заявление на единовременное пособие при рождении ребенка</a>
        </td>
    </tr> 


    <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-ezhemesyachnoe-posobie-po-uxodu-za-rebenkom-do-1,5-let.doc")" target="_blank">Заявление на ежемесячное пособие по уходу за ребенком до 1,5 лет</a>
        </td>
    </tr>

<tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-ezhemesyachnoe-posobie-po-uxodu-za-rebenkom-do-3-x-let.doc")" target="_blank">Заявление на ежемесячное пособие по уходу за ребенком до 3-х лет</a>
        </td>
    </tr>

<tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-materialnuyu-pomoshh-v-svyazi-s-zaklyucheniem-braka.doc")" target="_blank">Заявление на материальную помощь в связи с заключением брака</a>
        </td>
    </tr>

<tr>
 <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-materialnuyu-pomoshh-v-svyazi-s-rozhdeniem-rebenka.doc")" target="_blank">Заявление на материальную помощь в связи с рождением ребенка</a>
        </td>
    </tr>




    <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-materialnuyu-pomoshh-v-svyazi-so-smertyu.doc")" target="_blank">Заявление на материальную помощь в связи со смертью</a>
        </td>
    </tr>


    <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-otpusk-po-uxodu-za-rebenkom-do-1,5-let.doc")" target="_blank">Заявление на отпуск по уходу за ребенком до 1,5 лет</a>
        </td>
    </tr>



    <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-otpusk-po-uxodu-za-rebenkom-do-3-x-let.doc")" target="_blank">Заявление на отпуск по уходу за ребенком до 3-х лет</a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-perevod.doc")" target="_blank">Заявление на перевод</a>
        </td>
    </tr>

     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-poluchenie-bankovskoj-karty.doc")" target="_blank">Заявление на получение банковской карты</a>
        </td>
    </tr>

     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-smenu-mesta-zhitelstva.doc")" target="_blank">Заявление на смену места жительства</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-smenu-pasportnyx-dannyx.doc")" target="_blank">Заявление на смену паспортных данных</a>
        </td>
    </tr>

     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-na-smenu-fio.doc")" target="_blank">Заявление на смену ФИО</a>
        </td>
    </tr>

     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-o-vyplate-posobiya,-kak-vstavshej-na-uchet-v-rannie-sroki-beremennosti.doc")" target="_blank">Заявление о выплате пособия, как вставшей на учет в ранние сроки беременности</a>
        </td>
    </tr>


     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-o-predostavlenii-otpuska-po-beremennosti-i-rodam.doc")" target="_blank">Заявление о предоставлении отпуска по беременности и родам</a>
        </td>
    </tr

     <tr>
        <td>
            <a href="@Url.Content("~/Templates/zayavlenie-o-prieme-na-rabotu.doc")" target="_blank">Заявление о приеме на работу</a>
        </td>
    </tr

    
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Zayavlenie-na-otpusk-bez-soderzhaniya.doc")" target="_blank">Заявление на отпуск без содержания</a>
        </td>
    </tr>
    
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Zajavlenie-na-otpusk-ezhegodnyj.doc")" target="_blank">Заявление на отпуск ежегодный</a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Zajavlenie-na-otpusk-s-posledushhim-uvolneniem.doc")" target="_blank">Заявление на отпуск с последущим увольнением</a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Zajavlenie-na-soglasie-uderzhanija-pri-uvolnenii.doc")" target="_blank">Заявление на согласие удержания при увольнении</a>
        </td>
    </tr>
    
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Zajavlenie-na-uvolnenie-po-sobstvennomu-zhelaniju.doc")" target="_blank">Заявление на увольнение по собственному желанию</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/prikaz-na-komandirovku.xlsx")" target="_blank">Приказ на командировку</a>
        </td>
    </tr> 
<tr>
        <td>
            <a href="@Url.Content("~/Templates/Prilozhenie1Ostandartnomnalogovomvychete.doc")" target="_blank">Приложение 1 О стандартном налоговом вычете</a>
        </td>
    </tr> 
<tr>
        <td>
            <a href="@Url.Content("~/Templates/Prilozhenie2Odvojnomstandartnomnalogovomvychete.doc")" target="_blank">Приложение 2 О двойном стандартном налоговом вычете</a>
        </td>
    </tr> 
<tr>
        <td>
            <a href="@Url.Content("~/Templates/Prilozhenie3Opredostavleniiimushhestvennogonalogovogovycheta.doc")" target="_blank">Приложение 3 О предоставлении имущественного налогового вычета</a>
        </td>
    </tr> 
<tr>
        <td>
            <a href="@Url.Content("~/Templates/Prilozhenie4Opredostavleniistandartnogonalogovogovychetast218.doc")" target="_blank">Приложение 4 О предоставлении стандартного налогового вычета (ст218)</a>
        </td>
    </tr>     
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/sluzhebnaya-zapiska-na-izmenenie-shr.xls")" target="_blank">Служебная записка на изменение ШР</a>
        </td>
    </tr>    
  
</table> 
 <script type="text/javascript">
 </script>   
}