@model Reports.Presenters.UI.ViewModel.HelpFaqListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Типовые вопросы";
}

@using (Html.BeginForm())
{
    <div >
        <label style="text-decoration:underline"><b><b>Уважаемые пользователи! Обращаем ваше внимание!</b></b></label> <br /><br />
        Вопросы по начислению заработной платы необходимо задавать со ссылкой на расчетный лист. <br /><br />
        Вопросы по премированию, надбавкам, переработкам необходимо задавать с указанием на дату и номер документа о премировании, надбавке, переработке. <br /><br />
        <label style="text-decoration:underline"><b>Обращаем Ваше внимание</b></label>, что не будут обрабатываться вопросы не по существу, например: «А сколько я получу денег в аванс/зарплату?»; «А почему всем уже перечислили, а мне еще нет?»; «А мне обещали, что я получу денег больше, где они?»; «А говорят есть какая-то премия?» И т.д.<br /><br />
        <label style="text-decoration:underline"><b>1. ОСНОВНЫЕ ВЫПЛАТЫ: </b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 1.1: Когда выплачивается заработная плата?</b></label> <br /><br />
        Ответ: Заработная плата выплачивается в следующем порядке: выплата первой части заработной платы за отработанный месяц в размере не менее 75% от окладно-премиальной системы труда, с учетом фактически отработанного времени – 30 числа отработанного месяца, до 24 часов по Мск ; выплата второй части заработной платы за отработанный месяц, а также оставшейся части причитающихся сумм начислений, за минусом 13% НДФЛ – 14 числа месяца, следующего за отработанным месяцем, до 24 часов по Мск. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 1.2: Как оформляется и когда оплачивается ежегодный отпуск?</b></label> <br /><br />
        Ответ: Ежегодный отпуск оформляется через WEB-табель => Табель => Отпуска, не менее чем за 15 (Пятнадцать) рабочих дней. В заявку нужно вложить скан заявления на отпуск. Отпускные выплачиваются в аванс или зарплату, при условии соблюдения сроков подачи заявления не менее чем за 15 рабочих дней. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 1.3: Как оплачивается больничный лист и в какие сроки?</b></label> <br /><br />
        Ответ: Если у работника нет стажа в ПАО «Совкомбанк» за два календарных года, предшествующих году на период временной нетрудоспособности, и сотрудник при приеме не предоставил оригинал справки по форме 182-Н с предыдущего (предыдущих) мест работы, то больничный лист оплачивается из расчета МРОТа, если сотрудник при приеме предоставлял <b>ОРИГИНАЛ</b> справки формы 182-Н с предыдущего (предыдущих) мест работы, то больничный лист оплачивается на основании Заявления и с учетом заработка с предыдущих мест работы. Больничные листы оплачиваются при условии их предоставления и согласования до 1 числа месяца, следующего за расчетным (14-15 числа). <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 1.4: Как мне платят премию, если у меня есть Северный коэффициент? </b></label><br /><br />
        Ответ: На все выплаты, относящиеся к заработной плате (в том числе премия) начисляется районный коэффициент и северная надбавка. Районный коэффициент и северная надбавка указываются в процентном соотношении в трудовом договоре или в дополнительном соглашении к трудовому договору (при изменении). В расчетном листе при выплатах сумма оклада, премии, надбавки указываются без учета районного коэффициента и северной надбавки. Сумма районного коэффициента и северной надбавки указываются в отдельной строке с учетом общей суммы начисления за месяц (оклад, премия, надбавки). <br /><br />
        <br />
        <label style="text-decoration:underline"><b>2. ОФОРМЛЕНИЕ: </b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.1: Как открыть зарплатный счет? </b></label><br /><br />
        Ответ: Необходимо обратиться с паспортом к ответственному сотруднику за открытие зарплатного счета в регионе или создать задачу в системе pyrus.com «ОБЩИЕ ЗАКРЫТЫЕ ПРОЕКТЫ/РАБОТА С КЛИЕНТАМИ/КАРТЫ/ВЫДАЧА З/П КАРТ СОТРУДНИКАМ БАНКА», вложить в задачу заявление на получение банковской карты и скан паспорта. Завести задачу или обратиться к сотруднику отдела пластика необходимо в течение 3-х рабочих дней со дня приема. При получении карты необходимо заполнить расписку, передать ответственному сотруднику за открытие зарплатного счета или вложить в задачу pyrus.com. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.2: Включаются ли праздничные дни в количество дней ежегодного отпуска? </b></label><br /><br />
        Ответ: Согласно Трудового Кодекса РФ, нерабочие праздничные дни, приходящиеся на период ежегодного основного или ежегодного дополнительного оплачиваемого отпуска, в число календарных дней отпуска не включаются. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.3: Как оформить увольнение? </b></label><br /><br />
        Ответ: Увольнение сотрудника осуществляется на основании заявления сотрудника. <br /><br />
        Увольнение сотрудника оформляется через WEB-табель => Табель => Увольнение. Создать заявку может сотрудник или руководитель/заместитель руководителя за сотрудника. В заявку необходимо вложить отсканированное заявление на увольнение и заявление на отправку трудовой книжки. За день до увольнения руководитель структурного подразделения закрывает табель учета рабочего времени на день увольнения. В день увольнения после 16 часов по Мск в заявку выкладываются: приказ об увольнении, карточка Т-2 (последний лист), соглашение сторон (при необходимости), справка 2-НДФЛ и справка 182-Н. Приказ и карточку Т-2, соглашение сторон (при необходимости) необходимо распечатать в одном экземпляре, соглашение сторон (при необходимости в 2-х экз.) подписать и вложить сканы подписанного приказа, карточки Т-2 и соглашение сторон (при необходимости) в заявку на увольнение, справки 2НДФЛ и 182-н распечатать и подписать у своего Руководителя. <br /><br />
        Трудовая книжка отправляется уволенному сотруднику, согласно заявления на выдачу Трудовой книжки в соответствии с установленной формой заявления ПАО «Совкомбанк». <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.4: Где оформить приказ на командировку и авансовый отчет? </b></label><br /><br />
        Ответ: Приказ на командировку и авансовый отчет оформляется через WEB-табель => Приказ на командировку (подотчет) => Памятка => и далее. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.5: Как оформить увольнение по собственному желанию во время нахождения в отпуске по уходу за ребенком? </b></label><br /><br />
        Ответ: Увольнение сотрудника осуществляется на основании заявления сотрудника. <br /><br />
        Увольнение сотрудника оформляется через WEB-табель => Табель => Увольнение. Создать заявку может руководитель/заместитель руководителя за сотрудника. В заявку необходимо вложить отсканированное заявление на увольнение и заявление на отправку трудовой книжки. За день до увольнения руководитель структурного подразделения закрывает табель учета рабочего времени на день увольнения. В день увольнения после 16 часов по Мск в заявку выкладываются: приказ об увольнении, карточка Т-2 (последний лист), соглашение сторон (при необходимости), справка 2-НДФЛ и справка 182-Н. Приказ и карточку Т-2, соглашение сторон (при необходимости) необходимо распечатать в одном экземпляре, соглашение сторон (при необходимости в 2-х экз.) подписать и вложить сканы подписанного приказа, карточки Т-2 и соглашение сторон (при необходимости) в заявку на увольнение, справки 2НДФЛ и 182-н распечатать и подписать у своего Руководителя. <br /><br />
        Трудовая книжка отправляется уволенному сотруднику, согласно заявления на выдачу Трудовой книжки в соответствии с установленной формой заявления ПАО «Совкомбанк». <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.6: Как оформить отпуск без сохранения заработной платы? </b></label><br /><br />
        Ответ: Отпуск без сохранения заработной платы оформляется через WEB-табель => Табель => Отпуска, не менее чем за 1 (Один) рабочий день. В заявку нужно вложить скан заявления на отпуск <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.7: Как продлить отпуск в случае болезни в отпуске? </b></label><br /><br />
        Ответ: Для того, чтобы продлить отпуск в случае болезни в отпуске необходимо создать заявку на отпуск через WEB-табель => Табель => Отпуска не менее чем за 2 (Два) рабочих дня до предполагаемой даты отпуска. В заявку нужно вложить <b>ОДНИМ ФАЙЛОМ</b> скан заявления на отпуск и скан больничного листа, подтверждающего болезнь во время отпуска. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.8: Как оформить досрочный выход из отпуска по уходу за ребенком? </b></label><br /><br />
        Ответ: Для оформления досрочного выхода из отпуска по уходу за ребенком необходимо предоставить заявление о досрочном выходе из отпуска по уходу за ребенком своему непосредственному руководителю. Руководитель должен передать заявление о досрочном выходе из отпуска по уходу за ребенком кадровику. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.9: Как определить, что приказ на командировку создан корректно и принят в работу?</b></label><br /><br />
        Ответ: В реестре приказов на командировку во вкладке Приказ на командировку (подотчет)/Приказ-реестр проверить состояние приказа на командировку. Если состояние "Черновик" - то нужно проверить заполнение приказа на командировку согласно Памятки отбывающего в командировку. Если состояние "Отклонен", выяснить причину отклонения у руководителя. Во всех других случаях Приказ на командировку будет принят в работу.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.10: Как отклонить неверно заведенную заявку на отпуск?</b></label><br /><br />
        Ответ: Для отклонения заявки на отпуск необходимо в комментариях в заявке указать причину отклонения<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.11: Где можно задать вопрос по количеству неиспользованных дней отпуска?</b></label><br /><br />
        Ответ: Необходимо задать вопрос в ИнфоУслуги/Задать вопрос/Вопрос кадровику/Остаток отпуска.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.12: Созданная мною заявка на отпуск отклонена, что делать?</b></label><br /><br />
        Ответ: Посмотреть в заявке на отпуск комментарий, в связи с чем отклонена заявка и оформить новую заявку на отпуск.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 2.13: В Веб-табеле наблюдается несоответствие руководителя, к кому можно обратиться по данному вопросу?</b></label><br /><br />
        Ответ: Необходимо написать вопрос в ИнфоУслуги/Задать вопрос/Тех. поддержка по программе Веб.<br /><br />
        <label style="text-decoration:underline"><b>3. ДОКУМЕНТЫ:</b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.1: Куда отправить оригиналы документов? </b></label><br /><br />
        Ответ: Все оригиналы документов, отправленные копиями и/или сканами передаются руководителю для отправки в головной офис. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.2: Как получить расчетный лист? </b></label><br /><br />
        Ответ: Расчетный лист предоставляется ежемесячно после выплаты второй части заработной платы (14 число) в течение 3-х рабочих дней на адрес электронной почты и/или распечатать из ИнфоЗарплаты. При необходимости , после общей рассылки, расчетный лист можно заказать через WEB-табель => ИнфоУслуги <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.3: Как получить справку 2 НДФЛ? </b></label><br /><br />
        Ответ: Справка 2-НДФЛ предоставляется ежемесячно после выплаты второй части заработной платы (14 число) в течение 5-ти рабочих дней на адрес электронной почты и/или справку можно распечатать из ИнфоЗарплаты. При необходимости, после общей рассылки, справку 2 НДФЛ можно заказать через WEB-табель => ИнфоУслуги через 5 (Пять) рабочих дней после выплаты заработной платы. Справки 2-НДФЛ за текущий год нарастающим итогом предоставляются после сдачи отчетности в налоговую инспекцию, в течение 5 (Пяти) рабочих дней, срок сдачи отчетности до 1 апреля года, следующего за отчетным.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.4: Как получить справки с места работы, копию трудовой книжки? </b></label><br /><br />
        Ответ: Заказать через WEB-табель => ИнфоУслуги, распечатать из своей заявки, подписать у Руководителя. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.5: Как оформить анкету на загранпаспорт ? </b></label><br /><br />
        Ответ: Заполненную анкету прикрепить в заявку в ИнфоУслугах => Заказать Услугу, после проверки Кадровиком , распечатать из своей заявки и подписать у Руководителя. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.6: Изменил(а) ФИО, места регистрации, получил новое образование.  </b></label><br /><br />
        Ответ: Распечатать заявление из WEB-табель => ИнфоУслуги => Шаблоны, заполнить шаблон заявления на смену ФИО, места регистрации, получения нового образования в период работы в Банке и со сканами документов о смене (свидетельство о браке, расторжении брака, копия паспорта, документы об образовании и другое) вложить в заявку в WEB-табель => ИнфоУслуги => Заказать Услугу.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.7: После смены ФИО, надо заменить СНИЛС . Как это сделать? </b></label><br /><br />
        Ответ: Заявление и документы высылаются на электронный адрес: Ибрагимовой Алине Андреевне IbragimovaAA@sovcombank.ru или Рогозиной Ирине Егоровне RogozinaIE@sovcombank.ru <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.8: Как правильно оформить больничный лист, чтобы не было отказа в его оплате? </b></label><br /><br />
        Ответ: WEB-табель => ИнфоУслуги => Шаблоны => Оформление больничного листа. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.9.: Как оформить документы, полученные из ИнфоУслуг?</b></label><br /><br />
        Ответ: Полученные документы в WEB-табель => ИнфоУслуги => Заказать Услугу необходимо распечатать из своей заявки, подписать и поставить печать у своего руководителя.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.10: В копии трудовой книжки на последней странице печать не читаема, что делать?</b></label><br /><br />
        Ответ: Создать повторно заявку на копию трудовой книжки во вкладке ИнфоУслуги/Заказать услугу/Копия ТК. В комментариях указать, что получена копия с нечитаемой печатью и необходимо выслать копию трудовой книжки повторно.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.11: Как получить справку по форме 182-Н для уволенного сотрудника?</b></label><br /><br />
        Ответ: Справка 182-Н выкладывается в заявку на увольнение, из которой справку 182-Н можно распечатать и подписать у уполномоченного лица. Оригинал справки выдается/высылается (при наличии заявления на отправку трудовой книжки почтовым отправлением) сотруднику в день увольнения.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.12.: Если не получил оригинал справки по форме 182-Н при увольнении, как заказать справку?</b></label><br /><br />
        Ответ: Заказать справку 182-Н в течение 5 (Пяти) рабочих дней после увольнения необходимо через ИнфоУслуги/Заказать услугу/Справка о заработке для расчета пособия (182Н). По истечение 5 (Пяти) календарных дней справку 182-Н может заказать руководитель за сотрудника через ИнфоУслуги/Заказать услугу/Справка о заработке для расчета пособия (182Н). Справка 182- формируется в течение 5 (Пяти) рабочих дней. По готовности справка будет прикреплена в заявку.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.13: Как получить справку для центра социальной защиты населения за 3 месяца (6 месяцев)?</b></label><br /><br />
        Ответ: Заказать справку для соц. защиты необходимо через ИнфоУслуги/Заказать услугу/Справка о среднем заработке за последние 3 месяца(6 месяцев). В комментариях указать, что справка требуется для предоставления в органы соц. защиты. Если есть бланк справки, прикрепить в заявку. Справка для соц.защиты формируется в течение 5 (Пяти) рабочих дней. По готовности справка будет прикреплена в заявку.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.14: Где размещены бланки заявлений для оформления отпуска по беременности и родам?</b></label><br /><br />
        Ответ: Бланки заявления на отпуск по беременности и родам и заявления на выплату единовременного пособия, как вставшей на учет в ранние сроки беременности размещены в ИнфоУслуги/Образцы документов<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.15: Как получить справки 2НДФЛ за период работы в GE Money Банке?</b></label><br /><br />
        Ответ: Если Вы в настоящее время являетесь сотрудником Совкомбанка заказать справку нужно через ИнфоУслуги/Заказать услугу/Справка 2НДФЛ, в заявке указать в комментариях GE Money. Если не являетесь сотрудником Совкомбанка, то справку нужно заказать через руководителя: ИнфоУслуги/Заказать услугу/Справка 2НДФЛ, проставить признак GE Money. Справка 2-НДФЛ формируется в течение 5 (Пяти) рабочих дней. По готовности справка будет прикреплена в заявку.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.16: Как заказать справку для оформления визы сотруднику, который находится в отпуске по уходу за ребенком?</b></label><br /><br />
        Ответ: Заказать справку может руководитель через ИнфоУслуги/Заказать услугу/Справка для визы с места работы. Справка для визы формируется в течение 5 (Пяти) рабочих дней. По готовности справка будет прикреплена в заявку.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.17: Какие документы должны быть подписаны в случае изменения заработной платы?</b></label><br /><br />
        Ответ: Все документы по изменению  з/п сотрудников  оформляются на основании служебных записок на изменение штатного расписания, согласованных через pyrus. Документы на подпись направляются посредством электронной почты.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.18: Как можно получить копии документов для кассира, в какой срок?</b></label><br /><br />
        Ответ: Запрос копий документов для кассира необходимо сделать через ИнфоУслуги/Заказать услугу/Пакет документов для кассира.    Срок исполнения 5 рабочих дней.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.19: Как заказать справку с места работы по определенному образцу?</b></label><br /><br />
        Ответ: Заказать справку необходимо через ИнфоУслуги/Заказать услугу/Справка с места работы по образцу Клиента, вложить образец справки с комментариями. Справка формируется в течение 5 (Пяти) рабочих дней. По готовности справка будет прикреплена в заявку.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 3.20: Какой перечень документов должен быть предоставлен для подтверждения статуса матери-одиночки?</b></label><br /><br />
        Ответ: В свидетельстве о рождении в строке отец должен стоять прочерк или запись об отце ребенка сделана со слов матери (в таком случае должна быть справка по форме N 25, выданная органами ЗАГС)<br /><br />
        <label style="text-decoration:underline"><b>4. ДРУГИЕ ВЫПЛАТЫ:</b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.1: Как оформляются отпуск по беременности и родам и пособие вставшим на учет на ранних сроках беременности ? </b></label><br /><br />
        Ответ: Отпуск по беременности и родам и пособие вставшим на учет на ранних сроках беременности оформляется через WEB-табель => Табель => Больничные. <br /><br />
        Отпуск по беременности и родам и пособие вставшим на учет на ранних сроках беременности (при наличии медицинской справки о постановке на учет в ранние сроки беременности, выданной врачом лечебного учреждения) оформляется на основании: заявления на отпуск по беременности и родам; листка нетрудоспособности; заявления о выплате пособия, как вставшей на учет в ранние сроки беременности (при наличии медицинской справки о постановке на учет в ранние сроки беременности, выданной врачом лечебного учреждения); справки о постановке на учет в ранние сроки беременности, выданной врачом лечебного учреждения (при наличии). <br /><br />
        В заявку вложить отсканированные документы: заявления, больничный лист и медицинскую справку о постановке на учет в ранние сроки беременности (при наличии). Скан-копия всех документов выкладывается в заявку <b>ОДНИМ ФАЙЛОМ</b>, скан-копия должна быть четкой, ясной, с отчетливо читаемым текстом. <br /><br />
        Если у работника нет стажа в ОАО ИКБ «Совкомбанк» за два календарных года, предшествующих году на период отпуска по беременности и родам, то сотрудник должен предоставить <b>ОРИГИНАЛ</b> справки формы 182-Н с предыдущего (предыдущих) мест работы и оформить заявление на расчет больничного листа с учетом предыдущих мест работы. Скан заявления и справки формы 182-Н вкладывается в заявку с больничным листом <b>ОДНИМ ФАЙЛОМ.</b> <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.2: Как оформить пособие при рождении ребенка? </b></label><br /><br />
        Ответ: Распечатать заявление из WEB-табель => ИнфоУслуги => Шаблоны, заполнить и со сканами подтверждающих документов прикрепить в заявке в WEB-табель => Табель => Отпуск по уходу за ребенком.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.3: Как оформить материальную помощь по основаниям: смерть близких родственников (супруг(а), ребенок, родители, брат/сестра); рождение ребенка; заключение брака? </b></label><br /><br />
        Ответ: Распечатать заявление из WEB-табель => ИнфоУслуги => Шаблоны, заполнить и со сканами документов прикрепить в заявке в ИнфоУслугах => Заказать Услугу. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.4: Как оформить материальную помощь по основаниям, не указанным в вопросе №3? </b></label><br /><br />
        Ответ: Заявление в свободной форме и документы высылаются на Почтовый ящик salary. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.5: Как оформить отпуск по уходу за ребенком до 1,5 лет – 3-х лет и пособие по уходу за ребенком до 1,5 лет и до 3-х лет? </b></label><br /><br />
        Ответ: Отпуск по по уходу за ребенком до 1,5 лет – 3-х лет и пособие по уходу за ребенком до 1,5 лет и до 3-х лет оформляется через WEB-табель => Табель => Отпуск по уходу за ребенком. <br /><br />
        Отпуск по уходу за ребенком до 1,5 лет – 3-х лет и пособие по уходу за ребенком до 1,5 лет и до 3-х лет оформляется на основании: заявления на отпуск по уходу за ребенком до 1,5 лет; заявления на отпуск по уходу за ребенком до 3 лет; свидетельства о рождении ребенка (свидетельство об усыновлении ребенка, за которым осуществляется уход либо выписка из решения об усыновлении над ребенком опеки); копия свидетельство о рождении предыдущих детей; заявления на ежемесячные выплаты до 1,5 лет и до 3-х лет; справки с места работы второго родителя о непредоставления отпуска по уходу за ребенком до 1,5 лет и до 3-х лет и о неначислении ежемесячных выплат до 1,5 лет и до 3-х лет. <br /><br />
        В заявку вложить отсканированные документы: заявления, свидетельство о рождении, заявление на ежемесячные выплаты, справку с места работы второго родителя. Скан-копия всех документов выкладывается в заявку <b>ОДНИМ ФАЙЛОМ</b>, скан-копия должна быть четкой, ясной, с отчетливо читаемым текстом. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 4.6: Как получить компенсацию за неиспользованные дни отпуска?</b></label><br /><br />
        Ответ: Компенсация за неиспользованный отпуск выплачивается только при увольнении.<br /><br />
        <label style="text-decoration:underline"><b>5. НАЛОГОВЫЕ ВЫЧЕТЫ:</b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 5.1: Как оформить стандартный налоговый вычет на ребенка? </b></label><br /><br />
        Ответ: Распечатать заявление из WEB-табель => ИнфоУслуги => Шаблоны, заполнить и со сканами документов прикрепить в заявке в ИнфоУслугах => Заказать Услугу. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 5.2: Возможно ли получить по месту основной работы вычет при приобретении недвижимости? </b></label><br /><br />
        Ответ: Возможно. Для получения вычета необходимо предоставить заявление о предоставлении вычета и уведомление из налогового органа. Вышеуказанные документы необходимо предоставить через WEB-табель => ИнфоУслуги <b>ОДНИМ ФАЙЛОМ</b>. <br /><br />
        <b>6. РУКОВОДИТЕЛЯМ:</b><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.1 : Уволенному сотруднику нужна справка, как ее заказать? </b></label><br /><br />
        Ответ: При увольнении сотруднику выдается полный пакет документов, в соответствии с законодательством. Если сотрудник обратился к Вам через 5 (Пять) календарных дней после увольнения за справкой, Вы можете через WEB-табель => ИнфоУслуги => ЗаказатьУслугу заказать необходимую справку, указав ФИО, день рождения сотрудника, распечатать из оформленной ранее заявки на услугу, подписать. Перечень документов, возможных к предоставлению: копии приказа о приеме на работу; копии приказов о переводах на другую работу; копии приказа об увольнении с работы; выписки из трудовой книжки; справки о заработной плате; справки о начисленных и фактически уплаченных страховых взносах на обязательное пенсионное страхование; справки о периоде работы у данного работодателя.  <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.2: Где получить штатное расписание на подразделение? </b></label><br /><br />
        Ответ: Руководитель структурного подразделения может сделать запрос по своему структурному подразделению в Управление кадрового делопроизводства и учета, на электронную почту сотрудникам: Чесновой Светлане Александровне ChesnovaSA@sovcombank.ru или Тихановой Ольге Альбертовне TihanovaOA@sovcombank.ru. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.3: Как оформляются изменения в Штатное расписание? </b></label><br /><br />
        Ответ: Служебная записка оформляется на изменение штатного расписания руководителем структурного подразделения и высылается на Почтовый ящик Shtat для согласования в системе pyrus.com. При размещении в системе pyrus.com служебной записки ответственный сотрудник Управления кадрового делопроизводства и учета отправляет на электронную почту руководителя, который отправлял служебную записку, письмо о размещении с номером задачи в pyrus.com. Образец служебной записки размещен в WEB-табель => ИнфоУслуги => Шаблоны. <br /><br />
        Служебная записка оформляется на: создание нового подразделения; создание новой штатной единицы; ликвидация подразделения; сокращение штатной единицы; изменение оклада; изменение надбавки к должности. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.4: Кто может проконсультировать по штатному расписанию? </b></label><br /><br />
        Ответ :Вопросы по штатному расписанию задавайте, пожалуйста, в Управление кадрового делопроизводства и учета. Письма направлять на электронную почту начальника Управления кадрового делопроизводства и учета Рогозиной Ирине Егоровне RogozinaIE@sovcombank.ru или заместителю начальника Управления кадрового делопроизводства и учета Ибрагимовой Алине Андреевне IbragimovaAA1@sovcombank.ru. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.5: Где взять должностную инструкцию на сотрудника? </b></label><br /><br />
        Ответ: Должностные инструкции сотрудников размещены на диске -    L:\Деп. персонала\ДИ и ЛНА о ВСП. При возникновении вопросов, запросы пишите на электронную почту сотрудникам: Чесновой Светлане Александровне ChesnovaSA@sovcombank.ru или Тихановой Ольге Альбертовне TihanovaOA@sovcombank.ru <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.6: Новый сотрудник моего подразделения не может зайти в Веб-табель, что делать?</b></label><br /><br />
        Ответ: Сотруднику необходимо нажать кнопку «Забыли пароль?» (расположена сразу под полями «Логин» и «Пароль»). В открывшемся окне ввести адрес электронной почты и нажать кнопку «Напомнить пароль». На почту будут отправлены логин и пароль для входа. В случае, если система выдаст ошибку, руководитель должен написать вопрос в ИнфоУслуги/Задать вопрос/Тех. поддержка по программе Веб.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.7: Кто может согласовать заявку на больничный лист, если период закрыт и период указанный в заявке, не соответствует данным по неявкам в табеле?</b></label><br /><br />
        Ответ: Руководитель при отсутствии сотрудника (больничный лист) должен своевременно завести заявку на невыходы в Веб-табеле, чтобы при заведении сотрудником заявки на больничный лист была возможность согласовать заявку. В случае, если будет расхождение между датами неявок и датами по больничному листу, то согласовать заявку будет невозможно.<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.8: Как правильно оформить служебную записку на изменение штатного расписания? Где взять бланк?</b></label><br /><br />
        Ответ: Бланк служебной записки с образцом заполнения размещён в ИнфоУслуги/Образцы документов<br /><br />
        <label style="text-decoration:underline"><b>Вопрос 6.9: Как оформить в Веб-табеле оплату работы в праздничный/выходной день?</b></label><br /><br />
        Ответ: Руководителю подразделения необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;- оформить служебную записку (образец служебной записки находится в ИнфоУслуги/Образцы документов/СЗ на оплату в выходные – праздничные дни), собрать заявления с сотрудников о согласии на работу в выходной/праздничный день (образец заявления находится в ИнфоУслуги/Образцы документов/Заявление о согласии на работу в выходной день). Отсканировать служебную записку и заявления сотрудников одним файлом;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;- зайти в WEB-табель под ролью «Руководитель» во вкладку Начисления. Выбрать раздел «Служебная записка на оплату выходных дней» или «Служебная записка на оплату праздничных дней». Нажать на кнопку «Создать новую заявку»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;- в открывшейся заявке нажать кнопку «Выбрать» для выбора структурного подразделения;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;- в появившемся окне заполнить структурное подразделение (все пустые поля должны быть заполнены), нажать кнопку «Выбрать»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;- в поле «Оплачиваемый день» указать дату выхода сотрудников на работу в выходной/праздничный день (один день, одна служебная записка). Через кнопку «Выберите файл» вложить сканы служебной записки и согласия сотрудников на работу в выходной/праздничный день. Служебная записка и согласие сотрудников должны быть отсканированы и вложены в заявку одним файлом, нажать кнопку «Сохранить».<br /><br />
        <label style="text-decoration:underline"><b>7. ОБЩИЕ: </b></label><br /><br />
        <label style="text-decoration:underline"><b>Вопрос 7.1: Где узнать о соцпрограммах? </b></label><br /><br />
        Ответ: узнать о социальных программах ПАО «Совкомбанк» можно на корпоративном сайте банка https://portal.sovcombank.ru/view_doc.html?mode=doc&doc_id=5817673769436870203. <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 7.2: Кому задавать вопросы, не указанные в темах ИнфоУслуги? </b></label><br /><br />
        Ответ: При возникновении вопросов, не входящих перечень тем в ИнфоУслугах, необходимо регистрировать задачу в системе Пайрус по форме «ВОПРОСЫ_Фронта» (ссылка https://pyrus.com/t#uf84025) <br /><br />
        <label style="text-decoration:underline"><b>Вопрос 7.3: Как узнать даты предполагаемого отпуска согласно графика отпусков?</b></label><br /><br />
        Ответ: Данный вопрос Вы можете уточнить у своего непосредственного руководителя, у которого есть график отпусков по подразделению.<br /><br />
    </div>
    <!--<div id="QuestionsModelContext">@Html.Partial("FaqPartial", Model)</div>-->
}
<script type="text/javascript">
   
    $(document).ready(function () {
        setActiveMenuItem("helpFaq");
    });
@*</script>
<script type="text/javascript">*@
    function Render() {
        var actionUrl="@Url.Action("RenderQuestions", "Help")";
        var url = actionUrl + "?dummy=" + new Date().getTime();
        $("#QuestionsModelContext").load(url);
    }
    function OnAddQuestion() {
        createQuestionDialog(0);
    }
     function OnEditQuestion(id) {
        createQuestionDialog(id);
    }
    function disableSaveButton() {
        $(".ui-dialog-buttonpane button:contains('Сохранить')").button("disable");
    }
    function createQuestionDialog(id) 
    {
        var elem = document.createElement('div');
        elem.id = "divQuestionDialog";
        var newDiv = $(elem);
//        var documentId = $("#RequestId").val();
//        var typeId = $("#RequestTypeId").val();

        var title =  "Редактирование записи";
        $(newDiv).text('Подождите, идет загрузка данных ...'); 
        $.ajaxSetup({cache: false});
        $(newDiv).load("@Url.Action("EditQuestionDialog", "Help")?id=" + id  + " #QuestionDialogTable",
         function (response, status, xhr) {
                 if (status == "error") {
                     var msg = "Произошла ошибка: ";
                     $(newDiv).html("<div style='color:Red'>" + msg + xhr.status + " " + xhr.statusText + "</div>");
                 } else if (status == "success") {
                     if ($('#EditFaqLoadError').val() != undefined)
                         disableSaveButton();
//                     else
//                     {
//                        $("#ReleaseDate").datepicker({changeMonth: true, changeYear: true});
//                        $(".hasDatepicker").width("85px");
//                     }
                 }
             });
        $(newDiv).dialog(
        { // initialize dialog box
            autoOpen: true,
            modal: true,
            title: title,
            // fix IE6  
            bgiframe: true, 
            draggable: false,
            resizable: false,
            width: 620,
	        height: 380,
            close: function (event, ui) {
                $(this).dialog("destroy").remove();
            },
            buttons:
            {
                "Сохранить": function () {
                    if (!ValidateQuestion())
                        return;
                    SaveQuestion();
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
    function ValidateQuestion()
    {
        var result = true;
        clearDlgErrors($("#QuestionDialogTable"));
        if(trimSpaces($("#Question").val()) == "")
        {
            addDlgError($("#Question"),"Вопрос - обязательное поле");
            result = false;
            //return false;
        }
        if(trimSpaces($("#Answer").val()) == "")
        {
            addDlgError($("#Answer"),"  Ответ - обязательное поле");
            result = false;
        }
        return result;
    }
    function SaveQuestion()
    {
        var url='@Url.Action("SaveQuestion", "Help")';//+'?id='+ $("#Id").val() +'&question='+escapeJson($("#Question").val())+'&answer='+escapeJson($("#Answer").val())  ;
        var jqxhr = $.post(url,
                {
                    id:$("#Id").val(),
                    question:$("#Question").val(),
                    answer:$("#Answer").val()
                },
                function (jsonResult) {
                                            if (!this.JSON) {
                                                    this.JSON = {};
                                            }
                                            if(jsonResult == "")
                                            {
                                                addFaqError("Ошибка асинхронного запроса - не был получен ответ.");
                                                return;
                                            }
                                            var result = JSON.parse(jsonResult);  
                                            if(!result.Result)
                                            {
                                                addFaqError(result.Error);
                                                //Render();
                                            }
                                            else
                                            {
                                                clearFaqErrors();
                                                $("#divQuestionDialog").dialog("close");
                                                Render();
                                            }    
                                  });
    }
    function addFaqError(value) {
    $("#FaqError").text(value);
    $("#FaqError").show();
    }
function clearFaqErrors() {
    $("#FaqError").text("");
    $("#FaqError").hide();
}
 function OnDeleteQuestion(id){
        var actionUrl="@Url.Action("DeleteQuestion", "Help")";
        var url = actionUrl + "?Id=" + id;
        $.getJSON(url,
                       function (result) {
                            if(!result.Result){
                                $("#ListQuestionsError").text(result.Error);
                                $("#ListQuestionsError").show(); 
                            }
                            else{
                                $("#ListQuestionsError").text("");
                                $("#ListQuestionsError").hide();                                 
                           }
                           Render();
                       }
                     );
        return false;
    }
</script>
