@model Reports.Presenters.UI.ViewModel.HelpServiceRequestEditModel
<tr>
    <td>
        @Html.LabelFor(m => m.FiredUserName)
    </td>
    <td>
        @Html.TextBoxFor(m => m.FiredUserSurname, Model.IsEditable ? (object)new { placeholder = "Фамилия", style = "width:100px" } : (object)new { @readonly = "readonly" })
        @Html.TextBoxFor(m => m.FiredUserName, Model.IsEditable ? (object)new { placeholder = "Имя", style = "width:100px" } : (object)new { @readonly = "readonly" })
        @Html.TextBoxFor(m => m.FiredUserPatronymic, Model.IsEditable ? (object)new { placeholder = "Отчество", style = "width:100px" } : (object)new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FiredUserSurname)
        @Html.ValidationMessageFor(m => m.FiredUserName)
        @Html.ValidationMessageFor(m => m.FiredUserPatronymic)

    </td>
</tr>
<tr>
                            <td style="width:220px">
                                Структурное подразделение уволенного:
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" value="@Model.DepartmentName" name="DepartmentName" />
                                <input type="hidden" id="DepartmentId" value="@Model.DepartmentId" name="DepartmentId"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                               <input type="button" value="Выбрать" onclick="changeDepartment();"/>            
                            </td>
                        </tr> 
<tr>
    <td>
        @Html.LabelFor(m => m.UserBirthDate)
    </td>
    <td>
        @Html.TextBoxFor(m => m.UserBirthDate, Model.IsEditable ? (object)new { @class = "datepicker", style = "width:100px" } : (object)new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.UserBirthDate)
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(m => m.Note)
    </td>
    <td>
        @Html.DropDownListFor(m => m.Note, new SelectList(Model.NoteList,"Id","Name",Model.Note),
                                        Model.IsEditable ? (object)new { style = "width:100px" } : (object)new { @readonly = "readonly" })
    </td>
</tr>
