@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.HelpServiceRequestsListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Заказать услугу";
}

@using (Html.BeginForm())
{
    <div>Уважаемые пользователи! Перед заказом услуги прочитайте, пожалуйста, краткие рекомендации во вкладке «О ПРОГРАММЕ». В связи с большим объемом заказываемых услуг, для более оперативной их обработки, обращаем Ваше внимание, заказанная услуга, оформленная не правильно, будет отклоняться без оставления комментариев.</div>
    <div style="color:Red"><br />
    <u>Обращаем ваше  внимание!</u> С 2016 года   при заполнения справок 2-НДФЛ  ИНН сотрудников должен указываться в обязательном порядке. Если при трудоустройстве сотрудник не предоставил сведений о своем ИНН, необходимо его предоставить.
Свой  ИНН  можно  получить в  налоговой  инспекции  по  месту жительства или на  сайте Федеральной Налоговой Службы https://service.nalog.ru/inn.do
После получения  ИНН  вы  можете  предоставить  его  своему Работодателю через ВЕБ_Табель:<br />
1) зайти в программу "Табель", на страницу "ИНН физ. лица",<br />
2) внести ИНН в сведения о работнике, нажав "Изменить",<br />
Примечание: сведения об ИНН в программе может разместить сам работник (за себя), Руководитель или Кадровик (за сотрудника),Бухгалтер ( за  физ. лицо).
    </div>
    <table style="width:100%">
     <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                                <div id="Error" style="color:Red;display:none;"></div>
                                @Html.HiddenFor(m => m.UserId)
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="DepartmentReadOnly" name="DepartmentReadOnly" value="@Model.DepartmentReadOnly" />
                                @if (!Model.DepartmentReadOnly)
                                {
                                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                                }            
                            </td>
                        </tr>
                         <tr>
                             <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "ID", "Name")) 
                             </td>
                        </tr>
                          @if (((ReportPrincipal)HttpContext.Current.User).UserRole != UserRole.Employee)
                          {
                            <tr>
                                    <td>
                                        @Html.LabelFor(m => m.UserName):
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.UserName)
                                    </td>
                             </tr>
                          }
                          <tr>
                                <td>
                                    @Html.LabelFor(m => m.Number):
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Number)
                                </td>
                         </tr>
                         <tr>
                         <td>
                            @Html.LabelFor(model=>model.TypeId):
                         </td>
                         <td>
                            @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.Types, "ID", "Name")) 
                            <input type="hidden" id="TypeIdHidden" name="TypeIdHidden" value="@Model.TypeIdHidden" />
                        </td>
                         </tr>
                         <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                             </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            @*<input type="submit" value="Выбрать"/>*@
                            <input type="button" value="Выбрать" onclick="$('#grid').remove(); this.form.submit();"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>
     <tr>
        <td colspan="2">
          <div class="action-wrap">
            <table style="width:100%">
                    <tr>
                            <td>
                                @if ((((ReportPrincipal)HttpContext.Current.User).UserRole == UserRole.Employee) || (((ReportPrincipal)HttpContext.Current.User).UserRole == UserRole.DismissedEmployee))
                                {
                                    <input type="button" value="Создать новую заявку на услугу" onclick="location.href='@Url.Action("ServiceRequestEdit", "Help", new { id = 0 })'"/>   
                                }
                                <input type="hidden" id="IsAddAvailable" name="IsAddAvailable" value="@Model.IsAddAvailable" />
                                @if (Model.IsAddAvailable)
                                {
                                    <input type="button" value="Создать новую заявку на услугу за сотрудника" onclick="location.href='@Url.Action("CreateServiceRequest", "Help")'"/>
                                    <input type="button" value="Создать новую заявку на услугу за уволенного сотрудника" onclick="location.href='@Url.Action("CreateServiceRequestForFired", "Help")'"/>
                                    
                                } 
                                @if (Model.IsOriginalDocsEditable)
                                {
                                    <input type="submit" value="Сохранить изменения" style="float:right" onclick="OriginalsChanged()" />
                                    @Html.HiddenFor(m => m.IsOriginalsReceivedChanged)
                                }                                                                                    
                            </td>
                            @*<td style = "text-align:right">
                                <input type="hidden" id="IsApproveClick" name="IsApproveClick" value="@Model.IsApproveClick" />
                                @if (Model.IsApproveAvailable)
                                {
                                    <input type="submit" value="Записать" onclick="return approveClick();"/>
                                }
                            </td>*@
                   </tr>
              </table>  
           </div>
        </td>
    </tr>   
     <tr>
        <td colspan="2">
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            <table class="grid" style="width:100%;border-bottom:0px;border-right:0px">
                <tr>
                     <th>
                        № п/п
                    </th>
                    <th>
                        <div id="sort1" style="min-width:100px"><a href="#" onclick = "SortChanged(1);">ФИО</a></div>
                    </th>
                    <th>
                        <div id="sort2" style="min-width:100px"><a href="#" onclick = "SortChanged(2);">Должность</a></div>
                    </th>
                     <th>
                        <div id="sort3" style="min-width:100px"><a href="#"  onclick = "SortChanged(3);">Руководитель<br/> за сотрудника</a></div>
                    </th>
                    <th>
                        <div id="sort13" style="min-width:100px"><a href="#"  onclick = "SortChanged(13);">ФИО<br/>уволенного</a></div>
                    </th>
                    <th>
                        <div id="sort14" style="min-width:100px"><a href="#"  onclick = "SortChanged(14);">Примечание</a></div>
                    </th>
                    <th>
                        <div id="sort11" style="min-width:100px"><a href="#"  onclick = "SortChanged(11);">Подразделение<br/> 3 уровня</a></div>
                    </th>
                    <th>
                        <div id="sort4"  style="min-width:180px"><a href="#"  onclick = "SortChanged(4);">Подразделение<br /> 7 уровня</a></div>
                    </th>
                    <th>
                        <div id="sort5"  style="min-width:40px"><a href="#"  onclick = "SortChanged(5);">Номер<br/> заявки</a></div>
                    </th>
                    <th>
                        <div id="sort6"  style="min-width:40px"><a href="#"  onclick = "SortChanged(6);">Дата<br/> запроса</a></div>
                    </th>                    
                    <th>
                        <div id="sort7"  style="min-width:80px"><a href="#"  onclick = "SortChanged(7);">Дата<br/> выполнения<br/> услуги</a></div>
                    </th>
                    <th>
                        <div id="sort8"  style="min-width:100px"><a href="#"  onclick = "SortChanged(8);">Вид услуги</a></div>
                    </th>
                    <th>
                        <div id="sort12"  style="min-width:100px"><a href="#"  onclick = "SortChanged(12);">Срок<br /> изготовления</a></div>
                    </th>
                    <th>
                        <div id="sort9"  style="min-width:100px"><a href="#"  onclick = "SortChanged(9);">Способ<br/> передачи</a></div>
                    </th>
                    @if (Model.IsOriginalDocsVisible)
                    {
                                <th>
                                   <div id="sort15" ><a href="#"  onclick = "SortChanged(15);">Оригинал док-в <br />от сотр. получен</a></div> 
                                </th>
                    }
                    <th>
                        <div id="sort10"  style="min-width:100px"><a href="#"  onclick = "SortChanged(10);">Состояние</a></div>
                    </th>
                    <th>
                        <div id="sort16" ><a href="#"  onclick = "SortChanged(16);">GE<br /> Money</a></div>
                    </th>
                    <th>
                        <div id="sort17" ><a href="#"  onclick = "SortChanged(17);">Кол-во<br />документов</a></div>
                    </th>
                    <th>
                        <div id="sort18" ><a href="#"  onclick = "SortChanged(18);">Период</a></div>
                    </th>
                </tr>
                <tbody id="grid">
                    @if (Model.Documents != null && Model.Documents.Count > 0)
                    {
                        int i = 0;
                        foreach (var doc in Model.Documents)
                        {
                            string color = "white";
                            switch (doc.StatusNumber)
                            {
                                case 2:
                                    color = "orange";
                                    break;
                                case 3:
                                    color = "yellow";
                                    break;
                                case 4:
                                    color = "LightGreen";
                                    break;
                                case 5:
                                    color = "green";
                                    break;
                                case 6:
                                    color = "red";
                                    break;
                            }
                            <tr>
                                <td>@doc.Number</td>
                                <td>@doc.UserName</td>
                                <td>@doc.Position</td>
                                <td>@doc.ManagerName</td>
                                <td>@doc.FiredUserSurname @doc.FiredUserName @doc.FiredUserPatronymic</td>
                                <td>@if (doc.Note == null)
                                    {
                                           <p /> 
                                    }
                                    else
                                    { <p>@doc.NoteName</p> }
                                     </td>
                                <td>@doc.Dep3Name</td>
                                <td>@doc.Dep7Name</td>
                                <td style="text-align:left">
                                    <a class="ui-notify-close" href='@Url.Action("ServiceRequestEdit", new { id = doc.Id })' style="cursor:hand">@doc.RequestNumber</a>
                                </td>
                                @*
                                <td>@BaseBl.FormatDate(@doc.CreateDate)</td>                            
                                <td>@BaseBl.FormatDate(@doc.ConfirmWorkDate)</td>
                                *@
                                <td>@doc.EditDate.ToShortDateString() @doc.EditDate.ToShortTimeString()</td>                            
                                @if (@doc.EndWorkDate == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@doc.EndWorkDate.Value.ToShortDateString() @doc.EndWorkDate.Value.ToShortTimeString()</td>
                                }
                                <td>@doc.RequestType</td>
                                <td>@doc.ProdTimeName</td>
                                <td>@doc.RequestTransferType</td>
                                @if (Model.IsOriginalDocsVisible)
                                {
                                    <td style="text-align:center; vertical-align:middle;">
                                        @Html.CheckBoxFor(m => m.Documents[i].IsOriginalReceived, Model.IsOriginalDocsEditable ? null : (object)new { disabled = "disabled" })
                                        @Html.HiddenFor(m => m.Documents[i].Id)
                                    </td>
                                }
                                <td style="background-color:@color">
                                    @doc.Status
                                </td>
                                
                                <td style="text-align:center; vertical-align:middle;">
                                @Html.CheckBoxFor(m => m.Documents[i].IsForGEMoney, (object)new { disabled = "disabled" })
                                </td>
                                <td>
                                @doc.DocumentsCount
                                </td>
                                <td>
                                    @doc.PeriodName
                                </td>
                            </tr>
                                i++;
                        }
                    }
                </tbody>
            </table>
        </td>
     </tr>
    </table>
}
<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#BeginDate").datepicker({changeMonth: true, changeYear: true});
        $("#EndDate").datepicker({changeMonth: true, changeYear: true});
        $(".hasDatepicker").width("75px");
        setSortFields();
        setActiveMenuItem("helpAllRequests");
        $("#IsOriginalsReceivedChanged").val(false);
    });
    function OriginalsChanged()
    {
        $("#IsOriginalsReceivedChanged").val(true);
    }
    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');
        if ($("#DepartmentReadOnly").val() == "False") {
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
        }
        //$("#TypeId").val('0');
         $("#StatusId").val('0');
         $("#UserName").val('');
         $("#Number").val('');
         $("#TypeId").val('0');
    }
</script>

