@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.HelpPersonnelBillingListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Биллинг внутренний";
}
@using (Html.BeginForm())
{
    <table style="width:100%">
     <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                                <div id="Error" style="color:Red;display:none;"></div>
                                @Html.HiddenFor(m => m.UserId)
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                            </td>
                        </tr>
                         <tr>
                             <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "ID", "Name")) 
                             </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.InitiatorUserName):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.InitiatorUserName)
                            </td>
                        </tr>
                         <tr>
                            <td>
                                @Html.LabelFor(m => m.WorkerUserName):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.WorkerUserName)
                            </td>
                        </tr>
                          <tr>
                                <td>
                                    @Html.LabelFor(m => m.Number):
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Number)
                                </td>
                         </tr>
                          <tr>
                             <td>
                                @Html.LabelFor(model=>model.TitleId):
                             </td>
                             <td>
                                @Html.DropDownListFor(model => model.TitleId, new SelectList(Model.Titles, "ID", "Name"))
                            </td>
                         </tr>
                         <tr>
                             <td>
                                @Html.LabelFor(model=>model.UrgencyId):
                             </td>
                             <td>
                                @Html.DropDownListFor(model => model.UrgencyId, new SelectList(Model.Urgencies, "ID", "Name"))
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                             </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            @*<input type="submit" value="Выбрать"/>*@
                            <input type="button" value="Выбрать" onclick="$('#grid').remove(); this.form.submit();"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>
     <tr>
        <td colspan="2">
          <div class="action-wrap">
            <table style="width:100%">
                    <tr>
                            <td>
                               
                                <input type="hidden" id="IsAddAvailable" name="IsAddAvailable" value="@Model.IsAddAvailable" />
                                @if (Model.IsAddAvailable)
                                {
                                    <input type="button" value="Создать новый запрос" onclick="location.href='@Url.Action("EditPersonnelBillingRequest", "Help", new { id = 0 })'"/>
                                }                                                                                
                            </td>
                   </tr>
              </table>  
           </div>
        </td>
    </tr>   
     <tr>
        <td colspan="2">
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            <table id="grid" class="grid" style="width:100%;border-bottom:0px;border-right:0px">
                <tr>
                     <th>
                        № п/п
                    </th>
                    <th>
                        <div id="sort1" style="min-width:100px"><a href="#" onclick = "SortChanged(1);">Тема</a></div>
                    </th>
                    <th>
                        <div id="sort2" style="min-width:100px"><a href="#" onclick = "SortChanged(2);">Срочность</a></div>
                    </th>
                     <th>
                        <div id="sort3" style="min-width:120px"><a href="#"  onclick = "SortChanged(3);">Дата запроса</a></div>
                    </th>
                    <th>
                        <div id="sort4" style="min-width:130px"><a href="#"  onclick = "SortChanged(4);">На сотрудника</a></div>
                    </th>
                    <th>
                        <div id="sort5" style="min-width:100px"><a href="#"  onclick = "SortChanged(5);">Подразделение<br/> 3 уровня</a></div>
                    </th>
                    @*
                    <th>
                        <div id="sort6"  style="min-width:180px"><a href="#"  onclick = "SortChanged(6);">Подразделение<br /> 7 уровня</a></div>
                    </th>
                    *@
                    <th>
                        <div id="sort7"  style="min-width:40px"><a href="#"  onclick = "SortChanged(7);">Номер<br/> запроса</a></div>
                    </th>
                    <th>
                        <div id="sort8"  style="min-width:120px"><a href="#"  onclick = "SortChanged(8);">Внутрениий<br />отправитель</a></div>
                    </th>                       
                    <th>
                       Внутренний<br /> получатель
                    </th>                  
                    <th>
                        <div id="sort12"  style="min-width:120px"><a href="#"  onclick = "SortChanged(12);">Внешний<br />отправитель</a></div>
                    </th>
                    <th>
                        Внешний<br />получатель
                    </th>
                    @*<th>
                        <div id="sort8"  style="min-width:100px"><a href="#"  onclick = "SortChanged(8);">Вид услуги</a></div>
                    </th>
                    <th>
                        <div id="sort12"  style="min-width:100px"><a href="#"  onclick = "SortChanged(12);">Срок<br /> изготовления</a></div>
                    </th>
                    <th>
                        <div id="sort9"  style="min-width:100px"><a href="#"  onclick = "SortChanged(9);">Способ<br/> передачи</a></div>
                    </th>*@
                    <th>
                        <div id="sort10"  style="min-width:100px"><a href="#"  onclick = "SortChanged(10);">Состояние</a></div>
                    </th>
                </tr>
                
                @if (Model.Documents != null && Model.Documents.Count > 0)
                {
                    int i=0;
                    foreach (var doc in Model.Documents)
                    {
                        string color = "white";
                        switch (doc.StatusNumber)
                        {
                            case 2:
                                color = "red";
                                break;
                            case 3:
                                color = "yellow";
                                break;
                            case 4:
                                color = "LightGreen";
                                break;
                            //case 5:
                            //    color = "green";
                            //    break;
                            //case 6:
                            //    color = "red";
                            //    break;
                        }
                        <tr>
                            <td>@doc.Number</td>
                            <td>@doc.Title</td>
                            <td>@doc.Urgency</td>
                            <td>@BaseBl.FormatDate(@doc.CreateDate)</td>
                            <td>@doc.ForUserName</td>
                            <td>@doc.Dep3Name</td>
                            @*<td>@doc.Dep7Name</td>*@
                            <td style="text-align:left">
                                <a class="ui-notify-close" href='@Url.Action("EditPersonnelBillingRequest", new { id = doc.Id })' style="cursor:hand">@doc.RequestNumber</a>
                            </td>
                            <td>@doc.CreatorName</td>
                            <td>@doc.RepicientName</td>
                            <td>@doc.CreatorName_Bank</td>
                            <td>@doc.RepicientName_Bank</td>
                            <td style="background-color:@color">
                                @doc.Status
                            </td>
                        </tr>
                        i++;
                    }
                } 
            </table>
       </td>
     </tr>
    </table>
}
<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#BeginDate").datepicker();
        $("#EndDate").datepicker();
        $(".hasDatepicker").width("75px");
        setSortFields();
        setActiveMenuItem("helpPersonnelBilling");
    });
    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');
        /*if ($("#DepartmentReadOnly").val() == "False") {*/
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
       /* }*/
         $("#StatusId").val('0');
         $("#InitiatorUserName").val('');
         $("#WorkerUserName").val('');
         $("#Number").val('');
         $("#TitleId").val('0');
         $("#UrgencyId").val('0');
    }
</script>



