@model Reports.Presenters.UI.ViewModel.HelpVersionsListModel
@{
    Layout = "~/Views/Shared/_HelpInfo.cshtml";
    ViewBag.Title = "О программе";
}

@using (Html.BeginForm())
{
    <div id="VersionsModelContext">@Html.Partial("VersionPartial", Model)</div>
    <!--<div id="accordion">
    <a id="ainfo" href="#">ИНФОРМАЦИЯ</a>-->
    <div id="Info" style="font-size: 11px">
        Программа "ИнфоУслуги" имеет  следующие разделы:
        <br /><br />
        <b>1) </b><b style="text-decoration:underline">ЗАКАЗАТЬ УСЛУГУ</b> - с  помощью данной  услуги  предоставляется  возможность   получения Сотрудником копий документов и справок.<br />
        <b>2) </b><b style="text-decoration:underline">ЗАДАТЬ ВОПРОС</b>  - данный  раздел позволяет задать вопрос специалисту  по расчету  заработной платы по  начислениям  и удержаниям,  специалисту отдела кадров по кадровому оформлению, специалисту IT-службы  по  технической  поддержке программ WEB-табеля.<br />
        <b>3) </b><b style="text-decoration:underline">ШАБЛОНЫ</b> - в  данном разделе  размещены  образцы заявлений для оформления  кадровых операций.<br />
        <b>4) </b><b style="text-decoration:underline">ИНФОЗАРПЛАТА</b> -  из данного раздела  можно просмотреть и/или распечатать расчетный  лист, справку 2-НДФЛ.<br /><br />
 
        <b>1. </b><b style="text-decoration:underline">ЗАКАЗАТЬ УСЛУГУ:</b><br />
        - заказанная  услуга формируется в течение 5 рабочих дней;<br />
        - справки по образцу формируются на  основании  скана образца, приложенного сотрудником; <br />
        - пакеты документов  на  вычеты, пособия  выкладываются одним файлом, в  случае неверного пакета  документов услуга Исполнителем закрывается - состояние услуги обозначается "Услуга не может быть сформирована",  при данном состояния заявки,  услуга создается сотрудником заново.  <br />
        - поле "Требования к документам" обязательно к заполнению;<br />
        - комментарии можно получить и оставить через  подраздел "Комментарии";<br />
        - заказать услугу за  Сотрудника  может Руководитель;<br />
        - если справка нужна  уволенному  Сотруднику ( и уже прошло пять дней и Сотрудник  отключен  от  WEB-табеля), Руководитель в  комментарии указывает фамилию уволенного сотрудника, которому  необходима  справка; <br />
        - документы выкладываются Исполнителем в ИнфоУслуги, Сотрудник распечатывает документ и подписывает его у своего Руководителя.<br />
        - список документов, которые можно заказать :<br />
        2.1. <label style="text-decoration:underline">Анкета для загранпаспорта</label> - сотрудник вкладывает скан заполненной анкеты на загранпаспорт, исполнитель осуществляет проверку. Исполнитель - специалист отдела кадров.<br />
        2.2. <label style="text-decoration:underline">Выписка из кадрового приказа</label> - Исполнитель - специалист отдела кадров. <br />
        2.3. <label style="text-decoration:underline">Заявление на налоговый вычет</label> (стандартный) с пакетом подтверждающих документов. <label style="font-style:italic">Перечень документов: 1. Заявление на предоставление стандартного налогового вычета, 2. Свидетельство о рождении ребенка/детей,  3. Справка  с места  учебы ребенка, если он проходит обучение в ВУЗе, техникуме, колледже, лицее, 4. Справка 2-НДФЛ с предыдущего места работы, если принят на работу в банк в  течение текущего года.</label> Исполнитель - специалист расчетного отдела. <br />
        2.4. <label style="text-decoration:underline">Копия ТК</label> - Исполнитель - специалист отдела кадров.<br />
        2.5. <label style="text-decoration:underline">Пакет документов для кассира.</label> <label style="font-style:italic">Перечень документов: 1. Трудовой договор, 2. Приказа о приеме, 3. Договор материальной ответственности.</label> Исполнитель - специалист отдела кадров. <br />
        2.6. <label style="text-decoration:underline">Пакет документов для оформления пособия на ребенка сотруднику Банка</label> с пакетом подтверждающих документов. <label style="font-style:italic">Перечень документов: 1. Справка с места работы супруга/супруги о том, что пособие на ребенка не выплачивалось и отпуск по уходу за ребенком не оформлялся, 2. Свидетельство о рождении ребенка/детей.</label> Исполнитель - специалист отдела кадров.<br />
        2.7. <label style="text-decoration:underline">Расчетный лист.</label> Исполнитель - специалист расчетного отдела.<br />
        2.8. <label style="text-decoration:underline">Справка 2- НДФЛ.</label> Исполнитель - специалист расчетного отдела. <br />
        2.9. <label style="text-decoration:underline">Справка для визы</label> с места работы по прикладываемому образцу сотрудника. Исполнитель - специалист отдела кадров.<br />
        2.10. <label style="text-decoration:underline">Справка для центра занятости</label> по прикладываемому образцу сотрудника. Исполнитель -  специалист отдела кадров.<br />
        2.11. <label style="text-decoration:underline">Справка о заработке для расчета пособия (182Н).</label> Исполнитель - специалист расчетного отдела. <br />
        2.12. <label style="text-decoration:underline">Справка о невыплате единовременного пособия при рождении ребенка.</label> <label style="font-style:italic">Перечень документов: 1. Свидетельство о рождении  ребенка.</label> Исполнитель - специалист отдела кадров. <br />
        2.13. <label style="text-decoration:underline">Справка о ненахождении в отпуске по уходу за ребенком до 1,5 лет</label> и о неначислении ежемесячного пособия до 1,5 лет. Исполнитель - специалист отдела кадров. <br />
        2.14. <label style="text-decoration:underline">Справка о ненахождении в отпуске по уходу за ребенком до 3 лет и</label> о неначислении ежемесячного пособия до 3 лет. Исполнитель - специалист отдела кадров.  <br />
        2.15. <label style="text-decoration:underline">Справка о среднем заработке за последние 3 месяца работы.</label> Исполнитель - специалист расчетного отдела. <br />
        2.16. <label style="text-decoration:underline">Справка о среднем заработке за последние 6 месяца работы.</label> Исполнитель - специалист расчетного отдела. <br />
        2.17. <label style="text-decoration:underline">Справка с места работы по образцу Клиента.</label> Исполнитель - специалист расчетного отдела / отдела кадров. <br />
        2.18. <label style="text-decoration:underline">Справка с места работы с указанием должности</label> (без указания оклада) по прикладываемому образцу сотрудника. Исполнитель - специалист отдела кадров.   <br />
        2.19. <label style="text-decoration:underline">Справка с места работы с указанием должности и оклада</label> по прикладываемому образцу сотрудника. Исполнитель - специалист отдела кадров.  <br />
        2.20. <label style="text-decoration:underline">Материальная помощь</label> с пакетом подтверждающих документов. Исполнитель - специалист отдела кадров.<br />
        2.20.1. Пакет документов для оформления материальной помощи в связи со смертью близких родственников (супруг(а), ребенок, родители, брат/сестра): <label style="font-style:italic">1. Заявление на выплату материальной помощи, 2. Свидетельство о смерти, 3. Свидетельство о рождении сотрудника, подтверждающего родство с родителями, 4. Свидетельство о браке в отношении супруга(и), 5. Свидетельство о рождении ребенка.</label><br />
        2.20.2. Пакет документов для оформления материальной помощи при рождении ребенка: <label style="font-style:italic">1. Заявление на выплату материальной помощи, 2. Свидетельство о рождении ребенка.</label><br />
        2.20.3. Пакет документов для оформления материальной помощи при заключении сотрудником брака: <label style="font-style:italic">1. Заявление на выплату материальной помощи, 2. Свидетельство о браке.</label><br />
        2.20.4. Пакет документов для оформления материальной помощи при чрезвычайных обстоятельствах и стихийных бедствиях: <label style="font-style:italic">1. Заявление на выплату материальной помощи, 2. Документ подтверждающий возникшую ситуацию в результате чрезвычайных обстоятельств и стихийных бедствий.</label><br />
        2.20.5. Пакет документов для оформления материальной помощи при непредвиденных обстоятельствах (болезнь, тяжелое материальное положение и иные обстоятельства, в том числе помощь многодетным семьям) (при обязательном согласовании с Финансовым Директором Банка): <label style="font-style:italic">1. Заявление на выплату материальной помощи, 2. Свидетельства о рождении всех детей для многодетных семей, 3. Подтверждающие болезнь документы с места лечения, 4. Документы подтверждающие тяжелые материальные обстоятельства.</label><br /><br />

        <b>2. ЗАДАТЬ ВОПРОС</b><br />
        - вопросы  первоначально обрабатывает аудитор и , при необходимости, перенаправляет нужному специалисту. Ответы на вопросы предоставляются  в течение 5 рабочих дней.<br /><br />
        <b>3. ШАБЛОНЫ - </b><br />
        - в данном разделе размещены основные  виды   заявлений по кадровым процедурам, оформлению пособий, материальной помощи и др.<br /><br />
        <b>4. ИНФОЗАРПЛАТА -</b> расчетные   листы размещаются в данном разделе в течение трех рабочих дней  после выплаты заработной платы,   справки 2 НДФЛ  размещаются  в течение 5 рабочих после выплаты заработной платы. Справки 2 НДФЛ за год  размещаются после сдачи отчетности в налоговую инспекцию , в течение 5 рабочих дней, срок сдачи отчетности до 1 апреля года, следующего за отчетным. Для первичного  входа в  ИнфоЗарплату  необходимо  использовать  в качестве и логина, и пароля серию и номер паспорта ( десять цифр, без пробелов), после первого  входа пароль подлежит обязательно смене.

    </div>
    <!--</div>-->
}
<script type="text/javascript">
   
    $(document).ready(function () {
        setActiveMenuItem("helpVersion");
        //$("#accordion").accordion();
        //$("#ainfo").click(function(){$("#Info").toggle();});
    });
@*</script>
<script type="text/javascript">*@
    function Render() {
        var actionUrl="@Url.Action("RenderVersions", "Help")";
        var url = actionUrl + "?dummy=" + new Date().getTime();
        $("#VersionsModelContext").load(url);
    }
    function OnAddVersion() {
        createVersionDialog(0);
    }
     function OnEditVersion(id) {
        createVersionDialog(id);
    }
    function disableSaveButton() {
        $(".ui-dialog-buttonpane button:contains('Сохранить')").button("disable");
    }
    function createVersionDialog(id) 
    {
        var elem = document.createElement('div');
        elem.id = "divVersionDialog";
        var newDiv = $(elem);
//        var documentId = $("#RequestId").val();
//        var typeId = $("#RequestTypeId").val();

        var title =  "Редактирование информации о версии";
        $(newDiv).text('Подождите, идет загрузка данных ...'); 
        $.ajaxSetup({cache: false});
        $(newDiv).load("@Url.Action("EditVersionDialog", "Help")?id=" + id  + " #VersionDialogTable",
         function (response, status, xhr) {
                 if (status == "error") {
                     var msg = "Произошла ошибка: ";
                     $(newDiv).html("<div style='color:Red'>" + msg + xhr.status + " " + xhr.statusText + "</div>");
                 } else if (status == "success") {
                     if ($('#EditVersionTableLoadError').val() != undefined)
                         disableSaveButton();
                     else
                     {
                        $("#ReleaseDate").datepicker();
                        $(".hasDatepicker").width("85px"); 
                     }
                 }
             });
        $(newDiv).dialog(
        { // initialize dialog box
            autoOpen: true,
            modal: true,
            title: title,
            // fix IE6  
            bgiframe: true, 
            draggable: false,
            resizable: false,
            width: 650,
	        height: 300,
            close: function (event, ui) {
                $(this).dialog("destroy").remove();
            },
            buttons:
            {
                "Сохранить": function () {
                    if (!ValidateVersion())
                        return;
                    SaveVersion();
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
    function ValidateVersion()
    {
        var result = true;
        clearDlgErrors($("#VersionDialogTable"));
        if(trimSpaces($("#Comment").val()) == "")
        {
            addDlgError($("#Comment"),"Комментарий - обязательное поле");
            result = false;
            //return false;
        }
        if(trimSpaces($("#ReleaseDate").val()) == "")
        {
            addDlgError($("#ReleaseDate"),"Дата версии - обязательное поле");
            result = false;
        }
        else
        {
            try {
                    endDate = $.datepicker.parseDate("dd.mm.yy", $('#ReleaseDate').val());
                }
                catch (error) 
                {
                    addDlgError($("#ReleaseDate"),"Неправильная дата");
                    result = false;
                }
        }
        return result;
    }
    function SaveVersion()
    {
        var url='@Url.Action("SaveVersion", "Help")';//+'?id='+ $("#Id").val() +'&comment='+escapeJson($("#Comment").val())+'&releaseDate='+$("#ReleaseDate").val() ;
        var jqxhr = $.post(url,
                {
                    id:$("#Id").val(),
                    comment:$("#Comment").val(),
                    releaseDate:$("#ReleaseDate").val()
                },
                function (jsonResult) {
                                            if (!this.JSON) {
                                                    this.JSON = {};
                                            }
                                            if(jsonResult == "")
                                            {
                                                addVersionError("Ошибка асинхронного запроса - не был получен ответ.");
                                                return;
                                            }
                                            var result = JSON.parse(jsonResult);  
                                            if(!result.Result)
                                            {
                                                addVersionError(result.Error);
                                                //Render();
                                            }
                                            else
                                            {
                                                clearVersionErrors();
                                                $("#divVersionDialog").dialog("close");
                                                Render();
                                            }    
                                  });
    }
    function addVersionError(value) {
    $("#VersionError").text(value);
    $("#VersionError").show();
    }
function clearVersionErrors() {
    $("#VersionError").text("");
    $("#VersionError").hide();
}
 function OnDeleteVersion(id){
        var actionUrl="@Url.Action("DeleteVersion", "Help")";
        var url = actionUrl + "?Id=" + id;
        $.getJSON(url,
                       function (result) {
                            if(!result.Result){
                                $("#ListVersionsError").text(result.Error);
                                $("#ListVersionsError").show(); 
                            }
                            else{
                                $("#ListVersionsError").text("");
                                $("#ListVersionsError").hide();                                 
                           }
                           Render();
                       }
                     );
        return false;
    }
</script>
