@model Reports.Presenters.UI.ViewModel.HelpVersionsListModel
@{
    Layout = "~/Views/Shared/_HelpInfo.cshtml";
    ViewBag.Title = "Инструкция";
}

@using (Html.BeginForm())
{
    <div id="VersionsModelContext">@Html.Partial("VersionPartial", Model)</div>
    <label>Программа "ИнфоУслуги" имеет  следующие разделы:</label><br /><br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs1">ЗАКАЗАТЬ УСЛУГУ</a></li>
            <li><a href="#tabs2">ЗАДАТЬ ВОПРОС</a></li>
            <li><a href="#tabs3">ШАБЛОНЫ</a></li>
            <li><a href="#tabs4">ИНФОЗАРПЛАТА</a></li>
        </ul>
        
        <div id="tabs1" style="font-size: 11px">
            <b>С помощью данной услуги предоставляется возможность получения Сотрудником копий документов и справок.</b>
            <br />
            <br /><b>ЗАКАЗАТЬ УСЛУГУ:</b>
            <br />- заказанная услуга формируется в течение <b>5 (Пяти) рабочих дней</b>;
            <br />- справки по образцу формируются на основании скана образца, приложенного сотрудником; 
            <br />- <b>ПАКЕТЫ</b> документов на вычеты, пособия, материальную помощь, изменения ФИО, изменения места регистрации, предоставление сведений об образовании выкладываются <b>ОДНИМ ФАЙЛОМ</b>. В случае неверного <b>ПАКЕТА</b> документов услуга Исполнителем закрывается - состояние услуги обозначается "Услуга не может быть сформирована", при данном состояния заявки, услуга создается сотрудником заново; 
            <br />- поле "Требования к документам" обязательно к заполнению;
            <br />- комментарии можно получить и оставить через подраздел "Комментарии";
            <br />- заказать услугу за Сотрудника может Руководитель;
            <br />- если справка нужна уволенному Сотруднику (и уже прошло 5 (Пять) дней с даты увольнения сотрудника и сотрудник отключен от WEB-табеля), Руководитель создает заявку на уволенного сотрудника, которому необходима справка, с указанием ФИО, даты рождения уволенного сотрудника в заявке; 
            <br />- документы выкладываются Исполнителем в ИнфоУслуги, Сотрудник распечатывает документы и подписывает их у своего Руководителя.
            <br />
            <br /><b>Для получения нижеперечисленных документов необходимо оставить заявку в WEB-Табель -> ИнфоУслуги -> Заказать услугу:</b>
            <br />
            <br /><label style="text-decoration:underline">1. Выписка из кадрового приказа. </label>
            <br /><label style="text-decoration:underline">2. Копия ТК.</label>
            <br /><label style="text-decoration:underline">3. Проверка анкеты на загранпаспорт</label> - сотрудник вкладывает скан заполненной анкеты на загранпаспорт, исполнитель осуществляет проверку анкеты на загранпаспорт. 
            <br /><label style="text-decoration:underline">4. Расчетный лист. </label>
            <br /><label style="text-decoration:underline">5. Справка 2-НДФЛ.</label> Справки 2-НДФЛ предоставляются через 5 (Пять) рабочих дней после выплаты заработной платы. Справки 2-НДФЛ за текущий год нарастающим итогом предоставляются после сдачи отчетности в налоговую инспекцию, в течение 5 рабочих дней, срок сдачи отчетности до 1 апреля года, следующего за отчетным.
            <br /><label style="text-decoration:underline">6. Справка для визы с места работы по прикладываемому образцу сотрудника. </label>
            <br /><label style="text-decoration:underline">7. Справка для центра занятости по прикладываемому образцу сотрудника. </label>
            <br /><label style="text-decoration:underline">8. Справка о заработке для расчета пособия (182Н). </label>
            <br /><label style="text-decoration:underline">9. Справка о ненахождении в отпуске по уходу за ребенком до 1,5 лет и о неначислении ежемесячного пособия до 1,5 лет. 
            <br />10. Справка о ненахождении в отпуске по уходу за ребенком до 3 лет и о неначислении ежемесячного пособия до 3 лет. 
            <br />11. Справка о среднем заработке за последние 3 месяца работы. 
            <br />12. Справка о среднем заработке за последние 6 месяца работы. 
            <br />13. Справка с места работы по образцу Клиента. 
            <br />14. Справка с места работы с указанием должности (без указания оклада) по прикладываемому образцу сотрудника. 
            <br />15. Справка с места работы с указанием должности и оклада по прикладываемому образцу сотрудника. </label>
            <br />
            <br /><b>Для предоставления <b>ПАКЕТОВ</b> нижеперечисленных документов в отдел кадров, необходимо прикрепить их в заявке в WEB-Табель -> ИнфоУслуги -> Заказать услугу:</b>
            <br />
            <br /><label style="text-decoration:underline">16. Заявление на налоговый вычет (имущественный) с <b>ПАКЕТОМ</b> подтверждающих документов. 
            <br /><b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на предоставление стандартного налогового вычета, 2. Уведомление из ИФНС (расчет/пересчет налоговых вычетов производится на основании ОРИГИНАЛА уведомления из ИФНС).</i>
            <br /><label style="text-decoration:underline">17. Заявление на налоговый вычет (стандартный) с <b>ПАКЕТОМ</b> подтверждающих документов. </label>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label> <i>1. Заявление на предоставление стандартного налогового вычета, 2. Свидетельство о рождении ребенка/детей, 3. Справка с места учебы ребенка, если он проходит обучение в ВУЗе, техникуме, колледже, лицее, 4. Справка 2-НДФЛ с предыдущего места работы, если сотрудник принят на работу в банк в течение текущего года. </i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления налогового вычет (стандартного) для матерей-одиночек/отцов-одиночек, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на предоставление стандартного налогового вычета, 2. Свидетельство о рождении ребенка/детей, 3. Справка с места учебы ребенка, если он проходит обучение в ВУЗе, техникуме, колледже, лицее, 4. Справка 2-НДФЛ с предыдущего места работы, если сотрудник принят на работу в банк в течение текущего года, 5. Страница паспорта родителя с отсутствием штампа ЗАГСа о браке, 6. Свидетельство о разводе.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления налогового вычет (стандартного), если есть ребенок-инвалид, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на предоставление стандартного налогового вычета, 2. Свидетельство о рождении ребенка/детей, 3. Справка с места учебы ребенка, если он проходит обучение в ВУЗе, техникуме, колледже, лицее, 4. Справка 2-НДФЛ с предыдущего места работы, если сотрудник принят на работу в банк в течение текущего года, 5. Справка об инвалидности ребенка/детей.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления налогового вычет (стандартного), если родитель ветеран боевых действий, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на предоставление стандартного налогового вычета, 2. Свидетельство о рождении ребенка/детей, 3. Справка с места учебы ребенка, если он проходит обучение в ВУЗе, техникуме, колледже, лицее, 4. Справка 2-НДФЛ с предыдущего места работы, если сотрудник принят на работу в банк в течение текущего года, 5. Документ, подтверждающий участие в боевых действиях.</i>
            <br /><label style="text-decoration:underline">18. Изменение места регистрации. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление об изменении персональных данных, 2. Страница паспорта с регистрацией по месту жительства.</i>
            <br /><label style="text-decoration:underline">19. Изменение ФИО. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i>1. Заявление об изменении персональных данных, 2. Свидетельство о браке/разводе/перемени имени, 3. Страница паспорта с ФИО.</i>
            <br /><label style="text-decoration:underline">20. Исправление ошибки в данных. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление об изменении персональных данных, 2. Документы, подтверждающие правильность персональных данных.</i>
            <br /><label style="text-decoration:underline">21. Материальная помощь с <b>ПАКЕТОМ</b> подтверждающих документов.</label> 
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи в связи со смертью близких родственников (супруг(а), ребенок, родители, брат/сестра), прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на выплату материальной помощи, 2. Свидетельство о смерти, 3. Свидетельство о рождении сотрудника, подтверждающего родство с родителями, 4. Свидетельство о браке в отношении супруга(и), 5. Свидетельство о рождении ребенка.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи при рождении ребенка, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на выплату материальной помощи, 2. Свидетельство о рождении ребенка.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи при заключении сотрудником брака, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на выплату материальной помощи, 2. Свидетельство о браке.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи при чрезвычайных обстоятельствах и стихийных бедствиях, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на выплату материальной помощи, 2. Документ, подтверждающий возникшую ситуацию в результате чрезвычайных обстоятельств и стихийных бедствий.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи при непредвиденных обстоятельствах (болезнь, тяжелое материальное положение и иные обстоятельства, в том числе помощь многодетным семьям) (при обязательном согласовании с Финансовым Директором Банка), прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на выплату материальной помощи, 2. Свидетельства о рождении всех детей для многодетных семей, 3. Подтверждающие болезнь документы с места лечения, 4. Документы подтверждающие тяжелые материальные обстоятельства.</i>
            <br /><label style="text-decoration:underline"><b>ПАКЕТ</b> документов для оформления материальной помощи при непредвиденных обстоятельствах (болезнь, тяжелое материальное положение и иные обстоятельства, в том числе помощь многодетным семьям) (при обязательном согласовании с Финансовым Директором Банка), прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label> <i>1. Заявление на выплату материальной помощи, 2. Свидетельства о рождении всех детей для многодетных семей, 3. Подтверждающие болезнь документы с места лечения, 4. Документы подтверждающие тяжелые материальные обстоятельства.</i>
            <br /><label style="text-decoration:underline">22. Пакет документов для кассира. Перечень предоставляемых документов:</label><i> 1. Трудовой договор, 2. Приказа о приеме, 3. Договор материальной ответственности. </i>
            <br /><label style="text-decoration:underline">23. Предоставление документов об образовании в случае получения образования в период работы в Банке. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Диплом о получении средне-специального/высшего образования, 2. Свидетельство/аттестат о повышении квалификации.</i>
            <br /><label style="text-decoration:underline">24. Справка 182-Н от предыдущего работодателя. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на расчет/пересчет больничного листа, 2. Справка 182-Н от предыдущего работодателя. Копия справки 182-Н предоставляется через заявку в ИнфоУслуги, расчет/пересчет больничного листа производится на основании ОРИГИНАЛА справки 182-Н, переданного в отдел кадров.</i>
            <br /><label style="text-decoration:underline">25. Справка 2-НДФЛ от предыдущего работодателя. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Заявление на предоставление вычета, 2. Справка 2-НДФЛ от предыдущего работодателя, если сотрудник принят на работу в банк в течение текущего года я. Копия справки 2-НДФЛ  предоставляется через заявку в ИнфоУслуги, расчет/пересчет налоговых вычетов производится на основании ОРИГИНАЛА справки 2-НДФЛ, переданного в отдел кадров.</i>
            <br /><label style="text-decoration:underline">26. Справка о невыплате единовременного пособия при рождении ребенка. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ</b>:</label><i> 1. Свидетельство о рождении ребенка.  </i>
            <br /><label style="text-decoration:underline">27. <b>ПАКЕТ</b> документов для оформления единовременного пособия на ребенка сотруднику Банка.
                                                                <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ:</b></label> <i>1. Заявление на выплату пособия, 2. Справка из роддома о рождении ребенка. 3. Свидетельство о рождении ребенка. 4. Справка с места работы одного из родителей о неполучении единовременного пособия. </i>
            <br /><label style="text-decoration:underline">28. Заявление о переводе на легкий труд с пакетом подтверждающих документов. <b>ПАКЕТ</b> документов, прикрепленный <b>ОДНИМ ФАЙЛОМ:</b></label> 
                <i>1. Заявление о переводе на легкий труд, 2. Справка из медицинской организации, подтверждающая необходимость перевода на легкий труд.</i>
            </div>
        
        <div id="tabs2" style="font-size: 11px">
            <b>Данный  раздел позволяет задать вопрос специалисту  по расчету  заработной платы по  начислениям  и удержаниям,  специалисту отдела кадров по кадровому оформлению, специалисту IT-службы  по  технической  поддержке программ WEB-табеля.</b><br /><br />
            <b>ЗАДАТЬ ВОПРОС</b><br />
            - вопросы  первоначально обрабатывает аудитор и , при необходимости, перенаправляет нужному специалисту. Ответы на вопросы предоставляются  в течение 5 рабочих дней.<br /><br />
        </div>
        
        <div id="tabs3" style="font-size: 11px">
            <b>В  данном разделе  размещены  образцы заявлений для оформления  кадровых операций.</b><br /><br />
            <b>ШАБЛОНЫ - </b><br />
            - в данном разделе размещены основные  виды   заявлений по кадровым процедурам, оформлению пособий, материальной помощи и др.<br /><br />
        </div>
        
        <div id="tabs4" style="font-size: 11px">
            <b>Из данного раздела  можно просмотреть и/или распечатать расчетный  лист, справку 2-НДФЛ.</b><br /><br />
            <b>ИНФОЗАРПЛАТА -</b> расчетные   листы размещаются в данном разделе в течение трех рабочих дней  после выплаты заработной платы,   справки 2 НДФЛ  размещаются  в течение 5 рабочих после выплаты заработной платы. Справки 2 НДФЛ за год  размещаются после сдачи отчетности в налоговую инспекцию , в течение 5 рабочих дней, срок сдачи отчетности до 1 апреля года, следующего за отчетным. Для первичного  входа в  ИнфоЗарплату  необходимо  использовать  в качестве и логина, и пароля серию и номер паспорта ( десять цифр, без пробелов), после первого  входа пароль подлежит обязательно смене.
        </div>
    </div>
}
<script type="text/javascript">
   
    $(document).ready(function () {
        setActiveMenuItem("helpVersion");
        //$("#accordion").accordion({navigation: true, fillspace: true});
        //$("#ainfo").click(function(){$("#Info").toggle();});
        $('#tabs').tabs();
    });
@*</script>
<script type="text/javascript">*@
    function Render() {
        var actionUrl="@Url.Action("RenderVersions", "Help")";
        var url = actionUrl + "?dummy=" + new Date().getTime();
        $("#VersionsModelContext").load(url);
    }
    function OnAddVersion() {
        createVersionDialog(0);
    }
     function OnEditVersion(id) {
        createVersionDialog(id);
    }
    function disableSaveButton() {
        $(".ui-dialog-buttonpane button:contains('Сохранить')").button("disable");
    }
    function createVersionDialog(id) 
    {
        var elem = document.createElement('div');
        elem.id = "divVersionDialog";
        var newDiv = $(elem);
//        var documentId = $("#RequestId").val();
//        var typeId = $("#RequestTypeId").val();

        var title =  "Редактирование информации о версии";
        $(newDiv).text('Подождите, идет загрузка данных ...'); 
        $.ajaxSetup({cache: false});
        $(newDiv).load("@Url.Action("EditVersionDialog", "Help")?id=" + id  + " #VersionDialogTable",
         function (response, status, xhr) {
                 if (status == "error") {
                     var msg = "Произошла ошибка: ";
                     $(newDiv).html("<div style='color:Red'>" + msg + xhr.status + " " + xhr.statusText + "</div>");
                 } else if (status == "success") {
                     if ($('#EditVersionTableLoadError').val() != undefined)
                         disableSaveButton();
                     else
                     {
                        $("#ReleaseDate").datepicker({changeMonth: true, changeYear: true});
                        $(".hasDatepicker").width("85px"); 
                     }
                 }
             });
        $(newDiv).dialog(
        { // initialize dialog box
            autoOpen: true,
            modal: true,
            title: title,
            // fix IE6  
            bgiframe: true, 
            draggable: false,
            resizable: false,
            width: 650,
	        height: 300,
            close: function (event, ui) {
                $(this).dialog("destroy").remove();
            },
            buttons:
            {
                "Сохранить": function () {
                    if (!ValidateVersion())
                        return;
                    SaveVersion();
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
    function ValidateVersion()
    {
        var result = true;
        clearDlgErrors($("#VersionDialogTable"));
        if(trimSpaces($("#Comment").val()) == "")
        {
            addDlgError($("#Comment"),"Комментарий - обязательное поле");
            result = false;
            //return false;
        }
        if(trimSpaces($("#ReleaseDate").val()) == "")
        {
            addDlgError($("#ReleaseDate"),"Дата версии - обязательное поле");
            result = false;
        }
        else
        {
            try {
                    endDate = $.datepicker.parseDate("dd.mm.yy", $('#ReleaseDate').val());
                }
                catch (error) 
                {
                    addDlgError($("#ReleaseDate"),"Неправильная дата");
                    result = false;
                }
        }
        return result;
    }
    function SaveVersion()
    {
        var url='@Url.Action("SaveVersion", "Help")';//+'?id='+ $("#Id").val() +'&comment='+escapeJson($("#Comment").val())+'&releaseDate='+$("#ReleaseDate").val() ;
        var jqxhr = $.post(url,
                {
                    id:$("#Id").val(),
                    comment:$("#Comment").val(),
                    releaseDate:$("#ReleaseDate").val()
                },
                function (jsonResult) {
                                            if (!this.JSON) {
                                                    this.JSON = {};
                                            }
                                            if(jsonResult == "")
                                            {
                                                addVersionError("Ошибка асинхронного запроса - не был получен ответ.");
                                                return;
                                            }
                                            var result = JSON.parse(jsonResult);  
                                            if(!result.Result)
                                            {
                                                addVersionError(result.Error);
                                                //Render();
                                            }
                                            else
                                            {
                                                clearVersionErrors();
                                                $("#divVersionDialog").dialog("close");
                                                Render();
                                            }    
                                  });
    }
    function addVersionError(value) {
    $("#VersionError").text(value);
    $("#VersionError").show();
    }
function clearVersionErrors() {
    $("#VersionError").text("");
    $("#VersionError").hide();
}
 function OnDeleteVersion(id){
        var actionUrl="@Url.Action("DeleteVersion", "Help")";
        var url = actionUrl + "?Id=" + id;
        $.getJSON(url,
                       function (result) {
                            if(!result.Result){
                                $("#ListVersionsError").text(result.Error);
                                $("#ListVersionsError").show(); 
                            }
                            else{
                                $("#ListVersionsError").text("");
                                $("#ListVersionsError").hide();                                 
                           }
                           Render();
                       }
                     );
        return false;
    }
</script>
