@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.AppointmentListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Реестр заявок";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ForPrint)
     <table style="width:100%">
      <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary(false)
                                <div id="Error" style="color:Red;display:none;"></div>
                               @* @Html.HiddenFor(m => m.UserId)*@
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="DepartmentReadOnly" name="DepartmentReadOnly" value="@Model.DepartmentReadOnly" />
                                @if (!Model.DepartmentReadOnly)
                                {
                                    <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                                }            
                            </td>
                        </tr>
                         <tr>
                             <td>
                                @Html.LabelFor(m => m.StatusId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Statuses, "ID", "Name")) 
                             </td>
                        </tr>
                        <tr>
                             <td>
                                @Html.LabelFor(m => m.ReasonId):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.ReasonId, new SelectList(Model.Reasons, "ID", "Name")) 
                             </td>
                        </tr>
                        <tr>
                             <td>
                                @Html.LabelFor(m => m.Number):
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Number)
                             </td>
                        </tr>
                        <tr>
                                <td>
                                    ФИО заказчика:
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.UserName)
                                </td>
                         </tr>
                         <tr>
                                <td>
                                    ФИО рекрутера:
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.RecruteFio)
                                </td>
                         </tr>
                         <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.BeginDate):
                                @Html.EditorFor(model => model.BeginDate) 
                                @Html.LabelFor(m => m.EndDate):
                                @Html.EditorFor(model => model.EndDate) 
                             </td>
                        </tr>
                        
                        <tr>
                          <td colspan="2">
                            <input type="submit" value="Выбрать"/>
                            <input type="button" value="Очистить" onclick="resetFilter();"/>
                            
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>
     <tr>
        <td colspan="2"> <div class="action-wrap" style="min-height:20px" >
        
        @if (Model.IsAddAvailable )
        {                               
            <input type="hidden" id="IsAddAvailable" name="IsAddAvailable" value="@Model.IsAddAvailable" />
            <input type="button" value="Создать заявку на поиск кандидата" onclick="location.href='@Url.Action("AppointmentEdit", "Appointment", new { id = 0 })'"/>                                                                             
            @*<input type="button" value="Согласование кандидата от Руководителя" onclick="location.href='@Url.Action("AppointmentWithoutStaffEdit", "Appointment", new { id = 0 })'"/>      *@
            
        }
        @if (Model.IsAddForStaffAvailable)
        {
            <input type="button" value="Создать заявку на поиск кандидата" onclick="return createAppointmentForStaff();"/>  
           @* <input type="button" value="Согласование кандидата от Руководителя" onclick="return createAppointmentWithoutStaffForStaff();" />*@
        }
        
        <input type="submit" value="Печать" style="float: right; margin-right:10px;" onclick="$('#ForPrint').val(1);"/>
        <input type="button" value="Excel" style="float:right;" onclick="getExcelTable('.grid2');" />
        </div>
        </td>
    </tr>   
     <tr>
        <td colspan="2">
            <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
            <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
            <table class="grid2" style="width:100%;border-bottom:0px;border-right:0px">
                <tr>
                     <th>
                        № п/п
                    </th>
                    <th>
                        <div id="sort1" style="min-width:70px"><a href="#" onclick = "SortChanged(1);">Номер<br/> заявки</a></div>
                    </th>
                    <th>
                        <div id="sort25"><a href="#" onclick="SortChanged(25);" >Кол-во<br />вакансий</a></div>
                    </th>
                    <th>
                       <div id="sort22" ><a href="#" onclick = "SortChanged(22);"> Дата<br />создания</a></div>
                    </th>
                    <th>
                        <div id="sort26" ><a href="#" onclick = "SortChanged(26);">Автор<br />заявки</a></div>
                    </th>
                    <th>
                        <div id="sort3"  style="min-width:130px"><a href="#"  onclick = "SortChanged(3);">Руководитель<br/> (заказчик)</a></div>
                    </th>
                    <th>
                        <div id="sort4" style="min-width:130px"><a href="#"  onclick = "SortChanged(4);">Должность<br/> заказчика</a></div>
                    </th>
                    <th>
                        <div id="sort5" style="min-width:130px"><a href="#"  onclick = "SortChanged(5);">Дирекция<br/> 3 ур. кандидата</a></div>
                    </th>
                     <th>
                        <div id="sort6" style="min-width:130px"><a href="#"  onclick = "SortChanged(6);">Подразделение<br/> 7 ур. кандидата</a></div>
                    </th>
                    <th>
                        <div id="sort12" style="min-width:80px"><a href="#"  onclick = "SortChanged(12);">Причина<br/> подбора</a></div>
                    </th>
                     <th>
                        <div id="sort11" style="min-width:80px"><a href="#"  onclick = "SortChanged(11);">Желательная<br/> дата выхода</a></div>
                    </th>
                    <th>
                        <div id="sort7" style="min-width:130px"><a href="#"  onclick = "SortChanged(7);">Должность<br/> кандидата</a></div>
                    </th>
                    <th>
                        <div id="sort24" ><a href="#" onclick="SortChanged(24);">ФИО<br />кандидата</a></div>
                    </th>
                    <th>
                        <div id="sort9" style="min-width:80px"><a href="#"  onclick = "SortChanged(9);">График<br/> работы</a></div>
                    </th>
                    <th>
                        <div id="sort10" style="min-width:70px"><a href="#"  onclick = "SortChanged(10);">Уровень<br/> ЗП</a></div>
                    </th>  
                    <th>
                        <div id="sort21" style="min-width:110px"><a href="#"  onclick = "SortChanged(21);">Статус<br />заявки</a></div>
                    </th>
                    <th>
                        <div id="sort23" style="min-width:80px"><a href="#"  onclick = "SortChanged(23);">Рекрутер</a></div>
                    </th>  
                    <th>
                        <div id="sort28" style="min-width:80px"><a href="#"  onclick = "SortChanged(28);">Рекрутер 1</a></div>
                    </th>
                    <th>
                        <div id="sort29" style="min-width:80px"><a href="#"  onclick = "SortChanged(29);">Рекрутер 2</a></div>
                    </th>
                    <th>
                        <div id="sort30" style="min-width:80px"><a href="#"  onclick = "SortChanged(30);">Рекрутер 3</a></div>
                    </th>
                    <th>
                        <div id="sort27" ><a href="#"  onclick = "SortChanged(27);">Дирекция<br/> 3 ур. руководителя</a></div>
                    </th>
                     <th>
                        <div id="sort20" style="min-width:130px"><a href="#"  onclick = "SortChanged(20);">Подразделение<br/> 7 ур. руководителя</a></div>
                    </th>
                     
                   @* <th>
                        <div id="sort8" style="min-width:80px"><a href="#"  onclick = "SortChanged(8);">Работа<br/> на период</a></div>
                    </th>*@                                       
                                      
                </tr>
                @if (Model.Documents != null && Model.Documents.Count > 0)
                {
                    int i = 0;
                    foreach (var doc in Model.Documents)
                    {
                        <tr
                        @if (doc.ReasonId == 3)
                        {<text> class="bgRed" </text>}
                        >
                            <td>@doc.Number</td>
                            <td style="text-align:left">
                                <a class="ui-notify-close" href='@Url.Action("AppointmentEdit", new { id = doc.Id })' style="cursor:hand">@doc.AppNumber @(doc.Recruter == 2 ? "(У)" : "")</a>
                            </td>
                            <td>@doc.BankAccountantAcceptCount</td>
                            <td>@doc.CreateDate.ToShortDateString()</td>
                            <td>@doc.StaffCreator</td>
                            <td>@doc.UserName</td>
                            <td>@doc.PositionName</td>                            
                            <td>@doc.Dep3Name</td>
                            <td>@doc.Dep7Name</td>
                            <td>@doc.Reason</td>
                            <td>@doc.DesirableBeginDate.Value.ToShortDateString()</td>
                            <td>@doc.CanPosition</td>
                            <td>@if (String.IsNullOrWhiteSpace(doc.CandidateFIO) && doc.Recruter == 1)
                                {<p>Кандидат</p>}
                            @doc.CandidateFIO</td>
                            <td>@doc.Schedule</td>
                            <td>@RequestBl.FormatSum(@doc.Salary)</td>
                            <td>@doc.Status</td>
                            <td>@switch (doc.Recruter)
                                {
                                    case 1: <text>ОПиНП</text>
                                        break;
                                    case 2: <text>Руководитель</text>
                                        break;

                                }</td>
                            <td>@doc.Recruter1</td>
                            <td>@doc.Recruter2</td>
                            <td>@doc.Recruter3</td>                            
                            <td>@doc.ManDep3Name</td>
                            <td>@doc.ManDep7Name</td>
                        </tr>
                    }
                }
            </table>    
         <td>
       </tr>
    </table> 
}

<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#BeginDate").datepicker({changeMonth: true, changeYear: true});
        $("#EndDate").datepicker({changeMonth: true, changeYear: true});
        $(".hasDatepicker").width("75px");
        setSortFields();
        setActiveMenuItem("appAllRequests");
    });
    function resetFilter() {
        $("#BeginDate").val('');
        $("#EndDate").val('');
        if ($("#DepartmentReadOnly").val() == "False") {
            $("#DepartmentId").val('0');
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
        }
        //$("#TypeId").val('0');
         $("#StatusId").val('0');
         $("#ReasonId").val('0');
         $("#Number").val('');
         $("#RecruteFio").val('');
         $("#UserName").val('');
    }
    /*function setSelection()
    {
        if($("#setAll").is(':checked'))
            $(".selcheck").attr('checked','checked');
        else
            $(".selcheck").removeAttr('checked');
    }
     function approveClick()
    {
        clearErrors();
        if($(".selcheck").filter(':checked').length == 0)
        {
            addError("Не выбрано ни одного приказа для согласования");
            return false;
        }
        $("#IsApproveClick").val('True');
        return true;
    }*/
    var  actionSelectManagerDialogUrl = "@Url.Action("SelectManagerDialog", "Appointment")";
    function createAppointmentForStaff() {
            createSelectManagerDialog(actionSelectManagerDialogUrl);
    }
    function createAppointmentWithoutStaffForStaff() {
            createSelectManagerDialog(actionSelectManagerDialogUrl,1);
    }
    function createSelectManagerDialog(url/*,params*/,type) {
            var elem = document.createElement('div');
            elem.id = "divSelectManagerDialog";
            var newDiv = $(elem);
            var title = "Выбор руководителя";
            $(newDiv).text('Подождите, идет загрузка данных ...');
            $(newDiv).load(url + "?"/*+ params*/+ " #selectManagerDialogTable"
             , function (response, status, xhr) {
                 if (status == "error") {
                     var msg = "Произошла ошибка: ";
                     $(newDiv).html("<div style='color:Red'>" + msg + xhr.status + " " + xhr.statusText + "</div>");
                 } else if (status == "success") {
                     if ($('#DialogTableLoadError').val() != undefined)
                         disableSaveButton();
                     /*else
                     {
                     }*/
                 }
             }
            );
            $(newDiv).dialog(
            {
                // initialize dialog box
                autoOpen: true,
                modal: true,
                title: title,
                width: 780,
                height: 160,
                // fix IE6  
                bgiframe: true,
                close: function (event, ui) {
                    $(this).dialog("destroy").remove();
                },
                buttons:
                {
                    "Создать заявку": function () {
                        var managerId = $("#ManagerId").val();
                        $(this).dialog("close");
                        if(type==1)
                        {
                            window.location.href = '@Url.Action("AppointmentWithoutStaffEdit", "Appointment")?id=0&managerId=' + managerId;
                        }
                        else
                        window.location.href = '@Url.Action("AppointmentEdit", "Appointment")?id=0&managerId=' + managerId;
                    },
                    "Отмена": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
        function disableSaveButton() {
            $(".ui-dialog-buttonpane button:contains('Создать заявку')").button("disable");
        }
      
 </script>