@using System.Globalization;
@using Reports.Core.Dto;
@{ 
    int i = 0;
    foreach (TimesheetDto dto in Model)
    {
        var dtoUserIdPrefix = "TimesheetDtos[" + @i.ToString() + "].UserId";
        var dtoMonthAndYearPrefix = "TimesheetDtos[" + @i.ToString() + "].MonthAndYear";
        var dtoUserNameAndCodePrefix = "TimesheetDtos[" + @i.ToString() + "].UserNameAndCode";
        var dtoIsHoursVisible = "TimesheetDtos[" + @i.ToString() + "].IsHoursVisible";
        var dtoIsGraphicVisible = "TimesheetDtos[" + @i.ToString() + "].IsGraphicVisible";
        var dtoIsGraphicEditable = "TimesheetDtos[" + @i.ToString() + "].IsGraphicEditable";
    <table>
    <tr>
        <td colspan="2">
            <hr style="width:100%"/>
        </td>
    </tr>
@*    <tr>
    </tr>*@
    <tr>
        <td style="width:140px">
           <input type="hidden" id="@dtoUserIdPrefix" name="@dtoUserIdPrefix" value="@dto.UserId" />
           <input type="hidden" id="@dtoMonthAndYearPrefix" name="@dtoMonthAndYearPrefix" value="@dto.MonthAndYear" />
           <input type="hidden" id="@dtoIsHoursVisible" name="@dtoIsHoursVisible" value="@dto.IsHoursVisible" />
           <input type="hidden" id="@dtoIsGraphicVisible" name="@dtoIsGraphicVisible" value="@dto.IsGraphicVisible" />
           <input type="hidden" id="@dtoIsGraphicEditable" name="@dtoIsGraphicEditable" value="@dto.IsGraphicEditable" />
           <input type="hidden" id="@dtoUserNameAndCodePrefix" name="@dtoUserNameAndCodePrefix" value="@dto.UserNameAndCode" />
           @dto.MonthAndYear <br/>
           @dto.UserNameAndCode
        </td>
        <td style="padding:0px;">        
            <table cellpadding="0px" cellspacing="0px" style="padding:0px;margin:0px;">
                <tr>
                  @{ int j = 0;
                     foreach (TimesheetDayDto day in dto.Days)
                     {
                         var timesheetDayIdPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].Id";
                         var timesheetDayNumberPrefix = "TimesheetDtos["+ @i.ToString()+"].Days[" + @j.ToString() + "].Number";
                         var timesheetDayIsHolidayPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].isHoliday";
                         var timesheetDayStatusPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].Status";
                         var timesheetDayHoursPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].Hours";
                         var timesheetDayIsStatRecordPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].isStatRecord";
                         
                         var timesheetDayGraphicPrefix = "TimesheetDtos[" + @i.ToString() + "].Days[" + @j.ToString() + "].Graphic";
                         var timesheetDayGraphicJQueryPrefix = "TimesheetDtos" + @i.ToString() + "Days" + @j.ToString() + "Graphic";
                         
                                   <td style="padding:0px;margin:0px">

                                        <table cellpadding="0px" cellspacing="0px" style="padding:0px;margin:0px">
                                            <tr>
                                                <td @if (day.isHoliday)
                                                    {<text>style="border:1px solid black;padding:0px;width:30px;text-align:center;color:Red"</text>}
                                                    else
                                                    {<text>style="border:1px solid black;padding:0px;width:30px;text-align:center;"</text>}>
                                                    @day.Number
                                                    <input type="hidden" id="@timesheetDayIdPrefix" name="@timesheetDayIdPrefix" value="@day.Id"/>
                                                    <input type="hidden" id="@timesheetDayNumberPrefix" name="@timesheetDayNumberPrefix" value="@day.Number"/>
                                                    <input type="hidden" id="@timesheetDayIsHolidayPrefix" name="@timesheetDayIsHolidayPrefix" value="@day.isHoliday"/>
                                                    <input type="hidden" id="@timesheetDayStatusPrefix" name="@timesheetDayStatusPrefix" value="@day.Status"/>
                                                    <input type="hidden" id="@timesheetDayIsStatRecordPrefix" name="@timesheetDayIsStatRecordPrefix" value="@day.isStatRecord"/>
                                                    @*<input type="hidden" id="@timesheetDayIsHoursVisiblePrefix" name="@timesheetDayIsHoursVisiblePrefix" value="@day.IsHoursVisible"/>*@
                                                    <input type="hidden" id="@timesheetDayHoursPrefix" name="@timesheetDayHoursPrefix" value="@day.Hours"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid black;padding:0px;width:30px;text-align:center;height:16px;">
                                                    @day.Status
                                                </td>
                                            </tr>
                                            @if (dto.IsHoursVisible)
                                            {
                                                <tr>
                                                    <td style="border:1px solid black;padding:0px;width:30px;text-align:center;height:16px;">
                                                    @day.Hours
                                                    </td>
                                                </tr>
                                            }
                                             @if (dto.IsGraphicVisible)
                                             {
                                                <tr>
                                                    <td style="border:1px solid black;padding:0px;width:30px;text-align:center;height:16px;">
                                                         @if (dto.IsGraphicEditable && !day.isStatRecord)
                                                         {
                                                            <input type="text" is_edit="1" style="width:28px;" id="@timesheetDayGraphicPrefix" name="@timesheetDayGraphicPrefix" onblur="ValidateHours(this);" value="@day.Graphic"/>
                                                         }
                                                         else
                                                         {
                                                             <input type="hidden" id="@timesheetDayGraphicPrefix" name="@timesheetDayGraphicPrefix" value="@day.Graphic"/>
                                                             @day.Graphic
                                                         }
                                                    </td>
                                                </tr>
                                             }
                                        </table >
                                   </td> 
                                             j++;
                     }
                  }
                </tr>
            </table>
        </td>
    </tr>
 </table>
                     i++;
    }
}
