@model WebMvc.Models.HomeModel
@{
   
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
    ViewBag.Title = "Главная страница";
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
   
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@using System.Configuration
@using (Html.BeginForm())
{
    if (Request.IsAuthenticated)
    {
@*        <table class="menu" style="width:100%">
            <tr>*@
            <input type="hidden" id="menuId" name="menuId" value="@Model.menuId" />
            <div class="menu-wrap">
             <div class="menu"> 
                @if (((dto.UserRole & UserRole.Accountant) == 0) ||
                     ((dto.UserRole & UserRole.Archivist) == 0)
                    )
                 {  
                    <div class="mainMenuItem" id="mainTimesheet">
                  
                        @if ((dto.UserRole & UserRole.Admin) > 0)
                        {
                            @Html.ActionLink("Табель", "UserList", "Admin")
                        }
                        else if ((dto.UserRole & UserRole.Employee) > 0)
                        {
                            @Html.ActionLink("Табель", "SicklistList", "UserRequest")
                        }
                        else if ((dto.UserRole & UserRole.Chief) > 0)
                        {
                            @Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)
                        }
                        else if ((dto.UserRole & UserRole.Manager) > 0
                              || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                              || (dto.UserRole & UserRole.PersonnelManager) > 0
                              || (dto.UserRole & UserRole.Inspector) > 0
                              || (dto.UserRole & UserRole.OutsourcingManager) > 0
                              || (dto.UserRole & UserRole.Estimator)>0
                              || (dto.UserRole & UserRole.ConsultantOutsourcing) > 0)
                        {
                            @Html.ActionLink("Табель", "AllRequestList", "UserRequest")
                        }
                        else if ((dto.UserRole & UserRole.DismissedEmployee) > 0)
                        {
                            @Html.ActionLink("Табель", "DismissalList", "UserRequest")
                        }
                    </div>  
                  }
                @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer  | UserRole.DismissedEmployee)) == 0)
                {
                    
                    <div @if (Model.menuId == 1)
                         {<text>class="mainOn"</text>}
                         else
                         {<text>class="mainMenuItem"</text>} id="mainCharge">
                            @Html.ActionLink("Начисления", "SurchargeNoteList", "SurchargeNote", new { type = 1 }, null)
                    </div> 
                    
                    <div id="liStaffMovements" class="mainMenuItem">@Html.ActionLink("Кадровые перемещения", "Index", "StaffMovements")
                    </div> 
                }
                
                @if(UserDto.IsStaffDepartmentAvailable(dto))
                {
                    @*<div id="liStaffList" class="mainMenuItem">@Html.ActionLink("Штатное расписание", "StaffList", "StaffList")</div>*@
                }

                @if ((dto.UserRole & UserRole.Accountant) > 0
                || (dto.UserRole & UserRole.OutsourcingManager) > 0
                    || (dto.UserRole & UserRole.Estimator) > 0)
                {
                    <div @if (Model.menuId == 4)
                         {<text>class="mainOn"</text>}
                         else
                         {<text>class="mainMenuItem"</text>}
                     id="mainDeduction">
                        @Html.ActionLink("Удержания", "Index", "Deduction")
                    </div>
                }
                
                @if (dto.Id == 10
                     || (dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.Accountant) > 0
                     || (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.Secretary) > 0
                     || (dto.UserRole & UserRole.Findep) > 0
                     || (dto.UserRole & UserRole.Archivist) > 0
                     || (dto.UserRole & UserRole.PersonnelManager) > 0 && dto.Id.ToString() == ConfigurationManager.AppSettings["SuperPersonnelId"]
                    )
                {
                    if ((dto.UserRole & UserRole.Archivist) > 0)
                    {
                         <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionReportsList", "MissionOrder")</div>
                    }
                    else
                        if (dto.Id == 10 || (dto.UserRole & UserRole.Estimator) > 0)
                        { 
                            <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "MissionUserDeptsList", "MissionOrder")</div>
                        }
                        else
                        {
                        <div id="liMissionOrder" class="mainMenuItem">@Html.ActionLink("Приказ на командировки (подотчет)", "Index", "MissionOrder")</div>
                        }
                }
                @if ((dto.UserRole & UserRole.Employee) > 0
                     || (dto.UserRole & UserRole.Manager) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0)
                {
                    <div id="liGraphics" class="mainMenuItem">@Html.ActionLink("Плановые графики", "Index", "Graphics")</div>
                }
                @*@if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer)) == 0)
                {
                <div @if (Model.menuId == 3)
                     {<text>class="mainOn"</text>}
                     else
                     {<text>class="mainMenuItem"</text>}
                     id="mainTemplate">
                        @Html.ActionLink("Шаблоны", "Index", "Template")
                </div>
                }*@

                @if ((dto.UserRole &
                                    (UserRole.OutsourcingManager |
                                    UserRole.ConsultantPersonnel |
                                    UserRole.Estimator |
                                    UserRole.Manager |
                                    UserRole.PersonnelManager |
                                    UserRole.Candidate |
                                    UserRole.Security |
                                    UserRole.Trainer |
                                    UserRole.StaffManager |
                                    UserRole.ConsultantOutsourcing)) > 0)
                {
                    <div id="liEmployment" class="mainMenuItem">@Html.ActionLink("Прием", "Index", "Employment")</div>
                }

                @if (UserDto.IsHelpServiceAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Index", "Help")</div> 
                }
                else if (UserDto.IsHelpQuestionAvailable(dto))
                {
                        <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "ServiceQuestionsList", "Help")</div> 
                }
                else if (UserDto.IsHelpPersonnelBillingAvailable(dto))
                {
                    <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "PersonnelBillingList", "Help")</div>
                }
                else if (UserDto.IsHelpTemplateAvailable(dto))
                {
                        <div id="liHelp" class="mainMenuItem">@Html.ActionLink("ИнфоУслуги", "Template", "Help")</div> 
                }
                 @if ((dto.UserRole & (UserRole.Candidate | UserRole.Security | UserRole.Trainer)) == 0)
                 {
                    @*
                <div id="liInfo" class="mainMenuItem">@Html.ActionLink("ИнфоЗарплата", "Index", "Info")
                *@
                 }
                @if ((dto.UserRole & UserRole.Manager) > 0
                    //|| (dto.UserRole & UserRole.Director) > 0
                     || (dto.UserRole & UserRole.OutsourcingManager) > 0
                     || (dto.UserRole & UserRole.Estimator) > 0
                     || (dto.UserRole & UserRole.StaffManager) > 0
                    || (dto.UserRole & UserRole.ConsultantPersonnel) > 0
                    || (dto.UserRole & UserRole.PersonnelManager) > 0
                    || (dto.UserRole & UserRole.Security) > 0
                    || (dto.UserRole & UserRole.Trainer) > 0
                      )
                {
                    <div id="liAppointment" class="mainMenuItem">@Html.ActionLink("Подбор персонала (добавление кандидата в Прием)", "Instruction", "Appointment")
                    </div> 
                }
                @if ((dto.UserRole & UserRole.Accountant) > 0 || (dto.UserRole & UserRole.OutsourcingManager) > 0 || (dto.UserRole & UserRole.Estimator) > 0)
                {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "Index", "GPD")</div>
                }
                 @if ((dto.UserRole & UserRole.Manager) > 0)
                 {
                    <div id="liGPD" class="mainMenuItem">@Html.ActionLink("ГПД", "GpdAnalyticalStatement", "GPD")</div>
                 }
                 
             </div>
            </div>
            
            <div style="text-align:center;font-size:larger;height:100px;line-height: 100px;"> 
            </div>
             
             <div style="text-align:center;font-size:larger;"> 
                <img style="width: 181px; height: 49px;" src="@Url.Content("~/Content/logo-skb.jpg")"/>
                <div class="portala-name">Кадровый портал</div>
                <div class="portala-support">
                   Техническая поддержка: info@ruscount.ru<br>
                   @*Общие вопросы: info@ruscount.ru*@
                </div>
                <div class="portala-help">
                   <a href="/Content/user-manual-sotrudnik.pdf" target="_blank">Руководство по использованию</a>
                </div>
            </div>
            
@*            </tr>
        </table>*@
@*    <table style="width:100%">
                <tr>
                    <td>
                        <table>
                @if (dto.UserRole == UserRole.Admin)
                {
                     <tr><td>@Html.ActionLink("Пользователи", "UserList", "Admin")</td></tr>
                     <tr><td>@Html.ActionLink("Настройки", "Settings", "Admin")</td></tr>
                     <tr><td>@Html.ActionLink("Информация", "InformationsList", "Admin")</td></tr>
                }
                else if (dto.UserRole == UserRole.Employee || dto.UserRole == UserRole.Manager || dto.UserRole == UserRole.PersonnelManager
                || dto.UserRole == UserRole.Inspector || dto.UserRole == UserRole.Chief)
                {
                        <tr><td style="font-weight:bold">Табель</td></tr>
                        if (dto.UserRole != UserRole.Employee)
                        {
                            <tr><td>@Html.ActionLink("Все заявки", "AllRequestList", "UserRequest")</td></tr>
                        }
                        <tr><td>@Html.ActionLink("Больничные", "SicklistList", "UserRequest")</td></tr>
                        <tr><td>@Html.ActionLink("Командировки", "MissionList", "UserRequest")</td></tr>
                        <tr><td>@Html.ActionLink("Корректировки", "TimesheetCorrectionList", "UserRequest")</td></tr>
                        <tr><td>@Html.ActionLink("Невыходы", "AbsenceList", "UserRequest")</td></tr>
                        <tr><td>@Html.ActionLink("Отпуска", "VacationList", "UserRequest")</td></tr>
                       <tr><td>@Html.ActionLink("Увольнения", "DismissalList", "UserRequest")</td></tr>
                        if (dto.UserRole != UserRole.Inspector)
                        {
                        <tr><td>@Html.ActionLink("Табель", "TimesheetList", "Employee", new { managerId = dto.Id }, null)</td></tr>
                        }
                       if (dto.UserRole == UserRole.PersonnelManager || dto.UserRole == UserRole.Manager)
                       {
                            <tr><td>@Html.ActionLink("Контроль ввода", "AcceptRequests", "UserRequest")</td></tr>
                       }
                }
                  </table> 
                 </td>
            </tr>
    </table>*@
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        //var pathname = window.location.pathname;
        //setMainActiveMenuItem($.url().param('mainMenuItem'));
    });
</script>