@model Reports.Presenters.UI.ViewModel.StaffMovementsFactEditModel
@using WebMvc.Helpers
@{
    ViewBag.Title = "Просмотр кадрового перемещения";
    Layout = "~/Views/Shared/_LayoutStaffMovements.cshtml";    
}
@using (Html.BeginForm("StaffMovementsFactEdit", "StaffMovements", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
    <div style="display:none">
    <div id="MaterialDocDialog">
    <label>Подписант:</label>@Html.DropDownListFor(x=>x.SignerId, new SelectList(Model.Signers,"Id","Name",Model.SignerId))
    <a target="_blank" id="MaterialDocLink" class="button" href="/StaffMovements/GetPrintModel/?Id=@(Model.Id)&Type=1&SignerId=@(Model.SignerId)">Печать</a>
    </div>
    </div>
    
    <div id="tabs" width="100%">
        <ul>
        <li><a href="#tabs-1">Место работы сотрудника в настоящее время</a></li>                            
        <li><a href="#tabs-2">Документы</a></li>                            
        </ul>
    <div id="tabs-1">
    <fieldset class="bordered doc-wrap-blue panel">    
    <legend title='Место работы сотрудника в настоящее время' class="bordered">Место работы сотрудника в настоящее время</legend>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.User.Name)</td>
            <td>
                @Html.HiddenFor(m => m.User.Name)
                @Html.HiddenFor(m => m.User.Id)
                @Html.DisplayFor(m => m.User.Name)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.PositionName)</td>
            <td>
                @Html.HiddenFor(m => m.User.PositionName)
                @Html.HiddenFor(m => m.User.PositionId)
                @Html.DisplayFor(m => m.User.PositionName)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.Dep3Name)</td>
            <td>
                @Html.HiddenFor(m => m.User.Dep3Name)
                @Html.HiddenFor(m => m.User.Dep3Id)
                @Html.DisplayFor(m => m.User.Dep3Name)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.Dep7Name)</td>
            <td>
                @Html.HiddenFor(m => m.User.Dep7Name)
                @Html.HiddenFor(m => m.User.Dep7Id)
                @Html.DisplayFor(m => m.User.Dep7Name)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.Managers)</td>
            <td>
                @(Model.User.Managers != null ? Model.User.Managers.Aggregate("", (all, next) => all + (all.Length > 0 ? ", " : "") + next) : "")
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.Chiefs)</td>
            <td>
                @(Model.User.Chiefs != null ? Model.User.Chiefs.Aggregate("", (all, next) => all + (all.Length > 0 ? ", " : "") + next) : "")
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.User.Personnels)</td>
            <td>
                @(Model.User.Personnels != null ? Model.User.Personnels.Aggregate("", (all, next) => all + (all.Length > 0 ? ", " : "") + next) : "")
            </td>
        </tr>
        <tr>
        <td>Оклад:</td>
        <td>@Model.Casing</td>
        </tr>
        <tr>
        <td>Ставка:</td>
        <td>@Model.Salary</td>
        </tr>
        <tr>
        <td>Районный коэффициент:</td>
        <td>@Model.RegionCoefficient</td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="grid">
                <thead>
                <tr>
                    <th>Надбавка</th><th>Значение</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.ActiveAdditions.Count; i++)
                {
                    <tr>
                    <td>@Model.ActiveAdditions[i].Type.Name)
                    </td>
                    <td>@Model.ActiveAdditions[i].Value</td>
                    </tr>
                }
                </tbody>
                </table>
            </td>
        </tr>
        <tr>
        <td>Итого:</td>
        <td>@Model.TotalSalary</td>
        </tr>
    </table>
    </fieldset>
    </div>
    <div id="tabs-2" class =" doc-wrap-blue" >
    <label>Документы:</label><br />
    <div class="error">
    <h3>Обращаем Ваше внимание!</h3>
    Сотрудникам, не являющимися материально ответственными лицами, договор о материальной ответственности, Порядок по исполнению требований при организации кассовой работы сотрудниками ВСП (Приложение 1), Порядок по обслуживанию клиентов в кассе сотрудниками ВСП (Приложение 2) распечатывать не нужно.
    </div>
    <table class="grid">
                          <thead>
                              <tr>
                                <th>Название документа</th><th>От кадров</th><th>Скан</th>
                              </tr>
                          </thead>
                          <tr>
                          <td>Приказ Форма Т5</td>
                          <td>@if (Model.IsAgreementAvailable)
                            {
                                <a href='@Url.Action("GetPrintForm", "Help", new { id = Model.Id, typeId = 8 })'>Печать</a><br />
                            }
                          </td>
                          <td>@if (Model.IsDocsAddAvailable)
                                {
                                    <input type="file" name="AgreementDoc" />
                                }
                             @if (Model.AgreementDocDto != null && !string.IsNullOrEmpty(Model.AgreementDocDto.FileName))
                                {
                                    <a class="ui-notify-close" href='@Url.Action("ViewAttachment", "Help", new { Id = Model.AgreementDocId })' style="cursor:hand" target="_blank" >@Model.AgreementDocDto.FileName</a>
                                }</td>
                          </tr>
                          <tr>
                          <td>Дополнительное соглашение изменение оклада</td>
                          <td>@if (Model.IsAgreementAdditionAvailable)        
                                {
                                    <a href='@Url.Action("GetPrintForm", "Help", new { id = Model.Id, typeId = 9 })'>Печать</a><br />
                                }</td>
                          <td>@if (Model.IsDocsAddAvailable)
                                {
                                    <input type="file" name="AgreementAdditionDoc" />
                                }
                                @if (Model.AgreementAdditionalDocDto != null && !string.IsNullOrEmpty(Model.AgreementAdditionalDocDto.FileName))
                                {
                                    <a class="ui-notify-close" href='@Url.Action("ViewAttachment","Help", new { Id = Model.AgreementAdditionalDocId })' style="cursor:hand" target="_blank" >@Model.AgreementAdditionalDocDto.FileName</a>
                                }
                                </td>
                          </tr>
                          <tr>
                          <td>Дополнительное соглашение кадровое перемещение</td>
                          <td>@if (Model.IsOrderAvailable)        
                            {
                                <a href='@Url.Action("GetPrintForm", "Help", new { id = Model.Id, typeId = 10 })'>Печать</a><br />
                            }</td>
                          <td>@if (Model.IsDocsAddAvailable)
                                {
                                    <input type="file" name="OrderDoc" />
                                }
                                @if (Model.OrderDocDto != null && !string.IsNullOrEmpty(Model.OrderDocDto.FileName))
                                {
                                    <a class="ui-notify-close" href='@Url.Action("ViewAttachment", "Help", new { Id = Model.OrderDocId })' style="cursor:hand" target="_blank" >@Model.OrderDocDto.FileName</a>
                                }
                                </td>
                          </tr>
                          <tr>
                              <td>
                              Договор мат.ответственность
                              </td>
                              <td><a href="#" onclick='$("#MaterialDocDialog").dialog("open");' >Печать</a></td>
                              <td>
                                @if (Model.MaterialLiabilityDocDto != null && !string.IsNullOrEmpty(Model.MaterialLiabilityDocDto.FileName))
                                {
                                    <a class="ui-notify-close" href='@Url.Action("ViewAttachment", "Help", new { Id = Model.MaterialLiabilityDocAttachmentId })' style="cursor:hand" target="_blank" >@Model.MaterialLiabilityDocDto.FileName</a>
                                }
                                @if (Model.IsDocsAddAvailable)
                                {
                                    <input type="file" name="MaterialLiabilityDoc" />
                                }
                                
                              </td>                              
                          </tr>
                          <tr>
                              <td>
                              Порядок по исполнению требований при организации кассовой работы сотрудниками ВСП (Приложение 1)
                              </td>
                              <td><a target="_blank" class="button" href="/StaffMovements/GetPrintModel/?Id=@(Model.Id)&Type=4">Печать</a> </td>
                              <td>
                                  @if (Model.RequirementsOrderDocDto != null && !string.IsNullOrEmpty(Model.RequirementsOrderDocDto.FileName))
                                  {
                                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", "Help", new { Id = Model.RequirementsOrderDocAttachmentId })' style="cursor:hand" target="_blank" >@Model.RequirementsOrderDocDto.FileName</a>
                                  }
                                  @if (Model.IsDocsAddAvailable)
                                  {
                                    <input type="file" name="RequirementsOrderDoc" />
                                  }
                              </td>                              
                          </tr>
                          <tr>
                              <td>
                              Порядок по обслуживанию клиентов в кассе сотрудниками ВСП (Приложение 2)
                              </td>
                              <td><a target="_blank" class="button" href="/StaffMovements/GetPrintModel/?Id=@(Model.Id)&Type=5">Печать</a></td>
                              <td>
                                    @if (Model.ServiceOrderDocDto != null && !string.IsNullOrEmpty(Model.ServiceOrderDocDto.FileName))
                                    {
                                        <a class="ui-notify-close" href='@Url.Action("ViewAttachment", "Help", new { Id = Model.ServiceOrderDocAttachmentId })' style="cursor:hand" target="_blank" >@Model.ServiceOrderDocDto.FileName</a>
                                    }
                                    @if (Model.IsDocsAddAvailable)
                                    {
                                        <input type="file" name="ServiceOrderDoc" />
                                    }
                              </td>                              
                          </tr>
                          </table>   
    @if (Model.IsSaveAvailable)
    {
        <br />
        <label>Кадровое перемещение завершено:</label>     @Html.CheckBoxFor(m=>m.IsDocsReceived,Model.IsCheckByPersonelAvailable? null:(object) new {disabled="disabled"}) <br />
        <input type = "submit" value="сохранить" />
    }
    </div>
    </div>
}
<script>
$(document).ready(function () {
    setActiveMenuItem("StaffMovementsFacts");
        $("#tabs").tabs();
        $('#MaterialDocDialog').dialog({
            autoOpen: false
        });
    $('#SignerId').change(function()
    {
        var newlink='/StaffMovements/GetPrintModel/?Id=@(Model.Id)&Type=1&SignerId='+ $('#SignerId').val();
        $("#MaterialDocLink").attr("href", newlink);
    });
    });
</script>