@model Reports.Presenters.UI.ViewModel.TerraGraphicsEditPointModel
<html>
<head>
    <title/>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" id = "EditPointTable" style="width:100%;height:100px">
               <tr>
                    <td colspan="2">
                       <input type="button" value="Записать по умолчанию" id="SetDefaultPoint" name="SetDefaultPoint" onclick="return SetDefaultPoint();"/> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       <b>План</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.EpLevel1ID, new SelectList(Model.EpLevel1, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsEpLevel1IDChange();" }) 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.EpLevel2ID, new SelectList(Model.EpLevel2, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsEpLevel2IDChange();" }) 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.EpLevel3ID, new SelectList(Model.EpLevel3, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsEpLevel3IDChange();" }) 
                    </td>
                </tr>
                <tr>
                    <td style="width:100px">
                        @Html.LabelFor(m => m.Credit):
                        <input type="hidden" id="IsCreditsEditable" name="IsCreditsEditable" value="@Model.IsCreditsEditable" />
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.Credit, new SelectList(Model.Credits, "ID", "Name"), Model.IsCreditsEditable ? null : (object)new { disabled = "disabled" }) 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Hours):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Hours, new { style = "width:60px" }) 
                    </td>
                </tr>
                <tr @if (!Model.IsFactVisible) {<text>style="display:none"</text>}>
                    <td colspan="2">
                       <b>Факт</b>
                    </td>
                </tr>
                <tr @if (!Model.IsFactVisible) {<text>style="display:none"</text>}>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.FactEpLevel1ID, new SelectList(Model.FactEpLevel1, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsFactEpLevel1IDChange();" }) 
                    </td>
                </tr>
                <tr @if (!Model.IsFactVisible) {<text>style="display:none"</text>}>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.FactEpLevel2ID, new SelectList(Model.FactEpLevel2, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsFactEpLevel2IDChange();" }) 
                    </td>
                </tr>
                <tr @if (!Model.IsFactVisible) {<text>style="display:none"</text>}>
                    <td colspan="2">
                        @Html.DropDownListFor(model => model.FactEpLevel3ID, new SelectList(Model.FactEpLevel3, "ID", "Name"), new { style = "width:95%", onchange = "TerraGraphicsFactEpLevel3IDChange();" }) 
                    </td>
                </tr>
                <tr @if (!Model.IsFactVisible) {<text>style="display:none"</text>}>
                    <td>
                        @Html.LabelFor(m => m.FactHours):
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FactHours, new { style = "width:60px" }) 
                    </td>
                </tr>
               
                <tr>
                    <td colspan="2">
                    @*    @Html.ValidationSummary(false)*@
                        <div id="EditPointError" style="color:Red;display:none;"/>
                         <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                         <input type="hidden" id="Day" name="Day" value="@Model.Day" />
                         <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                         <input type="hidden" id="IsDeleteEnable" name="IsDeleteEnable" value="@Model.IsDeleteEnable" />
                         <input type="hidden" id="IsPlanEditable" name="IsPlanEditable" value="@Model.IsPlanEditable" />
                          <input type="hidden" id="IsPlanHoliday" name="IsPlanHoliday" value="@Model.IsPlanHoliday" />
                         <input type="hidden" id="IsFactHoliday" name="IsFactHoliday" value="@Model.IsFactHoliday" />
                         <input type="hidden" id="IsFactVisible" name="IsFactVisible" value="@Model.IsFactVisible" />
                     </td>
                </tr>
    </table>
</body>
</html>