@model Reports.Presenters.UI.ViewModel.ChangePasswordModel

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
@using (Html.BeginForm()) {
    <table style="width:100%">
           <tr>
                <td colspan="2">     
                    @Html.ValidationSummary(false, "")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                 </td>   
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Email)
                 </td>   
                <td>
                    @Html.TextBoxFor(m => m.Email)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" />
                </td>
            </tr>    
    </table>
}
