@model Reports.Presenters.UI.ViewModel.ChangeRoleModel

@{
    ViewBag.Title = "Изменение роли";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<div style="visibility:hidden">
<div id="AddEmailDialog" title="Добавление дополнительного адреса почты">
    <div><label>E-mail:</label>
    <input type="text" id="AlterMail" />
    </div>
    <input type="button" onclick="AddMail();" value="Ок"/>
</div>
</div>
@using (Html.BeginForm()) {
    
    <table style="width:100%">
           <tr>
                <td colspan="2">
                    Выберите роль для работы в системе
                </td>
           </tr>
           <tr>
                <td style="width:120px">
                    @Html.LabelFor(m => m.RoleId):
                </td>
                <td>
                    @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "ID", "Name")) 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Выбрать роль" />
                    <br />
                    <a href="#" onclick="AddMailDialog();">Указать дополнительный e-mail</a>
                </td>
            </tr>    
    </table>
    @Html.Partial("~/Views/Info/News.cshtml")
    <br />
    <br />
    @*
    <table width="100%">
        <tr>
            <td align="center">
                <h5 style="color:blue">С Новым Годом!</h5>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img scr=<img src="../../Content/files/NewYear.jpg" />
            </td>
        </tr>
    </table>
    *@
    @*
    <table width="40%">
        <tr>
            <td style="border: 2px solid Red;">
                <label>Уважаемые пользователи!<//label><br /><br />
                <label>Для вашего удобства проведены изменения в программе WEB-табель.</label><br />
                <label>С 8 декабря 2014 года начинает работать новая вкладка ИНФО_УСЛУГИ в программе WEB-табель.</label><br />
                <label>На данной странице вы сможете:</label><br />
                <label>a) </label><label style="text-decoration:underline; font-weight:bold;"> Задать вопросы</label><label> специалисту по расчету заработной платы по начислениям и удержаниям, специалисту отдела кадров по кадровому оформлению, специалисту IT-службы  по  технической  поддержке программ WEB-табеля - вкладка ЗАДАТЬ ВОПРОС.</label>
                <br />
                <label>b) </label><label style="text-decoration:underline; font-weight:bold;"> Заказать услуги</label><label> по предоставлению вам копий и оригиналов документов и справок -вкладка ЗАКАЗАТЬ УСЛУГУ.</label><br />
                <label>c) </label><label style="text-decoration:underline; font-weight:bold;"> Получить  образцы заявлений</label><label> для оформления - вкладка ШАБЛОНЫ</label><br />
                <label>d) </label><label style="text-decoration:underline; font-weight:bold;"> Посмотреть свой расчетный лист и справку 2НДФЛ</label><label> - вкладка ИНФОЗАРПЛАТА.</label><br />
                <br />
                <label>Обращаем   ваше  внимание!</label><br />
                <label>С 8  декабря 2014 года   страница "Вопросы_Ответы"  будет закрыта.</label><br />
                <label>С 8  декабря 2014 года   программа  ИНФОЗАРПЛАТА перемещена  в ИНФО_УСЛУГИ.</label><br />
                <label>С 8 декабря 2014  года вопросы и заказ услуг, адресованный на  Кадровика, обрабатываться  по электронной  почте не будет.</label>
            </td>
        </tr>
    </table>
    *@
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.9.custom.min.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#AddEmailDialog").dialog({ autoOpen: false });
    });
    function AddMail() {
        $('#AddEmailDialog').dialog('close');
        $.ajax(
        {   
            type: "POST",
            url: "/Account/AddAlternativeEmail",
            data: {Email:$('#AlterMail').val() },
            success: function(data)
            {
                alert(data.message);
            },
            error: function(data){ alert('При отправке данных произошла ошибка.');}
        }
        );
    }
    function AddMailDialog() {
        $('#AddEmailDialog').dialog('open');
    }
</script>