@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.GpdActListModel
@{
    Layout = "~/Views/Shared/_LayoutGPD.cshtml";
    ViewBag.Title = "Просмотр актов.";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="filter-wrap">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <b>Акты ГПД</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.StatusID):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusID, new SelectList(Model.Statuses, "ID", "Name")) 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.DateBegin):
                                @Html.EditorFor(model => model.DateBegin) 
                                @Html.LabelFor(m => m.DateEnd):
                                @Html.EditorFor(model => model.DateEnd) 
                             </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Surname):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Surname) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.ActNumber):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ActNumber) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Id):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Id) 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="IsFind" name="IsFind" value="@Model.IsFind" />
                                <input type="submit" value="Выбрать" title="Выбрать записи по указанным параметрам" onclick="GetFindAct();"/>
                                <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
                                <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
                                <table class="grid">
                                    <tr>
                                        <th>
                                            @*<div id="sort1" style="min-width:130px"><a href="#" onclick = "SortChanged(1);">*@№ п/п@*</a></div>*@
                                        </th>
                                        <th>
                                            <div id="sort1" style="min-width:130px"><a href="#" onclick = "SortChanged(1);">Номер заявки</a></div>
                                        </th>
                                        <th>
                                            <div id="sort20" style="min-width:130px"><a href="#" onclick = "SortChanged(20);">Дата и время акта</a></div>
                                        </th>
                                        <th>
                                            <div id="sort2" style="min-width:130px"><a href="#" onclick = "SortChanged(2);">ФИО</a></div>
                                        </th>
                                        <th>
                                            <div id="sort3" style="min-width:130px"><a href="#" onclick = "SortChanged(3);">Вид начисления</a></div>
                                        </th>
                                        <th>
                                            <div id="sort4" style="min-width:130px"><a href="#" onclick = "SortChanged(4);">Номер договора <br />в ЭССД</a></div>
                                        </th>
                                        <th>
                                            <div id="sort5" style="min-width:130px"><a href="#" onclick = "SortChanged(5);">Дата <br />начала <br />договора</a></div>
                                        </th>
                                        <th>
                                            <div id="sort6" style="min-width:130px"><a href="#" onclick = "SortChanged(6);">Дата <br />окончания <br />договора</a></div>
                                        </th>
                                        @*
                                        <th>
                                            <div id="sort7" style="min-width:130px"><a href="#" onclick = "SortChanged(7);">Дата <br />пролонгации</a></div>
                                        </th>
                                        *@
                                        <th>
                                            <div id="sort8" style="min-width:130px"><a href="#" onclick = "SortChanged(8);">Номер акта в ЭССД</a></div>
                                        </th>
                                        <th>
                                            <div id="sort9" style="min-width:130px"><a href="#" onclick = "SortChanged(9);">Дата акта</a></div>
                                        </th>
                                        <th>
                                            <div id="sort10" style="min-width:130px"><a href="#" onclick = "SortChanged(10);">Дирекция 3 ур.</a></div>
                                        </th>
                                        <th>
                                            <div id="sort11" style="min-width:130px"><a href="#" onclick = "SortChanged(11);">Подразделение 7ур.</a></div>
                                        </th>
                                        <th>
                                            <div id="sort12" style="min-width:130px"><a href="#" onclick = "SortChanged(12);">Дата ПП</a></div>
                                        </th>
                                        <th>
                                            <div id="sort13" style="min-width:130px"><a href="#" onclick = "SortChanged(13);">Месяц <br />начисления</a></div>
                                        </th>
                                        <th>
                                            <div id="sort14" style="min-width:130px"><a href="#" onclick = "SortChanged(14);">Оплата за период</a></div>
                                        </th>
                                        <th>
                                            <div id="sort19" style="min-width:130px"><a href="#" onclick = "SortChanged(19);">Сумма начисленная</a></div>
                                        </th>
                                        <th>
                                            <div id="sort15" style="min-width:130px"><a href="#" onclick = "SortChanged(15);">Сумма к выплате</a></div>
                                        </th>
                                        <th>
                                            <div id="sort16" style="min-width:130px"><a href="#" onclick = "SortChanged(16);">ID ГПД в ЭССС</a></div>
                                        </th>
                                        <th>
                                            <div id="sort17" style="min-width:130px"><a href="#" onclick = "SortChanged(17);">Номер заявки в ЭССС</a></div>
                                        </th>
                                        <th>
                                            <div id="sort18" style="min-width:130px"><a href="#" onclick = "SortChanged(18);">Состояние</a></div>
                                        </th>
                                    </tr>

                                    @if (Model.Documents != null && Model.Documents.Count > 0)
                                    {
                                        int i = 1;
                                        foreach (var doc in Model.Documents)
                                        {
                                            <tr>
                                                <td>@i.ToString()</td>
                                                <!--<td>@doc.Id</td>-->
                                                <td><a class="ui-notify-close" href='@Url.Action("GpdActEdit", "GPD", new { id = @doc.Id, GCID = @doc.GCID })' style="cursor:hand">@doc.Id</a></td>
                                                <td>@doc.CreateDate</td>
                                                <td>@doc.Surname</td>
                                                <td>@doc.CTName</td>
                                                <td>@doc.NumContract</td>
                                                <td>@RequestBl.FormatDate(@doc.ContractBeginDate)</td>
                                                @if (doc.flgRed)
                                                {
                                                    <td style="background-color:red">@RequestBl.FormatDate(@doc.ContractEndDate)</td>
                                                }
                                                else
                                                {
                                                    <td>@RequestBl.FormatDate(@doc.ContractEndDate)</td>
                                                }
                                                @*
                                                <td>@RequestBl.FormatDate(@doc.DateP)</td>
                                                *@
                                                <!--<td><a class="ui-notify-close" href='@Url.Action("GpdActEdit", "GPD", new { id = @doc.Id, GCID = @doc.GCID })' style="cursor:hand">@doc.ActNumber</a></td>-->
                                                <td>@doc.ActNumber</td>
                                                <td>@RequestBl.FormatDate(@doc.ActDate)</td>
                                                <td>@doc.DepLevel3Name</td>
                                                <td>@doc.DepLevel7Name</td>
                                                <td>@RequestBl.FormatDate(@doc.POrderDate)</td>
                                                <td>@GpdBl.FormatDateMY(@doc.ChargingDate)</td>
                                                <td>@RequestBl.FormatDate(@doc.DateBegin) @RequestBl.FormatDate(@doc.DateEnd)</td>
                                                <td>@RequestBl.FormatSum(@doc.Amount)</td>
                                                <td>@RequestBl.FormatSum(@doc.AmountPayment)</td>
                                                <td>@doc.GPDID</td>
                                                <td>@doc.ESSSNum</td>
                                                <td>@doc.StatusName</td>
                                            </tr>
                                            i += 1;
                                        }
                                    }
                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>   
        </tr>
    </table>
}


<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>

<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";    
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#DateBegin").datepicker();
        $("#DateEnd").datepicker();
        $(".hasDatepicker").width("75px");
        setSortFields();
        setActiveMenuItem("moAct");
    });

    function resetFilter() {
        $("#DateBegin").val('');
        $("#DateEnd").val('');
        $("#DepartmentName").val('');
        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#StatusID").val('0');
        $("#IsFind").val('False');
        $("#Surname").val('');
        $("#ActNumber").val('');
        $("#Id").val('');
    }

    function GetFindAct()
    {
        $("#IsFind").val('True');
        return true;
    }
 </script>   