@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@model Reports.Presenters.UI.ViewModel.GpdActListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Аналитическая ведомость.";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="filter-wrap">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <b>Акты ГПД</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.DateBegin):
                                @Html.EditorFor(model => model.DateBegin) 
                                @Html.LabelFor(m => m.DateEnd):
                                @Html.EditorFor(model => model.DateEnd) 
                             </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Surname):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Surname) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.CardNumber)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.CardNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m=>m.CTTypes)</td>
                            <td>@Html.DropDownListFor(m=>m.CTtype,new SelectList(Model.CTTypes,"Id","Name"))</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m=>m.GroupAll)</td>
                            <td>@Html.CheckBoxFor(m=>m.GroupAll)</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="IsFind" name="IsFind" value="@Model.IsFind" />
                                <input type="submit" value="Выбрать" title="Выбрать записи по указанным параметрам" onclick="GetFindAct();"/>
                                <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
                                <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
                                <table class="grid" width='100%'>
                                    <tr>
                                        <th>
                                          №<br />п/п
                                        </th>
                                        <th>
                                           <div id="sort22" ><a href="#" onclick = "SortChanged(22);">Номер<br />карточки</a></div>
                                        </th>
                                        <th>
                                            <div id="sort2" ><a href="#" onclick = "SortChanged(2);">ФИО</a></div>
                                        </th>
                                        <th>
                                            <div id="sort3" ><a href="#" onclick = "SortChanged(3);">Вид<br />начисления</a></div>
                                        </th>
                                        
                                        <th>
                                            <div id="sort10" ><a href="#" onclick = "SortChanged(10);">Дирекция<br />3 ур.</a></div>
                                        </th>
                                        <th>
                                            <div id="sort11" ><a href="#" onclick = "SortChanged(11);">Подразделение<br />7ур.</a></div>
                                        </th>
                                        
                                        <th>
                                            <div id="sort19" ><a href="#" onclick = "SortChanged(19);">Сумма <br />начисленная</a></div>
                                        </th>
                                        <th>
                                            <div id="sort23" ><a href="#" onclick = "SortChanged(23);">НДФЛ</a></div>
                                        </th>
                                        <th>
                                            <div id="sort15"><a href="#" onclick = "SortChanged(15);">Сумма к <br />выплате</a></div>
                                        </th>
                                        <th>
                                            <div id="sort21"><a href="#" onclick = "SortChanged(21);">Остаток</div>
                                        </th>
                                        
                                    </tr>

                                    @if (Model.Documents != null && Model.Documents.Count > 0)
                                    {
                                        <tr>
                                            <td colspan='6'>Итого:</td>
                                            <td>@RequestBl.FormatSum(Model.Documents.Aggregate((decimal)0,(sum,next)=>sum+=next.Amount))</td>
                                            <td>@RequestBl.FormatSum(Model.Documents.Aggregate((decimal)0,(sum,next)=>sum+=next.Ndfl))</td>
                                            <td>@RequestBl.FormatSum(Model.Documents.Aggregate((decimal)0, (sum, next) => sum += next.AmountPayment))</td>
                                            <td>@RequestBl.FormatSum(Model.Documents.Aggregate((decimal)0, (sum, next) => sum += next.Amount-next.AmountPayment- next.Ndfl))</td>
                                        </tr>
                                        int i = 1;
                                        foreach (var doc in Model.Documents)
                                        {
                                            <tr>
                                                <td>@i.ToString()</td>
                                                <td>@Html.ActionLink(doc.PersonId.ToString(), "GPDAnalyticalStatementDetails", "GPD", new { id = (doc.PersonId) }, null)</td>
                                                <td>@doc.Surname</td>
                                                <td>@doc.CTName</td>
                                                <td>@doc.DepLevel3Name</td>
                                                <td>@doc.DepLevel7Name</td>
                                                <td>@RequestBl.FormatSum(@doc.Amount)</td>
                                                <td>@RequestBl.FormatSum(@doc.Ndfl)</td>
                                                <td>@RequestBl.FormatSum(@doc.AmountPayment)</td>
                                                <td>@RequestBl.FormatSum(doc.Amount - doc.AmountPayment - doc.Ndfl)</td>
                                            </tr>
                                            i += 1;
                                        }
                                    }
                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>   
        </tr>
    </table>
}


<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>

<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";    
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#DateBegin").datepicker({changeYear: true});
        $("#DateEnd").datepicker({changeYear: true});
        $(".hasDatepicker").width("75px");
        setSortFields();
        setActiveMenuItem("moAnalyticalStatement");
    });

    function resetFilter() {
        $("#DateBegin").val('');
        $("#DateEnd").val('');
        $("#DepartmentName").val('');
        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#StatusID").val('0');
        $("#IsFind").val('False');
        $("#Surname").val('');
        $("#ActNumber").val('');
        $("#Id").val('');
    }

    function GetFindAct()
    {
        $("#IsFind").val('True');
        return true;
    }
 </script>   