@using Reports.Core
@using Reports.Presenters.Services.Impl
@using Reports.Presenters.UI.Bl.Impl;
@using System.Collections.Generic;
@using System.Linq;
@model Reports.Presenters.UI.ViewModel.GpdActListModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Просмотр актов.";
}

@using (Html.BeginForm("GpdActList", "GPD", FormMethod.Post, new { enctype = "multipart/form-data", id = "GpdActList" }))
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="filter-wrap">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <b>Акты ГПД</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.DepartmentName):
                            </td>
                            <td>
                                <label id="DepartmentNameLabel">@Model.DepartmentName</label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName" />
                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" value="Выбрать" onclick="changeDepartment();"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:220px">
                                @Html.LabelFor(m => m.StatusID):
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.StatusID, new SelectList(Model.Statuses, "ID", "Name")) 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.LabelFor(m => m.DateBegin):
                                @Html.EditorFor(model => model.DateBegin) 
                                @Html.LabelFor(m => m.DateEnd):
                                @Html.EditorFor(model => model.DateEnd) 
                             </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Surname):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Surname) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.ActNumber):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ActNumber) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Id):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Id) 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Период начисление:
                                @Html.LabelFor(model=>model.ChargingDateMonth)
                                @Html.DropDownListFor(model=>model.ChargingDateMonth,new SelectList(Model.Monthes,"Id","Name"))
                                @Html.LabelFor(m => m.ChargingDateYear):
                                @Html.TextBoxFor(m=>m.ChargingDateYear)
                             </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="IsFind" name="IsFind" value="@Model.IsFind" />
                                <input type="button" id="btnFind" value="Выбрать" title="Выбрать записи по указанным параметрам" />
                                <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
                                <input type="button" style="float: right;" onclick="window.print();" value="Печать"/>
                                <input type="button" value="Excel" style="float:right;" onclick="getExcelTable('.grid');" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
                                <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
                                <table class="grid">
                                    <tr>
                                        <th>
                                            @*<div id="sort1" style="min-width:50px"><a href="#" onclick = "SortChanged(1);">*@№<br />п/п@*</a></div>*@
                                        </th>
                                        <th style="width:30px">
                                            <div id="sort1" style="min-width:30px"><a href="#" onclick = "SortChanged(1);">Номер <br />заявки</a></div>
                                        </th>
                                        <th>
                                            <div id="sort20" style="min-width:30px"><a href="#" onclick = "SortChanged(20);">Дата и время <br />акта</a></div>
                                        </th>
                                        <th>
                                            <div id="sort2" style="min-width:30px"><a href="#" onclick = "SortChanged(2);">ФИО<br />(ГПД)</a></div>
                                        </th>
                                        <th>
                                            <div id="sort21" style="min-width:30px"><a href="#" onclick = "SortChanged(21);">ФИО/Название<br />(получателя)</a></div>
                                        </th>
                                        <th>
                                            <div id="sort22" style="min-width:30px"><a href="#" onclick = "SortChanged(22);">ФИО<br />(выгодоприобретателя)</a></div>
                                        </th>
                                        <th>
                                            <div id="sort3" style="min-width:30px"><a href="#" onclick = "SortChanged(3);">Вид<br />начисления</a></div>
                                        </th>
                                        <th>
                                            <div id="sort4" style="min-width:30px"><a href="#" onclick = "SortChanged(4);">Номер <br />договора <br />в ЭССД</a></div>
                                        </th>
                                        <th>
                                            <div id="sort5" style="min-width:30px"><a href="#" onclick = "SortChanged(5);">Дата <br />начала <br />договора</a></div>
                                        </th>
                                        <th>
                                            <div id="sort6" style="min-width:30px"><a href="#" onclick = "SortChanged(6);">Дата <br />окончания <br />договора</a></div>
                                        </th>
                                        @*
                                        <th>
                                            <div id="sort7" style="min-width:50px"><a href="#" onclick = "SortChanged(7);">Дата <br />пролонгации</a></div>
                                        </th>
                                        *@
                                        <th>
                                            <div id="sort8" style="min-width:30px"><a href="#" onclick = "SortChanged(8);">Номер<br />акта в <br />ЭССД</a></div>
                                        </th>
                                        <th>
                                            <div id="sort9" style="min-width:30px"><a href="#" onclick = "SortChanged(9);">Дата <br />акта</a></div>
                                        </th>
                                        <th>
                                            <div id="sort10" style="min-width:30px"><a href="#" onclick = "SortChanged(10);">Дирекция<br />3 ур.</a></div>
                                        </th>
                                        <th>
                                            <div id="sort11" style="min-width:30px"><a href="#" onclick = "SortChanged(11);">Подразделение<br />7ур.</a></div>
                                        </th>
                                        <th>
                                            <div id="sort12" style="min-width:30px"><a href="#" onclick = "SortChanged(12);">Дата ПП</a></div>
                                        </th>
                                        <th>
                                            <div id="sort13" style="min-width:30px"><a href="#" onclick = "SortChanged(13);">Месяц <br />начисления</a></div>
                                        </th>
                                        <th>
                                            <div id="sort14" style="min-width:30px"><a href="#" onclick = "SortChanged(14);">Оплата за <br /></a></div>
                                        </th>
                                        <th>
                                            <div id="sort19" style="min-width:30px"><a href="#" onclick = "SortChanged(19);">Сумма <br />начисленная</a></div>
                                        </th>
                                        <th>
                                            <div id="sort15" style="min-width:30px"><a href="#" onclick = "SortChanged(15);">Сумма к <br />выплате</a></div>
                                        </th>
                                        <th>
                                            <div id="sort16" style="min-width:30px"><a href="#" onclick = "SortChanged(16);">ID ГПД <br />в ЭССС</a></div>
                                        </th>
                                        <th>
                                            <div id="sort17" style="min-width:30px"><a href="#" onclick = "SortChanged(17);">Номер <br />заявки <br />в ЭССС</a></div>
                                        </th>
                                        <th>
                                            <div id="sort18" style="min-width:30px"><a href="#" onclick = "SortChanged(18);">Состояние</a></div>
                                        </th>
                                    </tr>
                                    <tbody id="ActListBody">
                                        @if (Model.Documents != null && Model.Documents.Count > 0)
                                        {
                                            int i = 1;
                                            foreach (var doc in Model.Documents)
                                            {
                                                <tr>
                                                    <td>@i.ToString()</td>
                                                    <!--<td>@doc.Id</td>-->
                                                    <td style="width:50px"><a class="ui-notify-close" href='@Url.Action("GpdActEdit", "GPD", new { id = @doc.Id, GCID = @doc.GCID })' style="cursor:hand">@doc.Id</a></td>
                                                    <td>@doc.CreateDate</td>
                                                    <td>@doc.Surname</td>
                                                    <td>@doc.PayeeName</td>
                                                    <td>@doc.PAName</td>
                                                    <td>@doc.CTName</td>
                                                    <td>@doc.NumContract</td>
                                                    <td>@RequestBl.FormatDate(@doc.ContractBeginDate)</td>
                                                    @if (doc.flgRed)
                                                    {
                                                        <td style="background-color:red">@RequestBl.FormatDate(@doc.ContractEndDate)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@RequestBl.FormatDate(@doc.ContractEndDate)</td>
                                                    }
                                                    @*
                                                    <td>@RequestBl.FormatDate(@doc.DateP)</td>
                                                    *@
                                                    <!--<td><a class="ui-notify-close" href='@Url.Action("GpdActEdit", "GPD", new { id = @doc.Id, GCID = @doc.GCID })' style="cursor:hand">@doc.ActNumber</a></td>-->
                                                    <td>@doc.ActNumber</td>
                                                    <td>@RequestBl.FormatDate(@doc.ActDate)</td>
                                                    <td>@doc.DepLevel3Name</td>
                                                    <td>@doc.DepLevel7Name</td>
                                                    <td>@RequestBl.FormatDate(@doc.POrderDate)</td>
                                                    <td>@GpdBl.FormatDateMY(@doc.ChargingDate)</td>
                                                    <td>@RequestBl.FormatDate(@doc.DateBegin) @RequestBl.FormatDate(@doc.DateEnd)</td>
                                                    <td>@RequestBl.FormatSum(@doc.Amount)</td>
                                                    <td>@RequestBl.FormatSum(@doc.AmountPayment)</td>
                                                    <td>@doc.GPDID</td>
                                                    <td>@doc.ESSSNum</td>
                                                    <td>@doc.StatusName</td>
                                                </tr>
                                                i += 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>   
        </tr>
    </table>
}


@*<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>*@

<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";    
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        $("#DateBegin").datepicker({changeYear: true, changeMonth: true});
        $("#DateEnd").datepicker({changeYear: true, changeMonth: true});
        $(".hasDatepicker").width("75px");
        //setSortFields();

        if(($("#SortBy").val() != 0) && ($("#SortDescending").val() != ''))
        {
            if($("#SortDescending").val() == 'True')
                $("#sort"+$("#SortBy").val()).addClass("sort-desc");
            else        
                $("#sort"+$("#SortBy").val()).addClass("sort-asc");
        }

        $("#btnFind").click(function(){
            GetFindAct();
        })

        setActiveMenuItem("moAct");
    });

    function resetFilter() {
        $("#DateBegin").val('');
        $("#DateEnd").val('');
        $("#DepartmentName").val('');
        $("#DepartmentId").val('0');
        $("#DepartmentNameLabel").text('');
        $("#StatusID").val('0');
        $("#IsFind").val('False');
        $("#Surname").val('');
        $("#ActNumber").val('');
        $("#Id").val('');
        $("#ChargingDateMonth").val(0);
        $("#ChargingDateYear").val('');
    }

    function GetFindAct()
    {
        $('#ActListBody').remove();
        $("#IsFind").val('True');
        $("#GpdActList").submit();
    }

    function SortChanged(sortedBy)
    {
        if($("#SortBy").val() != sortedBy)
            $("#SortDescending").val(''); 
        $("#SortBy").val(sortedBy);
        if($("#SortDescending").val() == '')
            $("#SortDescending").val('True');
        else if($("#SortDescending").val() == 'True')
            $("#SortDescending").val('False');
        else
            $("#SortDescending").val('True');
         GetFindAct();
    }
 </script>   