@model Reports.Presenters.UI.ViewModel.GpdRefDetailModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Справочник реквизитов";
}

@using (Html.BeginForm("GpdRefDetail", "GPD", FormMethod.Post, new { enctype = "multipart/form-data", id = "GpdRefDetail" }))
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="filter-wrap">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <b>Справочник реквизитов</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:220px">
                @Html.LabelFor(m => m.Name):
            </td>
            <td>
                @Html.TextBoxFor(m => Model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ContractorName):
            </td>
            <td>
                @Html.TextBoxFor(model => model.ContractorName)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnFind" value="Выбрать" title="Выбрать записи по указанным параметрам"/>
                <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
            </td>
        </tr>
        @*
        <tr>
            <td colspan="2">
                <div class="action-wrap">
                    <table style="width:100%">
                        <tr>
                            <td>
                                @if (@Model.Permissions[0].IsCreate)
                                {
                                    <input type="button" value="Создать реквизиты нового физ. лица (ГПД)" title="Создать новую запись" onclick="location.href='@Url.Action("GpdrefDetailEdit", "GPD", new { id = 0 })'"/>    
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        *@
        <tr>
            <td colspan="2">
                <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
                <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
                <table class="grid">
                    <tr>
                        <th>
                            @*<div id="sort1" style="min-width:130px"><a href="#" onclick = "SortChanged(1);">*@№ п/п@*</a></div>*@
                        </th>
                        <th>
                            <div id="sort2" style="min-width:130px"><a href="#" onclick = "SortChanged(2);">Наименование реквизита</a></div>
                        </th>
                        <th>
                            <div id="sort3" style="min-width:130px"><a href="#" onclick = "SortChanged(3);">Наименование контрагента</a></div>
                        </th>
                        <th>
                            <div id="sort4" style="min-width:130px"><a href="#" onclick = "SortChanged(4);">ИНН</a></div>
                        </th>
                        <th>
                            <div id="sort5" style="min-width:130px"><a href="#" onclick = "SortChanged(5);">КПП</a></div>
                        </th>
                        <th>
                            <div id="sort6" style="min-width:130px"><a href="#" onclick = "SortChanged(6);">Расчетный счет</a></div>
                        </th>
                        <th>
                            <div id="sort7" style="min-width:130px"><a href="#" onclick = "SortChanged(7);">Лицевой счет</a></div>
                        </th>
                        <th>
                            <div id="sort8" style="min-width:130px"><a href="#" onclick = "SortChanged(8);">Банк</a></div>
                        </th>
                        <th>
                            <div id="sort9" style="min-width:130px"><a href="#" onclick = "SortChanged(9);">Банк БИК</a></div>
                        </th>
                        <th>
                            <div id="sort10" style="min-width:130px"><a href="#" onclick = "SortChanged(10);">Корр. счет</a></div>
                        </th>
                    </tr>
                    <tbody id="refBody">
                        @if (Model.Documents != null && Model.Documents.Count > 0)
                        {
                            int i = 1;
                            foreach (var doc in Model.Documents)
                            {
                                <tr>
                                    <td>@i.ToString()</td>
                                    @*<td>@doc.Id</td>*@
                                    <td>@doc.Name</td>
                                    @*<td><a class="ui-notify-close" href='@Url.Action("GpdrefDetailEdit", "GPD", new { id = doc.Id })' style="cursor:hand">@doc.Surname</a></td>*@
                                    <td>@doc.ContractorName</td>
                                    <td>@doc.INN</td>
                                    <td>@doc.KPP</td>
                                    <td>@doc.Account</td>
                                    <td>@doc.PersonAccount</td>
                                    <td>@doc.BankName</td>
                                    <td>@doc.BankBIK</td>
                                    <td>@doc.CorrAccount</td>
                                </tr>
                                i += 1;
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

}

@*<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        //setSortFields();
        if (($("#SortBy").val() != 0) && ($("#SortDescending").val() != '')) {
            if ($("#SortDescending").val() == 'True')
                $("#sort" + $("#SortBy").val()).addClass("sort-desc");
            else
                $("#sort" + $("#SortBy").val()).addClass("sort-asc");
        }

        $("#btnFind").click(function () {
            GetFindDetails();
        })
        setActiveMenuItem("moGpdRefDetail");
    });

    function GetFindDetails() {
        $("#refBody").remove();
        //$("#IsFind").val('True');
        $("#GpdRefDetail").submit();
    }

    function resetFilter() {
        $("#Name").val('');
        $("#Surname").val('');
        $("#PayerName").val('');
        $("#PayeeName").val('');
    }

    function SortChanged(sortedBy) {
        if ($("#SortBy").val() != sortedBy)
            $("#SortDescending").val('');
        $("#SortBy").val(sortedBy);
        if ($("#SortDescending").val() == '')
            $("#SortDescending").val('True');
        else if ($("#SortDescending").val() == 'True')
            $("#SortDescending").val('False');
        else
            $("#SortDescending").val('True');
        GetFindDetails();
    }
 </script>   

