@model Reports.Presenters.UI.ViewModel.GpdRefDetailModel
@{
    Layout = "~/Views/Shared/_LayoutGPD.cshtml";
    ViewBag.Title = "Справочник реквизитов";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h5 >
                    @Html.ValidationMessageFor(model => model.errorMessage)
                </h5>
                <div class="filter-wrap">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <b>Справочник реквизитов</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:220px">
                @Html.LabelFor(m => m.DTID):
            </td>
            <td>
                @Html.DropDownListFor(model => model.DTID, new SelectList(Model.DetailTypes, "ID", "Name")) 
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name):
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Выбрать" title="Выбрать записи по указанным параметрам"/>
                <input type="button" value="Очистить" title="Очистить поля запросной формы" onclick="resetFilter();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="action-wrap">
                    <table style="width:100%">
                        <tr>
                            <td>
                                @if (@Model.Permissions[0].IsCreate)
                                {
                                    <input type="button" value="Создать" title="Создать новую запись" onclick="location.href='@Url.Action("GpdrefDetailEdit", "GPD", new { id = 0 })'"/>    
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="SortBy" name="SortBy" value="@Model.SortBy" />
                <input type="hidden" id="SortDescending" name="SortDescending" value="@Model.SortDescending" />
                <table class="grid">
                    <tr>
                        <th>
                            <div id="sort1" style="min-width:130px"><a href="#" onclick = "SortChanged(1);">Код</a></div>
                        </th>
                        <th>
                            <div id="sort2" style="min-width:130px"><a href="#" onclick = "SortChanged(2);">Наименование</a></div>
                        </th>
                        <th>
                            <div id="sort3" style="min-width:130px"><a href="#" onclick = "SortChanged(3);">Дата <br />создания</a></div>
                        </th>
                        <th>
                            <div id="sort4" style="min-width:130px"><a href="#" onclick = "SortChanged(4);">ФИО (при <br />создании)</a></div>
                        </th>
                        <th>
                            <div id="sort5" style="min-width:130px"><a href="#" onclick = "SortChanged(5);">Должность <br />(при создании)</a></div>
                        </th>
                        <th>
                            <div id="sort6" style="min-width:130px"><a href="#" onclick = "SortChanged(6);">Подразделение 3 ур.<br />(при создании)</a></div>
                        </th>
                        <th>
                            <div id="sort7" style="min-width:130px"><a href="#" onclick = "SortChanged(7);">Подразделение 7 ур. <br />(прр создании)</a></div>
                        </th>
                        <th>
                            <div id="sort8" style="min-width:130px"><a href="#" onclick = "SortChanged(8);">Дата изменения</a></div>
                        </th>
                        <th>
                            <div id="sort9" style="min-width:130px"><a href="#" onclick = "SortChanged(9);">ФИО (при <br />изменении)</a></div>
                        </th>
                        <th>
                            <div id="sort10" style="min-width:130px"><a href="#" onclick = "SortChanged(10);">Должность <br />(при изменении)</a></div>
                        </th>
                        <th>
                            <div id="sort11" style="min-width:130px"><a href="#" onclick = "SortChanged(11);">Подразделение 3 ур.<br />(при изменении)</a></div>
                        </th>
                        <th>
                            <div id="sort12" style="min-width:130px"><a href="#" onclick = "SortChanged(12);">Подразделение 7 ур. <br />(прр изменении)</a></div>
                        </th>
                    </tr>
                    @if (Model.Documents != null && Model.Documents.Count > 0)
                    {
                        foreach (var doc in Model.Documents)
                        {
                            <tr>
                                
                                <td><a class="ui-notify-close" href='@Url.Action("GpdrefDetailEdit", "GPD", new { id = doc.Id })' style="cursor:hand">@doc.Id</a></td>
                                <td>@doc.Name</td>
                                <td>@doc.CreateDate.ToShortDateString() - @doc.CreateDate.ToShortTimeString()</td>
                                <td>@doc.CreatorName</td>
                                <td>@doc.CreatePositionName</td>
                                <td>@doc.CrDep3Level</td>
                                <td>@doc.CrDep7Level</td>
                                <td>@doc.EditDate.ToShortDateString() - @doc.EditDate.ToShortTimeString()</td>
                                <td>@doc.EditorName</td>
                                <td>@doc.EditPositionName</td>
                                <td>@doc.EDep3Level</td>
                                <td>@doc.EDep7Level</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>

}

<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        setSortFields();
        setActiveMenuItem("moGpdRefDetail");
    });

    function resetFilter() {
        //$("#TypeId").val('0');
        $("#DTID").val('1');
        $("#Name").val('');

    }
 </script>   

